In [56]:
import pandas as pd
import sql_functions as sf
schema = 'organic_africa' # UPDATE 'TABLE_SCHEMA' based on schema used in class 
engine = sf.get_engine()

In [163]:
farmers_df = sf.get_dataframe(f'SELECT * FROM {schema}.all_farmers')
farmers_df.shape

(20610, 22)

### How many partner farmers does OA have?
Organic Africa has currently total 11312 partner farmers
11312 partner farmers

In [52]:
# 20600 contracts over the years
# 10 farmers of total 20610 registered farmers are in the list with na

farmers_df[~farmers_df['date_contracted'].isna()]['date_contracted']

0       2174-12-02
1       2147-12-06
2       2023-02-24
3       2023-02-24
4       2023-02-24
           ...
20598   2018-10-20
20599   2018-10-20
20600   2018-10-20
20601   2018-10-20
20602   2018-10-20
Name: date_contracted, Length: 20600, dtype: datetime64[ns]

In [167]:
contracted = farmers_df[~farmers_df['date_contracted'].isna()]
dropped = farmers_df[~farmers_df['date_dropped_out'].isna()]

In [168]:
# Organic Africa has currently 11312 farmers
farmers_df.shape[0]-dropped.shape[0]

11312

In [164]:
# Organic Africa has currently 11302 contracted farmers

contracted.shape[0]-dropped.shape[0]

11302

In [166]:
# Organic Africa had 9298 drops over the years
dropped.shape[0]

9298

11312

In [49]:
contracted.shape

(20600, 22)

## Growth of # contracted farmers /month or year

In [40]:
farmers_df[~farmers_df['date_contracted'].isna()& farmers_df['date_dropped_out'].isna()]

,id,og_nr,og_code,production_unit,area,ward_nr/name,species,surname,first_names,sex,...,date_contracted,date_dropped_out,reason_dropped_out,address,organic_status,organic_status_from_date,fairtrade,ward_nr,wc_nr,wc_code
0,1517,13107.0,MBOGR,Mashonaland Central,Mbire,6,rosella,Mutape,Sophia,female,...,2174-12-02,NaT,None,"Kasawo sch, Box 346, Mbire D",mabagrown,2017-12-02 00:00:00.000,False,6.0,NaN,None
2,3946,20243.0,BNOG,Matabeleland North,Binga,5 Sinakoma,None,Mutale,Tapiwa,female,...,2023-02-24,NaT,None,"Nsenga Primary School Box 46, Binga",new,2023-02-24,True,5.0,NaN,None
3,3938,20235.0,BNOG,Matabeleland North,Binga,5 Sinakoma,None,Mugande,Rebecca,female,...,2023-02-24,NaT,None,"Nsenga Primary School Box 46, Binga",new,2023-02-24,True,5.0,NaN,None
4,3939,20236.0,BNOG,Matabeleland North,Binga,5 Sinakoma,None,Mutale,Selina,female,...,2023-02-24,NaT,None,"Nsenga Primary School Box 46, Binga",new,2023-02-24,True,5.0,NaN,None
5,3940,20237.0,BNOG,Matabeleland North,Binga,5 Sinakoma,None,Mudenda,Elina,female,...,2023-02-24,NaT,None,"Nsenga Primary School Box 46, Binga",new,2023-02-24,True,5.0,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20278,5607,NaN,None,Matabeleland North,Hwange,6 Gondwa,devils claw,Muzamba,John,male,...,2015-03-14,NaT,None,"Mironga School, Vic Falls",org,2017-06-19,False,6.0,3691.0,HWWC
20279,5610,NaN,None,Matabeleland North,Hwange,6 Gondwa,devils claw,Ncube,Sheila,female,...,2015-03-14,NaT,None,"Mironga School, Vic Falls",org,None,False,6.0,3694.0,HWWC
20369,10697,NaN,None,Matabeleland North,Hwange,6 Mbizha,devils claw,Shoko,Solomon,male,...,2015-03-14,NaT,None,"Mironga School, Vic Falls",org,2017-06-19,False,6.0,3655.0,HWWC
20462,10795,NaN,None,Matabeleland North,Hwange,3 Kachechete,devils claw,Shoko,Maria,female,...,2013-07-13,NaT,None,"Maphutula Sch, Vic Falls",org,2017-06-19,False,3.0,2936.0,HWWC
20467,10801,NaN,None,Matabeleland North,Hwange,3 Kachechete,devils claw,Ndhlovu,Albert,male,...,2013-07-13,NaT,None,"Ndlovu Sch, Vic Falls",org,2017-06-19,False,3.0,2627.0,HWWC

In [54]:
# need to be corrected in clean_upload_farmers
farmers_df[farmers_df['date_contracted'].dt.year.astype('Int64')>2023]

,id,og_nr,og_code,production_unit,area,ward_nr/name,species,surname,first_names,sex,...,date_contracted,date_dropped_out,reason_dropped_out,address,organic_status,organic_status_from_date,fairtrade,ward_nr,wc_nr,wc_code
0,1517,13107.0,MBOGR,Mashonaland Central,Mbire,6,rosella,Mutape,Sophia,female,...,2174-12-02,NaT,None,"Kasawo sch, Box 346, Mbire D",mabagrown,2017-12-02 00:00:00.000,False,6.0,NaN,None
1,1414,13190.0,MBOGR,Mashonaland Central,Mbire,6,rosella,Gurupira,Vengayi,male,...,2147-12-06,2020-03-19,own choice,"Nyarutomno sch, Box 500, Mbire D",dropout,2017-12-06 00:00:00.000,False,6.0,NaN,None

In [25]:
# 20610 Contracts
farmers_df.shape[0]

20610

In [30]:
farmers_df['date_dropped_out']

0              NaT
1       2020-03-19
2              NaT
3              NaT
4              NaT
           ...
20605   2021-01-29
20606   2021-01-29
20607   2021-01-29
20608   2021-01-29
20609   2021-01-29
Name: date_dropped_out, Length: 20610, dtype: datetime64[ns]

In [28]:
farmers_df['date_contracted'].min

<bound method NDFrame._add_numeric_operations.<locals>.min of 0       2174-12-02
1       2147-12-06
2       2023-02-24
3       2023-02-24
4       2023-02-24
           ...
20605          NaT
20606          NaT
20607          NaT
20608          NaT
20609          NaT
Name: date_contracted, Length: 20610, dtype: datetime64[ns]>