In [2850]:
import pandas as pd
import sql_functions as sf

In [2851]:
schema = 'organic_africa' # UPDATE 'TABLE_SCHEMA' based on schema used in class 
engine = sf.get_engine()

**Importing tables of farmer data as Dataframes**

5 Dfs stored in one Dictionary

In [2852]:
all_farmers = {}

all_farmers['OGInfo__OGMB_1_df'] = sf.get_dataframe(f'SELECT * FROM {schema}."OGInfo__OGMB_1"')
all_farmers['OG_Info__OGOrg_1_df'] = sf.get_dataframe(f'SELECT * FROM {schema}."OG_Info__OGOrg_1"')
all_farmers['wc_info_bayoba_1_df'] = sf.get_dataframe(f'SELECT * FROM {schema}."wc_info_bayoba_1"')
all_farmers['wc_info__WCOrg_1_df'] = sf.get_dataframe(f'SELECT * FROM {schema}."wc_info__WCOrg_1"')
all_farmers['OG_Info_reserve__OGOrg_1_df'] = sf.get_dataframe(f'SELECT * FROM {schema}."OG_Info_reserve__OGOrg_1"')

## Preparing imported farmer dataframes

**Preparing farmer dfs to concat them to one big df**

1. Reduce all farmer df to the necessary ~20 columns 
2. Set all column names to lowercase
3. Renaming equal columns with equal column names
4. Checking and converting data types

In [2853]:
# Reduce all farmer df to the necessary ~20 columns
all_farmers['OGInfo__OGMB_1_df'] = all_farmers['OGInfo__OGMB_1_df'][['ID', 'OG_Nr', 'OG_code', 'Production_Unit', 'Area', 'Ward_Nr/Name',
                                                                   'Species', 'Surname', 'First_names', 'Sex', 'ID_Number',
                                                                   'Date_of_Birth', 'date_contracted', 'Date_dropped_out', 'Reason_dropped_out',
                                                                   'Address', 'OG_Organic_Status', 'OG_Organic_Status_from_Date', 'Fairtrade']]

all_farmers['OG_Info__OGOrg_1_df'] = all_farmers['OG_Info__OGOrg_1_df'][['ID', 'OG_Nr', 'OG_code', 'Production_Unit', 'Area', 'Ward_Nr/Name',
                                                                       'Species', 'Surname', 'First_names', 'Sex', 'ID_Number', 'Date_of_Birth',
                                                                       'Date_contracted', 'Date_dropped_out', 'Reason_dropped_out', 
                                                                       'OG_Organic_Status', 'Address', 'OG_Organic_Status_from_Date',
                                                                       'Fairtrade','ward_nr']]

all_farmers['wc_info_bayoba_1_df'] = all_farmers['wc_info_bayoba_1_df'][['ID', 'WC_Nr', 'WC_code', 'Production_Unit', 'Area', 'Ward_Nr/Name',
                                                                       'Species', 'Surname', 'First_names', 'Sex', 'ID_Number', 
                                                                       'Date_contracted', 'Date_dropped_out',
                                                                       'Reason_dropped_out', 'Address', 'Organic_Status', 
                                                                       'Organic_Status_from_Date', 'Fairtrade', 'Date_of_Birth', 'ward_nr']]

all_farmers['wc_info__WCOrg_1_df'] = all_farmers['wc_info__WCOrg_1_df'][['ID', 'WC_Nr', 'WC_code', 'Production_Unit', 'Area', 'Ward_Nr/Name',
                                                                       'Species', 'Surname', 'First_names', 'Sex', 'ID_Number',
                                                                       'Date_contracted', 'Reason_dropped_out', 'Address', 'Organic_Status', 
                                                                       'Organic_Status_from_Date', 'Fairtrade', 'Date_dropped_out', 'ward_nr']]

all_farmers['OG_Info_reserve__OGOrg_1_df'] = all_farmers['OG_Info_reserve__OGOrg_1_df'][['ID', 'OG_Nr', 'OG_code', 'Production_Unit', 'Area', 
                                                                                       'Ward_Nr/Name', 'Species', 'Surname', 'First_names',
                                                                                       'Sex', 'ID_Number', 'Date_of_Birth', 'Date_contracted',
                                                                                       'Date_dropped_out', 'Reason_dropped_out', 'Address',
                                                                                       'OG_Organic_Status', 'OG_Organic_Status_from_Date', 
                                                                                       'Fairtrade', 'ward_nr']]

In [2854]:
# Set all column names to lowercase

for df in all_farmers.values():
    #print(df)
    df.columns = map(str.lower, df.columns)

In [2855]:
all_farmers['OGInfo__OGMB_1_df'].columns

Index(['id', 'og_nr', 'og_code', 'production_unit', 'area', 'ward_nr/name',
       'species', 'surname', 'first_names', 'sex', 'id_number',
       'date_of_birth', 'date_contracted', 'date_dropped_out',
       'reason_dropped_out', 'address', 'og_organic_status',
       'og_organic_status_from_date', 'fairtrade'],
      dtype='object')

In [2856]:
# Renaming equal columns with equal column names
all_farmers['OGInfo__OGMB_1_df'].rename(columns={'og_organic_status':'organic_status', 'og_organic_status_from_date':'organic_status_from_date'}, inplace=True)
all_farmers['OG_Info__OGOrg_1_df'].rename(columns={'og_organic_status':'organic_status', 'og_organic_status_from_date':'organic_status_from_date'}, inplace=True)
all_farmers['OG_Info_reserve__OGOrg_1_df'].rename(columns={'og_organic_status':'organic_status', 'og_organic_status_from_date':'organic_status_from_date'}, inplace=True)

**4. Checking and converting data types**

.info() .dtype() type()

pd.to_datetime()

#### OGInfo__OGMB_1

In [2857]:
all_farmers['OGInfo__OGMB_1_df'].info()

# looks good!

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8166 entries, 0 to 8165
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        8166 non-null   int64
 1   og_nr                     8166 non-null   int64
 2   og_code                   8166 non-null   object
 3   production_unit           8166 non-null   object
 4   area                      8166 non-null   object
 5   ward_nr/name              8166 non-null   int64
 6   species                   8166 non-null   object
 7   surname                   8166 non-null   object
 8   first_names               8166 non-null   object
 9   sex                       8166 non-null   object
 10  id_number                 7073 non-null   object
 11  date_of_birth             657 non-null    datetime64[ns]
 12  date_contracted           8164 non-null   datetime64[ns]
 13  date_dropped_out          7053 non-null   datetime64[ns]
 14  reason_dropped_out        6587 non-null   object
 15  address                   8111 non-null   object
 16  organic_status            8166 non-null   object
 17  organic_status_from_date  8166 non-null   object
 18  fairtrade                 8166 non-null   bool
dtypes: bool(1), datetime64[ns](3), int64(3), object(12)
memory usage: 1.1+ MB

In [2858]:
type(all_farmers['OGInfo__OGMB_1_df']['date_contracted'][2])

pandas._libs.tslibs.timestamps.Timestamp

In [2859]:
# all_farmers['OGInfo__OGMB_1_df'][all_farmers['OGInfo__OGMB_1_df']['date_contracted']=='2147-12-06' | all_farmers['OGInfo__OGMB_1_df']['og_nr']=='']

In [2860]:
all_farmers['OG_Info__OGOrg_1_df']['date_contracted'][0]

datetime.date(2023, 2, 24)

#### OG_Info__OGOrg_1_df

In [2861]:
all_farmers['OG_Info__OGOrg_1_df'].info()

# need to convert date_of_birth, date_contracted and date_dropped_out

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1403 entries, 0 to 1402
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        1403 non-null   int64
 1   og_nr                     1403 non-null   int64
 2   og_code                   1403 non-null   object
 3   production_unit           1403 non-null   object
 4   area                      1403 non-null   object
 5   ward_nr/name              1403 non-null   object
 6   species                   1403 non-null   object
 7   surname                   1403 non-null   object
 8   first_names               1403 non-null   object
 9   sex                       1403 non-null   object
 10  id_number                 1310 non-null   object
 11  date_of_birth             930 non-null    object
 12  date_contracted           1403 non-null   object
 13  date_dropped_out          405 non-null    object
 14  reason_dropped_out        264 non-null    object
 15  organic_status            1403 non-null   object
 16  address                   1192 non-null   object
 17  organic_status_from_date  1403 non-null   object
 18  fairtrade                 1403 non-null   bool
 19  ward_nr                   1403 non-null   int64
dtypes: bool(1), int64(3), object(16)
memory usage: 209.8+ KB

In [2862]:
# converted date_of_birth
all_farmers['OG_Info__OGOrg_1_df']['date_of_birth'] = pd.to_datetime(all_farmers['OG_Info__OGOrg_1_df']['date_of_birth'])

Converting 'date_contracted' to datetime

In [2863]:
# all_farmers['OG_Info__OGOrg_1_df']['date_contracted'] = pd.to_datetime(all_farmers['OG_Info__OGOrg_1_df']['date_contracted'])

# Out of bounds nanosecond timestamp: 218-08-19 00:00:00 present at position 59

# all_farmers['OG_Info__OGOrg_1_df'].iloc[59,]
# all_farmers['OG_Info__OGOrg_1_df'].loc[all_farmers['OG_Info__OGOrg_1_df']['date_contracted']=='218-08-19']

# Did not found 218-08-19 at index 59 but the seems to get corrected in the next steps

In [2864]:
all_farmers['OG_Info__OGOrg_1_df'].iloc[59]['date_contracted']

datetime.date(2012, 12, 3)

In [2865]:
all_farmers['OG_Info__OGOrg_1_df'].replace('218-08-19', '2018-08-19', inplace=True)

In [2866]:
all_farmers['OG_Info__OGOrg_1_df'].iloc[50:60,12]

50    2023-02-24
51    2012-12-06
52    2012-12-06
53    2012-12-06
54    2012-12-06
55    2012-12-06
56    2012-12-03
57    2012-12-03
58    2013-08-08
59    2012-12-03
Name: date_contracted, dtype: object

Solving date_contracted errors with padding strings

In [2867]:
# Function to pad/fill to short dates like 5/3/18 to 05/03/2018

def str_date_pad(val):
    
    if type(val) is str and len(val) < 10: 

        date_splitted = val.split('/')
        
        if len(date_splitted[1]) < 2 : 
            date_splitted[1] = '0' + date_splitted[1]

        if (len(date_splitted[2]) < 4) and (int(date_splitted[2]) < 24) : 
            date_splitted[2] = '20' + date_splitted[2]
        if len(date_splitted[2]) < 4 and int(date_splitted[2]) > 23 : 
            date_splitted[2] = '19' + date_splitted[2]
    
        val = '/'.join(date_splitted)
        #print(val)
        return val
    
    else:
        return val

In [2868]:
# Apply function to df
all_farmers['OG_Info__OGOrg_1_df']['date_contracted'] = all_farmers['OG_Info__OGOrg_1_df']['date_contracted'].apply(str_date_pad)

In [2869]:
all_farmers['OG_Info__OGOrg_1_df'].iloc[50:60,12]

50    2023-02-24
51    2012-12-06
52    2012-12-06
53    2012-12-06
54    2012-12-06
55    2012-12-06
56    2012-12-03
57    2012-12-03
58    2013-08-08
59    2012-12-03
Name: date_contracted, dtype: object

In [2870]:
# Now after padding convert str to datetime gives still problem !
# all_farmers['OG_Info__OGOrg_1_df']['date_contracted'] = pd.to_datetime(all_farmers['OG_Info__OGOrg_1_df']['date_contracted'])

In [2871]:
# Problem with date '19/08/19218' at 54 BUT its in position/row_index 741
all_farmers['OG_Info__OGOrg_1_df'].loc[all_farmers['OG_Info__OGOrg_1_df']['date_contracted']=='19/08/19218']
# cause year '218' padded to '19218'

Empty DataFrame
Columns: [id, og_nr, og_code, production_unit, area, ward_nr/name, species, surname, first_names, sex, id_number, date_of_birth, date_contracted, date_dropped_out, reason_dropped_out, organic_status, address, organic_status_from_date, fairtrade, ward_nr]
Index: []

In [2872]:
# Solve through replacing '19/08/19218' by '19/08/2018' and dropping '01/00/2022'
all_farmers['OG_Info__OGOrg_1_df'].replace('19/08/19218', '19/08/2018', inplace=True)
all_farmers['OG_Info__OGOrg_1_df'].replace('01/00/2022', None, inplace=True)

In [2873]:
all_farmers['OG_Info__OGOrg_1_df'].iloc[741]['date_contracted']

datetime.date(2018, 8, 10)

In [2874]:
#[16122.0, 16094.0, 16086.0, 16069.0]

In [2875]:
all_farmers['OG_Info__OGOrg_1_df'][all_farmers['OG_Info__OGOrg_1_df']['og_nr']==16122.0]

,id,og_nr,og_code,production_unit,area,ward_nr/name,species,surname,first_names,sex,id_number,date_of_birth,date_contracted,date_dropped_out,reason_dropped_out,organic_status,address,organic_status_from_date,fairtrade,ward_nr
491,1228,16122,MAOG,Manicaland,Makoni,23,Paprika,Kanjanda,Prisca,Female,42-215210-S42,NaT,2017-08-31,2017-12-04,Not externally inspected,Dropout,"Dope Secondary School Box 8060, Rusape",2017-08-31,False,23

In [2876]:
# Ready to convert str to datetime
all_farmers['OG_Info__OGOrg_1_df']['date_contracted'] = pd.to_datetime(all_farmers['OG_Info__OGOrg_1_df']['date_contracted'])

In [2877]:
all_farmers['OG_Info__OGOrg_1_df'][all_farmers['OG_Info__OGOrg_1_df']['og_nr']==16122.0]

,id,og_nr,og_code,production_unit,area,ward_nr/name,species,surname,first_names,sex,id_number,date_of_birth,date_contracted,date_dropped_out,reason_dropped_out,organic_status,address,organic_status_from_date,fairtrade,ward_nr
491,1228,16122,MAOG,Manicaland,Makoni,23,Paprika,Kanjanda,Prisca,Female,42-215210-S42,NaT,2017-08-31,2017-12-04,Not externally inspected,Dropout,"Dope Secondary School Box 8060, Rusape",2017-08-31,False,23

In [2878]:
all_farmers['OG_Info__OGOrg_1_df'].iloc[65]['date_contracted']

Timestamp('2012-12-06 00:00:00')

In [2879]:
all_farmers['OG_Info__OGOrg_1_df']['date_dropped_out'] = pd.to_datetime(all_farmers['OG_Info__OGOrg_1_df']['date_dropped_out'])

In [2880]:
all_farmers['OG_Info__OGOrg_1_df'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1403 entries, 0 to 1402
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        1403 non-null   int64
 1   og_nr                     1403 non-null   int64
 2   og_code                   1403 non-null   object
 3   production_unit           1403 non-null   object
 4   area                      1403 non-null   object
 5   ward_nr/name              1403 non-null   object
 6   species                   1403 non-null   object
 7   surname                   1403 non-null   object
 8   first_names               1403 non-null   object
 9   sex                       1403 non-null   object
 10  id_number                 1310 non-null   object
 11  date_of_birth             930 non-null    datetime64[ns]
 12  date_contracted           1403 non-null   datetime64[ns]
 13  date_dropped_out          405 non-null    datetime64[ns]
 14  reason_dropped_out        264 non-null    object
 15  organic_status            1403 non-null   object
 16  address                   1192 non-null   object
 17  organic_status_from_date  1403 non-null   object
 18  fairtrade                 1403 non-null   bool
 19  ward_nr                   1403 non-null   int64
dtypes: bool(1), datetime64[ns](3), int64(3), object(13)
memory usage: 209.8+ KB

#### wc_info_bayoba_1_df

In [2881]:
all_farmers['wc_info_bayoba_1_df'].info()

# need to convert date_of_birth, date_contracted and date_dropped_out

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10952 entries, 0 to 10951
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        10952 non-null  int64
 1   wc_nr                     10952 non-null  int64
 2   wc_code                   10952 non-null  object
 3   production_unit           10952 non-null  object
 4   area                      10952 non-null  object
 5   ward_nr/name              10535 non-null  object
 6   species                   10952 non-null  object
 7   surname                   10951 non-null  object
 8   first_names               10949 non-null  object
 9   sex                       10952 non-null  object
 10  id_number                 10248 non-null  object
 11  date_contracted           10951 non-null  object
 12  date_dropped_out          1924 non-null   object
 13  reason_dropped_out        1054 non-null   object
 14  address                   10779 non-null  object
 15  organic_status            10952 non-null  object
 16  organic_status_from_date  6867 non-null   object
 17  fairtrade                 10952 non-null  bool
 18  date_of_birth             990 non-null    object
 19  ward_nr                   10535 non-null  float64
dtypes: bool(1), float64(1), int64(2), object(16)
memory usage: 1.6+ MB

In [2882]:
all_farmers['wc_info_bayoba_1_df']['date_of_birth'] = pd.to_datetime(all_farmers['wc_info_bayoba_1_df']['date_of_birth'])

In [2883]:
all_farmers['wc_info_bayoba_1_df']['date_contracted'] = pd.to_datetime(all_farmers['wc_info_bayoba_1_df']['date_contracted'])

In [2884]:
all_farmers['wc_info_bayoba_1_df']['date_dropped_out'] = pd.to_datetime(all_farmers['wc_info_bayoba_1_df']['date_dropped_out'])

In [2885]:
all_farmers['wc_info_bayoba_1_df'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10952 entries, 0 to 10951
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        10952 non-null  int64
 1   wc_nr                     10952 non-null  int64
 2   wc_code                   10952 non-null  object
 3   production_unit           10952 non-null  object
 4   area                      10952 non-null  object
 5   ward_nr/name              10535 non-null  object
 6   species                   10952 non-null  object
 7   surname                   10951 non-null  object
 8   first_names               10949 non-null  object
 9   sex                       10952 non-null  object
 10  id_number                 10248 non-null  object
 11  date_contracted           10951 non-null  datetime64[ns]
 12  date_dropped_out          1924 non-null   datetime64[ns]
 13  reason_dropped_out        1054 non-null   object
 14  address                   10779 non-null  object
 15  organic_status            10952 non-null  object
 16  organic_status_from_date  6867 non-null   object
 17  fairtrade                 10952 non-null  bool
 18  date_of_birth             990 non-null    datetime64[ns]
 19  ward_nr                   10535 non-null  float64
dtypes: bool(1), datetime64[ns](3), float64(1), int64(2), object(13)
memory usage: 1.6+ MB

#### wc_info__WCOrg_1_df

In [2886]:
all_farmers['wc_info__WCOrg_1_df'].info()

# has no date_of_birth column -> 19 columns
# need to convert date_contracted and date_dropped_out

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 565 entries, 0 to 564
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        565 non-null    int64
 1   wc_nr                     565 non-null    int64
 2   wc_code                   565 non-null    object
 3   production_unit           565 non-null    object
 4   area                      565 non-null    object
 5   ward_nr/name              563 non-null    object
 6   species                   565 non-null    object
 7   surname                   564 non-null    object
 8   first_names               564 non-null    object
 9   sex                       565 non-null    object
 10  id_number                 472 non-null    object
 11  date_contracted           558 non-null    object
 12  reason_dropped_out        142 non-null    object
 13  address                   530 non-null    object
 14  organic_status            564 non-null    object
 15  organic_status_from_date  547 non-null    object
 16  fairtrade                 565 non-null    bool
 17  date_dropped_out          426 non-null    object
 18  ward_nr                   563 non-null    float64
dtypes: bool(1), float64(1), int64(2), object(15)
memory usage: 80.1+ KB

In [2887]:
all_farmers['wc_info__WCOrg_1_df']['date_contracted'] = pd.to_datetime(all_farmers['wc_info__WCOrg_1_df']['date_contracted'])

In [2888]:
all_farmers['wc_info__WCOrg_1_df']['date_dropped_out'] = pd.to_datetime(all_farmers['wc_info__WCOrg_1_df']['date_dropped_out'])

/var/folders/x5/v1d8l9v94679fhr8vd07ys9c0000gn/T/ipykernel_2393/68422980.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  all_farmers['wc_info__WCOrg_1_df']['date_dropped_out'] = pd.to_datetime(all_farmers['wc_info__WCOrg_1_df']['date_dropped_out'])

In [2889]:
all_farmers['wc_info__WCOrg_1_df'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 565 entries, 0 to 564
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        565 non-null    int64
 1   wc_nr                     565 non-null    int64
 2   wc_code                   565 non-null    object
 3   production_unit           565 non-null    object
 4   area                      565 non-null    object
 5   ward_nr/name              563 non-null    object
 6   species                   565 non-null    object
 7   surname                   564 non-null    object
 8   first_names               564 non-null    object
 9   sex                       565 non-null    object
 10  id_number                 472 non-null    object
 11  date_contracted           558 non-null    datetime64[ns]
 12  reason_dropped_out        142 non-null    object
 13  address                   530 non-null    object
 14  organic_status            564 non-null    object
 15  organic_status_from_date  547 non-null    object
 16  fairtrade                 565 non-null    bool
 17  date_dropped_out          426 non-null    datetime64[ns]
 18  ward_nr                   563 non-null    float64
dtypes: bool(1), datetime64[ns](2), float64(1), int64(2), object(13)
memory usage: 80.1+ KB

#### OG_Info_reserve__OGOrg_1_df

In [2890]:
all_farmers['OG_Info_reserve__OGOrg_1_df'][all_farmers['OG_Info_reserve__OGOrg_1_df']['og_nr']==5157.0]

,id,og_nr,og_code,production_unit,area,ward_nr/name,species,surname,first_names,sex,id_number,date_of_birth,date_contracted,date_dropped_out,reason_dropped_out,address,organic_status,organic_status_from_date,fairtrade,ward_nr
209,306,5157,BNOG,Matabeleland North,Binga,15 Kariangwe,Rosella,Mungombe,Sibongile,female,06-033379V06,None,17/08/2015,2017-12-04,Not externally inspected,Manseme School Binga,Dropout,2015-11-17,True,15.0

In [2891]:
# all_farmers['OG_Info_reserve__OGOrg_1_df'].info()

# need to convert date_of_birth, date_contracted and date_dropped_out

In [2892]:
#all_farmers['OG_Info_reserve__OGOrg_1_df']['date_contracted'] = pd.to_datetime(all_farmers['OG_Info__OGOrg_1_df']['date_contracted'], format='%d/%m/%Y')

In [2893]:
all_farmers['OG_Info_reserve__OGOrg_1_df']['date_of_birth'] = pd.to_datetime(all_farmers['OG_Info_reserve__OGOrg_1_df']['date_of_birth'])

In [2894]:
all_farmers['OG_Info_reserve__OGOrg_1_df']['date_contracted'] = pd.to_datetime(all_farmers['OG_Info__OGOrg_1_df']['date_contracted'])

In [2895]:
all_farmers['OG_Info_reserve__OGOrg_1_df']['date_dropped_out'] = pd.to_datetime(all_farmers['OG_Info_reserve__OGOrg_1_df']['date_dropped_out'])

In [2896]:
# all_farmers['OG_Info_reserve__OGOrg_1_df'].info()

In [2897]:

all_farmers['OG_Info_reserve__OGOrg_1_df'][all_farmers['OG_Info_reserve__OGOrg_1_df']['og_nr']==5157.0]

,id,og_nr,og_code,production_unit,area,ward_nr/name,species,surname,first_names,sex,id_number,date_of_birth,date_contracted,date_dropped_out,reason_dropped_out,address,organic_status,organic_status_from_date,fairtrade,ward_nr
209,306,5157,BNOG,Matabeleland North,Binga,15 Kariangwe,Rosella,Mungombe,Sibongile,female,06-033379V06,NaT,2015-08-04,2017-12-04,Not externally inspected,Manseme School Binga,Dropout,2015-11-17,True,15.0

### Adding Birthdates to wc_info_WCOrg_1_df

In [2898]:
all_birthdates_df = sf.get_dataframe(f'SELECT * FROM {schema}."all_birthdates"')

In [2899]:
len(list(set(all_birthdates_df["wc_nr"]) & set(all_farmers['wc_info__WCOrg_1_df'][['wc_nr']].squeeze())))

453

#### Merge all_birthdates_df to wc_info__WCOrg_1_df

In [2900]:
all_farmers['wc_info__WCOrg_1_df'] = pd.merge(all_farmers['wc_info__WCOrg_1_df'], all_birthdates_df, how="left", on="wc_nr")

In [2901]:
all_farmers['wc_info__WCOrg_1_df']

,id,wc_nr,wc_code,production_unit,area,ward_nr/name,species,surname,first_names,sex,id_number,date_contracted,reason_dropped_out,address,organic_status,organic_status_from_date,fairtrade,date_dropped_out,ward_nr,date_of_birth
0,4942,3962,HWWC,Matabeleland North,Hwange,6 Gondwa,Devils Claw,Moyo,Pios,male,None,2014-07-07,None,Secretariat Sch Vic Falls,Org,None,False,NaT,6.0,NaT
1,5608,3692,HWWC,Matabeleland North,Hwange,6 Gondwa,Devils Claw,Ncube,Mwayani,male,79-124391X79,2015-03-14,None,"Mironga School, Vic Falls",Org,None,False,NaT,6.0,NaT
2,10630,1773,HWWC,Matabeleland North,Hwange,3 Kachechete,Devils Claw,Ncube,Engel,female,08-161126N39,2012-10-06,None,"Bethesda Sch, Vic-Falls",Org,2017-11-11,False,2017-11-21,3.0,NaT
3,1763,1772,HWWC,Matabeleland North,Hwange,3 Kachechete,Devils Claw,Dube,Samson,Male,79-031011X79,2012-10-06,None,"Bethesda Sch, Vic-Falls",Org,2017-06-19,False,NaT,3.0,1957-10-02
4,1766,1775,HWWC,Matabeleland North,Hwange,3 Kachechete,Devils Claw,Ngwenya,Joshua,Male,79-011290L79,2012-10-06,None,"Bethesda Sch, Vic-Falls",Org,2017-06-19,False,NaT,3.0,1955-10-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560,11146,1057,CMWC,Manicaland,Chimanimani Rusitu,21,Wild Gotu kola,Zaranyika,Vaina,female,None,NaT,None,"Hode Pry Sch, Bag 2051, Chimanimani",Reinstated,2019-03-09,False,2021-01-29,21.0,NaT
561,11147,21040,CMWC,Manicaland,Chimanimani Rusitu,21,Wild Gotu kola,Chibawana,Violet,female,None,NaT,None,"Hode Pry Sch, Bag 2051, Chimanimani",Reinstated,2019-03-09,False,2021-01-29,21.0,NaT
562,11148,2555,CMWC,Manicaland,Chimanimani Rusitu,21,Wild Gotu kola,Hofisi,Christine,female,None,NaT,None,"Hode Pry Sch, Bag 2051, Chimanimani",Reinstated,None,False,2021-01-29,21.0,NaT
563,11149,2066,CMWC,Manicaland,Chimanimani Rusitu,21,Wild Gotu Kola,Mudada,Marjorie,female,None,NaT,None,"Hode Pry Sch, Bag 2051, Chimanimani",Reinstated,2019-03-09,False,2021-01-29,21.0,NaT
564,11150,1069,CMWC,Manicaland,Chimanimani Rusitu,21,Wild gotu kola,Nyamwazha,Martha,female,None,NaT,None,"Hode Pry Sch, Bag 2051, Chimanimani",Reinstated,2019-03-09,False,2021-01-29,21.0,NaT

In [2902]:
all_farmers['wc_info__WCOrg_1_df'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 565 entries, 0 to 564
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        565 non-null    int64
 1   wc_nr                     565 non-null    int64
 2   wc_code                   565 non-null    object
 3   production_unit           565 non-null    object
 4   area                      565 non-null    object
 5   ward_nr/name              563 non-null    object
 6   species                   565 non-null    object
 7   surname                   564 non-null    object
 8   first_names               564 non-null    object
 9   sex                       565 non-null    object
 10  id_number                 472 non-null    object
 11  date_contracted           558 non-null    datetime64[ns]
 12  reason_dropped_out        142 non-null    object
 13  address                   530 non-null    object
 14  organic_status            564 non-null    object
 15  organic_status_from_date  547 non-null    object
 16  fairtrade                 565 non-null    bool
 17  date_dropped_out          426 non-null    datetime64[ns]
 18  ward_nr                   563 non-null    float64
 19  date_of_birth             39 non-null     datetime64[ns]
dtypes: bool(1), datetime64[ns](3), float64(1), int64(2), object(13)
memory usage: 88.8+ KB

## Final merge of farmer dfs to concated_farmers

Verify shapes of dfs

In [2903]:
for name, df in all_farmers.items():
    print(name)
    print(df.shape)

OGInfo__OGMB_1_df
(8166, 19)
OG_Info__OGOrg_1_df
(1403, 20)
wc_info_bayoba_1_df
(10952, 20)
wc_info__WCOrg_1_df
(565, 20)
OG_Info_reserve__OGOrg_1_df
(795, 20)

In [2904]:
# ['ward_nr'] column still missing:

all_farmers['OGInfo__OGMB_1_df'][['ward_nr']] = all_farmers['OGInfo__OGMB_1_df'][['ward_nr/name']]
all_farmers['OGInfo__OGMB_1_df'].shape

(8166, 20)

In [2905]:
concated_farmers = pd.concat(all_farmers)

In [2906]:
concated_farmers.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 21881 entries, ('OGInfo__OGMB_1_df', 0) to ('OG_Info_reserve__OGOrg_1_df', 794)
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        21881 non-null  int64
 1   og_nr                     10364 non-null  float64
 2   og_code                   10364 non-null  object
 3   production_unit           21881 non-null  object
 4   area                      21881 non-null  object
 5   ward_nr/name              21461 non-null  object
 6   species                   21881 non-null  object
 7   surname                   21879 non-null  object
 8   first_names               21877 non-null  object
 9   sex                       21881 non-null  object
 10  id_number                 19837 non-null  object
 11  date_of_birth             2883 non-null   datetime64[ns]
 12  date_contracted           21871 non-null  datetime64[ns]
 13  date_dropped_out          10063 non-null  datetime64[ns]
 14  reason_dropped_out        8304 non-null   object
 15  address                   21397 non-null  object
 16  organic_status            21880 non-null  object
 17  organic_status_from_date  17778 non-null  object
 18  fairtrade                 21881 non-null  bool
 19  ward_nr                   21461 non-null  float64
 20  wc_nr                     11517 non-null  float64
 21  wc_code                   11517 non-null  object
dtypes: bool(1), datetime64[ns](3), float64(3), int64(1), object(14)
memory usage: 3.9+ MB

In [2907]:
concated_farmers[concated_farmers['date_contracted'].dt.year.astype('Int64')>2023]

                         id    og_nr og_code      production_unit   area  \
OGInfo__OGMB_1_df 145  1517  13107.0   MBOGR  Mashonaland Central  Mbire
                  239  1414  13190.0   MBOGR  Mashonaland Central  Mbire

                      ward_nr/name  species   surname first_names     sex  \
OGInfo__OGMB_1_df 145            6  Rosella    Mutape      Sophia  female
                  239            6  Rosella  Gurupira     Vengayi    male

                       ... date_contracted date_dropped_out  \
OGInfo__OGMB_1_df 145  ...      2174-12-02              NaT
                  239  ...      2147-12-06       2020-03-19

                      reason_dropped_out                           address  \
OGInfo__OGMB_1_df 145               None      Kasawo sch, Box 346, Mbire D
                  239         Own choice  Nyarutomno sch, Box 500, Mbire D

                      organic_status organic_status_from_date fairtrade  \
OGInfo__OGMB_1_df 145      Mabagrown  2017-12-02 00:00:00.000     False
                  239        Dropout  2017-12-06 00:00:00.000     False

                      ward_nr  wc_nr  wc_code
OGInfo__OGMB_1_df 145     6.0    NaN      NaN
                  239     6.0    NaN      NaN

[2 rows x 22 columns]

In [2908]:
concated_farmers.replace('2174-12-02', '2021-07-06', inplace=True)
concated_farmers.replace('2147-12-06', '2021-07-06', inplace=True)

In [2909]:
concated_farmers[concated_farmers['og_nr']==13190.0]

,,id,og_nr,og_code,production_unit,area,ward_nr/name,species,surname,first_names,sex,...,date_contracted,date_dropped_out,reason_dropped_out,address,organic_status,organic_status_from_date,fairtrade,ward_nr,wc_nr,wc_code
OGInfo__OGMB_1_df,239,1414,13190.0,MBOGR,Mashonaland Central,Mbire,6,Rosella,Gurupira,Vengayi,male,...,2021-07-06,2020-03-19,Own choice,"Nyarutomno sch, Box 500, Mbire D",Dropout,2017-12-06 00:00:00.000,False,6.0,NaN,NaN

In [2910]:
concated_farmers

                                    id    og_nr og_code      production_unit  \
OGInfo__OGMB_1_df           0     1545  13137.0   MBOGR  Mashonaland Central
                            1    12026  12116.0   MBOGR  Mashonaland Central
                            2     9914  23949.0   MBOGK  Mashonaland Central
                            3     9915  23950.0   MBOGK  Mashonaland Central
                            4     9916  23951.0   MBOGK  Mashonaland Central
...                                ...      ...     ...                  ...
OG_Info_reserve__OGOrg_1_df 790   3549  20026.0    MUOG  Mashonaland Central
                            791   3550  20027.0    MUOG  Mashonaland Central
                            792   3551  20028.0    MUOG  Mashonaland Central
                            793   1861  14001.0    BNOG   Matabeleland North
                            794   1926  14067.0    BNOG   Matabeleland North

                                     area ward_nr/name  \
OGInfo__OGMB_1_df           0       Mbire           15
                            1       Mbire            6
                            2       Mbire           13
                            3       Mbire           13
                            4       Mbire           13
...                                   ...          ...
OG_Info_reserve__OGOrg_1_df 790  Mushumbi            3
                            791  Mushumbi            3
                            792  Mushumbi            3
                            793     Binga      11 Lubu
                            794     Binga   5 Sinakoma

                                                  species    surname  \
OGInfo__OGMB_1_df           0                     Rosella  Nyamayaro
                            1                     Rosella      Funda
                            2                     Rosella  Chingwena
                            3                     Rosella    Marumbe
                            4                     Rosella   Dambudzo
...                                                   ...        ...
OG_Info_reserve__OGOrg_1_df 790  Rosella, Chilli, Paprika      Nhete
                            791  Rosella, Chilli, Paprika    Musiiwa
                            792  Rosella, Chilli, Paprika    Masodzi
                            793                   Rosella     Mwembe
                            794                   Rosella    Musande

                                first_names     sex  ... date_contracted  \
OGInfo__OGMB_1_df           0       Phillip    male  ...             NaT
                            1        Jennie  female  ...      2022-04-02
                            2        Gladys  female  ...      2020-03-23
                            3        Tariro  female  ...      2020-03-23
                            4         Ketai  female  ...      2020-03-23
...                                     ...     ...  ...             ...
OG_Info_reserve__OGOrg_1_df 790      Stella  female  ...      2022-06-11
                            791      Admire    male  ...      2022-06-11
                            792       Norah  female  ...      2022-06-11
                            793      Mutale  female  ...      2022-06-11
                            794        Mata  female  ...      2022-06-11

                                date_dropped_out reason_dropped_out  \
OGInfo__OGMB_1_df           0         2020-02-05         Own choice
                            1                NaT               None
                            2         2021-07-26        Area closed
                            3         2021-07-26        Area closed
                            4         2021-07-26        Area closed
...                                          ...                ...
OG_Info_reserve__OGOrg_1_df 790              NaT               None
                            791              NaT               None
                            792              NaT               None
                            793              NaT               None
                            794              NaT               None

                                                              address  \
OGInfo__OGMB_1_df           0             Mahuwe sch, Box 92, Mbire D
                            1        Kasuwo Primary School 346, Mbire
                            2         Sapa Primary School P O Box 203
                            3         Sapa Primary School P O Box 203
                            4         Sapa Primary School P O Box 203
...                                                               ...
OG_Info_reserve__OGOrg_1_df 790         ARDA Mushumbi, Box 210, Mbire
                            791         ARDA Mushumbi, Box 210, Mbire
                            792         ARDA Mushumbi, Box 210, Mbire
                            793  Lubu primary School P Bag 5729 Binga
                            794                 Nsenga Primary school

                                organic_status organic_status_from_date  \
OGInfo__OGMB_1_df           0          Dropout  2017-12-02 00:00:00.000
                            1        Mabagrown  2022-04-02 00:00:00.000
                            2          Dropout  2020-03-23 00:00:00.000
                            3          Dropout  2020-03-23 00:00:00.000
                            4          Dropout  2020-03-23 00:00:00.000
...                                        ...                      ...
OG_Info_reserve__OGOrg_1_df 790            New               2019-02-01
                            791            New               2019-02-01
                            792            New               2019-02-01
                            793            Org               2018-08-31
                            794            Org               2018-08-31

                                fairtrade ward_nr  wc_nr  wc_code
OGInfo__OGMB_1_df           0       False    15.0    NaN      NaN
                            1       False     6.0    NaN      NaN
                            2       False    13.0    NaN      NaN
                            3       False    13.0    NaN      NaN
                            4       False    13.0    NaN      NaN
...                                   ...     ...    ...      ...
OG_Info_reserve__OGOrg_1_df 790     False     3.0    NaN      NaN
                            791     False     3.0    NaN      NaN
                            792     False     3.0    NaN      NaN
                            793     False    11.0    NaN      NaN
                            794     False     5.0    NaN      NaN

[21881 rows x 22 columns]

In [2911]:
# 11517 wc_nr
concated_farmers[~concated_farmers['wc_nr'].isna()]['wc_nr']

wc_info_bayoba_1_df  0      21146.0
                     1      21833.0
                     2      21147.0
                     3      22986.0
                     4      21148.0
                             ...
wc_info__WCOrg_1_df  560     1057.0
                     561    21040.0
                     562     2555.0
                     563     2066.0
                     564     1069.0
Name: wc_nr, Length: 11517, dtype: float64

# Clean and analyze concated_farmers

1. Drop duplicates (+ wc_nr and og_nr)
2. Count number of records by category
3. Clean column by column

In [2912]:
# Looking for Duplicates
concated_farmers.duplicated().value_counts()

# 73 duplicates

False    21832
True        49
dtype: int64

In [2913]:
# All duplicates in OG_Info_reserve__OGOrg_1_df
df_dup = concated_farmers[concated_farmers.duplicated()].sort_values('id')
df_dup

                                   id    og_nr og_code     production_unit  \
OG_Info_reserve__OGOrg_1_df 43     47   2869.0    BNOG  Matabeleland North
                            53     57   2896.0    BNOG  Matabeleland North
                            189   133   3788.0    BNOG  Matabeleland North
                            266   275  12265.0    MAOG          Manicaland
                            206   315   5153.0    BNOG  Matabeleland North
                            580  1041  16270.0    MAOG          Manicaland
                            582  1046  16272.0    MAOG          Manicaland
                            447  1055  16130.0    MAOG          Manicaland
                            454  1063  16138.0    MAOG          Manicaland
                            462  1071  16146.0    MAOG          Manicaland
                            469  1078  16153.0    MAOG          Manicaland
                            474  1083  16158.0    MAOG          Manicaland
                            475  1084  16159.0    MAOG          Manicaland
                            481  1091  16166.0    MAOG          Manicaland
                            486  1097  16172.0    MAOG          Manicaland
                            490  1101  16176.0    MAOG          Manicaland
                            491  1102  16177.0    MAOG          Manicaland
                            505  1116  16191.0    MAOG          Manicaland
                            507  1118  16193.0    MAOG          Manicaland
                            511  1122  16197.0    MAOG          Manicaland
                            581  1129  16271.0    MAOG          Manicaland
                            523  1135  16210.0    MAOG          Manicaland
                            529  1141  16216.0    MAOG          Manicaland
                            534  1146  16221.0    MAOG          Manicaland
                            538  1151  16226.0    MAOG          Manicaland
                            544  1157  16232.0    MAOG          Manicaland
                            545  1158  16233.0    MAOG          Manicaland
                            546  1159  16234.0    MAOG          Manicaland
                            551  1164  16239.0    MAOG          Manicaland
                            562  1175  16250.0    MAOG          Manicaland
                            563  1176  16251.0    MAOG          Manicaland
                            568  1181  16256.0    MAOG          Manicaland
                            569  1183  16258.0    MAOG          Manicaland
                            572  1186  16261.0    MAOG          Manicaland
                            573  1187  16262.0    MAOG          Manicaland
                            394  1203  16068.0    MAOG          Manicaland
                            440  1229  16123.0    MAOG          Manicaland
                            584  1246  16276.0    MAOG          Manicaland
                            128  1889  14030.0    BNOG  Matabeleland North
                            129  1890  14031.0    BNOG  Matabeleland North
                            298  1918  14059.0    BNOG  Matabeleland North
                            310  1932  14073.0    BNOG  Matabeleland North
                            311  1933  14074.0    BNOG  Matabeleland North
                            347  1972  14109.0    BNOG  Matabeleland North
                            359  1983  14120.0    BNOG  Matabeleland North
                            365  1988  14125.0    BNOG  Matabeleland North
                            369  1992  14129.0    BNOG  Matabeleland North
                            381  2048  14149.0    BNOG  Matabeleland North
                            646  2116  19464.0    BNOG  Matabeleland North

                                   area  ward_nr/name          species  \
OG_Info_reserve__OGOrg_1_df 43    Binga    5 Sinakoma          Rosella
                            53    Binga    5 Sinakoma          Rosella
                            189   Binga  15 Kariangwe          Rosella
                            266  Makoni            17  Chilli, Paprika
                            206   Binga  15 Kariangwe          Rosella
                            580  Makoni            23          Paprika
                            582  Makoni            23          Paprika
                            447  Makoni            23          Paprika
                            454  Makoni            21          Chillie
                            462  Makoni            21          Chillie
                            469  Makoni            18          Chillie
                            474  Makoni            21          Chillie
                            475  Makoni            18          Chillie
                            481  Makoni            17          Paprika
                            486  Makoni            18          Chillie
                            490  Makoni            17          Paprika
                            491  Makoni            23          Paprika
                            505  Makoni            23          Paprika
                            507  Makoni            19          chillie
                            511  Makoni            17          Paprika
                            581  Makoni            17          Paprika
                            523  Makoni            17          Paprika
                            529  Makoni            17          Paprika
                            534  Makoni            23          Paprika
                            538  Makoni            23          Paprika
                            544  Makoni            21          Chillie
                            545  Makoni            23          Paprika
                            546  Makoni            17          Paprika
                            551  Makoni            23          Paprika
                            562  Makoni            21          Chillie
                            563  Makoni            17          Paprika
                            568  Makoni            19          Chillie
                            569  Makoni            18          Chillie
                            572  Makoni            19          Chillie
                            573  Makoni            23          Paprika
                            394  Makoni            23          Paprika
                            440  Makoni            23          Paprika
                            584  Makoni            23          Paprika
                            128   Binga       11 Lubu          Rosella
                            129   Binga       11 Lubu          Rosella
                            298   Binga    5 Sinakoma          Rosella
                            310   Binga    5 Sinakoma          Rosella
                            311   Binga    5 Sinakoma          Rosella
                            347   Binga    5 Sinakoma          Rosella
                            359   Binga    5 Sinakoma          Rosella
                            365   Binga    5 Sinakoma          Rosella
                            369   Binga    5 Sinakoma          Rosella
                            381   Binga    5 Sinakoma          Rosella
                            646   Binga    5 Sinakoma          Rosella

                                          surname first_names     sex  ...  \
OG_Info_reserve__OGOrg_1_df 43           Muchimba      Magret  female  ...
                            53            Munkuli       Betty  female  ...
                            189          Mumpande       Julia  female  ...
                            266            Mukoyi       James    male  ...
                            206            Mwembe      Esnath  female  ...
                            580           Kabanda    Loveness  Female  ...
                            582          Kamusasa       Susan  Female  ...
                            447           Mabhutu        Gift    male  ...
                            454          Magondwa    Patience  Female  ...
                            462           Makonde      Esther  Female  ...
                            469       Makurumidze     Cecelia  Female  ...
                            474           Mandeya       Sarah  Female  ...
                            475           Mandipo     Seviria  Female  ...
                            481             Maoko    Chrispen    male  ...
                            486           Maponde      Kelvin    male  ...
                            490         Masharata   Rumbidzai  Female  ...
                            491           Masodzi      Esther  Female  ...
                            505           Mugen'e      Ronica  Female  ...
                            507          Muhemela    Tayengwa    male  ...
                            511          Munatsi       Esldah  Female  ...
                            581  (Kagoro) Murinda      Marcia  Female  ...
                            523       Mutambanuki       Ennia  Female  ...
                            529        Mutungwazi      Winnie  Female  ...
                            534     Mwananganidza      Lister  Female  ...
                            538            Nhenge       Clara  Female  ...
                            544           Nyamuva        Anna  Female  ...
                            545           Nyatito   Elizabeth  Female  ...
                            546           Nyazira        Anna  Female  ...
                            551           Rufasha      Shylet  Female  ...
                            562           Simango        Rose  Female  ...
                            563            Sinawa     Francis    Male  ...
                            568            Tekere       Marry  Female  ...
                            569             Tembo       Susan  Female  ...
                            572            Wilson    Glosense    male  ...
                            573              Zhou   Shingaira  Female  ...
                            394        Chekacheke    Theodora  Female  ...
                            440        Karumekayi      Rachel  Female  ...
                            584          Mushakwe      Selina  female  ...
                            128            Mwinde       Pound    male  ...
                            129          Mumpande      John S    male  ...
                            298            Mutale   Luzondani  female  ...
                            310           Sibanda      Vailet  female  ...
                            311           Mudimba       Susan  female  ...
                            347          Siankali       Nolia  female  ...
                            359            Mwembe      Jairos  female  ...
                            365           Mudenda      Molina  female  ...
                            369           Mugande    Harrison    male  ...
                            381            Muleya       Julia  female  ...
                            646            Mwinde       Benny    male  ...

                                date_contracted date_dropped_out  \
OG_Info_reserve__OGOrg_1_df 43       2012-12-06              NaT
                            53       2012-12-06              NaT
                            189      2015-08-17              NaT
                            266      2012-08-10       2018-10-18
                            206      2015-08-17              NaT
                            580      2017-08-31       2017-12-04
                            582      2017-08-31       2017-12-04
                            447      2017-08-31       2017-12-04
                            454      2017-08-31       2017-10-19
                            462      2017-08-31       2017-12-04
                            469      2017-08-31       2017-12-04
                            474      2017-08-31       2017-12-04
                            475      2017-08-31       2017-12-04
                            481      2017-08-31       2018-11-12
                            486      2017-08-31       2018-10-18
                            490      2017-08-31       2017-12-04
                            491      2017-08-31       2017-12-04
                            505      2017-08-31       2017-12-04
                            507      2017-08-31       2017-12-04
                            511      2017-08-31       2018-11-12
                            581      2017-08-31       2018-11-12
                            523      2017-08-31       2018-11-12
                            529      2017-08-31       2018-11-12
                            534      2017-08-31       2017-12-04
                            538      2017-08-31       2017-12-04
                            544      2017-08-31       2017-11-11
                            545      2017-08-31       2017-12-04
                            546      2017-08-31       2018-11-12
                            551      2017-08-31       2017-12-04
                            562      2017-08-31       2017-12-04
                            563      2017-08-31       2018-11-12
                            568      2017-08-31       2017-11-11
                            569      2017-08-31       2017-12-04
                            572      2017-08-31       2017-12-04
                            573      2017-08-31       2018-11-12
                            394      2017-08-31       2017-12-04
                            440      2017-08-31       2018-11-12
                            584      2017-08-31       2017-12-04
                            128      2018-08-31       2018-11-14
                            129      2018-08-31       2018-11-14
                            298      2018-08-31       2019-01-09
                            310      2018-08-31       2019-01-09
                            311      2018-08-31       2019-01-09
                            347      2018-08-31       2018-11-14
                            359      2018-08-31       2018-11-14
                            365      2018-08-31       2018-11-16
                            369      2018-08-31       2018-11-14
                            381      2018-08-31       2018-10-14
                            646      2018-10-04       2019-01-09

                                         reason_dropped_out  \
OG_Info_reserve__OGOrg_1_df 43                         None
                            53                         None
                            189                        None
                            266               Not inspected
                            206                        None
                            580    Not externally inspected
                            582    Not externally inspected
                            447    Not externally inspected
                            454                   High risk
                            462    Not externally inspected
                            469    Not externally inspected
                            474    Not externally inspected
                            475    Not externally inspected
                            481               Not inspected
                            486               Not inspected
                            490    Not externally inspected
                            491    Not externally inspected
                            505    Not externally inspected
                            507    Not externally inspected
                            511    Insufficient buffer zone
                            581    Insufficient buffer zone
                            523    Insufficient buffer zone
                            529    Insufficient buffer zone
                            534    Not externally inspected
                            538    Not externally inspected
                            544               Not inspected
                            545    Not externally inspected
                            546    Insufficient buffer zone
                            551    Not externally inspected
                            562    Not externally inspected
                            563    Insufficient buffer zone
                            568               Not inspected
                            569    Not externally inspected
                            572    Not externally inspected
                            573               Not inspected
                            394    Not externally inspected
                            440    Insufficient buffer zone
                            584    Not externally inspected
                            128  Insufficient documentation
                            129  Insufficient documentation
                            298    Not externally inspected
                            310    Not externally inspected
                            311    Not externally inspected
                            347  Insufficient documentation
                            359  Insufficient documentation
                            365  Insufficient documentation
                            369  Insufficient documentation
                            381  Insufficient documentation
                            646    Not externally inspected

                                                                 address  \
OG_Info_reserve__OGOrg_1_df 43        Nsenga Primary School Box 46 Binga
                            53        Nsenga Primary School Box 46 Binga
                            189                     Manseme School Binga
                            266      Chirimutsitu School Bag 8147 Rusape
                            206                     Manseme School Binga
                            580   Dope Secondary School Box 8060, Rusape
                            582   Dope Secondary School Box 8060, Rusape
                            447   Dope Secondary School Box 8060, Rusape
                            454  Chirimutsitu Primary P Bag 8147, Rusape
                            462  Chirimutsitu Primary P Bag 8147, Rusape
                            469  Chirimutsitu Primary P Bag 8147, Rusape
                            474  Chirimutsitu Primary P Bag 8147, Rusape
                            475  Chirimutsitu Primary P Bag 8147, Rusape
                            481  Chirimutsitu Primary P Bag 8147, Rusape
                            486  Chirimutsitu Primary P Bag 8147, Rusape
                            490  Chirimutsitu Primary P Bag 8147, Rusape
                            491   Dope Secondary School Box 8060, Rusape
                            505   Dope Secondary School Box 8060, Rusape
                            507  Chirimutsitu Primary P Bag 8147, Rusape
                            511  Chirimutsitu Primary P Bag 8147, Rusape
                            581  Chirimutsitu Primary P Bag 8147, Rusape
                            523  Chirimutsitu Primary P Bag 8147, Rusape
                            529  Chirimutsitu Primary P Bag 8147, Rusape
                            534   Dope Secondary School Box 8060, Rusape
                            538   Dope Secondary School Box 8060, Rusape
                            544  Chirimutsitu Primary P Bag 8147, Rusape
                            545   Dope Secondary School Box 8060, Rusape
                            546  Chirimutsitu Primary P Bag 8147, Rusape
                            551   Dope Secondary School Box 8060, Rusape
                            562  Chirimutsitu Primary P Bag 8147, Rusape
                            563  Chirimutsitu Primary P Bag 8147, Rusape
                            568  Chirimutsitu Primary P Bag 8147, Rusape
                            569  Chirimutsitu Primary P Bag 8147, Rusape
                            572  Chirimutsitu Primary P Bag 8147, Rusape
                            573   Dope Secondary School Box 8060, Rusape

In [2914]:
ls_dup_og_nr= list(df_dup['og_nr'])

In [2915]:
for ognr in ls_dup_og_nr:
    print(concated_farmers[concated_farmers['og_nr'] == ognr])

# duplicates trough OG_Info__OGOrg_1_df und OG_Info_reserve__OGOrg_1_df -> DROP duplicates in allfarmers

                                id   og_nr og_code     production_unit   area  \
OG_Info__OGOrg_1_df         54  47  2869.0    BNOG  Matabeleland North  Binga
OG_Info_reserve__OGOrg_1_df 43  47  2869.0    BNOG  Matabeleland North  Binga

                               ward_nr/name  species   surname first_names  \
OG_Info__OGOrg_1_df         54   5 Sinakoma  Rosella  Muchimba      Magret
OG_Info_reserve__OGOrg_1_df 43   5 Sinakoma  Rosella  Muchimba      Magret

                                   sex  ... date_contracted date_dropped_out  \
OG_Info__OGOrg_1_df         54  female  ...      2012-12-06              NaT
OG_Info_reserve__OGOrg_1_df 43  female  ...      2012-12-06              NaT

                               reason_dropped_out  \
OG_Info__OGOrg_1_df         54               None
OG_Info_reserve__OGOrg_1_df 43               None

                                                           address  \
OG_Info__OGOrg_1_df         54  Nsenga Primary School Box 46 Binga
OG_Info_reserve__OGOrg_1_df 43  Nsenga Primary School Box 46 Binga

                               organic_status organic_status_from_date  \
OG_Info__OGOrg_1_df         54            Org               2016-10-25
OG_Info_reserve__OGOrg_1_df 43            Org               2016-10-25

                               fairtrade ward_nr  wc_nr  wc_code
OG_Info__OGOrg_1_df         54      True     5.0    NaN      NaN
OG_Info_reserve__OGOrg_1_df 43      True     5.0    NaN      NaN

[2 rows x 22 columns]
                                id   og_nr og_code     production_unit   area  \
OG_Info__OGOrg_1_df         70  57  2896.0    BNOG  Matabeleland North  Binga
OG_Info_reserve__OGOrg_1_df 53  57  2896.0    BNOG  Matabeleland North  Binga

                               ward_nr/name  species  surname first_names  \
OG_Info__OGOrg_1_df         70   5 Sinakoma  Rosella  Munkuli       Betty
OG_Info_reserve__OGOrg_1_df 53   5 Sinakoma  Rosella  Munkuli       Betty

                                   sex  ... date_contracted date_dropped_out  \
OG_Info__OGOrg_1_df         70  female  ...      2012-12-06              NaT
OG_Info_reserve__OGOrg_1_df 53  female  ...      2012-12-06              NaT

                               reason_dropped_out  \
OG_Info__OGOrg_1_df         70               None
OG_Info_reserve__OGOrg_1_df 53               None

                                                           address  \
OG_Info__OGOrg_1_df         70  Nsenga Primary School Box 46 Binga
OG_Info_reserve__OGOrg_1_df 53  Nsenga Primary School Box 46 Binga

                               organic_status organic_status_from_date  \
OG_Info__OGOrg_1_df         70            Org               2016-10-25
OG_Info_reserve__OGOrg_1_df 53            Org               2016-10-25

                               fairtrade ward_nr  wc_nr  wc_code
OG_Info__OGOrg_1_df         70      True     5.0    NaN      NaN
OG_Info_reserve__OGOrg_1_df 53      True     5.0    NaN      NaN

[2 rows x 22 columns]
                                  id   og_nr og_code     production_unit  \
OG_Info__OGOrg_1_df         196  133  3788.0    BNOG  Matabeleland North
OG_Info_reserve__OGOrg_1_df 189  133  3788.0    BNOG  Matabeleland North

                                  area  ward_nr/name  species   surname  \
OG_Info__OGOrg_1_df         196  Binga  15 Kariangwe  Rosella  Mumpande
OG_Info_reserve__OGOrg_1_df 189  Binga  15 Kariangwe  Rosella  Mumpande

                                first_names     sex  ... date_contracted  \
OG_Info__OGOrg_1_df         196       Julia  female  ...      2015-08-17
OG_Info_reserve__OGOrg_1_df 189       Julia  female  ...      2015-08-17

                                date_dropped_out reason_dropped_out  \
OG_Info__OGOrg_1_df         196              NaT               None
OG_Info_reserve__OGOrg_1_df 189              NaT               None

                                              address organic_status  \
OG_Info__OGOrg_1_df         196  Manseme School Binga            Org
OG_Info_reserve__OGOrg_1_df 189  Manseme School Binga            Org

                                organic_status_from_date fairtrade ward_nr  \
OG_Info__OGOrg_1_df         196               2016-10-25      True    15.0
OG_Info_reserve__OGOrg_1_df 189               2016-10-25      True    15.0

                                 wc_nr  wc_code
OG_Info__OGOrg_1_df         196    NaN      NaN
OG_Info_reserve__OGOrg_1_df 189    NaN      NaN

[2 rows x 22 columns]
                                  id    og_nr og_code production_unit    area  \
OG_Info__OGOrg_1_df         276  275  12265.0    MAOG      Manicaland  Makoni
OG_Info_reserve__OGOrg_1_df 266  275  12265.0    MAOG      Manicaland  Makoni

                                ward_nr/name          species surname  \
OG_Info__OGOrg_1_df         276           17  Chilli, Paprika  Mukoyi
OG_Info_reserve__OGOrg_1_df 266           17  Chilli, Paprika  Mukoyi

                                first_names   sex  ... date_contracted  \
OG_Info__OGOrg_1_df         276       James  male  ...      2012-08-10
OG_Info_reserve__OGOrg_1_df 266       James  male  ...      2012-08-10

                                date_dropped_out reason_dropped_out  \
OG_Info__OGOrg_1_df         276       2018-10-18      Not inspected
OG_Info_reserve__OGOrg_1_df 266       2018-10-18      Not inspected

                                                             address  \
OG_Info__OGOrg_1_df         276  Chirimutsitu School Bag 8147 Rusape
OG_Info_reserve__OGOrg_1_df 266  Chirimutsitu School Bag 8147 Rusape

                                organic_status organic_status_from_date  \
OG_Info__OGOrg_1_df         276        Dropout               2016-03-30
OG_Info_reserve__OGOrg_1_df 266        Dropout               2016-03-30

                                fairtrade ward_nr  wc_nr  wc_code
OG_Info__OGOrg_1_df         276      True    17.0    NaN      NaN
OG_Info_reserve__OGOrg_1_df 266      True    17.0    NaN      NaN

[2 rows x 22 columns]
                                  id   og_nr og_code     production_unit  \
OG_Info__OGOrg_1_df         220  315  5153.0    BNOG  Matabeleland North
OG_Info_reserve__OGOrg_1_df 206  315  5153.0    BNOG  Matabeleland North

                                  area  ward_nr/name  species surname  \
OG_Info__OGOrg_1_df         220  Binga  15 Kariangwe  Rosella  Mwembe
OG_Info_reserve__OGOrg_1_df 206  Binga  15 Kariangwe  Rosella  Mwembe

                                first_names     sex  ... date_contracted  \
OG_Info__OGOrg_1_df         220      Esnath  female  ...      2015-08-17
OG_Info_reserve__OGOrg_1_df 206      Esnath  female  ...      2015-08-17

                                date_dropped_out reason_dropped_out  \
OG_Info__OGOrg_1_df         220              NaT               None
OG_Info_reserve__OGOrg_1_df 206              NaT               None

                                              address organic_status  \
OG_Info__OGOrg_1_df         220  Manseme School Binga            Org
OG_Info_reserve__OGOrg_1_df 206  Manseme School Binga            Org

                                organic_status_from_date fairtrade ward_nr  \
OG_Info__OGOrg_1_df         220               2015-11-17      True    15.0
OG_Info_reserve__OGOrg_1_df 206               2015-11-17      True    15.0

                                 wc_nr  wc_code
OG_Info__OGOrg_1_df         220    NaN      NaN
OG_Info_reserve__OGOrg_1_df 206    NaN      NaN

[2 rows x 22 columns]
                                   id    og_nr og_code production_unit  \
OG_Info__OGOrg_1_df         631  1041  16270.0    MAOG      Manicaland
OG_Info_reserve__OGOrg_1_df 580  1041  16270.0    MAOG      Manicaland

                                   area ward_nr/name  species  surname  \
OG_Info__OGOrg_1_df         631  Makoni           23  Paprika  Kabanda
OG_Info_reserve__OGOrg_1_df 580  Makoni           23  Paprika  Kabanda

                                first_names     sex  ... date_contracted  \
OG_Info__OGOrg_1_df         631    Loveness  Female  ...      2017-08-31
OG_Info_reserve__OGOrg_1_df 580    Loveness  Female  ...      2017-08-31

                                date_dropped_out        reason_dropped_out  \
OG_Info__OGOrg_1_df         631       2017-12-04  Not externally inspected
OG_Info_reserve__OGOrg_1_df 580       2017-12-04  Not externally inspected

                                                                address  \
OG_Info__OGOrg_1_df         631  Dope Secondary School Box 8060, Rusape
OG_Info_reserve__OGOrg_1_df 580  Dope Secondary School Box 8060, Rusape

                                organic_status organic_status_from_date  \
OG_Info__OGOrg_1_df         631        Dropout               2017-08-31
OG_Info_reserve__OGOrg_1_df 580        Dropout               2017-08-31

                                fairtrade ward_nr  wc_nr  wc_code
OG_Info__OGOrg_1_df         631     False    23.0    NaN      NaN
OG_Info_reserve__OGOrg_1_df 580     False    23.0    NaN      NaN

[2 rows x 22 columns]
                                   id    og_nr og_code production_unit  \
OG_Info__OGOrg_1_df         633  1046  16272.0    MAOG      Manicaland
OG_Info_reserve__OGOrg_1_df 582  1046  16272.0    MAOG      Manicaland

                                   area ward_nr/name  species   surname  \
OG_Info__OGOrg_1_df         633  Makoni           23  Paprika  Kamusasa
OG_Info_reserve__OGOrg_1_df 582  Makoni           23  Paprika  Kamusasa

                                first_names     sex  ... date_contracted  \
OG_Info__OGOrg_1_df         633       Susan  Female  ...      2017-08-31
OG_Info_reserve__OGOrg_1_df 582       Susan  Female  ...      2017-08-31

                                date_dropped_out        reason_dropped_out  \
OG_Info__OGOrg_1_df         633       2017-12-04  Not externally inspected
OG_Info_reserve__OGOrg_1_df 582       2017-12-04  Not externally inspected

                                                                address  \
OG_Info__OGOrg_1_df         633  Dope Secondary School Box 8060, Rusape
OG_Info_reserve__OGOrg_1_df 582  Dope Secondary School Box 8060, Rusape

                                organic_status organic_status_from_date  \
OG_Info__OGOrg_1_df         633        Dropout               2017-08-31
OG_Info_reserve__OGOrg_1_df 582        Dropout               2017-08-31

                                fairtrade ward_nr  wc_nr  wc_code
OG_Info__OGOrg_1_df         633     False    23.0    NaN      NaN
OG_Info_reserve__OGOrg_1_df 582     False    23.0    NaN      NaN

[2 rows x 22 columns]
                                   id    og_nr og_code production_unit  \
OG_Info__OGOrg_1_df         499  1055  16130.0    MAOG      Manicaland
OG_Info_reserve__OGOrg_1_df 447  1055  16130.0    MAOG      Manicaland

                                   area ward_nr/name  species  surname  \
OG_Info__OGOrg_1_df         499  Makoni           23  Paprika  Mabhutu
OG_Info_reserve__OGOrg_1_df 447  Makoni           23  Paprika  Mabhutu

                                first_names   sex  ... date_contracted  \
OG_Info__OGOrg_1_df         499        Gift  male  ...      2017-08-31
OG_Info_reserve__OGOrg_1_df 447        Gift  male  ...      2017-08-31

                                date_dropped_out        reason_dropped_out  \
OG_Info__OGOrg_1_df         499       2017-12-04  Not externally inspected
OG_Info_reserve__OGOrg_1_df 447       2017-12-04  Not externally inspected

                                                                address  \
OG_Info__OGOrg_1_df         499  Dope Secondary School Box 8060, Rusape
OG_Info_reserve__OGOrg_1_df 447  Dope Secondary School Box 8060, Rusape

                                organic_status organic_status_from_date  \
OG_Info__OGOrg_1_df         499        Dropout               2017-08-31
OG_Info_reserve__OGOrg_1_df 447        Dropout               2017-08-31

                                fairtrade ward_nr  wc_nr  wc_code
OG_Info__OGOrg_1_df         499     False    23.0    NaN      NaN
OG_Info_reserve__OGOrg_1_df 447     False    23.0    NaN      NaN

[2 rows x 22 columns]
                                   id    og_nr og_code production_unit  \
OG_Info__OGOrg_1_df         505  1063  16138.0    MAOG      Manicaland
OG_Info_reserve__OGOrg_1_df 454  1063  16138.0    MAOG      Manicaland

                                   area ward_nr/name  species   surname  \
OG_Info__OGOrg_1_df         505  Makoni           21  Chillie  Magondwa
OG_Info_reserve__OGOrg_1_df 454  Makoni           21  Chillie  Magondwa

                                first_names     sex  ... date_contracted  \
OG_Info__OGOrg_1_df         505    Patience  Female  ...      2017-08-31
OG_Info_reserve__OGOrg_1_df 454    Patience  Female  ...      2017-08-31

                                date_dropped_out reason_dropped_out  \
OG_Info__OGOrg_1_df         505       2017-10-19          High risk
OG_Info_reserve__OGOrg_1_df 454       2017-10-19          High risk

                                                                 address  \
OG_Info__OGOrg_1_df         505  Chirimutsitu Primary P Bag 8147, Rusape
OG_Info_reserve__OGOrg_1_df 454  Chirimutsitu Primary P Bag 8147, Rusape

                                organic_status organic_status_from_date  \
OG_Info__OGOrg_1_df         505        Dropout               2017-10-19
OG_Info_reserve__OGOrg_1_df 454        Dropout               2017-10-19

                                fairtrade ward_nr  wc_nr  wc_code
OG_Info__OGOrg_1_df         505     False    21.0    NaN      NaN
OG_Info_reserve__OGOrg_1_df 454     False    21.0    NaN      NaN

[2 rows x 22 columns]
                                   id    og_nr og_code production_unit  \
OG_Info__OGOrg_1_df         513  1071  16146.0    MAOG      Manicaland
OG_Info_reserve__OGOrg_1_df 462  1071  16146.0    MAOG      Manicaland

                                   area ward_nr/name  species  surname  \
OG_Info__OGOrg_1_df         513  Makoni           21  Chillie  Makonde
OG_Info_reserve__OGOrg_1_df 462  Makoni           21  Chillie  Makonde

                                first_names     sex  ... date_contracted  \
OG_Info__OGOrg_1_df         513      Esther  Female  ...      2017-08-31
OG_Info_reserve__OGOrg_1_df 462      Esther  Female  ...      2017-08-31

                                date_dropped_out        reason_dropped_out  \
OG_Info__OGOrg_1_df         513       2017-12-04  Not externally inspected
OG_Info_reserve__OGOrg_1_df 462       2017-12-04  Not externally inspected

                                                                 address  \
OG_Info__OGOrg_1_df         513  Chirimutsitu Primary P Bag 8147, Rusape
OG_Info_reserve__OGOrg_1_df 462  Chirimutsitu Primary P Bag 8147, Rusape

                                organic_status organic_status_from_date  \
OG_Info__OGOrg_1_df         513        Dropout               2017-10-25
OG_Info_reserve__OGOrg_1_df 462        Dropout               2017-10-25

                                fairtrade ward_nr  wc_nr  wc_code
OG_Info__OGOrg_1_df         513     False    21.0    NaN      NaN
OG_Info_reserve__OGOrg_1_df 462     False    21.0    NaN      NaN

[2 rows x 22 columns]
                                   id    og_nr og_code production_unit  \
OG_Info__OGOrg_1_df         519  1078  16153.0    MAOG      Manicaland
OG_Info_reserve__OGOrg_1_df 469  1078  16153.0    MAOG      Manicaland

                                   area ward_nr/name  species      surname  \
OG_Info__OGOrg_1_df         519  Makoni           18  Chillie  Makurumidze
OG_Info_reserve__OGOrg_1_df 469  Makoni           18  Chillie  Makurumidze

                                first_names     sex  ... date_contracted  \
OG_Info__OGOrg_1_df         519     Cecelia  Female  ...      2017-08-31
OG_Info_reserve__OGOrg_1_df 469     Cecelia  Female  ...      2017-08-31

                                date_dropped_out        reason_dropped_out  \
OG_Info__OGOrg_1_df         519       2017-12-04  Not externally inspected
OG_Info_reserve__OGOrg_1_df 469       2017-12-04  Not externally inspected

                                                                 address  \
OG_Info__OGOrg_1_df         519  Chirimutsitu Primary P Bag 8147, Rusape
OG_Info_reserve__OGOrg_1_df 469  Chirimutsitu Primary P Bag 8147, Rusape

                                organic_status organic_status_from_date  \
OG_Info__OGOrg_1_df         519        Dropout               2017-08-31
OG_Info_reserve__OGOrg_1_df 469        Dropout               2017-08-31

                                fairtrade ward_nr  wc_nr  wc_code
OG_Info__OGOrg_1_df         519     False    18.0    NaN      NaN
OG_Info_reserve__OGOrg_1_df 469     False    18.0    NaN      NaN

[2 rows x 22 columns]
                                   id    og_nr og_code production_unit  \
OG_Info__OGOrg_1_df         524  1083  16158.0    MAOG      Manicaland
OG_Info_reserve__OGOrg_1_df 474  1083  16158.0    MAOG      Manicaland

                                   area ward_nr/name  species  surname  \
OG_Info__OGOrg_1_df         524  Makoni           21  Chillie  Mandeya
OG_Info_reserve__OGOrg_1_df 474  Makoni           21  Chillie  Mandeya

                                first_names     sex  ... date_contracted  \
OG_Info__OGOrg_1_df         524       Sarah  Female  ...      2017-08-31
OG_Info_reserve__OGOrg_1_df 474       Sarah  Female  ...      2017-08-31

                                date_dropped_out        reason_dropped_out  \
OG_Info__OGOrg_1_df         524       2017-12-04  Not externally inspected
OG_Info_reserve__OGOrg_1_df 474       2017-12-04  Not externally inspected

                                                                 address  \
OG_Info__OGOrg_1_df         524  Chirimutsitu Primary P Bag 8147, Rusape
OG_Info_reserve__OGOrg_1_df 474  Chirimutsitu Primary P Bag 8147, Rusape

                                organic_status organic_status_from_date  \
OG_Info__OGOrg_1_df         524        Dropout               2017-08-31
OG_Info_reserve__OGOrg_1_df 474        Dropout               2017-08-31

                                fairtrade ward_nr  wc_nr  wc_code
OG_Info__OGOrg_1_df         524     False    21.0    NaN      NaN
OG_Info_reserve__OGOrg_1_df 474     False    21.0    NaN      NaN

[2 rows x 22 columns]
                                   id    og_nr og_code production_unit  \
OG_Info__OGOrg_1_df         525  1084  16159.0    MAOG      Manicaland
OG_Info_reserve__OGOrg_1_df 475  1084  16159.0    MAOG      Manicaland

                                   area ward_nr/name  species  surname  \
OG_Info__OGOrg_1_df         525  Makoni           18  Chillie  Mandipo
OG_Info_reserve__OGOrg_1_df 475  Makoni           18  Chillie  Mandipo

                                first_names     sex  ... date_contracted  \
OG_Info__OGOrg_1_df         525     Seviria  Female  ...      2017-08-31
OG_Info_reserve__OGOrg_1_df 475     Seviria  Female  ...      2017-08-31

                                date_dropped_out        reason_dropped_out  \
OG_Info__OGOrg_1_df         525       2017-12-04  Not externally inspected
OG_Info_reserve__OGOrg_1_df 475       2017-12-04  Not externally inspected

                                                                 address  \
OG_Info__OGOrg_1_df         525  Chirimutsitu Primary P Bag 8147, Rusape
OG_Info_reserve__OGOrg_1_df 475  Chirimutsitu Primary P Bag 8147, Rusape

                                organic_status organic_status_from_date  \
OG_Info__OGOrg_1_df         525        Dropout               2017-08-31
OG_Info_reserve__OGOrg_1_df 475        Dropout               2017-08-31

                                fairtrade ward_nr  wc_nr  wc_code
OG_Info__OGOrg_1_df         525     False    18.0    NaN      NaN
OG_Info_reserve__OGOrg_1_df 475     False    18.0    NaN      NaN

[2 rows x 22 columns]
                                   id    og_nr og_code production_unit  \

In [2916]:
# Droping duplicates
concated_farmers.drop_duplicates(subset=None, keep='first', inplace=True)

In [2917]:
concated_farmers.duplicated().value_counts()

False    21832
dtype: int64

### Dropping duplicates of wc_nr

In [2918]:
# 11517 wc_nr
wc_nr_df = concated_farmers[~concated_farmers['wc_nr'].isna()][['wc_nr']]
wc_nr_df

                           wc_nr
wc_info_bayoba_1_df 0    21146.0
                    1    21833.0
                    2    21147.0
                    3    22986.0
                    4    21148.0
...                          ...
wc_info__WCOrg_1_df 560   1057.0
                    561  21040.0
                    562   2555.0
                    563   2066.0
                    564   1069.0

[11517 rows x 1 columns]

#### wc_nr is unique!

In [2919]:
wc_nr_df.squeeze().is_unique

True

In [2920]:
# 21868 rows have og_nr or wc_nr!
concated_farmers[~concated_farmers['og_nr'].isna() | ~concated_farmers['wc_nr'].isna()].shape

(21832, 22)

In [2921]:
wc_df = concated_farmers[~concated_farmers['wc_nr'].isna()]

In [2922]:
wc_df.shape

(11517, 22)

### Dropping duplicates of og_nr

In [2923]:
# 10351 
og_nr_df = concated_farmers[~concated_farmers['og_nr'].isna()][['og_nr', 'date_contracted']]
og_nr_df

/opt/homebrew/Caskroom/miniconda/base/envs/nf_sql/lib/python3.9/site-packages/IPython/core/displayhook.py:281: UserWarning: Output cache limit (currently 1000 entries) hit.
Flushing oldest 200 entries.
  warn('Output cache limit (currently {sz} entries) hit.\n'

                                   og_nr date_contracted
OGInfo__OGMB_1_df           0    13137.0             NaT
                            1    12116.0      2022-04-02
                            2    23949.0      2020-03-23
                            3    23950.0      2020-03-23
                            4    23951.0      2020-03-23
...                                  ...             ...
OG_Info_reserve__OGOrg_1_df 790  20026.0      2022-06-11
                            791  20027.0      2022-06-11
                            792  20028.0      2022-06-11
                            793  14001.0      2022-06-11
                            794  14067.0      2022-06-11

[10315 rows x 2 columns]

In [2924]:
# og_nr NOT unique
og_nr_df['og_nr'].squeeze().is_unique

False

In [2925]:
concated_farmers[~concated_farmers['og_nr'].isna()]['og_nr'].duplicated(keep='first').value_counts()

False    9093
True     1222
Name: og_nr, dtype: int64

In [2926]:
concated_farmers['og_nr'].duplicated(keep='first').value_counts()

True     12738
False     9094
Name: og_nr, dtype: int64

In [2927]:
concated_farmers[~concated_farmers['og_nr'].isna()].shape

(10315, 22)

In [2928]:
concated_farmers.sort_values('date_contracted', ascending=False, inplace=True)

In [2929]:
concated_farmers[concated_farmers['og_nr'] == 20028.0][['og_nr', 'date_contracted']]

                                    og_nr date_contracted
OG_Info_reserve__OGOrg_1_df 792   20028.0      2022-06-11
OGInfo__OGMB_1_df           5506  20028.0      2019-02-01
OG_Info__OGOrg_1_df         958   20028.0      2019-02-01

In [2930]:
#concated_farmers[concated_farmers['og_nr'].isna()]

In [2931]:
df = concated_farmers.copy()
df.shape

(21832, 22)

In [2932]:
df = df[~df['og_nr'].isna()]

In [2933]:
df.shape

(10315, 22)

In [2934]:
df = df[~df['og_nr'].isna()].drop_duplicates('og_nr', keep='first')

In [2935]:
df.shape

(9093, 22)

In [2936]:
21868-(10351-9093)

20610

In [2937]:
df[df['og_nr'] == 20028.0]

,,id,og_nr,og_code,production_unit,area,ward_nr/name,species,surname,first_names,sex,...,date_contracted,date_dropped_out,reason_dropped_out,address,organic_status,organic_status_from_date,fairtrade,ward_nr,wc_nr,wc_code
OG_Info_reserve__OGOrg_1_df,792,3551,20028.0,MUOG,Mashonaland Central,Mushumbi,3,"Rosella, Chilli, Paprika",Masodzi,Norah,female,...,2022-06-11,NaT,None,"ARDA Mushumbi, Box 210, Mbire",New,2019-02-01,False,3.0,NaN,NaN

#### Now og_nr is unique!

In [2938]:
og_not_na_df = df[~df['og_nr'].isna()]
og_not_na_df['og_nr'].squeeze().is_unique

True

In [2939]:
wc_og_df = pd.concat([df, wc_df])
wc_og_df.shape

(20610, 22)

In [2940]:
concated_farmers = wc_og_df.copy()

In [2941]:
concated_farmers[concated_farmers['og_nr'] == 20028.0][['og_nr', 'date_contracted']]

                                   og_nr date_contracted
OG_Info_reserve__OGOrg_1_df 792  20028.0      2022-06-11

In [2942]:
concated_farmers['og_nr'].duplicated().value_counts()

True     11516
False     9094
Name: og_nr, dtype: int64

In [2943]:
concated_farmers.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 20610 entries, ('OG_Info__OGOrg_1_df', 1273) to ('wc_info__WCOrg_1_df', 564)
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        20610 non-null  int64
 1   og_nr                     9093 non-null   float64
 2   og_code                   9093 non-null   object
 3   production_unit           20610 non-null  object
 4   area                      20610 non-null  object
 5   ward_nr/name              20190 non-null  object
 6   species                   20610 non-null  object
 7   surname                   20608 non-null  object
 8   first_names               20606 non-null  object
 9   sex                       20610 non-null  object
 10  id_number                 18658 non-null  object
 11  date_of_birth             2551 non-null   datetime64[ns]
 12  date_contracted           20600 non-null  datetime64[ns]
 13  date_dropped_out          9295 non-null   datetime64[ns]
 14  reason_dropped_out        7627 non-null   object
 15  address                   20136 non-null  object
 16  organic_status            20609 non-null  object
 17  organic_status_from_date  16507 non-null  object
 18  fairtrade                 20610 non-null  bool
 19  ward_nr                   20190 non-null  float64
 20  wc_nr                     11517 non-null  float64
 21  wc_code                   11517 non-null  object
dtypes: bool(1), datetime64[ns](3), float64(3), int64(1), object(14)
memory usage: 3.7+ MB

## Adding column contract duration

In [2944]:
# Sorting back with index
concated_farmers.sort_index()

                              id    og_nr og_code          production_unit  \
OGInfo__OGMB_1_df   0       1545  13137.0   MBOGR      Mashonaland Central
                    1      12026  12116.0   MBOGR      Mashonaland Central
                    2       9914  23949.0   MBOGK      Mashonaland Central
                    3       9915  23950.0   MBOGK      Mashonaland Central
                    4       9916  23951.0   MBOGK      Mashonaland Central
...                          ...      ...     ...                      ...
wc_info_bayoba_1_df 10947   1131      NaN     NaN     South Eastern region
                    10948   1134      NaN     NaN     South Eastern region
                    10949  32782      NaN     NaN  Northern Eastern region
                    10950  32783      NaN     NaN  Northern Eastern region
                    10951   4065      NaN     NaN  Northern Eastern region

                                  area ward_nr/name           species  \
OGInfo__OGMB_1_df   0            Mbire           15           Rosella
                    1            Mbire            6           Rosella
                    2            Mbire           13           Rosella
                    3            Mbire           13           Rosella
                    4            Mbire           13           Rosella
...                                ...          ...               ...
wc_info_bayoba_1_df 10947  Chimanimani            5            Baobab
                    10948  Chimanimani            5            Baobab
                    10949    Mt Darwin         None  Baobab + ximenia
                    10950    Mt Darwin         None  Baobab + ximenia
                    10951        Mudzi         None  Baobab + ximenia

                                surname first_names     sex  ...  \
OGInfo__OGMB_1_df   0         Nyamayaro     Phillip    male  ...
                    1             Funda      Jennie  female  ...
                    2         Chingwena      Gladys  female  ...
                    3           Marumbe      Tariro  female  ...
                    4          Dambudzo       Ketai  female  ...
...                                 ...         ...     ...  ...
wc_info_bayoba_1_df 10947        Mugebe     Tradder    male  ...
                    10948       Chibuwe      Silvia  female  ...
                    10949       Nyatito       Lucia  female  ...
                    10950  Kanocheringa       Abgal  female  ...
                    10951      Nyamauta     Locadia  female  ...

                          date_contracted date_dropped_out  \
OGInfo__OGMB_1_df   0                 NaT       2020-02-05
                    1          2022-04-02              NaT
                    2          2020-03-23       2021-07-26
                    3          2020-03-23       2021-07-26
                    4          2020-03-23       2021-07-26
...                                   ...              ...
wc_info_bayoba_1_df 10947      2012-06-26              NaT
                    10948      2012-06-26              NaT
                    10949      2022-08-30              NaT
                    10950      2022-08-30              NaT
                    10951      2014-08-04              NaT

                           reason_dropped_out  \
OGInfo__OGMB_1_df   0              Own choice
                    1                    None
                    2             Area closed
                    3             Area closed
                    4             Area closed
...                                       ...
wc_info_bayoba_1_df 10947                None
                    10948                None
                    10949                None
                    10950                None
                    10951  no production 2016

                                                              address  \
OGInfo__OGMB_1_df   0                     Mahuwe sch, Box 92, Mbire D
                    1                Kasuwo Primary School 346, Mbire
                    2                 Sapa Primary School P O Box 203
                    3                 Sapa Primary School P O Box 203
                    4                 Sapa Primary School P O Box 203
...                                                               ...
wc_info_bayoba_1_df 10947                                     Chibuwe
                    10948                                     Chibuwe
                    10949    Gungwe Primary School Bag 338, Mt Darwin
                    10950    Gungwe Primary School Bag 338, Mt Darwin
                    10951  Zambezi Primary School, Box70, Siyanzyundu

                          organic_status organic_status_from_date fairtrade  \
OGInfo__OGMB_1_df   0            Dropout  2017-12-02 00:00:00.000     False
                    1          Mabagrown  2022-04-02 00:00:00.000     False
                    2            Dropout  2020-03-23 00:00:00.000     False
                    3            Dropout  2020-03-23 00:00:00.000     False
                    4            Dropout  2020-03-23 00:00:00.000     False
...                                  ...                      ...       ...
wc_info_bayoba_1_df 10947            Org                     None     False
                    10948            Org                     None     False
                    10949            New               2022-08-30     False
                    10950            New               2022-08-30     False
                    10951            Org                     None     False

                          ward_nr    wc_nr  wc_code
OGInfo__OGMB_1_df   0        15.0      NaN      NaN
                    1         6.0      NaN      NaN
                    2        13.0      NaN      NaN
                    3        13.0      NaN      NaN
                    4        13.0      NaN      NaN
...                           ...      ...      ...
wc_info_bayoba_1_df 10947     5.0  21141.0     CMWC
                    10948     5.0  21144.0     CMWC
                    10949     NaN  16499.0     MTWC
                    10950     NaN  16500.0     MTWC
                    10951     NaN  40101.0     BNWC

[20610 rows x 22 columns]

In [2945]:
# 9289 row with date_contracted and date_dropped_out
concated_farmers[~concated_farmers['date_contracted'].isna() & ~concated_farmers['date_dropped_out'].isna()][['date_contracted','date_dropped_out']]

                                date_contracted date_dropped_out
OG_Info_reserve__OGOrg_1_df 14       2023-02-24       2019-01-09
                            7        2023-02-24       2018-11-15
                            533      2023-02-24       2018-01-15
                            413      2023-02-23       2017-12-04
                            746      2022-06-11       2019-01-09
...                                         ...              ...
wc_info__WCOrg_1_df         553      2018-10-20       2021-01-29
                            554      2018-10-20       2021-01-29
                            555      2018-10-20       2021-01-29
                            556      2018-10-20       2021-01-29
                            557      2018-10-20       2021-01-29

[9286 rows x 2 columns]

## Problem with negative duration, 'Cause date_contracted is overwritten with wrong date

In [2946]:
concated_farmers['contract_duration'] = concated_farmers['date_dropped_out'] - concated_farmers['date_contracted']
concated_farmers[~concated_farmers['contract_duration'].isna()][['og_nr','wc_nr','date_contracted','date_dropped_out','contract_duration']]

                                   og_nr   wc_nr date_contracted  \
OG_Info_reserve__OGOrg_1_df 14   19490.0     NaN      2023-02-24
                            7    19485.0     NaN      2023-02-24
                            533  16220.0     NaN      2023-02-24
                            413  16089.0     NaN      2023-02-23
                            746  19807.0     NaN      2022-06-11
...                                  ...     ...             ...
wc_info__WCOrg_1_df         553      NaN  4261.0      2018-10-20
                            554      NaN  4262.0      2018-10-20
                            555      NaN  4263.0      2018-10-20
                            556      NaN  4264.0      2018-10-20
                            557      NaN  4265.0      2018-10-20

                                date_dropped_out contract_duration
OG_Info_reserve__OGOrg_1_df 14        2019-01-09        -1507 days
                            7         2018-11-15        -1562 days
                            533       2018-01-15        -1866 days
                            413       2017-12-04        -1907 days
                            746       2019-01-09        -1249 days
...                                          ...               ...
wc_info__WCOrg_1_df         553       2021-01-29          832 days
                            554       2021-01-29          832 days
                            555       2021-01-29          832 days
                            556       2021-01-29          832 days
                            557       2021-01-29          832 days

[9286 rows x 5 columns]

In [2947]:
import numpy as np

def unique(list1):
    x = np.array(list1)
    print(np.unique(x))

In [2948]:
negative_duration = concated_farmers[concated_farmers['date_contracted'] > concated_farmers['date_dropped_out']][['og_nr','wc_nr','date_contracted','date_dropped_out']]
negative_duration

                                    og_nr   wc_nr date_contracted  \
OG_Info_reserve__OGOrg_1_df 14    19490.0     NaN      2023-02-24
                            7     19485.0     NaN      2023-02-24
                            533   16220.0     NaN      2023-02-24
                            413   16089.0     NaN      2023-02-23
                            746   19807.0     NaN      2022-06-11
                            761   19823.0     NaN      2022-06-10
OGInfo__OGMB_1_df           239   13190.0     NaN      2021-07-06
                            1383  14304.0     NaN      2018-11-15
OG_Info_reserve__OGOrg_1_df 711   12939.0     NaN      2018-10-05
                            712   16107.0     NaN      2018-10-05
                            710   12454.0     NaN      2018-10-04
                            707   12447.0     NaN      2018-10-04
                            382   16051.0     NaN      2018-08-31
                            386   16056.0     NaN      2018-08-31
                            156    3673.0     NaN      2018-08-31
                            136    2768.0     NaN      2018-08-31
                            218   10412.0     NaN      2018-08-31
                            385   16054.0     NaN      2018-08-31
                            383   16052.0     NaN      2018-08-31
                            387   16059.0     NaN      2018-08-31
                            437   16120.0     NaN      2018-08-31
                            388   16060.0     NaN      2018-08-31
                            434   16117.0     NaN      2018-08-31
                            433   16114.0     NaN      2018-08-31
                            432   16113.0     NaN      2018-08-31
                            431   16112.0     NaN      2018-08-31
                            429   16110.0     NaN      2018-08-31
                            428   16109.0     NaN      2018-08-31
                            424   16102.0     NaN      2018-08-31
                            404   16080.0     NaN      2018-08-31
                            403   16079.0     NaN      2018-08-31
                            401   16076.0     NaN      2018-08-31
                            398   16073.0     NaN      2018-08-31
                            395   16069.0     NaN      2018-08-31
                            389   16061.0     NaN      2018-08-31
                            406   16082.0     NaN      2018-08-31
                            415   16092.0     NaN      2018-08-31
                            421   16098.0     NaN      2018-08-31
                            409   16085.0     NaN      2018-08-31
                            410   16086.0     NaN      2018-08-31
                            412   16088.0     NaN      2018-08-31
                            419   16096.0     NaN      2018-08-31
                            417   16094.0     NaN      2018-08-31
OG_Info__OGOrg_1_df         756   19816.0     NaN      2018-08-10
wc_info__WCOrg_1_df         80        NaN  2101.0      2018-10-20

                                 date_dropped_out
OG_Info_reserve__OGOrg_1_df 14         2019-01-09
                            7          2018-11-15
                            533        2018-01-15
                            413        2017-12-04
                            746        2019-01-09
                            761        2019-01-09
OGInfo__OGMB_1_df           239        2020-03-19
                            1383       2002-05-06
OG_Info_reserve__OGOrg_1_df 711        2017-10-09
                            712        2018-01-15
                            710        2017-10-09
                            707        2017-10-09
                            382        2017-10-09
                            386        2018-01-15
                            156        2017-12-04
                            136        2017-10-09
                            218        2017-10-09
                            385        2017-12-04
                            383        2018-01-15
                            387        2017-10-19
                            437        2017-10-19
                            388        2018-01-15
                            434        2018-01-15
                            433        2018-01-15
                            432        2018-01-15
                            431        2017-12-04
                            429        2017-12-04
                            428        2017-12-04
                            424        2017-12-04
                            404        2018-01-15
                            403        2017-12-04
                            401        2017-12-04
                            398        2018-01-15
                            395        2017-12-04
                            389        2018-01-15
                            406        2017-12-04
                            415        2017-10-25
                            421        2017-12-04
                            409        2017-12-04
                            410        2017-12-04
                            412        2017-10-25
                            419        2018-01-15
                            417        2017-12-04
OG_Info__OGOrg_1_df         756        2018-01-09
wc_info__WCOrg_1_df         80         2016-07-11

In [2949]:
negative_duration[negative_duration['og_nr']==20110.0]

Empty DataFrame
Columns: [og_nr, wc_nr, date_contracted, date_dropped_out]
Index: []

In [2950]:
table_list = []
for i in range(len(negative_duration.index)):
    table_list.append(negative_duration.index[i][0])
unique(table_list)

['OGInfo__OGMB_1_df' 'OG_Info__OGOrg_1_df' 'OG_Info_reserve__OGOrg_1_df'
 'wc_info__WCOrg_1_df']

In [2951]:
concated_farmers['contract_duration'].mean()

Timedelta('622 days 08:52:40.370450136')

In [2952]:
concated_farmers[concated_farmers['contract_duration']< '0 days'][['og_nr','wc_nr','date_contracted','date_dropped_out','contract_duration']]

                                    og_nr   wc_nr date_contracted  \
OG_Info_reserve__OGOrg_1_df 14    19490.0     NaN      2023-02-24
                            7     19485.0     NaN      2023-02-24
                            533   16220.0     NaN      2023-02-24
                            413   16089.0     NaN      2023-02-23
                            746   19807.0     NaN      2022-06-11
                            761   19823.0     NaN      2022-06-10
OGInfo__OGMB_1_df           239   13190.0     NaN      2021-07-06
                            1383  14304.0     NaN      2018-11-15
OG_Info_reserve__OGOrg_1_df 711   12939.0     NaN      2018-10-05
                            712   16107.0     NaN      2018-10-05
                            710   12454.0     NaN      2018-10-04
                            707   12447.0     NaN      2018-10-04
                            382   16051.0     NaN      2018-08-31
                            386   16056.0     NaN      2018-08-31
                            156    3673.0     NaN      2018-08-31
                            136    2768.0     NaN      2018-08-31
                            218   10412.0     NaN      2018-08-31
                            385   16054.0     NaN      2018-08-31
                            383   16052.0     NaN      2018-08-31
                            387   16059.0     NaN      2018-08-31
                            437   16120.0     NaN      2018-08-31
                            388   16060.0     NaN      2018-08-31
                            434   16117.0     NaN      2018-08-31
                            433   16114.0     NaN      2018-08-31
                            432   16113.0     NaN      2018-08-31
                            431   16112.0     NaN      2018-08-31
                            429   16110.0     NaN      2018-08-31
                            428   16109.0     NaN      2018-08-31
                            424   16102.0     NaN      2018-08-31
                            404   16080.0     NaN      2018-08-31
                            403   16079.0     NaN      2018-08-31
                            401   16076.0     NaN      2018-08-31
                            398   16073.0     NaN      2018-08-31
                            395   16069.0     NaN      2018-08-31
                            389   16061.0     NaN      2018-08-31
                            406   16082.0     NaN      2018-08-31
                            415   16092.0     NaN      2018-08-31
                            421   16098.0     NaN      2018-08-31
                            409   16085.0     NaN      2018-08-31
                            410   16086.0     NaN      2018-08-31
                            412   16088.0     NaN      2018-08-31
                            419   16096.0     NaN      2018-08-31
                            417   16094.0     NaN      2018-08-31
OG_Info__OGOrg_1_df         756   19816.0     NaN      2018-08-10
wc_info__WCOrg_1_df         80        NaN  2101.0      2018-10-20

                                 date_dropped_out contract_duration
OG_Info_reserve__OGOrg_1_df 14         2019-01-09        -1507 days
                            7          2018-11-15        -1562 days
                            533        2018-01-15        -1866 days
                            413        2017-12-04        -1907 days
                            746        2019-01-09        -1249 days
                            761        2019-01-09        -1248 days
OGInfo__OGMB_1_df           239        2020-03-19         -474 days
                            1383       2002-05-06        -6037 days
OG_Info_reserve__OGOrg_1_df 711        2017-10-09         -361 days
                            712        2018-01-15         -263 days
                            710        2017-10-09         -360 days
                            707        2017-10-09         -360 days
                            382        2017-10-09         -326 days
                            386        2018-01-15         -228 days
                            156        2017-12-04         -270 days
                            136        2017-10-09         -326 days
                            218        2017-10-09         -326 days
                            385        2017-12-04         -270 days
                            383        2018-01-15         -228 days
                            387        2017-10-19         -316 days
                            437        2017-10-19         -316 days
                            388        2018-01-15         -228 days
                            434        2018-01-15         -228 days
                            433        2018-01-15         -228 days
                            432        2018-01-15         -228 days
                            431        2017-12-04         -270 days
                            429        2017-12-04         -270 days
                            428        2017-12-04         -270 days
                            424        2017-12-04         -270 days
                            404        2018-01-15         -228 days
                            403        2017-12-04         -270 days
                            401        2017-12-04         -270 days
                            398        2018-01-15         -228 days
                            395        2017-12-04         -270 days
                            389        2018-01-15         -228 days
                            406        2017-12-04         -270 days
                            415        2017-10-25         -310 days
                            421        2017-12-04         -270 days
                            409        2017-12-04         -270 days
                            410        2017-12-04         -270 days
                            412        2017-10-25         -310 days
                            419        2018-01-15         -228 days
                            417        2017-12-04         -270 days
OG_Info__OGOrg_1_df         756        2018-01-09         -213 days
wc_info__WCOrg_1_df         80         2016-07-11         -831 days

### Further Cleaning

In [2953]:
concated_farmers['organic_status'].value_counts()

Org             9526
Dropout         6944
New             2712
Mabagrown       1047
Reinstated       190
Uncertified      149
dropout           33
Under review       8
Name: organic_status, dtype: int64

In [2954]:
concated_farmers[concated_farmers['id'].isna()]

Empty DataFrame
Columns: [id, og_nr, og_code, production_unit, area, ward_nr/name, species, surname, first_names, sex, id_number, date_of_birth, date_contracted, date_dropped_out, reason_dropped_out, address, organic_status, organic_status_from_date, fairtrade, ward_nr, wc_nr, wc_code, contract_duration]
Index: []

[0 rows x 23 columns]

In [2955]:
df = concated_farmers[~concated_farmers['id_number'].isna()][['id_number']]
df.squeeze().is_unique

False

In [2956]:
concated_farmers['area'] = concated_farmers['area'].str.title()

In [2957]:
concated_farmers['area'].replace('Mt Darwin ','Mt Darwin', inplace=True)
concated_farmers['area'].replace('Beitbridge ','Beitbridge', inplace=True)
concated_farmers['area'].replace('Hwange ','Hwange', inplace=True)
concated_farmers['area'].replace('Makoni Mt Shalom','Makoni', inplace=True)
concated_farmers['area'].replace('Chimanimani Rusitu','Chimanimani', inplace=True)
concated_farmers['area'].replace('Chimanimani Tilbury','Chimanimani', inplace=True)

In [2958]:
concated_farmers['area'].value_counts()

Mbire                   7683
Binga                   2197
Rushinga                1750
Chimanimani             1660
Mudzi                   1590
Buhera                  1152
Chipinge                 977
Mt Darwin                968
Beitbridge               613
Makoni                   297
Hwange                   289
Kwekwe                   270
Uzumbamarambapfungwe     257
Mwenezi                  173
Karoi                    163
Triangle                 163
Mutoko                   126
Mberengwa                115
Chivi                     94
Matobo                    44
Mushumbi                  29
Name: area, dtype: int64

In [2959]:
concated_farmers['area'].unique()
# Correct 'chipinge' first upper

array(['Binga', 'Mushumbi', 'Makoni', 'Mbire', 'Triangle', 'Karoi',
       'Chimanimani', 'Chipinge', 'Chivi', 'Buhera', 'Mt Darwin',
       'Beitbridge', 'Mudzi', 'Rushinga', 'Kwekwe', 'Mwenezi',
       'Uzumbamarambapfungwe', 'Mutoko', 'Mberengwa', 'Matobo', 'Hwange'],
      dtype=object)

In [2960]:
concated_farmers['production_unit'] = concated_farmers['production_unit'].replace('Mashonaland Centra','Mashonaland Central')

In [2961]:
concated_farmers['production_unit'].value_counts()

Mashonaland Central        7711
Northern Eastern region    4691
South Eastern region       3498
Matabeleland North         2487
Southern region             995
Manicaland                  588
Midlands                    270
Masvingo                    163
Mashonaland West            163
Matabeleland South           44
Name: production_unit, dtype: int64

In [2962]:
concated_farmers['ward_nr'].unique()

# correct to int

array([11.,  5.,  3., 18.,  7., 15.,  2., 19., 10., 16.,  8.,  9.,  6.,
       17., 12.,  4., 13., 14., nan, 23., 21., 27.,  1., 25., 20., 29.,
       33., 24., 28., 30., 31., 34., 32., 22.])

In [2963]:
# 'id_number has not unique and has 3254 duplicates'
#concated_farmers['id_number'].is_unique
concated_farmers['id_number'].duplicated().value_counts()

False    18205
True      2405
Name: id_number, dtype: int64

#### Setting values of species, sex, reason_droppen_out and organic_status to lower case

In [2964]:
concated_farmers['species'] = concated_farmers['species'].str.lower()
concated_farmers['sex'] = concated_farmers['sex'].str.lower()

concated_farmers['reason_dropped_out'] = concated_farmers['reason_dropped_out'].str.lower()
concated_farmers['organic_status'] = concated_farmers['organic_status'].str.lower()

In [2965]:
concated_farmers['organic_status'].unique()

array(['new', 'org', 'dropout', 'under review', 'mabagrown', 'reinstated',
       'uncertified', None], dtype=object)

In [2966]:
concated_farmers['species'].unique()

# correct to types rosella, chili, paprika,  

# '5 sinakoma', 'robert' correct to None

array(['rosella', '5 sinakoma', 'rosella, chilli, paprika', 'paprika',
       'chilli, paprika', 'rosell', 'ronald', 'roseela',
       'paprika, chilli', 'chillie', 'chilli', 'chilli,paprika', 'chili',
       'chillie/paprica ', 'rosella, strophantus', 'baobab', 'marula',
       'baobab + ximenia', 'trichillia', 'baobab+kms+ximenia',
       'kalahari melon seed', 'ximenia caffra', 'kms + ximenia',
       'ximenia americana', 'devils claw', 'wild gotu kola'], dtype=object)

In [2967]:
concated_farmers['species'] = concated_farmers['species'].replace({'5 sinakoma': 'None', 'ronald':  'None','roseela': 'rosella', 'rosell': 'rosella', 
                                                                   'paprika, chilli': 'chilli, paprika', 'chili': 'chilli',
                                                                    'chilli,paprika':'chilli, paprika', 'chillie': 'chilli', 
                                                                    'chillie/paprica ': 'chilli, paprika',
                                                                    'baobab + ximenia': 'baobab, ximenia', 'baobab+kms+ximenia': 'baobab, kms, ximenia',
                                                                    'kalahari melon seed': 'kalahari, melon, seed', 'kms + ximenia': 'kms, ximenia'
                                                                    })

In [2968]:
concated_farmers['wc_nr'].duplicated().value_counts()

False    11518
True      9092
Name: wc_nr, dtype: int64

In [2969]:
# 11517 wc_nr
concated_farmers[~concated_farmers['wc_nr'].isna()]['wc_nr']

wc_info_bayoba_1_df  0      21146.0
                     1      21833.0
                     2      21147.0
                     3      22986.0
                     4      21148.0
                             ...
wc_info__WCOrg_1_df  560     1057.0
                     561    21040.0
                     562     2555.0
                     563     2066.0
                     564     1069.0
Name: wc_nr, Length: 11517, dtype: float64

In [2970]:
concated_farmers['ward_nr'].duplicated().value_counts()

True     20576
False       34
Name: ward_nr, dtype: int64

In [2971]:
concated_farmers['ward_nr'].is_unique

False

In [2972]:
concated_farmers['ward_nr'].unique()

array([11.,  5.,  3., 18.,  7., 15.,  2., 19., 10., 16.,  8.,  9.,  6.,
       17., 12.,  4., 13., 14., nan, 23., 21., 27.,  1., 25., 20., 29.,
       33., 24., 28., 30., 31., 34., 32., 22.])

In [2973]:
concated_farmers.iloc[0]

id                                         4169
og_nr                                   20459.0
og_code                                    BNOG
production_unit              Matabeleland North
area                                      Binga
ward_nr/name                            11 Lubu
species                                 rosella
surname                                  Muleya
first_names                              Jenete
sex                                      female
id_number                          06-016111A06
date_of_birth               1972-07-17 00:00:00
date_contracted             2023-02-24 00:00:00
date_dropped_out                            NaT
reason_dropped_out                         None
address                                    None
organic_status                              new
organic_status_from_date             2023-02-24
fairtrade                                  True
ward_nr                                    11.0
wc_nr                                       NaN
wc_code                                     NaN
contract_duration                           NaT
Name: (OG_Info__OGOrg_1_df, 1273), dtype: object

In [2974]:
concated_farmers.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 20610 entries, ('OG_Info__OGOrg_1_df', 1273) to ('wc_info__WCOrg_1_df', 564)
Data columns (total 23 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        20610 non-null  int64
 1   og_nr                     9093 non-null   float64
 2   og_code                   9093 non-null   object
 3   production_unit           20610 non-null  object
 4   area                      20610 non-null  object
 5   ward_nr/name              20190 non-null  object
 6   species                   20610 non-null  object
 7   surname                   20608 non-null  object
 8   first_names               20606 non-null  object
 9   sex                       20610 non-null  object
 10  id_number                 18658 non-null  object
 11  date_of_birth             2551 non-null   datetime64[ns]
 12  date_contracted           20600 non-null  datetime64[ns]
 13  date_dropped_out          9295 non-null   datetime64[ns]
 14  reason_dropped_out        7627 non-null   object
 15  address                   20136 non-null  object
 16  organic_status            20609 non-null  object
 17  organic_status_from_date  16507 non-null  object
 18  fairtrade                 20610 non-null  bool
 19  ward_nr                   20190 non-null  float64
 20  wc_nr                     11517 non-null  float64
 21  wc_code                   11517 non-null  object
 22  contract_duration         9286 non-null   timedelta64[ns]
dtypes: bool(1), datetime64[ns](3), float64(3), int64(1), object(14), timedelta64[ns](1)
memory usage: 3.9+ MB

#### Upload the prepared farmer data

In [2975]:
table_name = 'all_farmers'

if engine!=None:
    try:
        concated_farmers.to_sql(name=table_name, # Name of SQL table
                                con=engine, # Engine or connection
                                if_exists='replace', # Drop the table before inserting new values 
                                schema=schema, # Use schmea that was defined earlier
                                index=False, # Write DataFrame index as a column
                                chunksize=5000, # Specify the number of rows in each batch to be written at a time
                                method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

/var/folders/x5/v1d8l9v94679fhr8vd07ys9c0000gn/T/ipykernel_2393/673286461.py:5: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  concated_farmers.to_sql(name=table_name, # Name of SQL table

The all_farmers table was imported successfully.