## Clean, join and upload 2019-2023

In [86]:
import pandas as pd
import psycopg2
import sql_functions as sf 
schema = 'organic_africa' # UPDATE 'TABLE_SCHEMA' based on schema used in class 
engine = sf.get_engine()
    
all_insp = {}

all_insp['all_insp_2019'] = sf.get_dataframe(f'SELECT * FROM {schema}."all_insp_2019"')
all_insp['all_insp_2020'] = sf.get_dataframe(f'SELECT * FROM {schema}."all_insp_2020"')
all_insp['all_insp_2021'] = sf.get_dataframe(f'SELECT * FROM {schema}."all_insp_2021"')
all_insp['all_insp_2023'] = sf.get_dataframe(f'SELECT * FROM {schema}."all_insp_2023"')

In [87]:
all_insp['all_insp_2019'].columns.tolist()

['id',
 'date_entered',
 'og_nr',
 'date_inspected',
 'internal_inspector',
 'date_of_birth',
 'hm_under_5_years_female',
 'hm_under_5_years_male',
 'hm_5-17_years_female',
 'hm_5-17_years_male',
 'hm_18-59_years_female',
 'hm_18-59_years_male',
 'hm_over_60_years_female',
 'hm_over_60_years_male',
 'orphan_<_5_female',
 'orphan_<_5_male',
 'orphan_5-17_female',
 'orphan_5-17_male',
 'chronically_ill_<_5_female',
 'chronically_ill_<_5_male',
 'chronically_ill_5-17_female',
 'chronically_ill_5-17_male',
 'chronically_ill_18-59_female',
 'chronically_ill_18_-59_male',
 'chronically_ill_60+_female',
 'chronically_ill_60+_male',
 'mentally_challenged_<_5_female',
 'mentally_challenged_<_5_male',
 'mentally_challenged_5-17_female',
 'mentally_challenged_5-17_male',
 'mentally_challenged_17-59_female',
 'mentally_challenged_17-59_male',
 'mentally_challenged_60+_female',
 'mentally_challenged_60+_male',
 'agric_activities_<_5_female',
 'agric_activities_<_5_male',
 'agric_activities_5-17_female',
 'agric_activities_5-17_male',
 'agric_activities_18-59_female',
 'agric_activities_18-59_male',
 'agric_activities_60+_female',
 'agric_activities_60+_male',
 'hh_education_level',
 'children_attending_school',
 'how_many_not_attending',
 'reason_for_not_attending',
 'pupils_pre_school_male',
 'pupils_in_pre_school_female',
 'pupils_in_ecd_male',
 'pupils_in_ecd_female',
 'pupils_in_primary_sch_male',
 'pupils_in_primary__sch_female',
 'pupils_in_sec_sch_male',
 'pupils_in_sec_sch_female',
 'pupils_in_tertiary_male',
 'pupils_in_tertiary_female',
 'main_livelihood_activity',
 'dry_land_income',
 'irrigated_income',
 'gardening_income',
 'formal_employment_income',
 'small_business_income',
 'organic_or_mabagrown_farming',
 'cereal_harvest_last',
 'enough_cereal_2015',
 'enough_cereal_2016',
 'enough_cereal_2017',
 'enough_cereal_2018',
 'insufficient_cereal_reason_1',
 'insufficient_cereal_reason_2',
 'insufficient_cereal_reason_3',
 'alternative_cereal_source',
 'health__care_expenditure',
 'school_(fees)_expenditure',
 'last_quarter_food_expenditure',
 'ways_to_improve_food_security',
 'ways_to_improve_income',
 'oah_works_in_food_security',
 'oah_works_in_income',
 'new_member_(why_you_joined_rosella_farming',
 'assets',
 'cattle',
 'goats/sheep',
 'donkeys',
 'poultry',
 'hand_hoes',
 'wheelbarrow',
 'water_pipes',
 'cultivator',
 'tractor_plough',
 'scotch_cart',
 'ox_drawnplough',
 'tractor',
 'bicycle',
 'motorcycle',
 'electricity',
 'solar',
 'radio',
 'television',
 'water_pump',
 'water_pump_type',
 'bank/mobile_account',
 'bank_name',
 'fuel_source',
 'type_of_stove',
 'main_source_of_hh_water',
 'source_of_irrigation_water',
 'availabilty_of_hh_latrine',
 'latrine_type',
 'training/inputs_recieved_1',
 'training/inputs_recieved_2',
 'training/inputs_recieved_3',
 'crop_management_corrective_action',
 'farm_and_farm_mgt_corrective_actions',
 'post_harvest_mgt_corrective_action',
 'risk_from_non_organic_fields',
 'risk_from_non_organic_activities',
 'risk_from_motorways,_wastewaters',
 'risk_of_contaminated_water',
 'risk_of_contamination_from_malaria_control',
 'health_of_farmer',
 'gender_text',
 'household_head',
 'marital_status_1',
 'nearest_clinic',
 'nearest_school',
 'nearest_shops']

In [88]:
all_insp['all_insp_2019']['marital_status'] = all_insp['all_insp_2019']['marital_status_1']

In [89]:
all_insp['all_insp_2019'] = all_insp['all_insp_2019'].drop('marital_status_1', axis=1)

In [90]:
all_insp['all_insp_2019'].head()

,id,date_entered,og_nr,date_inspected,internal_inspector,date_of_birth,hm_under_5_years_female,hm_under_5_years_male,hm_5-17_years_female,hm_5-17_years_male,...,"risk_from_motorways,_wastewaters",risk_of_contaminated_water,risk_of_contamination_from_malaria_control,health_of_farmer,gender_text,household_head,nearest_clinic,nearest_school,nearest_shops,marital_status
0,91,2019-08-02,16198.0,2019-07-17,69.0,None,0,0,0,0,...,1,1,1,Good,female,husband,6.0,6.0,18.0,married
1,1,2019-08-01,3882.0,2019-07-19,75.0,1991-01-28,1,0,0,3,...,1,1,1,Good,female,husband,6.0,6.0,13.0,married
2,85,2019-08-02,16182.0,2019-07-23,69.0,None,1,1,0,0,...,1,1,1,Good,male,self,3.0,3.0,2.0,married
3,103,2019-08-03,16245.0,2019-07-19,75.0,None,1,0,0,1,...,1,1,1,Good,male,self,6.0,6.0,12.0,married
4,104,2019-08-03,16246.0,2019-07-23,75.0,None,0,1,1,1,...,1,1,1,Good,female,husband,2.0,1.0,1.0,married

In [91]:
all_insp['all_insp_2019']['sex'] = all_insp['all_insp_2019']['gender_text']

In [92]:
all_insp['all_insp_2019'] = all_insp['all_insp_2019'].drop('gender_text', axis=1)

In [93]:
all_insp['all_insp_2020'].columns.tolist()

['id',
 'date_entered',
 'og_nr',
 'date_inspected',
 'internal_inspector',
 'date_of_birth',
 'hm_under_5_years_female',
 'hm_under_5_years_male',
 'hm_5-17_years_female',
 'hm_5-17_years_male',
 'hm_18-59_years_female',
 'hm_18-59_years_male',
 'hm_over_60_years_female',
 'hm_over_60_years_male',
 'orphan_<_5_female',
 'orphan_<_5_male',
 'orphan_5-17_female',
 'orphan_5-17_male',
 'chronically_ill_<_5_female',
 'chronically_ill_<_5_male',
 'chronically_ill_5-17_female',
 'chronically_ill_5-17_male',
 'chronically_ill_18-59_female',
 'chronically_ill_18_-59_male',
 'chronically_ill_60+_female',
 'chronically_ill_60+_male',
 'mentally_challenged_<_5_female',
 'mentally_challenged_<_5_male',
 'mentally_challenged_5-17_female',
 'mentally_challenged_5-17_male',
 'mentally_challenged_17-59_female',
 'mentally_challenged_17-59_male',
 'mentally_challenged_60+_female',
 'mentally_challenged_60+_male',
 'agric_activities_<_5_female',
 'agric_activities_<_5_male',
 'agric_activities_5-17_female',
 'agric_activities_5-17_male',
 'agric_activities_18-59_female',
 'agric_activities_18-59_male',
 'agric_activities_60+_female',
 'agric_activities_60+_male',
 'hh_education_level',
 'children_attending_school',
 'how_many_not_attending',
 'reason_for_not_attending',
 'pupils_pre_school_male',
 'pupils_in_pre_school_female',
 'pupils_in_ecd_male',
 'pupils_in_ecd_female',
 'pupils_in_primary_sch_male',
 'pupils_in_primary__sch_female',
 'pupils_in_sec_sch_male',
 'pupils_in_sec_sch_female',
 'pupils_in_tertiary_male',
 'pupils_in_tertiary_female',
 'main_livelihood_activity',
 'dry_land_income',
 'irrigated_income',
 'gardening_income',
 'formal_employment_income',
 'small_business_income',
 'organic_or_mabagrown_farming',
 'cereal_harvest_last',
 'enough_cereal_2016',
 'enough_cereal_2017',
 'enough_cereal_2018',
 'enough_cereal_2019',
 'insufficient_cereal_reason_1',
 'insufficient_cereal_reason_2',
 'insufficient_cereal_reason_3',
 'alternative_cereal_source',
 'health__care_expenditure',
 'school_(fees)_expenditure',
 'last_quarter_food_expenditure',
 'ways_to_improve_food_security',
 'ways_to_improve_income',
 'oah_works_in_food_security',
 'assets',
 'cattle',
 'goats/sheep',
 'donkeys',
 'poultry',
 'hand_hoes',
 'wheelbarrow',
 'water_pipes',
 'cultivator',
 'tractor_plough',
 'scotch_cart',
 'ox_drawnplough',
 'tractor',
 'bicycle',
 'motorcycle',
 'electricity',
 'solar',
 'radio',
 'television',
 'water_pump',
 'water_pump_type',
 'bank/mobile_account',
 'bank_name',
 'fuel_source',
 'type_of_stove',
 'main_source_of_hh_water',
 'source_of_irrigation_water',
 'availabilty_of_hh_latrine',
 'latrine_type',
 'training/inputs_recieved_1',
 'training/inputs_recieved_2',
 'training/inputs_recieved_3',
 'risk_from_non_organic_fields',
 'risk_from_non_organic_activities',
 'risk_from_motorways,_wastewaters',
 'risk_of_contaminated_water',
 'risk_of_contamination_from_malaria_control',
 'health_of_farmer',
 'gender_text',
 'household_head',
 'marital_status_1',
 'nearest_clinic',
 'nearest_school',
 'nearest_shops']

In [94]:
all_insp['all_insp_2020']['marital_status'] = all_insp['all_insp_2020']['marital_status_1']

In [95]:
all_insp['all_insp_2020'] = all_insp['all_insp_2020'].drop('marital_status_1', axis=1)

In [96]:
all_insp['all_insp_2020']['sex'] = all_insp['all_insp_2020']['gender_text']

In [97]:
all_insp['all_insp_2020'] = all_insp['all_insp_2020'].drop('gender_text', axis=1)

In [98]:
all_insp['all_insp_2023'].columns.tolist()

['id',
 'date_entered',
 'og_nr',
 'date_inspected',
 'date_of_birth',
 'marital_status_1',
 'gender_text',
 'household_head',
 'hm_under_5_years_female',
 'hm_under_5_years_male',
 'hm_5-17_years_female',
 'hm_5-17_years_male',
 'hm_18-59_years_female',
 'hm_18-59_years_male',
 'hm_over_60_years_female',
 'hm_over_60_years_male',
 'orphan_<_5_female',
 'orphan_<_5_male',
 'orphan_5-17_female',
 'orphan_5-17_male',
 'chronically_ill_<_5_female',
 'chronically_ill_<_5_male',
 'chronically_ill_5-17_female',
 'chronically_ill_5-17_male',
 'chronically_ill_18-59_female',
 'chronically_ill_18_-59_male',
 'chronically_ill_60+_female',
 'chronically_ill_60+_male',
 'mentally_challenged_<_5_female',
 'mentally_challenged_<_5_male',
 'mentally_challenged_5-17_female',
 'mentally_challenged_5-17_male',
 'mentally_challenged_17-59_female',
 'mentally_challenged_17-59_male',
 'mentally_challenged_60+_female',
 'mentally_challenged_60+_male',
 'agric_activities_<_5_female',
 'agric_activities_<_5_male',
 'agric_activities_5-17_female',
 'agric_activities_5-17_male',
 'agric_activities_18-59_female',
 'agric_activities_18-59_male',
 'agric_activities_60+_female',
 'agric_activities_60+_male',
 'hired_labour_18-59_female',
 'hired_labour_18-59_male',
 'hired_labour_60+_female',
 'hired_labour_60+_male',
 'hh_education_level',
 'children_attending_school',
 'how_many_not_attending',
 'reason_for_not_attending',
 'pupils_pre_school_male',
 'pupils_in_pre_school_female',
 'pupils_in_ecd_male',
 'pupils_in_ecd_female',
 'pupils_in_primary_sch_male',
 'pupils_in_primary__sch_female',
 'pupils_in_sec_sch_male',
 'pupils_in_sec_sch_female',
 'pupils_in_tertiary_male',
 'pupils_in_tertiary_female',
 'main_livelihood_activity',
 'dry_land_income',
 'irrigated_income',
 'gardening_income',
 'formal_employment_income',
 'small_business_income',
 'organic_or_mabagrown_farming',
 'enough_cereal_2018',
 'enough_cereal_2019',
 'enough_cereal_2020',
 'enough_cereal_2021',
 'insufficient_cereal_reason_1',
 'insufficient_cereal_reason_2',
 'insufficient_cereal_reason_3',
 'alternative_cereal_source',
 'alternative_cereal_2',
 'ways_to_improve_food_security',
 'ways_to_improve_income',
 'oah_works_in_food_security',
 'oah_works_in_income',
 'new_member_(why_you_joined_rosella_farming',
 'assets',
 'cattle',
 'goats/sheep',
 'donkeys',
 'hand_hoes',
 'wheelbarrow',
 'water_pipes',
 'cultivator',
 'tractor_plough',
 'scotch_cart',
 'ox_drawnplough',
 'tractor',
 'bicycle',
 'motorcycle',
 'electricity',
 'solar',
 'radio',
 'television',
 'water_pump',
 'water_pump_type',
 'bank/mobile_account',
 'bank_name',
 'fuel_source',
 'type_of_stove',
 'main_source_of_hh_water',
 'source_of_irrigation_water',
 'availabilty_of_hh_latrine',
 'latrine_type',
 'membership_to_other_organisations',
 'training/inputs_recieved_1',
 'training/inputs_recieved_2',
 'training/inputs_recieved_3',
 'training_received_from_oa',
 'water_management_training',
 'farm_and_farm_mgt_corrective_actions',
 'risk_from_non_organic_fields',
 'risk_from_non_organic_activities',
 'risk_from_motorways,_wastewaters',
 'risk_of_contaminated_water',
 'risk_of_contamination_from_malaria_control',
 'hh_part_of_malaria_control_programme',
 'date_of_last_spraying',
 'areas_sprayed',
 'chemical_sprayed',
 'health_of_farmer',
 'cereal_harvest_last',
 'health_care_expenditure',
 'school_fees_expenditure',
 'last_quarter_food_expenditure_1',
 'nearest_clinic',
 'nearest_school',
 'nearest_shops']

In [99]:
all_insp['all_insp_2023']['last_quarter_food_expenditure'] = all_insp['all_insp_2023']['last_quarter_food_expenditure_1']

In [100]:
all_insp['all_insp_2023'] = all_insp['all_insp_2023'].drop('last_quarter_food_expenditure_1', axis=1)

In [101]:
all_insp['all_insp_2023']['marital_status'] = all_insp['all_insp_2023']['marital_status_1']

In [102]:
all_insp['all_insp_2023'] = all_insp['all_insp_2023'].drop('marital_status_1', axis=1)

In [103]:
all_insp['all_insp_2023']['sex'] = all_insp['all_insp_2023']['gender_text']

In [104]:
all_insp['all_insp_2023'] = all_insp['all_insp_2023'].drop('gender_text', axis=1)

In [105]:
all_insp['all_insp_2019'].columns.difference(all_insp['all_insp_2020'].columns)

Index(['crop_management_corrective_action', 'enough_cereal_2015',
       'farm_and_farm_mgt_corrective_actions',
       'new_member_(why_you_joined_rosella_farming', 'oah_works_in_income',
       'post_harvest_mgt_corrective_action'],
      dtype='object')

In [106]:
all_insp['all_insp_2020'].columns.difference(all_insp['all_insp_2019'].columns)

Index(['enough_cereal_2019'], dtype='object')

In [107]:
all_insp['all_insp_2021'].columns.difference(all_insp['all_insp_2020'].columns)

Index(['enough_cereal_2020', 'enough_cereal_2021', 'health_care_expenditure',
       'hired_labour_18-59_female', 'hired_labour_18-59_male',
       'hired_labour_60+_female', 'hired_labour_60+_male',
       'school_fees_expenditure'],
      dtype='object')

In [108]:
all_insp['all_insp_2020'].columns.difference(all_insp['all_insp_2021'].columns)

Index(['alternative_cereal_source', 'enough_cereal_2016', 'enough_cereal_2017',
       'health__care_expenditure', 'id', 'internal_inspector',
       'oah_works_in_food_security', 'school_(fees)_expenditure',
       'training/inputs_recieved_1', 'training/inputs_recieved_2',
       'training/inputs_recieved_3', 'water_pump_type'],
      dtype='object')

In [109]:
all_insp['all_insp_2021'].columns.difference(all_insp['all_insp_2023'].columns)

Index(['poultry'], dtype='object')

In [110]:
all_insp['all_insp_2023'].columns.difference(all_insp['all_insp_2019'].columns)

Index(['alternative_cereal_2', 'areas_sprayed', 'chemical_sprayed',
       'date_of_last_spraying', 'enough_cereal_2019', 'enough_cereal_2020',
       'enough_cereal_2021', 'health_care_expenditure',
       'hh_part_of_malaria_control_programme', 'hired_labour_18-59_female',
       'hired_labour_18-59_male', 'hired_labour_60+_female',
       'hired_labour_60+_male', 'membership_to_other_organisations',
       'school_fees_expenditure', 'training_received_from_oa',
       'water_management_training'],
      dtype='object')

In [111]:
all_insp['all_insp_2021'].columns.tolist()

['date_entered',
 'og_nr',
 'date_inspected',
 'household_head',
 'hm_under_5_years_female',
 'hm_under_5_years_male',
 'hm_5-17_years_female',
 'hm_5-17_years_male',
 'hm_18-59_years_female',
 'hm_18-59_years_male',
 'hm_over_60_years_female',
 'hm_over_60_years_male',
 'orphan_<_5_female',
 'orphan_<_5_male',
 'orphan_5-17_female',
 'orphan_5-17_male',
 'chronically_ill_<_5_female',
 'chronically_ill_<_5_male',
 'chronically_ill_5-17_female',
 'chronically_ill_5-17_male',
 'chronically_ill_18-59_female',
 'chronically_ill_18_-59_male',
 'chronically_ill_60+_female',
 'chronically_ill_60+_male',
 'mentally_challenged_<_5_female',
 'mentally_challenged_<_5_male',
 'mentally_challenged_5-17_female',
 'mentally_challenged_5-17_male',
 'mentally_challenged_17-59_female',
 'mentally_challenged_17-59_male',
 'mentally_challenged_60+_female',
 'mentally_challenged_60+_male',
 'agric_activities_<_5_female',
 'agric_activities_<_5_male',
 'agric_activities_5-17_female',
 'agric_activities_5-17_male',
 'agric_activities_18-59_female',
 'agric_activities_18-59_male',
 'agric_activities_60+_female',
 'agric_activities_60+_male',
 'hired_labour_18-59_female',
 'hired_labour_18-59_male',
 'hired_labour_60+_female',
 'hired_labour_60+_male',
 'hh_education_level',
 'children_attending_school',
 'how_many_not_attending',
 'reason_for_not_attending',
 'pupils_pre_school_male',
 'pupils_in_pre_school_female',
 'pupils_in_ecd_male',
 'pupils_in_ecd_female',
 'pupils_in_primary_sch_male',
 'pupils_in_primary__sch_female',
 'pupils_in_sec_sch_male',
 'pupils_in_sec_sch_female',
 'pupils_in_tertiary_male',
 'pupils_in_tertiary_female',
 'main_livelihood_activity',
 'dry_land_income',
 'irrigated_income',
 'gardening_income',
 'formal_employment_income',
 'organic_or_mabagrown_farming',
 'small_business_income',
 'cereal_harvest_last',
 'enough_cereal_2018',
 'enough_cereal_2019',
 'enough_cereal_2020',
 'enough_cereal_2021',
 'insufficient_cereal_reason_1',
 'insufficient_cereal_reason_2',
 'insufficient_cereal_reason_3',
 'last_quarter_food_expenditure',
 'ways_to_improve_food_security',
 'ways_to_improve_income',
 'assets',
 'cattle',
 'goats/sheep',
 'donkeys',
 'poultry',
 'hand_hoes',
 'wheelbarrow',
 'water_pipes',
 'cultivator',
 'tractor_plough',
 'scotch_cart',
 'ox_drawnplough',
 'tractor',
 'bicycle',
 'motorcycle',
 'electricity',
 'solar',
 'radio',
 'television',
 'water_pump',
 'bank/mobile_account',
 'bank_name',
 'fuel_source',
 'type_of_stove',
 'main_source_of_hh_water',
 'source_of_irrigation_water',
 'availabilty_of_hh_latrine',
 'latrine_type',
 'risk_from_non_organic_fields',
 'risk_from_non_organic_activities',
 'risk_from_motorways,_wastewaters',
 'risk_of_contamination_from_malaria_control',
 'risk_of_contaminated_water',
 'health_of_farmer',
 'nearest_clinic',
 'nearest_school',
 'nearest_shops',
 'sex',
 'marital_status',
 'school_fees_expenditure',
 'health_care_expenditure',
 'date_of_birth']

In [112]:
all_insp['all_insp_2020'].columns.tolist()

['id',
 'date_entered',
 'og_nr',
 'date_inspected',
 'internal_inspector',
 'date_of_birth',
 'hm_under_5_years_female',
 'hm_under_5_years_male',
 'hm_5-17_years_female',
 'hm_5-17_years_male',
 'hm_18-59_years_female',
 'hm_18-59_years_male',
 'hm_over_60_years_female',
 'hm_over_60_years_male',
 'orphan_<_5_female',
 'orphan_<_5_male',
 'orphan_5-17_female',
 'orphan_5-17_male',
 'chronically_ill_<_5_female',
 'chronically_ill_<_5_male',
 'chronically_ill_5-17_female',
 'chronically_ill_5-17_male',
 'chronically_ill_18-59_female',
 'chronically_ill_18_-59_male',
 'chronically_ill_60+_female',
 'chronically_ill_60+_male',
 'mentally_challenged_<_5_female',
 'mentally_challenged_<_5_male',
 'mentally_challenged_5-17_female',
 'mentally_challenged_5-17_male',
 'mentally_challenged_17-59_female',
 'mentally_challenged_17-59_male',
 'mentally_challenged_60+_female',
 'mentally_challenged_60+_male',
 'agric_activities_<_5_female',
 'agric_activities_<_5_male',
 'agric_activities_5-17_female',
 'agric_activities_5-17_male',
 'agric_activities_18-59_female',
 'agric_activities_18-59_male',
 'agric_activities_60+_female',
 'agric_activities_60+_male',
 'hh_education_level',
 'children_attending_school',
 'how_many_not_attending',
 'reason_for_not_attending',
 'pupils_pre_school_male',
 'pupils_in_pre_school_female',
 'pupils_in_ecd_male',
 'pupils_in_ecd_female',
 'pupils_in_primary_sch_male',
 'pupils_in_primary__sch_female',
 'pupils_in_sec_sch_male',
 'pupils_in_sec_sch_female',
 'pupils_in_tertiary_male',
 'pupils_in_tertiary_female',
 'main_livelihood_activity',
 'dry_land_income',
 'irrigated_income',
 'gardening_income',
 'formal_employment_income',
 'small_business_income',
 'organic_or_mabagrown_farming',
 'cereal_harvest_last',
 'enough_cereal_2016',
 'enough_cereal_2017',
 'enough_cereal_2018',
 'enough_cereal_2019',
 'insufficient_cereal_reason_1',
 'insufficient_cereal_reason_2',
 'insufficient_cereal_reason_3',
 'alternative_cereal_source',
 'health__care_expenditure',
 'school_(fees)_expenditure',
 'last_quarter_food_expenditure',
 'ways_to_improve_food_security',
 'ways_to_improve_income',
 'oah_works_in_food_security',
 'assets',
 'cattle',
 'goats/sheep',
 'donkeys',
 'poultry',
 'hand_hoes',
 'wheelbarrow',
 'water_pipes',
 'cultivator',
 'tractor_plough',
 'scotch_cart',
 'ox_drawnplough',
 'tractor',
 'bicycle',
 'motorcycle',
 'electricity',
 'solar',
 'radio',
 'television',
 'water_pump',
 'water_pump_type',
 'bank/mobile_account',
 'bank_name',
 'fuel_source',
 'type_of_stove',
 'main_source_of_hh_water',
 'source_of_irrigation_water',
 'availabilty_of_hh_latrine',
 'latrine_type',
 'training/inputs_recieved_1',
 'training/inputs_recieved_2',
 'training/inputs_recieved_3',
 'risk_from_non_organic_fields',
 'risk_from_non_organic_activities',
 'risk_from_motorways,_wastewaters',
 'risk_of_contaminated_water',
 'risk_of_contamination_from_malaria_control',
 'health_of_farmer',
 'household_head',
 'nearest_clinic',
 'nearest_school',
 'nearest_shops',
 'marital_status',
 'sex']

In [113]:
all_insp['all_insp_2020']['health_care_expenditure'] = all_insp['all_insp_2020']['health__care_expenditure']

In [114]:
all_insp['all_insp_2020'] = all_insp['all_insp_2020'].drop('health__care_expenditure', axis=1)

In [115]:
all_insp['all_insp_2020'] = all_insp['all_insp_2020'].drop('oah_works_in_food_security', axis=1)

In [116]:
all_insp['all_insp_2020']['school_fees_expenditure'] = all_insp['all_insp_2020']['school_(fees)_expenditure']

In [117]:
all_insp['all_insp_2020'] = all_insp['all_insp_2020'].drop('school_(fees)_expenditure', axis=1)

In [118]:
all_insp['all_insp_2019'].columns.tolist()

['id',
 'date_entered',
 'og_nr',
 'date_inspected',
 'internal_inspector',
 'date_of_birth',
 'hm_under_5_years_female',
 'hm_under_5_years_male',
 'hm_5-17_years_female',
 'hm_5-17_years_male',
 'hm_18-59_years_female',
 'hm_18-59_years_male',
 'hm_over_60_years_female',
 'hm_over_60_years_male',
 'orphan_<_5_female',
 'orphan_<_5_male',
 'orphan_5-17_female',
 'orphan_5-17_male',
 'chronically_ill_<_5_female',
 'chronically_ill_<_5_male',
 'chronically_ill_5-17_female',
 'chronically_ill_5-17_male',
 'chronically_ill_18-59_female',
 'chronically_ill_18_-59_male',
 'chronically_ill_60+_female',
 'chronically_ill_60+_male',
 'mentally_challenged_<_5_female',
 'mentally_challenged_<_5_male',
 'mentally_challenged_5-17_female',
 'mentally_challenged_5-17_male',
 'mentally_challenged_17-59_female',
 'mentally_challenged_17-59_male',
 'mentally_challenged_60+_female',
 'mentally_challenged_60+_male',
 'agric_activities_<_5_female',
 'agric_activities_<_5_male',
 'agric_activities_5-17_female',
 'agric_activities_5-17_male',
 'agric_activities_18-59_female',
 'agric_activities_18-59_male',
 'agric_activities_60+_female',
 'agric_activities_60+_male',
 'hh_education_level',
 'children_attending_school',
 'how_many_not_attending',
 'reason_for_not_attending',
 'pupils_pre_school_male',
 'pupils_in_pre_school_female',
 'pupils_in_ecd_male',
 'pupils_in_ecd_female',
 'pupils_in_primary_sch_male',
 'pupils_in_primary__sch_female',
 'pupils_in_sec_sch_male',
 'pupils_in_sec_sch_female',
 'pupils_in_tertiary_male',
 'pupils_in_tertiary_female',
 'main_livelihood_activity',
 'dry_land_income',
 'irrigated_income',
 'gardening_income',
 'formal_employment_income',
 'small_business_income',
 'organic_or_mabagrown_farming',
 'cereal_harvest_last',
 'enough_cereal_2015',
 'enough_cereal_2016',
 'enough_cereal_2017',
 'enough_cereal_2018',
 'insufficient_cereal_reason_1',
 'insufficient_cereal_reason_2',
 'insufficient_cereal_reason_3',
 'alternative_cereal_source',
 'health__care_expenditure',
 'school_(fees)_expenditure',
 'last_quarter_food_expenditure',
 'ways_to_improve_food_security',
 'ways_to_improve_income',
 'oah_works_in_food_security',
 'oah_works_in_income',
 'new_member_(why_you_joined_rosella_farming',
 'assets',
 'cattle',
 'goats/sheep',
 'donkeys',
 'poultry',
 'hand_hoes',
 'wheelbarrow',
 'water_pipes',
 'cultivator',
 'tractor_plough',
 'scotch_cart',
 'ox_drawnplough',
 'tractor',
 'bicycle',
 'motorcycle',
 'electricity',
 'solar',
 'radio',
 'television',
 'water_pump',
 'water_pump_type',
 'bank/mobile_account',
 'bank_name',
 'fuel_source',
 'type_of_stove',
 'main_source_of_hh_water',
 'source_of_irrigation_water',
 'availabilty_of_hh_latrine',
 'latrine_type',
 'training/inputs_recieved_1',
 'training/inputs_recieved_2',
 'training/inputs_recieved_3',
 'crop_management_corrective_action',
 'farm_and_farm_mgt_corrective_actions',
 'post_harvest_mgt_corrective_action',
 'risk_from_non_organic_fields',
 'risk_from_non_organic_activities',
 'risk_from_motorways,_wastewaters',
 'risk_of_contaminated_water',
 'risk_of_contamination_from_malaria_control',
 'health_of_farmer',
 'household_head',
 'nearest_clinic',
 'nearest_school',
 'nearest_shops',
 'marital_status',
 'sex']

In [119]:
all_insp['all_insp_2019'] = all_insp['all_insp_2019'].drop(['crop_management_corrective_action',
 'farm_and_farm_mgt_corrective_actions',
 'post_harvest_mgt_corrective_action'], axis=1)

In [120]:
all_insp['all_insp_2019'] = all_insp['all_insp_2019'].drop(['oah_works_in_food_security',
 'oah_works_in_income',
 'new_member_(why_you_joined_rosella_farming'], axis=1)

In [121]:
all_insp['all_insp_2019']['school_fees_expenditure'] = all_insp['all_insp_2019']['school_(fees)_expenditure']

In [122]:
all_insp['all_insp_2019'] = all_insp['all_insp_2019'].drop('school_(fees)_expenditure', axis=1)

In [123]:
display(all_insp['all_insp_2019'].shape, all_insp['all_insp_2020'].shape, all_insp['all_insp_2021'].shape, all_insp['all_insp_2023'].shape)

(901, 121)

(384, 121)

(1320, 118)

(653, 135)

In [124]:
all_insp['all_insp_2023'].columns.tolist()

['id',
 'date_entered',
 'og_nr',
 'date_inspected',
 'date_of_birth',
 'household_head',
 'hm_under_5_years_female',
 'hm_under_5_years_male',
 'hm_5-17_years_female',
 'hm_5-17_years_male',
 'hm_18-59_years_female',
 'hm_18-59_years_male',
 'hm_over_60_years_female',
 'hm_over_60_years_male',
 'orphan_<_5_female',
 'orphan_<_5_male',
 'orphan_5-17_female',
 'orphan_5-17_male',
 'chronically_ill_<_5_female',
 'chronically_ill_<_5_male',
 'chronically_ill_5-17_female',
 'chronically_ill_5-17_male',
 'chronically_ill_18-59_female',
 'chronically_ill_18_-59_male',
 'chronically_ill_60+_female',
 'chronically_ill_60+_male',
 'mentally_challenged_<_5_female',
 'mentally_challenged_<_5_male',
 'mentally_challenged_5-17_female',
 'mentally_challenged_5-17_male',
 'mentally_challenged_17-59_female',
 'mentally_challenged_17-59_male',
 'mentally_challenged_60+_female',
 'mentally_challenged_60+_male',
 'agric_activities_<_5_female',
 'agric_activities_<_5_male',
 'agric_activities_5-17_female',
 'agric_activities_5-17_male',
 'agric_activities_18-59_female',
 'agric_activities_18-59_male',
 'agric_activities_60+_female',
 'agric_activities_60+_male',
 'hired_labour_18-59_female',
 'hired_labour_18-59_male',
 'hired_labour_60+_female',
 'hired_labour_60+_male',
 'hh_education_level',
 'children_attending_school',
 'how_many_not_attending',
 'reason_for_not_attending',
 'pupils_pre_school_male',
 'pupils_in_pre_school_female',
 'pupils_in_ecd_male',
 'pupils_in_ecd_female',
 'pupils_in_primary_sch_male',
 'pupils_in_primary__sch_female',
 'pupils_in_sec_sch_male',
 'pupils_in_sec_sch_female',
 'pupils_in_tertiary_male',
 'pupils_in_tertiary_female',
 'main_livelihood_activity',
 'dry_land_income',
 'irrigated_income',
 'gardening_income',
 'formal_employment_income',
 'small_business_income',
 'organic_or_mabagrown_farming',
 'enough_cereal_2018',
 'enough_cereal_2019',
 'enough_cereal_2020',
 'enough_cereal_2021',
 'insufficient_cereal_reason_1',
 'insufficient_cereal_reason_2',
 'insufficient_cereal_reason_3',
 'alternative_cereal_source',
 'alternative_cereal_2',
 'ways_to_improve_food_security',
 'ways_to_improve_income',
 'oah_works_in_food_security',
 'oah_works_in_income',
 'new_member_(why_you_joined_rosella_farming',
 'assets',
 'cattle',
 'goats/sheep',
 'donkeys',
 'hand_hoes',
 'wheelbarrow',
 'water_pipes',
 'cultivator',
 'tractor_plough',
 'scotch_cart',
 'ox_drawnplough',
 'tractor',
 'bicycle',
 'motorcycle',
 'electricity',
 'solar',
 'radio',
 'television',
 'water_pump',
 'water_pump_type',
 'bank/mobile_account',
 'bank_name',
 'fuel_source',
 'type_of_stove',
 'main_source_of_hh_water',
 'source_of_irrigation_water',
 'availabilty_of_hh_latrine',
 'latrine_type',
 'membership_to_other_organisations',
 'training/inputs_recieved_1',
 'training/inputs_recieved_2',
 'training/inputs_recieved_3',
 'training_received_from_oa',
 'water_management_training',
 'farm_and_farm_mgt_corrective_actions',
 'risk_from_non_organic_fields',
 'risk_from_non_organic_activities',
 'risk_from_motorways,_wastewaters',
 'risk_of_contaminated_water',
 'risk_of_contamination_from_malaria_control',
 'hh_part_of_malaria_control_programme',
 'date_of_last_spraying',
 'areas_sprayed',
 'chemical_sprayed',
 'health_of_farmer',
 'cereal_harvest_last',
 'health_care_expenditure',
 'school_fees_expenditure',
 'nearest_clinic',
 'nearest_school',
 'nearest_shops',
 'last_quarter_food_expenditure',
 'marital_status',
 'sex']

In [125]:
all_insp['all_insp_2023'] = all_insp['all_insp_2023'].drop(['oah_works_in_food_security',
 'oah_works_in_income',
 'new_member_(why_you_joined_rosella_farming'], axis=1)

In [126]:
all_insp['all_insp_2023'].columns.difference(all_insp['all_insp_2019'].columns)

Index(['alternative_cereal_2', 'areas_sprayed', 'chemical_sprayed',
       'date_of_last_spraying', 'enough_cereal_2019', 'enough_cereal_2020',
       'enough_cereal_2021', 'farm_and_farm_mgt_corrective_actions',
       'health_care_expenditure', 'hh_part_of_malaria_control_programme',
       'hired_labour_18-59_female', 'hired_labour_18-59_male',
       'hired_labour_60+_female', 'hired_labour_60+_male',
       'membership_to_other_organisations', 'training_received_from_oa',
       'water_management_training'],
      dtype='object')

In [127]:
all_insp['all_insp_2023'] = all_insp['all_insp_2023'].drop(['membership_to_other_organisations', 'training_received_from_oa',
       'water_management_training', 'alternative_cereal_2', 'areas_sprayed', 'chemical_sprayed', 'farm_and_farm_mgt_corrective_actions', 'hh_part_of_malaria_control_programme' ], axis=1)

In [128]:
all_insp['all_insp_2023'] = all_insp['all_insp_2023'].drop(['date_of_last_spraying' ], axis=1)

In [129]:
all_insp['all_insp_2023'].columns.difference(all_insp['all_insp_2019'].columns)

Index(['enough_cereal_2019', 'enough_cereal_2020', 'enough_cereal_2021',
       'health_care_expenditure', 'hired_labour_18-59_female',
       'hired_labour_18-59_male', 'hired_labour_60+_female',
       'hired_labour_60+_male'],
      dtype='object')

In [130]:
all_insp['all_insp_2019'].columns.tolist()

['id',
 'date_entered',
 'og_nr',
 'date_inspected',
 'internal_inspector',
 'date_of_birth',
 'hm_under_5_years_female',
 'hm_under_5_years_male',
 'hm_5-17_years_female',
 'hm_5-17_years_male',
 'hm_18-59_years_female',
 'hm_18-59_years_male',
 'hm_over_60_years_female',
 'hm_over_60_years_male',
 'orphan_<_5_female',
 'orphan_<_5_male',
 'orphan_5-17_female',
 'orphan_5-17_male',
 'chronically_ill_<_5_female',
 'chronically_ill_<_5_male',
 'chronically_ill_5-17_female',
 'chronically_ill_5-17_male',
 'chronically_ill_18-59_female',
 'chronically_ill_18_-59_male',
 'chronically_ill_60+_female',
 'chronically_ill_60+_male',
 'mentally_challenged_<_5_female',
 'mentally_challenged_<_5_male',
 'mentally_challenged_5-17_female',
 'mentally_challenged_5-17_male',
 'mentally_challenged_17-59_female',
 'mentally_challenged_17-59_male',
 'mentally_challenged_60+_female',
 'mentally_challenged_60+_male',
 'agric_activities_<_5_female',
 'agric_activities_<_5_male',
 'agric_activities_5-17_female',
 'agric_activities_5-17_male',
 'agric_activities_18-59_female',
 'agric_activities_18-59_male',
 'agric_activities_60+_female',
 'agric_activities_60+_male',
 'hh_education_level',
 'children_attending_school',
 'how_many_not_attending',
 'reason_for_not_attending',
 'pupils_pre_school_male',
 'pupils_in_pre_school_female',
 'pupils_in_ecd_male',
 'pupils_in_ecd_female',
 'pupils_in_primary_sch_male',
 'pupils_in_primary__sch_female',
 'pupils_in_sec_sch_male',
 'pupils_in_sec_sch_female',
 'pupils_in_tertiary_male',
 'pupils_in_tertiary_female',
 'main_livelihood_activity',
 'dry_land_income',
 'irrigated_income',
 'gardening_income',
 'formal_employment_income',
 'small_business_income',
 'organic_or_mabagrown_farming',
 'cereal_harvest_last',
 'enough_cereal_2015',
 'enough_cereal_2016',
 'enough_cereal_2017',
 'enough_cereal_2018',
 'insufficient_cereal_reason_1',
 'insufficient_cereal_reason_2',
 'insufficient_cereal_reason_3',
 'alternative_cereal_source',
 'health__care_expenditure',
 'last_quarter_food_expenditure',
 'ways_to_improve_food_security',
 'ways_to_improve_income',
 'assets',
 'cattle',
 'goats/sheep',
 'donkeys',
 'poultry',
 'hand_hoes',
 'wheelbarrow',
 'water_pipes',
 'cultivator',
 'tractor_plough',
 'scotch_cart',
 'ox_drawnplough',
 'tractor',
 'bicycle',
 'motorcycle',
 'electricity',
 'solar',
 'radio',
 'television',
 'water_pump',
 'water_pump_type',
 'bank/mobile_account',
 'bank_name',
 'fuel_source',
 'type_of_stove',
 'main_source_of_hh_water',
 'source_of_irrigation_water',
 'availabilty_of_hh_latrine',
 'latrine_type',
 'training/inputs_recieved_1',
 'training/inputs_recieved_2',
 'training/inputs_recieved_3',
 'risk_from_non_organic_fields',
 'risk_from_non_organic_activities',
 'risk_from_motorways,_wastewaters',
 'risk_of_contaminated_water',
 'risk_of_contamination_from_malaria_control',
 'health_of_farmer',
 'household_head',
 'nearest_clinic',
 'nearest_school',
 'nearest_shops',
 'marital_status',
 'sex',
 'school_fees_expenditure']

In [131]:
all_insp['all_insp_2019']['health_care_expenditure'] = all_insp['all_insp_2019']['health__care_expenditure']

In [132]:
all_insp['all_insp_2019'] = all_insp['all_insp_2019'].drop('health__care_expenditure', axis=1)

In [133]:
all_insp['all_insp_2023'].columns.difference(all_insp['all_insp_2021'].columns)

Index(['alternative_cereal_source', 'id', 'training/inputs_recieved_1',
       'training/inputs_recieved_2', 'training/inputs_recieved_3',
       'water_pump_type'],
      dtype='object')

In [134]:
all_insp['all_insp_2023'] = all_insp['all_insp_2023'].drop(['id', 'training/inputs_recieved_1',
       'training/inputs_recieved_2', 'training/inputs_recieved_3',
       'water_pump_type'], axis=1)

We need to have the same number of columns, at least approximately.

In [135]:
display(all_insp['all_insp_2019'].shape, all_insp['all_insp_2020'].shape, all_insp['all_insp_2021'].shape, all_insp['all_insp_2023'].shape)

(901, 121)

(384, 121)

(1320, 118)

(653, 118)

In [136]:
all_insp['all_insp_2023'].columns.difference(all_insp['all_insp_2021'].columns)

Index(['alternative_cereal_source'], dtype='object')

In [137]:
duplicates = all_insp['all_insp_2019'][all_insp['all_insp_2019'].duplicated(['og_nr'], keep=False)]

In [138]:
duplicates.shape

(16, 121)

In [139]:
duplicates.sort_values(by='og_nr')

,id,date_entered,og_nr,date_inspected,internal_inspector,date_of_birth,hm_under_5_years_female,hm_under_5_years_male,hm_5-17_years_female,hm_5-17_years_male,...,risk_of_contamination_from_malaria_control,health_of_farmer,household_head,nearest_clinic,nearest_school,nearest_shops,marital_status,sex,school_fees_expenditure,health_care_expenditure
579,1760,2019-07-24,13061.0,2019-05-30,90.0,1947-01-01,0,0,0,0,...,2,Good,self,3.0,3.0,3.0,None,male,0,12.0
813,226,2019-07-25,13061.0,2019-05-30,90.0,None,0,0,0,0,...,Low,None,Self,12.0,1.5,1.2,None,None,0.0,12.0
575,1757,2019-07-24,13237.0,2019-05-27,90.0,1968-01-01,0,0,2,0,...,2,Good,self,3.0,3.0,3.0,None,male,205,30.0
858,242,2019-07-31,13237.0,2019-05-27,90.0,1968-01-01,0,0,2,0,...,Medium,None,Self,3.0,3.0,3.0,None,None,205.0,30.0
582,1761,2019-07-26,17002.0,2019-05-18,87.0,1979-06-06,1,0,2,0,...,2,Good,father,20.0,1.0,1.0,None,male,160,30.0
707,29,2019-07-03,17002.0,2019-05-18,87.0,1979-06-06,1,0,2,0,...,Low,None,father,20.0,1.0,1.0,None,None,160.0,30.0
535,1667,2019-07-10,17439.0,2019-05-17,86.0,1962-06-01,1,3,4,9,...,2,Good,self,17.0,7.0,0.5,None,male,220,300.0
861,245,2019-07-31,17439.0,2019-05-17,94.0,1976-03-06,1,0,4,9,...,Medium,None,Self,17.0,7.0,0.5,None,None,220.0,300.0
583,1762,2019-07-26,17666.0,2019-03-19,87.0,1989-03-22,1,0,1,0,...,2,Good,father,4.0,4.0,4.0,None,male,20,100.0
710,31,2019-07-03,17666.0,2019-03-19,87.0,1989-03-22,1,0,1,0,...,Medium,None,father,4.0,4.0,4.0,None,None,20.0,100.0
509,1691,2019-07-11,19768.0,2019-05-25,94.0,1969-08-07,0,0,1,1,...,2,Good,self,20.0,1.0,1.0,None,male,150,50.0
684,49,2019-07-04,19768.0,2019-05-25,87.0,None,0,0,2,2,...,Low,None,Father,20.0,15.0,10.0,None,None,60.0,70.0
630,1694,2019-07-11,19775.0,2019-05-25,94.0,1993-09-05,1,0,1,0,...,2,Good,self,20.0,1.0,1.0,None,male,90,2.0
685,50,2019-07-04,19775.0,2019-05-23,87.0,1972-09-30,1,0,1,1,...,Low,None,Father,0.9,0.9,0.9,None,None,40.0,60.0
517,1698,2019-07-12,19788.0,2019-05-25,94.0,1990-03-27,1,0,2,0,...,2,Good,self,20.0,1.0,1.0,None,male,90,90.0
708,30,2019-07-03,19788.0,2019-05-18,87.0,1974-01-01,0,1,1,3,...,Low,None,Father,3.0,3.0,3.0,None,None,60.0,50.0

In [140]:
duplicates = all_insp['all_insp_2020'][all_insp['all_insp_2020'].duplicated(['og_nr'], keep=False)]
duplicates.shape

(0, 121)

In [141]:
duplicates = all_insp['all_insp_2021'][all_insp['all_insp_2021'].duplicated(['og_nr'], keep=False)]
duplicates.shape

(0, 118)

In [142]:
duplicates = all_insp['all_insp_2021'][all_insp['all_insp_2021'].duplicated(['og_nr'], keep=False)]
duplicates.shape

(0, 118)

In [143]:
duplicates = all_insp['all_insp_2023'][all_insp['all_insp_2023'].duplicated(['og_nr'], keep=False)]
duplicates.shape

(0, 118)

In [144]:
duplicates = all_insp['all_insp_2019'][all_insp['all_insp_2019'].duplicated(['og_nr'], keep=False)]
duplicates.shape

(16, 121)

In [145]:
all_insp['all_insp_2019'] = all_insp['all_insp_2019'].drop_duplicates(['og_nr'])

In [146]:
all_insp['all_insp_2019_1'].shape

KeyError: 'all_insp_2019_1'

In [148]:
all_insp['all_insp_2019'].shape

(893, 121)

In [149]:
duplicates = all_insp['all_insp_2019'][all_insp['all_insp_2019'].duplicated(['og_nr'], keep=False)]
duplicates.shape

(0, 121)

In [150]:
concat_insp_19_23 = pd.concat(all_insp)

In [151]:
concat_insp_19_23.shape

(3250, 128)

In [152]:
concat_insp_19_23.columns.tolist()

['id',
 'date_entered',
 'og_nr',
 'date_inspected',
 'internal_inspector',
 'date_of_birth',
 'hm_under_5_years_female',
 'hm_under_5_years_male',
 'hm_5-17_years_female',
 'hm_5-17_years_male',
 'hm_18-59_years_female',
 'hm_18-59_years_male',
 'hm_over_60_years_female',
 'hm_over_60_years_male',
 'orphan_<_5_female',
 'orphan_<_5_male',
 'orphan_5-17_female',
 'orphan_5-17_male',
 'chronically_ill_<_5_female',
 'chronically_ill_<_5_male',
 'chronically_ill_5-17_female',
 'chronically_ill_5-17_male',
 'chronically_ill_18-59_female',
 'chronically_ill_18_-59_male',
 'chronically_ill_60+_female',
 'chronically_ill_60+_male',
 'mentally_challenged_<_5_female',
 'mentally_challenged_<_5_male',
 'mentally_challenged_5-17_female',
 'mentally_challenged_5-17_male',
 'mentally_challenged_17-59_female',
 'mentally_challenged_17-59_male',
 'mentally_challenged_60+_female',
 'mentally_challenged_60+_male',
 'agric_activities_<_5_female',
 'agric_activities_<_5_male',
 'agric_activities_5-17_female',
 'agric_activities_5-17_male',
 'agric_activities_18-59_female',
 'agric_activities_18-59_male',
 'agric_activities_60+_female',
 'agric_activities_60+_male',
 'hh_education_level',
 'children_attending_school',
 'how_many_not_attending',
 'reason_for_not_attending',
 'pupils_pre_school_male',
 'pupils_in_pre_school_female',
 'pupils_in_ecd_male',
 'pupils_in_ecd_female',
 'pupils_in_primary_sch_male',
 'pupils_in_primary__sch_female',
 'pupils_in_sec_sch_male',
 'pupils_in_sec_sch_female',
 'pupils_in_tertiary_male',
 'pupils_in_tertiary_female',
 'main_livelihood_activity',
 'dry_land_income',
 'irrigated_income',
 'gardening_income',
 'formal_employment_income',
 'small_business_income',
 'organic_or_mabagrown_farming',
 'cereal_harvest_last',
 'enough_cereal_2015',
 'enough_cereal_2016',
 'enough_cereal_2017',
 'enough_cereal_2018',
 'insufficient_cereal_reason_1',
 'insufficient_cereal_reason_2',
 'insufficient_cereal_reason_3',
 'alternative_cereal_source',
 'last_quarter_food_expenditure',
 'ways_to_improve_food_security',
 'ways_to_improve_income',
 'assets',
 'cattle',
 'goats/sheep',
 'donkeys',
 'poultry',
 'hand_hoes',
 'wheelbarrow',
 'water_pipes',
 'cultivator',
 'tractor_plough',
 'scotch_cart',
 'ox_drawnplough',
 'tractor',
 'bicycle',
 'motorcycle',
 'electricity',
 'solar',
 'radio',
 'television',
 'water_pump',
 'water_pump_type',
 'bank/mobile_account',
 'bank_name',
 'fuel_source',
 'type_of_stove',
 'main_source_of_hh_water',
 'source_of_irrigation_water',
 'availabilty_of_hh_latrine',
 'latrine_type',
 'training/inputs_recieved_1',
 'training/inputs_recieved_2',
 'training/inputs_recieved_3',
 'risk_from_non_organic_fields',
 'risk_from_non_organic_activities',
 'risk_from_motorways,_wastewaters',
 'risk_of_contaminated_water',
 'risk_of_contamination_from_malaria_control',
 'health_of_farmer',
 'household_head',
 'nearest_clinic',
 'nearest_school',
 'nearest_shops',
 'marital_status',
 'sex',
 'school_fees_expenditure',
 'health_care_expenditure',
 'enough_cereal_2019',
 'hired_labour_18-59_female',
 'hired_labour_18-59_male',
 'hired_labour_60+_female',
 'hired_labour_60+_male',
 'enough_cereal_2020',
 'enough_cereal_2021']

In [153]:
concat_insp_19_23.reset_index

<bound method DataFrame.reset_index of                       id date_entered    og_nr date_inspected  \
all_insp_2019 0     91.0   2019-08-02  16198.0     2019-07-17
              1      1.0   2019-08-01   3882.0     2019-07-19
              2     85.0   2019-08-02  16182.0     2019-07-23
              3    103.0   2019-08-03  16245.0     2019-07-19
              4    104.0   2019-08-03  16246.0     2019-07-23
...                  ...          ...      ...            ...
all_insp_2023 648    NaN   2022-09-01  14130.0     2022-08-10
              649    NaN   2022-08-29  19487.0     2022-08-11
              650    NaN   2022-08-29   2890.0     2022-08-11
              651    NaN   2022-08-13   4085.0     2022-08-08
              652    NaN   2022-08-15  19848.0     2022-08-10

                   internal_inspector date_of_birth  hm_under_5_years_female  \
all_insp_2019 0                  69.0          None                        0
              1                  75.0    1991-01-28                        1
              2                  69.0          None                        1
              3                  75.0          None                        1
              4                  75.0          None                        0
...                               ...           ...                      ...
all_insp_2023 648                 NaN    1957-07-11                        0
              649                 NaN    1950-01-19                        0
              650                 NaN    1962-10-09                        0
              651                 NaN          None                        1
              652                 NaN          None                        0

                   hm_under_5_years_male  hm_5-17_years_female  \
all_insp_2019 0                        0                     0
              1                        0                     0
              2                        1                     0
              3                        0                     0
              4                        1                     1
...                                  ...                   ...
all_insp_2023 648                      0                     1
              649                      0                     0
              650                      0                     0
              651                      0                     0
              652                      1                     0

                   hm_5-17_years_male  ...     sex  school_fees_expenditure  \
all_insp_2019 0                     0  ...  female                      0.0
              1                     3  ...  female                    505.0
              2                     0  ...    male                      0.0
              3                     1  ...    male                     45.0
              4                     1  ...  female                     20.0
...                               ...  ...     ...                      ...
all_insp_2023 648                   0  ...  female                      0.0
              649                   0  ...  female                      0.0
              650                   0  ...  female                      0.0
              651                   0  ...  female                      0.0
              652                   2  ...  female                      0.0

                   health_care_expenditure  enough_cereal_2019  \
all_insp_2019 0                        0.0                 NaN
              1                       68.0                 NaN
              2                        0.0                 NaN
              3                        0.0                 NaN
              4                       20.0                 NaN
...                                    ...                 ...
all_insp_2023 648                      0.0                 Yes
              649                      0.0                  No
              650                      0.0                 Yes
              651                      0.0                  No
              652                      0.0                 Yes

                   hired_labour_18-59_female  hired_labour_18-59_male  \
all_insp_2019 0                          NaN                      NaN
              1                          NaN                      NaN
              2                          NaN                      NaN
              3                          NaN                      NaN
              4                          NaN                      NaN
...                                      ...                      ...
all_insp_2023 648                        0.0                      0.0
              649                        0.0                      0.0
              650                        0.0                      0.0
              651                        0.0                      0.0
              652                        0.0                      0.0

                   hired_labour_60+_female  hired_labour_60+_male  \
all_insp_2019 0                        NaN                    NaN
              1                        NaN                    NaN
              2                        NaN                    NaN
              3                        NaN                    NaN
              4                        NaN                    NaN
...                                    ...                    ...
all_insp_2023 648                      0.0                    0.0
              649                      0.0                    0.0
              650                      0.0                    0.0
              651                      0.0                    0.0
              652                      0.0                    0.0

                   enough_cereal_2020  enough_cereal_2021
all_insp_2019 0                   NaN                 NaN
              1                   NaN                 NaN
              2                   NaN                 NaN
              3                   NaN                 NaN
              4                   NaN                 NaN
...                               ...                 ...
all_insp_2023 648                 Yes                 Yes
              649                  No                  No
              650                 Yes                 Yes
              651                  No                 Yes
              652                 Yes                 Yes

[3250 rows x 128 columns]>

In [154]:
concat_insp_19_23_household = concat_insp_19_23[['date_entered',
 'og_nr',
 'date_inspected','date_of_birth',
 'hm_under_5_years_female',
 'hm_under_5_years_male',
 'hm_5-17_years_female',
 'hm_5-17_years_male',
 'hm_18-59_years_female',
 'hm_18-59_years_male',
 'hm_over_60_years_female',
 'hm_over_60_years_male',
 'orphan_<_5_female',
 'orphan_<_5_male',
 'orphan_5-17_female',
 'orphan_5-17_male',
 'chronically_ill_<_5_female',
 'chronically_ill_<_5_male',
 'chronically_ill_5-17_female',
 'chronically_ill_5-17_male',
 'chronically_ill_18-59_female',
 'chronically_ill_18_-59_male',
 'chronically_ill_60+_female',
 'chronically_ill_60+_male',
 'mentally_challenged_<_5_female',
 'mentally_challenged_<_5_male',
 'mentally_challenged_5-17_female',
 'mentally_challenged_5-17_male',
 'mentally_challenged_17-59_female',
 'mentally_challenged_17-59_male',
 'mentally_challenged_60+_female',
 'mentally_challenged_60+_male',
 'agric_activities_<_5_female',
 'agric_activities_<_5_male',
 'agric_activities_5-17_female',
 'agric_activities_5-17_male',
 'agric_activities_18-59_female',
 'agric_activities_18-59_male',
 'agric_activities_60+_female',
 'agric_activities_60+_male',
 'hh_education_level',
 'children_attending_school',
 'how_many_not_attending',
 'reason_for_not_attending',
 'pupils_pre_school_male',
 'pupils_in_pre_school_female',
 'pupils_in_ecd_male',
 'pupils_in_ecd_female',
 'pupils_in_primary_sch_male',
 'pupils_in_primary__sch_female',
 'pupils_in_sec_sch_male',
 'pupils_in_sec_sch_female',
 'pupils_in_tertiary_male',
 'pupils_in_tertiary_female', 'health_of_farmer',
 'household_head',
 'nearest_clinic',
 'nearest_school',
 'nearest_shops',
 'marital_status',
 'sex',
 'school_fees_expenditure',
 'health_care_expenditure',
 'enough_cereal_2019',
 'hired_labour_18-59_female',
 'hired_labour_18-59_male',
 'hired_labour_60+_female',
 'hired_labour_60+_male',
 'enough_cereal_2020',
 'enough_cereal_2021']]

In [155]:
concat_insp_19_23_assets = concat_insp_19_23[[ 'date_entered',
 'og_nr',
 'date_inspected','date_of_birth','assets',
 'cattle',
 'goats/sheep',
 'donkeys',
 'poultry',
 'hand_hoes',
 'wheelbarrow',
 'water_pipes',
 'cultivator',
 'tractor_plough',
 'scotch_cart',
 'ox_drawnplough',
 'tractor',
 'bicycle',
 'motorcycle',
 'electricity',
 'solar',
 'radio',
 'television',
 'water_pump',
 'water_pump_type',
 'bank/mobile_account',
 'bank_name',
 'fuel_source',
 'type_of_stove',
 'main_source_of_hh_water',
 'source_of_irrigation_water',
 'availabilty_of_hh_latrine',
 'latrine_type']]

In [156]:
concat_insp_19_23.shape

(3250, 128)

In [157]:
duplicates1 = concat_insp_19_23[concat_insp_19_23.duplicated()]
duplicates1.sort_values(by='og_nr')

/var/folders/03/vgz6_sr55_916hp1t5w5mxgw0000gn/T/ipykernel_1357/3580726810.py:1: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  duplicates1 = concat_insp_19_23[concat_insp_19_23.duplicated()]

Empty DataFrame
Columns: [id, date_entered, og_nr, date_inspected, internal_inspector, date_of_birth, hm_under_5_years_female, hm_under_5_years_male, hm_5-17_years_female, hm_5-17_years_male, hm_18-59_years_female, hm_18-59_years_male, hm_over_60_years_female, hm_over_60_years_male, orphan_<_5_female, orphan_<_5_male, orphan_5-17_female, orphan_5-17_male, chronically_ill_<_5_female, chronically_ill_<_5_male, chronically_ill_5-17_female, chronically_ill_5-17_male, chronically_ill_18-59_female, chronically_ill_18_-59_male, chronically_ill_60+_female, chronically_ill_60+_male, mentally_challenged_<_5_female, mentally_challenged_<_5_male, mentally_challenged_5-17_female, mentally_challenged_5-17_male, mentally_challenged_17-59_female, mentally_challenged_17-59_male, mentally_challenged_60+_female, mentally_challenged_60+_male, agric_activities_<_5_female, agric_activities_<_5_male, agric_activities_5-17_female, agric_activities_5-17_male, agric_activities_18-59_female, agric_activities_18-59_male, agric_activities_60+_female, agric_activities_60+_male, hh_education_level, children_attending_school, how_many_not_attending, reason_for_not_attending, pupils_pre_school_male, pupils_in_pre_school_female, pupils_in_ecd_male, pupils_in_ecd_female, pupils_in_primary_sch_male, pupils_in_primary__sch_female, pupils_in_sec_sch_male, pupils_in_sec_sch_female, pupils_in_tertiary_male, pupils_in_tertiary_female, main_livelihood_activity, dry_land_income, irrigated_income, gardening_income, formal_employment_income, small_business_income, organic_or_mabagrown_farming, cereal_harvest_last, enough_cereal_2015, enough_cereal_2016, enough_cereal_2017, enough_cereal_2018, insufficient_cereal_reason_1, insufficient_cereal_reason_2, insufficient_cereal_reason_3, alternative_cereal_source, last_quarter_food_expenditure, ways_to_improve_food_security, ways_to_improve_income, assets, cattle, goats/sheep, donkeys, poultry, hand_hoes, wheelbarrow, water_pipes, cultivator, tractor_plough, scotch_cart, ox_drawnplough, tractor, bicycle, motorcycle, electricity, solar, radio, television, water_pump, water_pump_type, bank/mobile_account, bank_name, fuel_source, type_of_stove, ...]
Index: []

[0 rows x 128 columns]

In [158]:
concat_insp_19_23.drop_duplicates()

/var/folders/03/vgz6_sr55_916hp1t5w5mxgw0000gn/T/ipykernel_1357/2873343264.py:1: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  concat_insp_19_23.drop_duplicates()

                      id date_entered    og_nr date_inspected  \
all_insp_2019 0     91.0   2019-08-02  16198.0     2019-07-17
              1      1.0   2019-08-01   3882.0     2019-07-19
              2     85.0   2019-08-02  16182.0     2019-07-23
              3    103.0   2019-08-03  16245.0     2019-07-19
              4    104.0   2019-08-03  16246.0     2019-07-23
...                  ...          ...      ...            ...
all_insp_2023 648    NaN   2022-09-01  14130.0     2022-08-10
              649    NaN   2022-08-29  19487.0     2022-08-11
              650    NaN   2022-08-29   2890.0     2022-08-11
              651    NaN   2022-08-13   4085.0     2022-08-08
              652    NaN   2022-08-15  19848.0     2022-08-10

                   internal_inspector date_of_birth  hm_under_5_years_female  \
all_insp_2019 0                  69.0          None                        0
              1                  75.0    1991-01-28                        1
              2                  69.0          None                        1
              3                  75.0          None                        1
              4                  75.0          None                        0
...                               ...           ...                      ...
all_insp_2023 648                 NaN    1957-07-11                        0
              649                 NaN    1950-01-19                        0
              650                 NaN    1962-10-09                        0
              651                 NaN          None                        1
              652                 NaN          None                        0

                   hm_under_5_years_male  hm_5-17_years_female  \
all_insp_2019 0                        0                     0
              1                        0                     0
              2                        1                     0
              3                        0                     0
              4                        1                     1
...                                  ...                   ...
all_insp_2023 648                      0                     1
              649                      0                     0
              650                      0                     0
              651                      0                     0
              652                      1                     0

                   hm_5-17_years_male  ...     sex  school_fees_expenditure  \
all_insp_2019 0                     0  ...  female                      0.0
              1                     3  ...  female                    505.0
              2                     0  ...    male                      0.0
              3                     1  ...    male                     45.0
              4                     1  ...  female                     20.0
...                               ...  ...     ...                      ...
all_insp_2023 648                   0  ...  female                      0.0
              649                   0  ...  female                      0.0
              650                   0  ...  female                      0.0
              651                   0  ...  female                      0.0
              652                   2  ...  female                      0.0

                   health_care_expenditure  enough_cereal_2019  \
all_insp_2019 0                        0.0                 NaN
              1                       68.0                 NaN
              2                        0.0                 NaN
              3                        0.0                 NaN
              4                       20.0                 NaN
...                                    ...                 ...
all_insp_2023 648                      0.0                 Yes
              649                      0.0                  No
              650                      0.0                 Yes
              651                      0.0                  No
              652                      0.0                 Yes

                   hired_labour_18-59_female  hired_labour_18-59_male  \
all_insp_2019 0                          NaN                      NaN
              1                          NaN                      NaN
              2                          NaN                      NaN
              3                          NaN                      NaN
              4                          NaN                      NaN
...                                      ...                      ...
all_insp_2023 648                        0.0                      0.0
              649                        0.0                      0.0
              650                        0.0                      0.0
              651                        0.0                      0.0
              652                        0.0                      0.0

                   hired_labour_60+_female  hired_labour_60+_male  \
all_insp_2019 0                        NaN                    NaN
              1                        NaN                    NaN
              2                        NaN                    NaN
              3                        NaN                    NaN
              4                        NaN                    NaN
...                                    ...                    ...
all_insp_2023 648                      0.0                    0.0
              649                      0.0                    0.0
              650                      0.0                    0.0
              651                      0.0                    0.0
              652                      0.0                    0.0

                   enough_cereal_2020  enough_cereal_2021
all_insp_2019 0                   NaN                 NaN
              1                   NaN                 NaN
              2                   NaN                 NaN
              3                   NaN                 NaN
              4                   NaN                 NaN
...                               ...                 ...
all_insp_2023 648                 Yes                 Yes
              649                  No                  No
              650                 Yes                 Yes
              651                  No                 Yes
              652                 Yes                 Yes

[3250 rows x 128 columns]

In [179]:
concat_insp_19_23.set_index('id', inplace=True)

In [180]:
concat_insp_19_23.reset_index(inplace=True, drop=True)

In [181]:
concat_insp_19_23.head()

,date_entered,og_nr,date_inspected,internal_inspector,date_of_birth,hm_under_5_years_female,hm_under_5_years_male,hm_5-17_years_female,hm_5-17_years_male,hm_18-59_years_female,...,sex,school_fees_expenditure,health_care_expenditure,enough_cereal_2019,hired_labour_18-59_female,hired_labour_18-59_male,hired_labour_60+_female,hired_labour_60+_male,enough_cereal_2020,enough_cereal_2021
0,2019-08-02,16198.0,2019-07-17,69.0,None,0,0,0,0,1,...,female,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-08-01,3882.0,2019-07-19,75.0,1991-01-28,1,0,0,3,1,...,female,505.0,68.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-08-02,16182.0,2019-07-23,69.0,None,1,1,0,0,1,...,male,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-08-03,16245.0,2019-07-19,75.0,None,1,0,0,1,1,...,male,45.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-08-03,16246.0,2019-07-23,75.0,None,0,1,1,1,2,...,female,20.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [160]:
concat_insp_19_23_household = concat_insp_19_23[['date_entered',
 'og_nr',
 'date_inspected','date_of_birth',
 'hm_under_5_years_female',
 'hm_under_5_years_male',
 'hm_5-17_years_female',
 'hm_5-17_years_male',
 'hm_18-59_years_female',
 'hm_18-59_years_male',
 'hm_over_60_years_female',
 'hm_over_60_years_male',
 'orphan_<_5_female',
 'orphan_<_5_male',
 'orphan_5-17_female',
 'orphan_5-17_male',
 'chronically_ill_<_5_female',
 'chronically_ill_<_5_male',
 'chronically_ill_5-17_female',
 'chronically_ill_5-17_male',
 'chronically_ill_18-59_female',
 'chronically_ill_18_-59_male',
 'chronically_ill_60+_female',
 'chronically_ill_60+_male',
 'mentally_challenged_<_5_female',
 'mentally_challenged_<_5_male',
 'mentally_challenged_5-17_female',
 'mentally_challenged_5-17_male',
 'mentally_challenged_17-59_female',
 'mentally_challenged_17-59_male',
 'mentally_challenged_60+_female',
 'mentally_challenged_60+_male',
 'agric_activities_<_5_female',
 'agric_activities_<_5_male',
 'agric_activities_5-17_female',
 'agric_activities_5-17_male',
 'agric_activities_18-59_female',
 'agric_activities_18-59_male',
 'agric_activities_60+_female',
 'agric_activities_60+_male',
 'hh_education_level',
 'children_attending_school',
 'how_many_not_attending',
 'reason_for_not_attending',
 'pupils_pre_school_male',
 'pupils_in_pre_school_female',
 'pupils_in_ecd_male',
 'pupils_in_ecd_female',
 'pupils_in_primary_sch_male',
 'pupils_in_primary__sch_female',
 'pupils_in_sec_sch_male',
 'pupils_in_sec_sch_female',
 'pupils_in_tertiary_male',
 'pupils_in_tertiary_female', 'health_of_farmer',
 'household_head',
 'nearest_clinic',
 'nearest_school',
 'nearest_shops',
 'marital_status',
 'sex',
 'school_fees_expenditure',
 'health_care_expenditure',
 'enough_cereal_2019',
 'hired_labour_18-59_female',
 'hired_labour_18-59_male',
 'hired_labour_60+_female',
 'hired_labour_60+_male',
 'enough_cereal_2020',
 'enough_cereal_2021', 'main_livelihood_activity',
 'dry_land_income',
 'irrigated_income',
 'gardening_income',
 'formal_employment_income',
 'small_business_income',
 'organic_or_mabagrown_farming',
 'cereal_harvest_last',
 'enough_cereal_2015',
 'enough_cereal_2016',
 'enough_cereal_2017',
 'enough_cereal_2018',
 'insufficient_cereal_reason_1',
 'insufficient_cereal_reason_2',
 'insufficient_cereal_reason_3',
 'alternative_cereal_source',
 'last_quarter_food_expenditure',
 'ways_to_improve_food_security',
 'ways_to_improve_income']]

In [161]:
concat_insp_19_23_assets = concat_insp_19_23[[ 'date_entered',
 'og_nr',
 'date_inspected','date_of_birth','assets',
 'cattle',
 'goats/sheep',
 'donkeys',
 'poultry',
 'hand_hoes',
 'wheelbarrow',
 'water_pipes',
 'cultivator',
 'tractor_plough',
 'scotch_cart',
 'ox_drawnplough',
 'tractor',
 'bicycle',
 'motorcycle',
 'electricity',
 'solar',
 'radio',
 'television',
 'water_pump',
 'water_pump_type',
 'bank/mobile_account',
 'bank_name',
 'fuel_source',
 'type_of_stove',
 'main_source_of_hh_water',
 'source_of_irrigation_water',
 'availabilty_of_hh_latrine',
 'latrine_type']]

In [182]:
import psycopg2
import sqlalchemy 
from sql_functions import sqlalchemy 
from sql_functions import get_engine 


# Write records stored in a dataframe to SQL database
engine = get_engine()
table_name = 'all_insp_19-23'
if engine!=None:
    try:
        concat_insp_19_23.to_sql(name='all_insp_19-23', # Name of SQL table variable - at the front its the dataframe!! 
                        con=engine, # Engine or connection
                        schema='organic_africa', # your class schema variable
                        if_exists='replace', # Drop the table before inserting new values 
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None
else:
    print('No engine')

The all_insp_19-23 table was imported successfully.

To see if it's useful, lets split up the table in two smaller ones.

In [163]:
import psycopg2
import sqlalchemy 
from sql_functions import sqlalchemy 
from sql_functions import get_engine 


# Write records stored in a dataframe to SQL database
engine = get_engine()
table_name = 'all_insp_19-23_assets'
if engine!=None:
    try:
        concat_insp_19_23_assets.to_sql(name='all_insp_19-23_assets', # Name of SQL table variable - at the front its the dataframe!! 
                        con=engine, # Engine or connection
                        schema='organic_africa', # your class schema variable
                        if_exists='replace', # Drop the table before inserting new values 
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None
else:
    print('No engine')

The all_insp_19-23_assets table was imported successfully.

In [164]:
import psycopg2
import sqlalchemy 
from sql_functions import sqlalchemy 
from sql_functions import get_engine 


# Write records stored in a dataframe to SQL database
engine = get_engine()
table_name = 'all_insp_19-23_household'
if engine!=None:
    try:
        concat_insp_19_23_household.to_sql(name='all_insp_19-23_household', # Name of SQL table variable - at the front its the dataframe!! 
                        con=engine, # Engine or connection
                        schema='organic_africa', # your class schema variable
                        if_exists='replace', # Drop the table before inserting new values 
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None
else:
    print('No engine')

The all_insp_19-23_household table was imported successfully.

In [165]:
concat_insp_19_23['date_of_birth'].isnull().sum()

491