## Clean, join and upload 15-23

In [3]:
import pandas as pd
import psycopg2
import sql_functions as sf 
schema = 'organic_africa' # UPDATE 'TABLE_SCHEMA' based on schema used in class 
engine = sf.get_engine()
    
all_insp = {}

all_insp['19'] = sf.get_dataframe(f'SELECT * FROM {schema}."all_insp_19-23"')
all_insp['15'] = sf.get_dataframe(f'SELECT * FROM {schema}."all_insp_15_18"')

In [5]:
all_insp['19'].shape

(3250, 127)

In [6]:
all_insp['15'].shape

(5019, 15)

In [12]:
all_insp['19'].columns.tolist()

['date_entered',
 'og_nr',
 'date_inspected',
 'internal_inspector',
 'date_of_birth',
 'hm_under_5_years_female',
 'hm_under_5_years_male',
 'hm_5-17_years_female',
 'hm_5-17_years_male',
 'hm_18-59_years_female',
 'hm_18-59_years_male',
 'hm_over_60_years_female',
 'hm_over_60_years_male',
 'orphan_<_5_female',
 'orphan_<_5_male',
 'orphan_5-17_female',
 'orphan_5-17_male',
 'chronically_ill_<_5_female',
 'chronically_ill_<_5_male',
 'chronically_ill_5-17_female',
 'chronically_ill_5-17_male',
 'chronically_ill_18-59_female',
 'chronically_ill_18_-59_male',
 'chronically_ill_60+_female',
 'chronically_ill_60+_male',
 'mentally_challenged_<_5_female',
 'mentally_challenged_<_5_male',
 'mentally_challenged_5-17_female',
 'mentally_challenged_5-17_male',
 'mentally_challenged_17-59_female',
 'mentally_challenged_17-59_male',
 'mentally_challenged_60+_female',
 'mentally_challenged_60+_male',
 'agric_activities_<_5_female',
 'agric_activities_<_5_male',
 'agric_activities_5-17_female',
 'agric_activities_5-17_male',
 'agric_activities_18-59_female',
 'agric_activities_18-59_male',
 'agric_activities_60+_female',
 'agric_activities_60+_male',
 'hh_education_level',
 'children_attending_school',
 'how_many_not_attending',
 'reason_for_not_attending',
 'pupils_pre_school_male',
 'pupils_in_pre_school_female',
 'pupils_in_ecd_male',
 'pupils_in_ecd_female',
 'pupils_in_primary_sch_male',
 'pupils_in_primary__sch_female',
 'pupils_in_sec_sch_male',
 'pupils_in_sec_sch_female',
 'pupils_in_tertiary_male',
 'pupils_in_tertiary_female',
 'main_livelihood_activity',
 'dry_land_income',
 'irrigated_income',
 'gardening_income',
 'formal_employment_income',
 'small_business_income',
 'organic_or_mabagrown_farming',
 'cereal_harvest_last',
 'enough_cereal_2015',
 'enough_cereal_2016',
 'enough_cereal_2017',
 'enough_cereal_2018',
 'insufficient_cereal_reason_1',
 'insufficient_cereal_reason_2',
 'insufficient_cereal_reason_3',
 'alternative_cereal_source',
 'last_quarter_food_expenditure',
 'ways_to_improve_food_security',
 'ways_to_improve_income',
 'assets',
 'cattle',
 'goats/sheep',
 'donkeys',
 'poultry',
 'hand_hoes',
 'wheelbarrow',
 'water_pipes',
 'cultivator',
 'tractor_plough',
 'scotch_cart',
 'ox_drawnplough',
 'tractor',
 'bicycle',
 'motorcycle',
 'electricity',
 'solar',
 'radio',
 'television',
 'water_pump',
 'water_pump_type',
 'bank/mobile_account',
 'bank_name',
 'fuel_source',
 'type_of_stove',
 'main_source_of_hh_water',
 'source_of_irrigation_water',
 'availabilty_of_hh_latrine',
 'latrine_type',
 'training/inputs_recieved_1',
 'training/inputs_recieved_2',
 'training/inputs_recieved_3',
 'risk_from_non_organic_fields',
 'risk_from_non_organic_activities',
 'risk_from_motorways,_wastewaters',
 'risk_of_contaminated_water',
 'risk_of_contamination_from_malaria_control',
 'health_of_farmer',
 'household_head',
 'nearest_clinic',
 'nearest_school',
 'nearest_shops',
 'marital_status',
 'sex',
 'school_fees_expenditure',
 'health_care_expenditure',
 'enough_cereal_2019',
 'hired_labour_18-59_female',
 'hired_labour_18-59_male',
 'hired_labour_60+_female',
 'hired_labour_60+_male',
 'enough_cereal_2020',
 'enough_cereal_2021']

In [8]:
all_insp['15'].columns.tolist

<bound method IndexOpsMixin.tolist of Index(['date_entered', 'og_nr', 'date_inspected', 'date_of_birth',
       'hm_under_5_years_female', 'hm_under_5_years_male',
       'hm_5-17_years_female', 'hm_5-17_years_male', 'hm_18-59_years_female',
       'hm_18-59_years_male', 'hm_over_60_years_female',
       'hm_over_60_years_male', 'months_food_lasts', 'area', 'wc_nr'],
      dtype='object')>

In [14]:
all_insp['15'].columns.difference(all_insp['19'].columns)

Index(['area', 'months_food_lasts', 'wc_nr'], dtype='object')

In [15]:
all_insp['15']['cereal_harvest_last'] = all_insp['15']['months_food_lasts']

In [16]:
all_insp['15'] = all_insp['15'].drop('months_food_lasts', axis=1)

In [17]:
concat_insp_19_23 = pd.concat(all_insp)

In [18]:
concat_insp_19_23.shape

(8269, 129)

In [20]:
concat_insp_19_23.duplicated().sum()

232

232

In [27]:
duplicates = concat_insp_19_23[concat_insp_19_23.duplicated(keep=False)]

In [28]:
duplicates.sort_values(by='og_nr')

        date_entered    og_nr date_inspected  internal_inspector  \
15 721    2015-10-27   2768.0     2015-09-30                 NaN
   91     2015-10-27   2768.0     2015-09-30                 NaN
   1048   2015-10-27   2770.0     2015-09-29                 NaN
   2011   2015-10-27   2770.0     2015-09-29                 NaN
   1049   2015-10-26   2771.0     2015-09-29                 NaN
...              ...      ...            ...                 ...
   105    2015-11-26  12453.0     2015-10-19                 NaN
   106    2015-11-26  12454.0     2015-10-19                 NaN
   16     2015-11-26  12454.0     2015-10-19                 NaN
   107    2015-10-09  12939.0     2015-10-03                 NaN
   17     2015-10-09  12939.0     2015-10-03                 NaN

        date_of_birth  hm_under_5_years_female  hm_under_5_years_male  \
15 721           None                      0.0                    1.0
   91            None                      0.0                    1.0
   1048    1960-06-06                      2.0                    0.0
   2011    1960-06-06                      2.0                    0.0
   1049    1960-06-06                      0.0                    0.0
...               ...                      ...                    ...
   105           None                      1.0                    0.0
   106           None                      1.0                    1.0
   16            None                      1.0                    1.0
   107           None                      0.0                    0.0
   17            None                      0.0                    0.0

         hm_5-17_years_female  hm_5-17_years_male  hm_18-59_years_female  ...  \
15 721                    0.0                 1.0                    3.0  ...
   91                     0.0                 1.0                    3.0  ...
   1048                   2.0                 1.0                    1.0  ...
   2011                   2.0                 1.0                    1.0  ...
   1049                   2.0                 4.0                    0.0  ...
...                       ...                 ...                    ...  ...
   105                    0.0                 1.0                    1.0  ...
   106                    0.0                 0.0                    1.0  ...
   16                     0.0                 0.0                    1.0  ...
   107                    0.0                 0.0                    1.0  ...
   17                     0.0                 0.0                    1.0  ...

         health_care_expenditure  enough_cereal_2019  \
15 721                       NaN                 NaN
   91                        NaN                 NaN
   1048                      NaN                 NaN
   2011                      NaN                 NaN
   1049                      NaN                 NaN
...                          ...                 ...
   105                       NaN                 NaN
   106                       NaN                 NaN
   16                        NaN                 NaN
   107                       NaN                 NaN
   17                        NaN                 NaN

         hired_labour_18-59_female  hired_labour_18-59_male  \
15 721                         NaN                      NaN
   91                          NaN                      NaN
   1048                        NaN                      NaN
   2011                        NaN                      NaN
   1049                        NaN                      NaN
...                            ...                      ...
   105                         NaN                      NaN
   106                         NaN                      NaN
   16                          NaN                      NaN
   107                         NaN                      NaN
   17                          NaN                      NaN

         hired_labour_60+_female  hired_labour_60+_male  enough_cereal_2020  \
15 721                       NaN                    NaN                 NaN
   91                        NaN                    NaN                 NaN
   1048                      NaN                    NaN                 NaN
   2011                      NaN                    NaN                 NaN
   1049                      NaN                    NaN                 NaN
...                          ...                    ...                 ...
   105                       NaN                    NaN                 NaN
   106                       NaN                    NaN                 NaN
   16                        NaN                    NaN                 NaN
   107                       NaN                    NaN                 NaN
   17                        NaN                    NaN                 NaN

         enough_cereal_2021  area  wc_nr
15 721                  NaN   NaN    NaN
   91                   NaN   NaN    NaN
   1048                 NaN   NaN    NaN
   2011                 NaN   NaN    NaN
   1049                 NaN   NaN    NaN
...                     ...   ...    ...
   105                  NaN   NaN    NaN
   106                  NaN   NaN    NaN
   16                   NaN   NaN    NaN
   107                  NaN   NaN    NaN
   17                   NaN   NaN    NaN

[464 rows x 129 columns]

In [32]:
concat_insp_19_23.drop_duplicates(inplace=True)

In [33]:
import psycopg2
import sqlalchemy 
from sql_functions import sqlalchemy 
from sql_functions import get_engine 


# Write records stored in a dataframe to SQL database
engine = get_engine()
table_name = 'all_insp_15_23'
if engine!=None:
    try:
        concat_insp_19_23.to_sql(name='all_insp_15_23', # Name of SQL table variable - at the front its the dataframe!! 
                        con=engine, # Engine or connection
                        schema='organic_africa', # your class schema variable
                        if_exists='replace', # Drop the table before inserting new values 
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None
else:
    print('No engine')

The all_insp_15_23 table was imported successfully.