lets import the 2021 tables

In [2]:
# Import get_dataframe function from the sql module
import pandas as pd 
from sql_functions import get_dataframe

In [3]:
schema = 'organic_africa'
df1 = get_dataframe(f'SELECT * FROM {schema}."OGInsp2021__OGMB_1"')

In [4]:
# schema = 'organic_africa'
# df2 = get_dataframe(f'SELECT * FROM {schema}."OG_Insp_2021__OGOrg_1"')

In [5]:
schema = 'organic_africa'
df3 = get_dataframe(f'SELECT * FROM {schema}."OG_Insp_2021_2__OGOrg_2"')

In [6]:
display(df1.shape, ##df2.shape,
df3.shape)

(970, 151)

(350, 160)

we need to adjust the column names, so it can be concatted better.

In [8]:
df3.columns.tolist()

['ID',
 'Date_entered',
 'OG_Nr',
 'Date_inspected',
 'Internal_Inspector',
 'Date_of_birth',
 'Marital_status',
 'Sex',
 'Household_head',
 'HM_under_5_years_female',
 'HM_under_5_years_male',
 'HM_5-17_years_female',
 'HM_5-17_years_male',
 'HM_18-59_years_female',
 'HM_18-59_years_male',
 'HM_over_60_years_female',
 'HM_over_60_years_male',
 'Orphan_<_5_female',
 'Orphan_<_5_male',
 'Orphan_5-17_Female',
 'Orphan_5-17_male',
 'chronically_ill_<_5_female',
 'chronically_ill_<_5_male',
 'chronically_ill_5-17_female',
 'chronically_ill_5-17_male',
 'chronically_ill_18-59_female',
 'Chronically_ill_18_-59_male',
 'chronically_ill_60+_female',
 'chronically_ill_60+_male',
 'mentally_challenged_<_5_female',
 'mentally_challenged_<_5_male',
 'mentally_challenged_5-17_female',
 'mentally_challenged_5-17_male',
 'mentally_challenged_17-59_female',
 'mentally_challenged_17-59_male',
 'mentally_challenged_60+_female',
 'mentally_challenged_60+_male',
 'agric_activities_<_5_female',
 'agric_activities_<_5_male',
 'agric_activities_5-17_female',
 'agric_activities_5-17_male',
 'Agric_activities_18-59_female',
 'agric_activities_18-59_male',
 'agric_activities_60+_female',
 'agric_activities_60+_male',
 'Hired_labour_18-59_female',
 'Hired_labour_18-59_male',
 'Hired_labour_60+_female',
 'Hired_labour_60+_male',
 'HH_education_level',
 'children_attending_school',
 'How_many_not_attending',
 'Reason_for_not_attending',
 'Pupils_Pre_school_male',
 'Pupils_in_Pre_school_female',
 'Pupils_in_ECD_male',
 'Pupils_in_ECD_female',
 'Pupils_in_Primary_sch_male',
 'Pupils_in_primary__sch_female',
 'Pupils_in_Sec_sch_male',
 'Pupils_in_Sec_sch_female',
 'Pupils_in_Tertiary_male',
 'Pupils_in_tertiary_female',
 'Main_livelihood_activity',
 'Dry_land_income',
 'Irrigated_income',
 'Gardening_income',
 'Formal_employment_income',
 'Small_business_income',
 'Organic_or_mabagrown_farming',
 'Cereal_harvest_last',
 'Enough_cereal_2018',
 'Enough_cereal_2019',
 'Enough_cereal_2020',
 'Enough_cereal_2021',
 'Insufficient_cereal_reason_1',
 'Insufficient_cereal_reason_2',
 'Insufficient_cereal_reason_3',
 'Alternative_cereal_source',
 'Alternative_Cereal_2',
 'Alternative_Cereal_3',
 'Health__care_expenditure',
 'School_(fees)_expenditure',
 'last_quarter_food_expenditure',
 'Ways_to_improve_food_security',
 'ways_to_improve_income',
 'OAH_works_in_food_security',
 'OAH_works_in_income',
 'New_member_(why_you_joined_Rosella_farming',
 'Assets',
 'Cattle',
 'Goats/sheep',
 'Donkeys',
 'Poultry',
 'Hand_hoes',
 'Wheelbarrow',
 'Water_pipes',
 'Cultivator',
 'Tractor_plough',
 'Scotch_cart',
 'Ox_drawnPlough',
 'Tractor',
 'Bicycle',
 'Motorcycle',
 'Electricity',
 'Solar',
 'Radio',
 'Television',
 'Water_pump',
 'Water_pump_type',
 'Bank/mobile_account',
 'Bank_name',
 'fuel_source',
 'Type_of_stove',
 'Main_source_of_HH_water',
 'Source_of_irrigation_water',
 'Availabilty_of_HH_latrine',
 'Latrine_Type',
 'Membership_to_other_organisations',
 'organisation_1',
 'Leadership_position_1',
 'Training/inputs_recieved_1',
 'Organisation_2',
 'Leadership_postion_2',
 'Training/inputs_recieved_2',
 'Organisation_3',
 'leadership_position_3',
 'Training/inputs_recieved_3',
 'Crop_management_corrective_action',
 'Farm_and_Farm_Mgt_corrective_actions',
 'Post_harvest_Mgt_corrective_action',
 'Risk_from_non_organic_fields',
 'Risk_from_non_organic_activities',
 'Risk_from_motorways,_wastewaters',
 'Risk_of_contaminated_water',
 'Risk_of_contamination_from_Malaria_control',
 'Observation',
 'Health_of_Farmer',
 'people_of_influence',
 'Distance_from_nearest_clinic',
 'Distance_from_nearest_School',
 'Distance_from_nearest_Shops',
 'last_year_corrective_actions',
 'Corrective_action_implemented',
 'Compliance_this_year',
 'Recurrent_corrective_actions',
 'Corrective_actions',
 'Compliance_this_year_ICS',
 'Additional_sanctions_ICS',
 'Overall_comment',
 'All_items_checked',
 'Items_not_checked',
 'Entered_by',
 'nearest_shops',
 'nearest_clinic',
 'nearest_school',
 'cereal_harvest_last',
 'health_care_expenditure',
 'school_fees_expenditure',
 'last_quarter_food_expenditure_1']

In [9]:
df1.columns

Index(['ID', 'Date_entered', 'OG_Nr', 'Date_inspected', 'Internal_Inspector',
       'Audit_type', 'Certifications', 'household_head',
       'HM_under_5_years_female', 'HM_under_5_years_male',
       ...
       'Overall_comment', 'Entered_by', 'marital_status_1', 'gender_text',
       'reason_for_school_dropout', 'new_date_of_birth', 'nearest_clinic',
       'nearest_school', 'nearest_shops', 'Cereal_harvest_last_1'],
      dtype='object', length=151)

In [11]:
df1.columns.difference(df3.columns)

Index(['Alternative_cereal_source_2', 'Alternative_cereal_source_3',
       'Audit_type', 'Cereal_harvest_last_1', 'Certifications', 'Position_1',
       'Risk_of_contamination_from_malaria_control', 'Why_join_MB_Rosella',
       'gender_text', 'household_head', 'marital_status_1',
       'new_date_of_birth', 'position_2', 'position_3',
       'reason_for_school_dropout'],
      dtype='object')

lets drop some columns in each dataframe to get a common ground and more visibility

In [12]:
df1.columns.to_list()

['ID',
 'Date_entered',
 'OG_Nr',
 'Date_inspected',
 'Internal_Inspector',
 'Audit_type',
 'Certifications',
 'household_head',
 'HM_under_5_years_female',
 'HM_under_5_years_male',
 'HM_5-17_years_female',
 'HM_5-17_years_male',
 'HM_18-59_years_female',
 'HM_18-59_years_male',
 'HM_over_60_years_female',
 'HM_over_60_years_male',
 'Orphan_<_5_female',
 'Orphan_<_5_male',
 'Orphan_5-17_Female',
 'Orphan_5-17_male',
 'chronically_ill_<_5_female',
 'chronically_ill_<_5_male',
 'chronically_ill_5-17_female',
 'chronically_ill_5-17_male',
 'chronically_ill_18-59_female',
 'Chronically_ill_18_-59_male',
 'chronically_ill_60+_female',
 'chronically_ill_60+_male',
 'mentally_challenged_<_5_female',
 'mentally_challenged_<_5_male',
 'mentally_challenged_5-17_female',
 'mentally_challenged_5-17_male',
 'mentally_challenged_17-59_female',
 'mentally_challenged_17-59_male',
 'mentally_challenged_60+_female',
 'mentally_challenged_60+_male',
 'agric_activities_<_5_female',
 'agric_activities_<_5_male',
 'agric_activities_5-17_female',
 'agric_activities_5-17_male',
 'Agric_activities_18-59_female',
 'agric_activities_18-59_male',
 'agric_activities_60+_female',
 'agric_activities_60+_male',
 'Hired_labour_18-59_female',
 'Hired_labour_18-59_male',
 'Hired_labour_60+_female',
 'Hired_labour_60+_male',
 'HH_education_level',
 'children_attending_school',
 'How_many_not_attending',
 'Reason_for_not_attending',
 'Pupils_Pre_school_male',
 'Pupils_in_Pre_school_female',
 'Pupils_in_ECD_male',
 'Pupils_in_ECD_female',
 'Pupils_in_Primary_sch_male',
 'Pupils_in_primary__sch_female',
 'Pupils_in_Sec_sch_male',
 'Pupils_in_Sec_sch_female',
 'Pupils_in_Tertiary_male',
 'Pupils_in_tertiary_female',
 'Main_livelihood_activity',
 'Dry_land_income',
 'Irrigated_income',
 'Gardening_income',
 'Formal_employment_income',
 'Organic_or_mabagrown_farming',
 'Small_business_income',
 'Cereal_harvest_last',
 'Enough_cereal_2018',
 'Enough_cereal_2019',
 'Enough_cereal_2020',
 'Enough_cereal_2021',
 'Insufficient_cereal_reason_1',
 'Insufficient_cereal_reason_2',
 'Insufficient_cereal_reason_3',
 'Alternative_cereal_source',
 'Alternative_cereal_source_2',
 'Alternative_cereal_source_3',
 'Health__care_expenditure',
 'School_(fees)_expenditure',
 'last_quarter_food_expenditure',
 'Ways_to_improve_food_security',
 'ways_to_improve_income',
 'OAH_works_in_food_security',
 'OAH_works_in_income',
 'Why_join_MB_Rosella',
 'Assets',
 'Cattle',
 'Goats/sheep',
 'Donkeys',
 'Poultry',
 'Hand_hoes',
 'Wheelbarrow',
 'Water_pipes',
 'Cultivator',
 'Tractor_plough',
 'Scotch_cart',
 'Ox_drawnPlough',
 'Tractor',
 'Bicycle',
 'Motorcycle',
 'Electricity',
 'Solar',
 'Radio',
 'Television',
 'Water_pump',
 'Bank/mobile_account',
 'Bank_name',
 'fuel_source',
 'Type_of_stove',
 'Main_source_of_HH_water',
 'Source_of_irrigation_water',
 'Availabilty_of_HH_latrine',
 'Latrine_Type',
 'Membership_to_other_organisations',
 'organisation_1',
 'Position_1',
 'Training/inputs_recieved_1',
 'Organisation_2',
 'position_2',
 'Training/inputs_recieved_2',
 'Organisation_3',
 'position_3',
 'Training/inputs_recieved_3',
 'Crop_management_corrective_action',
 'Farm_and_Farm_Mgt_corrective_actions',
 'Post_harvest_Mgt_corrective_action',
 'Risk_from_non_organic_fields',
 'Risk_from_non_organic_activities',
 'Risk_from_motorways,_wastewaters',
 'Risk_of_contamination_from_malaria_control',
 'Risk_of_contaminated_water',
 'Observation',
 'Health_of_Farmer',
 'people_of_influence',
 'last_year_corrective_actions',
 'Compliance_this_year',
 'Recurrent_corrective_actions',
 'Corrective_actions',
 'Overall_comment',
 'Entered_by',
 'marital_status_1',
 'gender_text',
 'reason_for_school_dropout',
 'new_date_of_birth',
 'nearest_clinic',
 'nearest_school',
 'nearest_shops',
 'Cereal_harvest_last_1']

In [14]:
columns_to_drop = ['ID', 'Audit_type', 'Internal_Inspector','Membership_to_other_organisations','organisation_1','Position_1','Training/inputs_recieved_1','Organisation_2','position_2','Training/inputs_recieved_2',
 'Organisation_3',
 'position_3',
 'Training/inputs_recieved_3',
 'Crop_management_corrective_action',
 'Farm_and_Farm_Mgt_corrective_actions',
 'Post_harvest_Mgt_corrective_action', 'Observation', 'people_of_influence', 'last_year_corrective_actions',
 'Compliance_this_year',
 'Recurrent_corrective_actions',
 'Corrective_actions',
 'Overall_comment',
 'Entered_by']
df1.drop(columns=columns_to_drop, axis=1, inplace=True)

KeyError: "['ID', 'Audit_type', 'Internal_Inspector', 'Membership_to_other_organisations', 'organisation_1', 'Position_1', 'Training/inputs_recieved_1', 'Organisation_2', 'position_2', 'Training/inputs_recieved_2', 'Organisation_3', 'position_3', 'Training/inputs_recieved_3', 'Crop_management_corrective_action', 'Farm_and_Farm_Mgt_corrective_actions', 'Post_harvest_Mgt_corrective_action', 'Observation', 'people_of_influence', 'last_year_corrective_actions', 'Compliance_this_year', 'Recurrent_corrective_actions', 'Corrective_actions', 'Overall_comment', 'Entered_by'] not found in axis"

In [15]:
#same with df3
df3.columns.to_list()

['ID',
 'Date_entered',
 'OG_Nr',
 'Date_inspected',
 'Internal_Inspector',
 'Date_of_birth',
 'Marital_status',
 'Sex',
 'Household_head',
 'HM_under_5_years_female',
 'HM_under_5_years_male',
 'HM_5-17_years_female',
 'HM_5-17_years_male',
 'HM_18-59_years_female',
 'HM_18-59_years_male',
 'HM_over_60_years_female',
 'HM_over_60_years_male',
 'Orphan_<_5_female',
 'Orphan_<_5_male',
 'Orphan_5-17_Female',
 'Orphan_5-17_male',
 'chronically_ill_<_5_female',
 'chronically_ill_<_5_male',
 'chronically_ill_5-17_female',
 'chronically_ill_5-17_male',
 'chronically_ill_18-59_female',
 'Chronically_ill_18_-59_male',
 'chronically_ill_60+_female',
 'chronically_ill_60+_male',
 'mentally_challenged_<_5_female',
 'mentally_challenged_<_5_male',
 'mentally_challenged_5-17_female',
 'mentally_challenged_5-17_male',
 'mentally_challenged_17-59_female',
 'mentally_challenged_17-59_male',
 'mentally_challenged_60+_female',
 'mentally_challenged_60+_male',
 'agric_activities_<_5_female',
 'agric_activities_<_5_male',
 'agric_activities_5-17_female',
 'agric_activities_5-17_male',
 'Agric_activities_18-59_female',
 'agric_activities_18-59_male',
 'agric_activities_60+_female',
 'agric_activities_60+_male',
 'Hired_labour_18-59_female',
 'Hired_labour_18-59_male',
 'Hired_labour_60+_female',
 'Hired_labour_60+_male',
 'HH_education_level',
 'children_attending_school',
 'How_many_not_attending',
 'Reason_for_not_attending',
 'Pupils_Pre_school_male',
 'Pupils_in_Pre_school_female',
 'Pupils_in_ECD_male',
 'Pupils_in_ECD_female',
 'Pupils_in_Primary_sch_male',
 'Pupils_in_primary__sch_female',
 'Pupils_in_Sec_sch_male',
 'Pupils_in_Sec_sch_female',
 'Pupils_in_Tertiary_male',
 'Pupils_in_tertiary_female',
 'Main_livelihood_activity',
 'Dry_land_income',
 'Irrigated_income',
 'Gardening_income',
 'Formal_employment_income',
 'Small_business_income',
 'Organic_or_mabagrown_farming',
 'Cereal_harvest_last',
 'Enough_cereal_2018',
 'Enough_cereal_2019',
 'Enough_cereal_2020',
 'Enough_cereal_2021',
 'Insufficient_cereal_reason_1',
 'Insufficient_cereal_reason_2',
 'Insufficient_cereal_reason_3',
 'Alternative_cereal_source',
 'Alternative_Cereal_2',
 'Alternative_Cereal_3',
 'Health__care_expenditure',
 'School_(fees)_expenditure',
 'last_quarter_food_expenditure',
 'Ways_to_improve_food_security',
 'ways_to_improve_income',
 'OAH_works_in_food_security',
 'OAH_works_in_income',
 'New_member_(why_you_joined_Rosella_farming',
 'Assets',
 'Cattle',
 'Goats/sheep',
 'Donkeys',
 'Poultry',
 'Hand_hoes',
 'Wheelbarrow',
 'Water_pipes',
 'Cultivator',
 'Tractor_plough',
 'Scotch_cart',
 'Ox_drawnPlough',
 'Tractor',
 'Bicycle',
 'Motorcycle',
 'Electricity',
 'Solar',
 'Radio',
 'Television',
 'Water_pump',
 'Water_pump_type',
 'Bank/mobile_account',
 'Bank_name',
 'fuel_source',
 'Type_of_stove',
 'Main_source_of_HH_water',
 'Source_of_irrigation_water',
 'Availabilty_of_HH_latrine',
 'Latrine_Type',
 'Membership_to_other_organisations',
 'organisation_1',
 'Leadership_position_1',
 'Training/inputs_recieved_1',
 'Organisation_2',
 'Leadership_postion_2',
 'Training/inputs_recieved_2',
 'Organisation_3',
 'leadership_position_3',
 'Training/inputs_recieved_3',
 'Crop_management_corrective_action',
 'Farm_and_Farm_Mgt_corrective_actions',
 'Post_harvest_Mgt_corrective_action',
 'Risk_from_non_organic_fields',
 'Risk_from_non_organic_activities',
 'Risk_from_motorways,_wastewaters',
 'Risk_of_contaminated_water',
 'Risk_of_contamination_from_Malaria_control',
 'Observation',
 'Health_of_Farmer',
 'people_of_influence',
 'Distance_from_nearest_clinic',
 'Distance_from_nearest_School',
 'Distance_from_nearest_Shops',
 'last_year_corrective_actions',
 'Corrective_action_implemented',
 'Compliance_this_year',
 'Recurrent_corrective_actions',
 'Corrective_actions',
 'Compliance_this_year_ICS',
 'Additional_sanctions_ICS',
 'Overall_comment',
 'All_items_checked',
 'Items_not_checked',
 'Entered_by',
 'nearest_shops',
 'nearest_clinic',
 'nearest_school',
 'cereal_harvest_last',
 'health_care_expenditure',
 'school_fees_expenditure',
 'last_quarter_food_expenditure_1']

In [16]:
columns_to_drop = ['ID', 'Internal_Inspector','Membership_to_other_organisations','organisation_1','Leadership_position_1','Training/inputs_recieved_1','Organisation_2','Leadership_postion_2','Training/inputs_recieved_2',
 'Organisation_3',
 'leadership_position_3',
 'Training/inputs_recieved_3',
 'Crop_management_corrective_action',
 'Farm_and_Farm_Mgt_corrective_actions',
 'Post_harvest_Mgt_corrective_action', 'Observation', 'people_of_influence', 'last_year_corrective_actions',
 'Compliance_this_year',
 'Recurrent_corrective_actions',
 'Corrective_actions',
 'Overall_comment',
 'Entered_by']
df3.drop(columns=columns_to_drop, axis=1, inplace=True)

In [17]:
#lets have a look at the shape of them. 

display(df1.shape, df3.shape)

(970, 127)

(350, 137)

In [18]:
#lets have a look at the differences now. 

df3.columns.difference(df1.columns)
df1.columns.difference(df3.columns)

#df2.columns.difference(df1.columns)

Index(['Alternative_cereal_source_2', 'Alternative_cereal_source_3',
       'Cereal_harvest_last_1', 'Certifications',
       'Risk_of_contamination_from_malaria_control', 'Why_join_MB_Rosella',
       'gender_text', 'household_head', 'marital_status_1',
       'new_date_of_birth', 'reason_for_school_dropout'],
      dtype='object')

In [19]:
#clean further previously missed columns
df1.columns.to_list()

['Date_entered',
 'OG_Nr',
 'Date_inspected',
 'Certifications',
 'household_head',
 'HM_under_5_years_female',
 'HM_under_5_years_male',
 'HM_5-17_years_female',
 'HM_5-17_years_male',
 'HM_18-59_years_female',
 'HM_18-59_years_male',
 'HM_over_60_years_female',
 'HM_over_60_years_male',
 'Orphan_<_5_female',
 'Orphan_<_5_male',
 'Orphan_5-17_Female',
 'Orphan_5-17_male',
 'chronically_ill_<_5_female',
 'chronically_ill_<_5_male',
 'chronically_ill_5-17_female',
 'chronically_ill_5-17_male',
 'chronically_ill_18-59_female',
 'Chronically_ill_18_-59_male',
 'chronically_ill_60+_female',
 'chronically_ill_60+_male',
 'mentally_challenged_<_5_female',
 'mentally_challenged_<_5_male',
 'mentally_challenged_5-17_female',
 'mentally_challenged_5-17_male',
 'mentally_challenged_17-59_female',
 'mentally_challenged_17-59_male',
 'mentally_challenged_60+_female',
 'mentally_challenged_60+_male',
 'agric_activities_<_5_female',
 'agric_activities_<_5_male',
 'agric_activities_5-17_female',
 'agric_activities_5-17_male',
 'Agric_activities_18-59_female',
 'agric_activities_18-59_male',
 'agric_activities_60+_female',
 'agric_activities_60+_male',
 'Hired_labour_18-59_female',
 'Hired_labour_18-59_male',
 'Hired_labour_60+_female',
 'Hired_labour_60+_male',
 'HH_education_level',
 'children_attending_school',
 'How_many_not_attending',
 'Reason_for_not_attending',
 'Pupils_Pre_school_male',
 'Pupils_in_Pre_school_female',
 'Pupils_in_ECD_male',
 'Pupils_in_ECD_female',
 'Pupils_in_Primary_sch_male',
 'Pupils_in_primary__sch_female',
 'Pupils_in_Sec_sch_male',
 'Pupils_in_Sec_sch_female',
 'Pupils_in_Tertiary_male',
 'Pupils_in_tertiary_female',
 'Main_livelihood_activity',
 'Dry_land_income',
 'Irrigated_income',
 'Gardening_income',
 'Formal_employment_income',
 'Organic_or_mabagrown_farming',
 'Small_business_income',
 'Cereal_harvest_last',
 'Enough_cereal_2018',
 'Enough_cereal_2019',
 'Enough_cereal_2020',
 'Enough_cereal_2021',
 'Insufficient_cereal_reason_1',
 'Insufficient_cereal_reason_2',
 'Insufficient_cereal_reason_3',
 'Alternative_cereal_source',
 'Alternative_cereal_source_2',
 'Alternative_cereal_source_3',
 'Health__care_expenditure',
 'School_(fees)_expenditure',
 'last_quarter_food_expenditure',
 'Ways_to_improve_food_security',
 'ways_to_improve_income',
 'OAH_works_in_food_security',
 'OAH_works_in_income',
 'Why_join_MB_Rosella',
 'Assets',
 'Cattle',
 'Goats/sheep',
 'Donkeys',
 'Poultry',
 'Hand_hoes',
 'Wheelbarrow',
 'Water_pipes',
 'Cultivator',
 'Tractor_plough',
 'Scotch_cart',
 'Ox_drawnPlough',
 'Tractor',
 'Bicycle',
 'Motorcycle',
 'Electricity',
 'Solar',
 'Radio',
 'Television',
 'Water_pump',
 'Bank/mobile_account',
 'Bank_name',
 'fuel_source',
 'Type_of_stove',
 'Main_source_of_HH_water',
 'Source_of_irrigation_water',
 'Availabilty_of_HH_latrine',
 'Latrine_Type',
 'Risk_from_non_organic_fields',
 'Risk_from_non_organic_activities',
 'Risk_from_motorways,_wastewaters',
 'Risk_of_contamination_from_malaria_control',
 'Risk_of_contaminated_water',
 'Health_of_Farmer',
 'marital_status_1',
 'gender_text',
 'reason_for_school_dropout',
 'new_date_of_birth',
 'nearest_clinic',
 'nearest_school',
 'nearest_shops',
 'Cereal_harvest_last_1']

In [20]:
columns_to_drop = ['Certifications', 'Why_join_MB_Rosella', 'Alternative_cereal_source_2', 'Alternative_cereal_source_3']
df1.drop(columns=columns_to_drop, axis=1, inplace=True)

In [21]:
df1.head()

,Date_entered,OG_Nr,Date_inspected,household_head,HM_under_5_years_female,HM_under_5_years_male,HM_5-17_years_female,HM_5-17_years_male,HM_18-59_years_female,HM_18-59_years_male,...,Risk_of_contaminated_water,Health_of_Farmer,marital_status_1,gender_text,reason_for_school_dropout,new_date_of_birth,nearest_clinic,nearest_school,nearest_shops,Cereal_harvest_last_1
0,2021-05-26,26258,2021-05-10,Self,0,0,0,0,0,1,...,NaN,None,single,male,None,1998-06-14,0.0,0.0,0.0,NaN
1,2021-06-30,25334,2021-05-12,Husband,1,1,1,0,1,1,...,1.0,good,married,female,None,1994-02-05,2.0,2.0,2.0,8.0
2,2021-06-29,25315,2021-05-04,Self,0,2,0,1,1,1,...,1.0,good,married,male,None,1993-10-07,7.0,3.0,7.0,12.0
3,2021-06-07,19963,2021-05-12,Husband,0,0,2,2,1,1,...,1.0,good,married,female,None,1982-03-03,5.0,5.0,5.0,8.0
4,2021-05-27,25093,2021-05-09,Self,1,0,2,2,2,1,...,1.0,good,married,male,None,1977-04-03,3.0,3.0,3.0,5.0

In [22]:
df1['Sex'] = df1['gender_text']

In [23]:
df1 = df1.drop('gender_text', axis=1)

In [24]:
df1['date_of_birth'] = df1['new_date_of_birth']

In [26]:
df3.columns.tolist()

['Date_entered',
 'OG_Nr',
 'Date_inspected',
 'Date_of_birth',
 'Marital_status',
 'Sex',
 'Household_head',
 'HM_under_5_years_female',
 'HM_under_5_years_male',
 'HM_5-17_years_female',
 'HM_5-17_years_male',
 'HM_18-59_years_female',
 'HM_18-59_years_male',
 'HM_over_60_years_female',
 'HM_over_60_years_male',
 'Orphan_<_5_female',
 'Orphan_<_5_male',
 'Orphan_5-17_Female',
 'Orphan_5-17_male',
 'chronically_ill_<_5_female',
 'chronically_ill_<_5_male',
 'chronically_ill_5-17_female',
 'chronically_ill_5-17_male',
 'chronically_ill_18-59_female',
 'Chronically_ill_18_-59_male',
 'chronically_ill_60+_female',
 'chronically_ill_60+_male',
 'mentally_challenged_<_5_female',
 'mentally_challenged_<_5_male',
 'mentally_challenged_5-17_female',
 'mentally_challenged_5-17_male',
 'mentally_challenged_17-59_female',
 'mentally_challenged_17-59_male',
 'mentally_challenged_60+_female',
 'mentally_challenged_60+_male',
 'agric_activities_<_5_female',
 'agric_activities_<_5_male',
 'agric_activities_5-17_female',
 'agric_activities_5-17_male',
 'Agric_activities_18-59_female',
 'agric_activities_18-59_male',
 'agric_activities_60+_female',
 'agric_activities_60+_male',
 'Hired_labour_18-59_female',
 'Hired_labour_18-59_male',
 'Hired_labour_60+_female',
 'Hired_labour_60+_male',
 'HH_education_level',
 'children_attending_school',
 'How_many_not_attending',
 'Reason_for_not_attending',
 'Pupils_Pre_school_male',
 'Pupils_in_Pre_school_female',
 'Pupils_in_ECD_male',
 'Pupils_in_ECD_female',
 'Pupils_in_Primary_sch_male',
 'Pupils_in_primary__sch_female',
 'Pupils_in_Sec_sch_male',
 'Pupils_in_Sec_sch_female',
 'Pupils_in_Tertiary_male',
 'Pupils_in_tertiary_female',
 'Main_livelihood_activity',
 'Dry_land_income',
 'Irrigated_income',
 'Gardening_income',
 'Formal_employment_income',
 'Small_business_income',
 'Organic_or_mabagrown_farming',
 'Cereal_harvest_last',
 'Enough_cereal_2018',
 'Enough_cereal_2019',
 'Enough_cereal_2020',
 'Enough_cereal_2021',
 'Insufficient_cereal_reason_1',
 'Insufficient_cereal_reason_2',
 'Insufficient_cereal_reason_3',
 'Alternative_cereal_source',
 'Alternative_Cereal_2',
 'Alternative_Cereal_3',
 'Health__care_expenditure',
 'School_(fees)_expenditure',
 'last_quarter_food_expenditure',
 'Ways_to_improve_food_security',
 'ways_to_improve_income',
 'OAH_works_in_food_security',
 'OAH_works_in_income',
 'New_member_(why_you_joined_Rosella_farming',
 'Assets',
 'Cattle',
 'Goats/sheep',
 'Donkeys',
 'Poultry',
 'Hand_hoes',
 'Wheelbarrow',
 'Water_pipes',
 'Cultivator',
 'Tractor_plough',
 'Scotch_cart',
 'Ox_drawnPlough',
 'Tractor',
 'Bicycle',
 'Motorcycle',
 'Electricity',
 'Solar',
 'Radio',
 'Television',
 'Water_pump',
 'Water_pump_type',
 'Bank/mobile_account',
 'Bank_name',
 'fuel_source',
 'Type_of_stove',
 'Main_source_of_HH_water',
 'Source_of_irrigation_water',
 'Availabilty_of_HH_latrine',
 'Latrine_Type',
 'Risk_from_non_organic_fields',
 'Risk_from_non_organic_activities',
 'Risk_from_motorways,_wastewaters',
 'Risk_of_contaminated_water',
 'Risk_of_contamination_from_Malaria_control',
 'Health_of_Farmer',
 'Distance_from_nearest_clinic',
 'Distance_from_nearest_School',
 'Distance_from_nearest_Shops',
 'Corrective_action_implemented',
 'Compliance_this_year_ICS',
 'Additional_sanctions_ICS',
 'All_items_checked',
 'Items_not_checked',
 'nearest_shops',
 'nearest_clinic',
 'nearest_school',
 'cereal_harvest_last',
 'health_care_expenditure',
 'school_fees_expenditure',
 'last_quarter_food_expenditure_1']

In [27]:
columns_to_drop = ['New_member_(why_you_joined_Rosella_farming', 'Alternative_cereal_source',
 'Alternative_Cereal_2',
 'Alternative_Cereal_3',
 'Health__care_expenditure',
 'School_(fees)_expenditure',
 'last_quarter_food_expenditure','OAH_works_in_food_security',
 'OAH_works_in_income','Items_not_checked','Corrective_action_implemented',
 'Compliance_this_year_ICS',
 'Additional_sanctions_ICS',
 'All_items_checked' ]
df3.drop(columns=columns_to_drop, axis=1, inplace=True)

In [28]:
#lets have a look at the shape of them. 

display(df1.shape, df3.shape)

(970, 124)

(350, 123)

In [29]:
# Convert column names to lowercase in df1
df1.rename(columns=str.lower, inplace=True)

# Convert column names to lowercase in df3
df3.rename(columns=str.lower, inplace=True)

In [30]:
pd.set_option('display.max_rows', 20, 'display.max_columns', None)

In [31]:
#lets have a look at the columns we know we have changed and name them all the same.
df1['marital_status_1']

0       single
1      married
2      married
3      married
4      married
        ...
965    widowed
966    married
967     single
968    married
969    married
Name: marital_status_1, Length: 970, dtype: object

In [32]:
df3['marital_status']

0       married
1       widowed
2       married
3       married
4       married
         ...
345     married
346     married
347     married
348     married
349    divorced
Name: marital_status, Length: 350, dtype: object

In [33]:
df1['marital_status'] = df1['marital_status_1']

In [34]:
df1 = df1.drop('marital_status_1', axis=1)

In [35]:
df1['school_fees_expenditure'] = df1['school_(fees)_expenditure']

In [36]:
df1 = df1.drop('school_(fees)_expenditure', axis=1)

In [37]:
df1.columns.tolist()

['date_entered',
 'og_nr',
 'date_inspected',
 'household_head',
 'hm_under_5_years_female',
 'hm_under_5_years_male',
 'hm_5-17_years_female',
 'hm_5-17_years_male',
 'hm_18-59_years_female',
 'hm_18-59_years_male',
 'hm_over_60_years_female',
 'hm_over_60_years_male',
 'orphan_<_5_female',
 'orphan_<_5_male',
 'orphan_5-17_female',
 'orphan_5-17_male',
 'chronically_ill_<_5_female',
 'chronically_ill_<_5_male',
 'chronically_ill_5-17_female',
 'chronically_ill_5-17_male',
 'chronically_ill_18-59_female',
 'chronically_ill_18_-59_male',
 'chronically_ill_60+_female',
 'chronically_ill_60+_male',
 'mentally_challenged_<_5_female',
 'mentally_challenged_<_5_male',
 'mentally_challenged_5-17_female',
 'mentally_challenged_5-17_male',
 'mentally_challenged_17-59_female',
 'mentally_challenged_17-59_male',
 'mentally_challenged_60+_female',
 'mentally_challenged_60+_male',
 'agric_activities_<_5_female',
 'agric_activities_<_5_male',
 'agric_activities_5-17_female',
 'agric_activities_5-17_male',
 'agric_activities_18-59_female',
 'agric_activities_18-59_male',
 'agric_activities_60+_female',
 'agric_activities_60+_male',
 'hired_labour_18-59_female',
 'hired_labour_18-59_male',
 'hired_labour_60+_female',
 'hired_labour_60+_male',
 'hh_education_level',
 'children_attending_school',
 'how_many_not_attending',
 'reason_for_not_attending',
 'pupils_pre_school_male',
 'pupils_in_pre_school_female',
 'pupils_in_ecd_male',
 'pupils_in_ecd_female',
 'pupils_in_primary_sch_male',
 'pupils_in_primary__sch_female',
 'pupils_in_sec_sch_male',
 'pupils_in_sec_sch_female',
 'pupils_in_tertiary_male',
 'pupils_in_tertiary_female',
 'main_livelihood_activity',
 'dry_land_income',
 'irrigated_income',
 'gardening_income',
 'formal_employment_income',
 'organic_or_mabagrown_farming',
 'small_business_income',
 'cereal_harvest_last',
 'enough_cereal_2018',
 'enough_cereal_2019',
 'enough_cereal_2020',
 'enough_cereal_2021',
 'insufficient_cereal_reason_1',
 'insufficient_cereal_reason_2',
 'insufficient_cereal_reason_3',
 'alternative_cereal_source',
 'health__care_expenditure',
 'last_quarter_food_expenditure',
 'ways_to_improve_food_security',
 'ways_to_improve_income',
 'oah_works_in_food_security',
 'oah_works_in_income',
 'assets',
 'cattle',
 'goats/sheep',
 'donkeys',
 'poultry',
 'hand_hoes',
 'wheelbarrow',
 'water_pipes',
 'cultivator',
 'tractor_plough',
 'scotch_cart',
 'ox_drawnplough',
 'tractor',
 'bicycle',
 'motorcycle',
 'electricity',
 'solar',
 'radio',
 'television',
 'water_pump',
 'bank/mobile_account',
 'bank_name',
 'fuel_source',
 'type_of_stove',
 'main_source_of_hh_water',
 'source_of_irrigation_water',
 'availabilty_of_hh_latrine',
 'latrine_type',
 'risk_from_non_organic_fields',
 'risk_from_non_organic_activities',
 'risk_from_motorways,_wastewaters',
 'risk_of_contamination_from_malaria_control',
 'risk_of_contaminated_water',
 'health_of_farmer',
 'reason_for_school_dropout',
 'new_date_of_birth',
 'nearest_clinic',
 'nearest_school',
 'nearest_shops',
 'cereal_harvest_last_1',
 'sex',
 'date_of_birth',
 'marital_status',
 'school_fees_expenditure']

In [38]:
df1 = df1.drop('cereal_harvest_last_1', axis=1)

In [39]:
df1 = df1.drop('date_of_birth', axis=1)

In [40]:
df3['last_quarter_food_expenditure'] = df3['last_quarter_food_expenditure_1']

In [41]:

df3 = df3.drop('last_quarter_food_expenditure_1', axis=1)

In [42]:
display(df1.shape, df3.shape)

(970, 122)

(350, 123)

In [43]:
df1.columns.difference(df3.columns)

Index(['alternative_cereal_source', 'health__care_expenditure',
       'new_date_of_birth', 'oah_works_in_food_security',
       'oah_works_in_income', 'reason_for_school_dropout'],
      dtype='object')

In [44]:
df1 = df1.drop(['oah_works_in_food_security', 'oah_works_in_income'], axis=1)

In [45]:
df1 = df1.drop('reason_for_school_dropout', axis=1)

In [46]:
df1['reason_for_not_attending'].unique()

array([None, 'None', 'no children', 'under age', 'Financial',
       'no interest', 'early marriage'], dtype=object)

In [47]:
df1.columns.difference(df3.columns)

Index(['alternative_cereal_source', 'health__care_expenditure',
       'new_date_of_birth'],
      dtype='object')

In [48]:
df1['health_care_expenditure'] = df1['health__care_expenditure']

In [49]:
df1 = df1.drop('health__care_expenditure', axis=1)

In [50]:
df1['date_of_birth'] = df1['new_date_of_birth']

In [51]:
df1 = df1.drop('new_date_of_birth', axis=1)

In [52]:
df3 = df3.drop('distance_from_nearest_clinic', axis=1)

In [53]:
df3 = df3.drop('distance_from_nearest_school', axis=1)

In [54]:
df3 = df3.drop('distance_from_nearest_shops', axis=1)

In [55]:
df3['nearest_clinic']

0       5.0
1       2.0
2       4.0
3       9.0
4       2.0
       ...
345     7.0
346     7.0
347    10.0
348     2.5
349     7.0
Name: nearest_clinic, Length: 350, dtype: float64

In [56]:
df1['alternative_cereal_source']

0      NaN
1      1.0
2      7.0
3      4.0
4      3.0
      ...
965    3.0
966    3.0
967    3.0
968    7.0
969    1.0
Name: alternative_cereal_source, Length: 970, dtype: float64

In [57]:
df1 = df1.drop('alternative_cereal_source', axis=1)

In [58]:
df3.columns.difference(df1.columns)

Index(['water_pump_type'], dtype='object')

In [59]:
df1.columns.difference(df3.columns)

Index([], dtype='object')

In [60]:

df3 = df3.drop('water_pump_type', axis=1)

In [77]:
#lets reset an index

In [61]:
df1.reset_index()

df3.reset_index()

,index,date_entered,og_nr,date_inspected,date_of_birth,marital_status,sex,household_head,hm_under_5_years_female,hm_under_5_years_male,hm_5-17_years_female,hm_5-17_years_male,hm_18-59_years_female,hm_18-59_years_male,hm_over_60_years_female,hm_over_60_years_male,orphan_<_5_female,orphan_<_5_male,orphan_5-17_female,orphan_5-17_male,chronically_ill_<_5_female,chronically_ill_<_5_male,chronically_ill_5-17_female,chronically_ill_5-17_male,chronically_ill_18-59_female,chronically_ill_18_-59_male,chronically_ill_60+_female,chronically_ill_60+_male,mentally_challenged_<_5_female,mentally_challenged_<_5_male,mentally_challenged_5-17_female,mentally_challenged_5-17_male,mentally_challenged_17-59_female,mentally_challenged_17-59_male,mentally_challenged_60+_female,mentally_challenged_60+_male,agric_activities_<_5_female,agric_activities_<_5_male,agric_activities_5-17_female,agric_activities_5-17_male,agric_activities_18-59_female,agric_activities_18-59_male,agric_activities_60+_female,agric_activities_60+_male,hired_labour_18-59_female,hired_labour_18-59_male,hired_labour_60+_female,hired_labour_60+_male,hh_education_level,children_attending_school,how_many_not_attending,reason_for_not_attending,pupils_pre_school_male,pupils_in_pre_school_female,pupils_in_ecd_male,pupils_in_ecd_female,pupils_in_primary_sch_male,pupils_in_primary__sch_female,pupils_in_sec_sch_male,pupils_in_sec_sch_female,pupils_in_tertiary_male,pupils_in_tertiary_female,main_livelihood_activity,dry_land_income,irrigated_income,gardening_income,formal_employment_income,small_business_income,organic_or_mabagrown_farming,cereal_harvest_last,enough_cereal_2018,enough_cereal_2019,enough_cereal_2020,enough_cereal_2021,insufficient_cereal_reason_1,insufficient_cereal_reason_2,insufficient_cereal_reason_3,ways_to_improve_food_security,ways_to_improve_income,assets,cattle,goats/sheep,donkeys,poultry,hand_hoes,wheelbarrow,water_pipes,cultivator,tractor_plough,scotch_cart,ox_drawnplough,tractor,bicycle,motorcycle,electricity,solar,radio,television,water_pump,bank/mobile_account,bank_name,fuel_source,type_of_stove,main_source_of_hh_water,source_of_irrigation_water,availabilty_of_hh_latrine,latrine_type,risk_from_non_organic_fields,risk_from_non_organic_activities,"risk_from_motorways,_wastewaters",risk_of_contaminated_water,risk_of_contamination_from_malaria_control,health_of_farmer,nearest_shops,nearest_clinic,nearest_school,cereal_harvest_last,health_care_expenditure,school_fees_expenditure,last_quarter_food_expenditure
0,0,2022-02-10,14061.0,2022-01-27,1978-09-05,married,female,husband,0,0,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,None,1,0,None,0,0,0,0,1,0,0,1,0,0,Organic or Mabagrown farming,200,200,200,200,200,1,7,Yes,Yes,No,No,5,None,Non Affordability of Seed,Selling more produce,Selling more produce,1,0,2,0,4,2,0,0,0,0,0,0,0,0,0,no,0,0,0,2,1,1,5,Electricity,Open well,No irrigation,No,No,Low,Low,Low,Low,Medium,Good,5.0,5.0,5.0,7.0,100.0,100.0,0.0
1,1,2022-02-08,19463.0,2022-01-22,1959-04-07,widowed,female,self,1,0,0,1,2,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,1,0,0,0,0,0,Zimbabwe Junior certificate,1,0,None,0,0,0,0,1,0,0,0,0,0,Organic or Mabagrown farming,200,200,25,200,200,1,12,No,No,No,Yes,3,None,Non affordability of fertilizer,Not answered,Not answered,1,0,26,0,20,4,0,0,0,0,0,1,0,0,0,no,1,1,0,2,1,1,5,Electricity,Borehole,No irrigation,Yes,BVIP,Low,Low,Low,Low,Low,Unwell,2.0,2.0,2.0,12.0,30.0,30.0,40.0
2,2,2022-03-03,14087.0,2022-01-25,1982-04-06,married,female,husband,1,2,1,1,2,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,3,0,0,0,0,0,0,Primary school,1,0,None,0,0,0,0,0,1,1,0,0,0,Organic or Mabagrown farming,25,200,200,200,200,1,12,Yes,Yes,Yes,Yes,10,None,n/a,Selling livestock,Selling livestock,1,3,24,0,10,7,0,0,0,0,0,0,0,0,0,no,0,0,0,2,1,1,5,Electricity,Open well,No irrigation,No,No,Low,Low,Low,Low,Medium,Good,4.0,4.0,4.0,12.0,10.0,10.0,20.0
3,3,2022-03-04,2773.0,2022-01-30,1982-06-21,married,female,husband,0,0,1,1,1,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,3,0,0,5,5,0,0,Ordinary level,1,0,None,0,0,0,0,1,1,1,0,0,0,Organic or Mabagrown farming,200,200,25,200,25,1,9,Yes,Yes,Yes,Yes,10,None,n/a,Selling vegetables and baskets,Selling vegetables and baskets,1,3,8,0,10,5,0,0,0,0,0,1,0,1,0,no,1,0,1,2,1,1,5,Electricity,Borehole,No irrigation,Yes,BVIP,Low,Low,Low,Low,Low,Good,1.0,9.0,1.0,9.0,30.0,30.0,70.0
4,4,2022-03-02,14108.0,2022-01-22,1974-12-26,married,female,husband,0,0,1,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,1,0,0,0,0,0,0,Primary school,1,0,None,0,0,0,0,0,0,0,1,0,0,Organic or Mabagrown farming,200,200,200,200,200,1,0,No,No,No,Yes,5,None,Shortage of labour,Increasing fields,Increasing fields,1,2,7,0,4,2,0,0,0,0,0,1,0,1,0,no,1,1,0,2,1,1,5,Electricity,irrigated water ways,No irrigation,No,No,Low,Low,Low,Low,Medium,Good,2.0,2.0,2.0,0.0,14.0,14.0,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345,345,2022-03-04,5159.0,2022-01-31,None,married,female,husband,0,0,0,2,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,None,1,0,None,0,0,0,0,2,0,0,0,0,0,Organic or Mabagrown farming,200,200,200,200,200,1,12,No,No,Yes,No,3,None,Poor Rainfall,Making compost,Making compost,1,3,16,0,11,2,0,0,0,0,0,1,0,0,0,no,0,0,0,2,1,1,5,Electricity,Stream or river,No irrigation,No,No,Low,Low,Low,Low,Medium,Good,7.0,7.0,1.0,12.0,0.0,0.0,50.0
346,346,2022-03-03,2815.0,2022-01-27,1972-10-02,married,female,husband,0,1,1,1,2,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,2,0,0,0,0,0,0,Primary school,1,0,None,0,0,0,0,0,0,1,0,0,0,Organic or Mabagrown farming,200,200,200,200,200,1,12,No,No,No,Yes,3,None,Poor Rainfall,Not answered,Not answered,1,2,2,0,5,4,0,0,0,0,0,1,0,0,0,no,0,0,0,2,2,13,5,Electricity,Borehole,No irrigation,No,No,Low,Low,Low,Low,Medium,Good,7.0,7.0,7.0,12.0,0.0,0.0,20.0
347,347,2022-03-05,14002.0,2022-01-29,1982-01-01,married,male,self,2,1,1,3,2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,1,0,0,0,0,0,0,Ordinary level,1,0,None,0,0,0,0,2,1,0,0,0,0,Organic or Mabagrown farming,200,200,200,200,200,1,8,No,Yes,No,No,5,None,Non Affordability of Seed,Blacksmithing,Blacksmithing,1,2,2,0,0,3,0,0,0,0,0,1,0,0,0,no,0,0,0,2,1,1,5,Electricity,Open well,No irrigation,No,No,Low,Low,Low,Low,Medium,Good,8.0,10.0,8.0,8.0,0.0,0.0,10.0
348,348,2022-02-11,2843.0,2022-01-23,None,married,female,husband,1,1,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,Primary school,1,0,None,0,0,0,0,1,1,0,0,0,0,Organic or Mabagrown farming,200,200,200,200,200,1,5,No,No,No,No,5,None,Shortage of labour,Selling more produce,Selling more produce,1,1,5,0,2,3,0,0,0,0,1,1,0,0,0,no,1,1,0,2,1,1,5,Electricity,Borehole,No irrigation,Yes,BVIP,Low,Low,Low,Low,Low,Good,2.5,2.5,2.5,5.0,0.0,0.0,10.0
349,349,2022-02-08,3022.0,2022-01-27,None,divorced,female,self,0,0,0,2,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,Primary school,1,0,None,0,0,1,0,0,0,0,0,0,0,Organic or Mabagrown farming,200,200,200,200,200,1,1,No,No,No,No,3,None,Poor Rainfall,Not answered,Not answered,1,0,0,0,5,1,0,0,0,0,0,0,0,0,0,no,0,0,0,2,2,13,5,Electricity,Borehole,No irrigation,Yes,BVIP,Low,Low,Low,Low,Low,Good,7.0,7.0,7.0,1.0,0.0,0.0,0.0

In [62]:
#lets check for duplicates in each table 

df3.duplicated().sum() #checked for all three, no duplicates available.

0

In [63]:
#set the OG number as index 
df1.set_index('og_nr')
#set the OG number as index 
df3.set_index('og_nr')

,date_entered,date_inspected,date_of_birth,marital_status,sex,household_head,hm_under_5_years_female,hm_under_5_years_male,hm_5-17_years_female,hm_5-17_years_male,hm_18-59_years_female,hm_18-59_years_male,hm_over_60_years_female,hm_over_60_years_male,orphan_<_5_female,orphan_<_5_male,orphan_5-17_female,orphan_5-17_male,chronically_ill_<_5_female,chronically_ill_<_5_male,chronically_ill_5-17_female,chronically_ill_5-17_male,chronically_ill_18-59_female,chronically_ill_18_-59_male,chronically_ill_60+_female,chronically_ill_60+_male,mentally_challenged_<_5_female,mentally_challenged_<_5_male,mentally_challenged_5-17_female,mentally_challenged_5-17_male,mentally_challenged_17-59_female,mentally_challenged_17-59_male,mentally_challenged_60+_female,mentally_challenged_60+_male,agric_activities_<_5_female,agric_activities_<_5_male,agric_activities_5-17_female,agric_activities_5-17_male,agric_activities_18-59_female,agric_activities_18-59_male,agric_activities_60+_female,agric_activities_60+_male,hired_labour_18-59_female,hired_labour_18-59_male,hired_labour_60+_female,hired_labour_60+_male,hh_education_level,children_attending_school,how_many_not_attending,reason_for_not_attending,pupils_pre_school_male,pupils_in_pre_school_female,pupils_in_ecd_male,pupils_in_ecd_female,pupils_in_primary_sch_male,pupils_in_primary__sch_female,pupils_in_sec_sch_male,pupils_in_sec_sch_female,pupils_in_tertiary_male,pupils_in_tertiary_female,main_livelihood_activity,dry_land_income,irrigated_income,gardening_income,formal_employment_income,small_business_income,organic_or_mabagrown_farming,cereal_harvest_last,enough_cereal_2018,enough_cereal_2019,enough_cereal_2020,enough_cereal_2021,insufficient_cereal_reason_1,insufficient_cereal_reason_2,insufficient_cereal_reason_3,ways_to_improve_food_security,ways_to_improve_income,assets,cattle,goats/sheep,donkeys,poultry,hand_hoes,wheelbarrow,water_pipes,cultivator,tractor_plough,scotch_cart,ox_drawnplough,tractor,bicycle,motorcycle,electricity,solar,radio,television,water_pump,bank/mobile_account,bank_name,fuel_source,type_of_stove,main_source_of_hh_water,source_of_irrigation_water,availabilty_of_hh_latrine,latrine_type,risk_from_non_organic_fields,risk_from_non_organic_activities,"risk_from_motorways,_wastewaters",risk_of_contaminated_water,risk_of_contamination_from_malaria_control,health_of_farmer,nearest_shops,nearest_clinic,nearest_school,cereal_harvest_last,health_care_expenditure,school_fees_expenditure,last_quarter_food_expenditure
og_nr,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
14061.0,2022-02-10,2022-01-27,1978-09-05,married,female,husband,0,0,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,None,1,0,None,0,0,0,0,1,0,0,1,0,0,Organic or Mabagrown farming,200,200,200,200,200,1,7,Yes,Yes,No,No,5,None,Non Affordability of Seed,Selling more produce,Selling more produce,1,0,2,0,4,2,0,0,0,0,0,0,0,0,0,no,0,0,0,2,1,1,5,Electricity,Open well,No irrigation,No,No,Low,Low,Low,Low,Medium,Good,5.0,5.0,5.0,7.0,100.0,100.0,0.0
19463.0,2022-02-08,2022-01-22,1959-04-07,widowed,female,self,1,0,0,1,2,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,1,0,0,0,0,0,Zimbabwe Junior certificate,1,0,None,0,0,0,0,1,0,0,0,0,0,Organic or Mabagrown farming,200,200,25,200,200,1,12,No,No,No,Yes,3,None,Non affordability of fertilizer,Not answered,Not answered,1,0,26,0,20,4,0,0,0,0,0,1,0,0,0,no,1,1,0,2,1,1,5,Electricity,Borehole,No irrigation,Yes,BVIP,Low,Low,Low,Low,Low,Unwell,2.0,2.0,2.0,12.0,30.0,30.0,40.0
14087.0,2022-03-03,2022-01-25,1982-04-06,married,female,husband,1,2,1,1,2,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,3,0,0,0,0,0,0,Primary school,1,0,None,0,0,0,0,0,1,1,0,0,0,Organic or Mabagrown farming,25,200,200,200,200,1,12,Yes,Yes,Yes,Yes,10,None,n/a,Selling livestock,Selling livestock,1,3,24,0,10,7,0,0,0,0,0,0,0,0,0,no,0,0,0,2,1,1,5,Electricity,Open well,No irrigation,No,No,Low,Low,Low,Low,Medium,Good,4.0,4.0,4.0,12.0,10.0,10.0,20.0
2773.0,2022-03-04,2022-01-30,1982-06-21,married,female,husband,0,0,1,1,1,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,3,0,0,5,5,0,0,Ordinary level,1,0,None,0,0,0,0,1,1,1,0,0,0,Organic or Mabagrown farming,200,200,25,200,25,1,9,Yes,Yes,Yes,Yes,10,None,n/a,Selling vegetables and baskets,Selling vegetables and baskets,1,3,8,0,10,5,0,0,0,0,0,1,0,1,0,no,1,0,1,2,1,1,5,Electricity,Borehole,No irrigation,Yes,BVIP,Low,Low,Low,Low,Low,Good,1.0,9.0,1.0,9.0,30.0,30.0,70.0
14108.0,2022-03-02,2022-01-22,1974-12-26,married,female,husband,0,0,1,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,1,0,0,0,0,0,0,Primary school,1,0,None,0,0,0,0,0,0,0,1,0,0,Organic or Mabagrown farming,200,200,200,200,200,1,0,No,No,No,Yes,5,None,Shortage of labour,Increasing fields,Increasing fields,1,2,7,0,4,2,0,0,0,0,0,1,0,1,0,no,1,1,0,2,1,1,5,Electricity,irrigated water ways,No irrigation,No,No,Low,Low,Low,Low,Medium,Good,2.0,2.0,2.0,0.0,14.0,14.0,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5159.0,2022-03-04,2022-01-31,None,married,female,husband,0,0,0,2,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,None,1,0,None,0,0,0,0,2,0,0,0,0,0,Organic or Mabagrown farming,200,200,200,200,200,1,12,No,No,Yes,No,3,None,Poor Rainfall,Making compost,Making compost,1,3,16,0,11,2,0,0,0,0,0,1,0,0,0,no,0,0,0,2,1,1,5,Electricity,Stream or river,No irrigation,No,No,Low,Low,Low,Low,Medium,Good,7.0,7.0,1.0,12.0,0.0,0.0,50.0
2815.0,2022-03-03,2022-01-27,1972-10-02,married,female,husband,0,1,1,1,2,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,2,0,0,0,0,0,0,Primary school,1,0,None,0,0,0,0,0,0,1,0,0,0,Organic or Mabagrown farming,200,200,200,200,200,1,12,No,No,No,Yes,3,None,Poor Rainfall,Not answered,Not answered,1,2,2,0,5,4,0,0,0,0,0,1,0,0,0,no,0,0,0,2,2,13,5,Electricity,Borehole,No irrigation,No,No,Low,Low,Low,Low,Medium,Good,7.0,7.0,7.0,12.0,0.0,0.0,20.0
14002.0,2022-03-05,2022-01-29,1982-01-01,married,male,self,2,1,1,3,2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,1,0,0,0,0,0,0,Ordinary level,1,0,None,0,0,0,0,2,1,0,0,0,0,Organic or Mabagrown farming,200,200,200,200,200,1,8,No,Yes,No,No,5,None,Non Affordability of Seed,Blacksmithing,Blacksmithing,1,2,2,0,0,3,0,0,0,0,0,1,0,0,0,no,0,0,0,2,1,1,5,Electricity,Open well,No irrigation,No,No,Low,Low,Low,Low,Medium,Good,8.0,10.0,8.0,8.0,0.0,0.0,10.0
2843.0,2022-02-11,2022-01-23,None,married,female,husband,1,1,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,Primary school,1,0,None,0,0,0,0,1,1,0,0,0,0,Organic or Mabagrown farming,200,200,200,200,200,1,5,No,No,No,No,5,None,Shortage of labour,Selling more produce,Selling more produce,1,1,5,0,2,3,0,0,0,0,1,1,0,0,0,no,1,1,0,2,1,1,5,Electricity,Borehole,No irrigation,Yes,BVIP,Low,Low,Low,Low,Low,Good,2.5,2.5,2.5,5.0,0.0,0.0,10.0
3022.0,2022-02-08,2022-01-27,None,divorced,female,self,0,0,0,2,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,Primary school,1,0,None,0,0,1,0,0,0,0,0,0,0,Organic or Mabagrown farming,200,200,200,200,200,1,1,No,No,No,No,3,None,Poor Rainfall,Not answered,Not answered,1,0,0,0,5,1,0,0,0,0,0,0,0,0,0,no,0,0,0,2,2,13,5,Electricity,Borehole,No irrigation,Yes,BVIP,Low,Low,Low,Low,Low,Good,7.0,7.0,7.0,1.0,0.0,0.0,0.0

In [81]:
#we need to check if there are any columns twice in a table, as it throws and error when concatenating.

In [64]:
df1.columns.unique() #118 uniques

Index(['date_entered', 'og_nr', 'date_inspected', 'household_head',
       'hm_under_5_years_female', 'hm_under_5_years_male',
       'hm_5-17_years_female', 'hm_5-17_years_male', 'hm_18-59_years_female',
       'hm_18-59_years_male',
       ...
       'risk_of_contaminated_water', 'health_of_farmer', 'nearest_clinic',
       'nearest_school', 'nearest_shops', 'sex', 'marital_status',
       'school_fees_expenditure', 'health_care_expenditure', 'date_of_birth'],
      dtype='object', length=118)

In [65]:
df1.shape # fits with the shape

(970, 118)

In [67]:
df3.columns.unique()

Index(['date_entered', 'og_nr', 'date_inspected', 'date_of_birth',
       'marital_status', 'sex', 'household_head', 'hm_under_5_years_female',
       'hm_under_5_years_male', 'hm_5-17_years_female',
       ...
       'risk_from_motorways,_wastewaters', 'risk_of_contaminated_water',
       'risk_of_contamination_from_malaria_control', 'health_of_farmer',
       'nearest_shops', 'nearest_clinic', 'nearest_school',
       'health_care_expenditure', 'school_fees_expenditure',
       'last_quarter_food_expenditure'],
      dtype='object', length=118)

In [68]:
df3.shape #we seem to have a duplicate here, too.

(350, 119)

In [89]:
##df2 = df2.loc[:,~df2.columns.duplicated()].copy() ##found this code to delete duplicate columns with identical names

In [69]:
df3 = df3.loc[:,~df3.columns.duplicated()].copy()

In [70]:
df3['cereal_harvest_last'] #to test this. now lets concat again.

0       7
1      12
2      12
3       9
4       0
       ..
345    12
346    12
347     8
348     5
349     1
Name: cereal_harvest_last, Length: 350, dtype: object

In [71]:
df_1_3 = pd.concat([df1, df3], axis=0)

In [72]:
df_1_3.shape

(1320, 118)

In [73]:
df_1_3.duplicated().sum() #YAY the work was worth it.

0

In [74]:
df_1_3.tail()

,date_entered,og_nr,date_inspected,household_head,hm_under_5_years_female,hm_under_5_years_male,hm_5-17_years_female,hm_5-17_years_male,hm_18-59_years_female,hm_18-59_years_male,hm_over_60_years_female,hm_over_60_years_male,orphan_<_5_female,orphan_<_5_male,orphan_5-17_female,orphan_5-17_male,chronically_ill_<_5_female,chronically_ill_<_5_male,chronically_ill_5-17_female,chronically_ill_5-17_male,chronically_ill_18-59_female,chronically_ill_18_-59_male,chronically_ill_60+_female,chronically_ill_60+_male,mentally_challenged_<_5_female,mentally_challenged_<_5_male,mentally_challenged_5-17_female,mentally_challenged_5-17_male,mentally_challenged_17-59_female,mentally_challenged_17-59_male,mentally_challenged_60+_female,mentally_challenged_60+_male,agric_activities_<_5_female,agric_activities_<_5_male,agric_activities_5-17_female,agric_activities_5-17_male,agric_activities_18-59_female,agric_activities_18-59_male,agric_activities_60+_female,agric_activities_60+_male,hired_labour_18-59_female,hired_labour_18-59_male,hired_labour_60+_female,hired_labour_60+_male,hh_education_level,children_attending_school,how_many_not_attending,reason_for_not_attending,pupils_pre_school_male,pupils_in_pre_school_female,pupils_in_ecd_male,pupils_in_ecd_female,pupils_in_primary_sch_male,pupils_in_primary__sch_female,pupils_in_sec_sch_male,pupils_in_sec_sch_female,pupils_in_tertiary_male,pupils_in_tertiary_female,main_livelihood_activity,dry_land_income,irrigated_income,gardening_income,formal_employment_income,organic_or_mabagrown_farming,small_business_income,cereal_harvest_last,enough_cereal_2018,enough_cereal_2019,enough_cereal_2020,enough_cereal_2021,insufficient_cereal_reason_1,insufficient_cereal_reason_2,insufficient_cereal_reason_3,last_quarter_food_expenditure,ways_to_improve_food_security,ways_to_improve_income,assets,cattle,goats/sheep,donkeys,poultry,hand_hoes,wheelbarrow,water_pipes,cultivator,tractor_plough,scotch_cart,ox_drawnplough,tractor,bicycle,motorcycle,electricity,solar,radio,television,water_pump,bank/mobile_account,bank_name,fuel_source,type_of_stove,main_source_of_hh_water,source_of_irrigation_water,availabilty_of_hh_latrine,latrine_type,risk_from_non_organic_fields,risk_from_non_organic_activities,"risk_from_motorways,_wastewaters",risk_of_contamination_from_malaria_control,risk_of_contaminated_water,health_of_farmer,nearest_clinic,nearest_school,nearest_shops,sex,marital_status,school_fees_expenditure,health_care_expenditure,date_of_birth
345,2022-03-04,5159.0,2022-01-31,husband,0,0,0,2,1,1,0,0,0.0,0,0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0.0,0.0,0.0,0.0,None,1.0,0.0,None,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,Organic or Mabagrown farming,200.0,200.0,200.0,200.0,1.0,200.0,12,No,No,Yes,No,3,None,Poor Rainfall,50.0,Making compost,Making compost,1,3.0,16.0,0.0,11.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,no,0.0,0.0,0.0,2,1,1,5,Electricity,Stream or river,No irrigation,No,No,Low,Low,Low,Medium,Low,Good,7.0,1.0,7.0,female,married,0.0,0.0,None
346,2022-03-03,2815.0,2022-01-27,husband,0,1,1,1,2,2,0,0,0.0,0,0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,2,0,0,0.0,0.0,0.0,0.0,Primary school,1.0,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,Organic or Mabagrown farming,200.0,200.0,200.0,200.0,1.0,200.0,12,No,No,No,Yes,3,None,Poor Rainfall,20.0,Not answered,Not answered,1,2.0,2.0,0.0,5.0,4.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,no,0.0,0.0,0.0,2,2,13,5,Electricity,Borehole,No irrigation,No,No,Low,Low,Low,Medium,Low,Good,7.0,7.0,7.0,female,married,0.0,0.0,1972-10-02
347,2022-03-05,14002.0,2022-01-29,self,2,1,1,3,2,1,0,0,0.0,0,0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,1,0,0,0.0,0.0,0.0,0.0,Ordinary level,1.0,0.0,None,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,Organic or Mabagrown farming,200.0,200.0,200.0,200.0,1.0,200.0,8,No,Yes,No,No,5,None,Non Affordability of Seed,10.0,Blacksmithing,Blacksmithing,1,2.0,2.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,no,0.0,0.0,0.0,2,1,1,5,Electricity,Open well,No irrigation,No,No,Low,Low,Low,Medium,Low,Good,10.0,8.0,8.0,male,married,0.0,0.0,1982-01-01
348,2022-02-11,2843.0,2022-01-23,husband,1,1,0,1,1,1,0,0,0.0,0,0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0.0,0.0,0.0,0.0,Primary school,1.0,0.0,None,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,Organic or Mabagrown farming,200.0,200.0,200.0,200.0,1.0,200.0,5,No,No,No,No,5,None,Shortage of labour,10.0,Selling more produce,Selling more produce,1,1.0,5.0,0.0,2.0,3.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,no,1.0,1.0,0.0,2,1,1,5,Electricity,Borehole,No irrigation,Yes,BVIP,Low,Low,Low,Low,Low,Good,2.5,2.5,2.5,female,married,0.0,0.0,None
349,2022-02-08,3022.0,2022-01-27,self,0,0,0,2,1,0,0,0,0.0,0,0,0.0,0.0,0.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.0,0.0,Primary school,1.0,0.0,None,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Organic or Mabagrown farming,200.0,200.0,200.0,200.0,1.0,200.0,1,No,No,No,No,3,None,Poor Rainfall,0.0,Not answered,Not answered,1,0.0,0.0,0.0,5.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,no,0.0,0.0,0.0,2,2,13,5,Electricity,Borehole,No irrigation,Yes,BVIP,Low,Low,Low,Low,Low,Good,7.0,7.0,7.0,female,divorced,0.0,0.0,None

In [76]:
df_1_3.describe()

,og_nr,hm_under_5_years_female,hm_under_5_years_male,hm_5-17_years_female,hm_5-17_years_male,hm_18-59_years_female,hm_18-59_years_male,hm_over_60_years_female,hm_over_60_years_male,orphan_<_5_female,orphan_<_5_male,orphan_5-17_female,orphan_5-17_male,chronically_ill_<_5_female,chronically_ill_<_5_male,chronically_ill_5-17_female,chronically_ill_5-17_male,chronically_ill_18-59_female,chronically_ill_18_-59_male,chronically_ill_60+_female,chronically_ill_60+_male,mentally_challenged_<_5_female,mentally_challenged_<_5_male,mentally_challenged_5-17_female,mentally_challenged_5-17_male,mentally_challenged_17-59_female,mentally_challenged_17-59_male,mentally_challenged_60+_female,mentally_challenged_60+_male,agric_activities_<_5_female,agric_activities_<_5_male,agric_activities_5-17_female,agric_activities_5-17_male,agric_activities_18-59_female,agric_activities_18-59_male,agric_activities_60+_female,agric_activities_60+_male,hired_labour_18-59_female,hired_labour_18-59_male,hired_labour_60+_female,hired_labour_60+_male,children_attending_school,how_many_not_attending,pupils_pre_school_male,pupils_in_pre_school_female,pupils_in_ecd_male,pupils_in_ecd_female,pupils_in_primary_sch_male,pupils_in_primary__sch_female,pupils_in_sec_sch_male,pupils_in_sec_sch_female,pupils_in_tertiary_male,pupils_in_tertiary_female,dry_land_income,irrigated_income,gardening_income,formal_employment_income,organic_or_mabagrown_farming,small_business_income,last_quarter_food_expenditure,cattle,goats/sheep,donkeys,poultry,hand_hoes,wheelbarrow,water_pipes,cultivator,tractor_plough,scotch_cart,ox_drawnplough,tractor,bicycle,motorcycle,solar,radio,television,nearest_clinic,nearest_school,nearest_shops,school_fees_expenditure,health_care_expenditure
count,1320.000000,1320.000000,1320.000000,1320.000000,1320.000000,1320.000000,1320.000000,1320.000000,1320.000000,1318.000000,1320.000000,1320.000000,1319.000000,1319.000000,1319.000000,1320.000000,1320.000000,1320.000000,1320.000000,1320.000000,1320.000000,1320.0,1320.000000,1320.000000,1320.000000,1320.000000,1320.000000,1320.000000,1320.000000,1320.0,1320.0,1320.000000,1320.000000,1320.000000,1320.000000,1320.000000,1320.000000,1156.000000,1156.000000,1156.000000,1156.000000,1319.000000,1319.000000,1318.000000,1318.000000,1318.000000,1318.000000,1318.000000,1318.000000,1318.000000,1318.000000,1318.000000,1318.000000,1318.000000,1318.000000,1318.000000,1318.000000,1318.000000,1318.000000,1318.000000,1318.000000,1318.000000,1318.000000,1318.000000,1318.000000,1317.000000,1318.000000,1318.000000,1318.000000,1318.000000,1318.000000,1318.000000,1318.000000,1318.000000,1318.000000,1318.000000,1318.000000,1320.000000,1320.000000,1320.000000,1318.00000,1318.000000
mean,19069.677273,0.356061,0.353788,0.851515,0.942424,1.125000,1.031818,0.179545,0.147727,0.012140,0.010606,0.052273,0.060652,0.003791,0.003033,0.002273,0.013636,0.042424,0.023485,0.026515,0.025758,0.0,0.001515,0.003788,0.003030,0.006061,0.008333,0.002273,0.002273,0.0,0.0,0.070455,0.147727,1.104545,1.027273,0.166667,0.126515,0.282007,0.173010,0.014706,0.005190,1.243366,0.094769,0.008346,0.012898,0.102428,0.092564,0.553869,0.527314,0.234446,0.179059,0.003794,0.001517,90.838392,192.716237,135.470410,191.559181,1.544006,184.616844,43.904401,4.028832,7.374810,0.167678,7.426404,3.662367,0.342445,0.018968,0.233687,0.009105,0.309560,0.613809,0.011381,0.343703,0.042489,0.635053,0.512898,0.121396,7.081402,3.513826,4.326763,57.66692,55.746586
std,7429.471454,0.570072,0.585250,1.020226,1.340913,0.697866,0.818968,0.397536,0.357093,0.128675,0.102477,0.285342,0.310597,0.061476,0.055006,0.047637,0.116020,0.223054,0.151495,0.165372,0.158471,0.0,0.038910,0.061452,0.054986,0.077643,0.090940,0.047637,0.047637,0.0,0.0,0.395624,0.543898,0.685368,0.830164,0.465108,0.337084,1.221051,0.811923,0.229341,0.071888,0.429277,0.438263,0.091009,0.125614,0.320369,0.307718,0.757486,0.706041,0.504013,0.428433,0.061499,0.038940,81.300172,34.923997,84.463146,37.408160,1.518538,48.983451,297.260458,5.831532,10.100063,0.852858,8.646977,2.028789,0.559905,0.171034,0.432211,0.102700,0.472236,0.623769,0.106113,0.543689,0.205506,0.575018,0.545069,0.344803,5.182835,2.805149,8.900235,524.39648,242.725372
min,2770.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,25.000000,25.000000,25.000000,25.000000,1.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
25%,14138.500000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,25.000000,200.000000,25.000000,200.000000,1.000000,200.000000,10.000000,0.000000,2.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,1.500000,1.500000,0.00000,0.000000
50%,19935.500000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,25.000000,200.000000,200.000000,200.000000,1.000000,200.000000,20.000000,2.000000,5.000000,0.000000,5.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,7.000000,3.000000,3.000000,0.00000,0.000000
75%,25475.500000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,200.000000,200.000000,200.000000,200.000000,1.000000,200.000000,40.000000,6.000000,10.000000,0.000000,10.000000,5.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,10.000000,5.000000,5.500000,40.00000,40.000000
max,26408.000000,4.000000,4.000000,15.000000,32.000000,5.000000,8.000000,2.000000,2.000000,2.000000,1.000000,4.000000,3.000000,1.000000,1.000000,1.000000,1.000000,4.000000,1.000000,2.000000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,0.0,8.000000,7.000000,5.000000,8.000000,10.000000,2.000000,20.000000,11.000000,5.000000,1.000000,2.000000,4.000000,1.000000,2.000000,2.000000,3.000000,5.000000,5.000000,3.000000,3.000000,1.000000,1.000000,200.000000,200.000000,200.000000,200.000000,6.000000,200.000000,10000.000000,74.000000,120.000000,15.000000,84.000000,15.000000,6.000000,3.000000,2.000000,2.000000,2.000000,9.000000,1.000000,3.000000,2.000000,4.000000,5.000000,2.000000,30.000000,20.000000,300.000000,18000.00000,4000.000000

In [78]:
# how many nulls are there anyway
df_1_3['og_nr'].isnull().sum()

0

In [79]:
df_1_3.dtypes #dates are objects... again...

date_entered                object
og_nr                      float64
date_inspected              object
household_head              object
hm_under_5_years_female      int64
                            ...
sex                         object
marital_status              object
school_fees_expenditure    float64
health_care_expenditure    float64
date_of_birth               object
Length: 118, dtype: object

In [81]:
df_1_3['date_entered'] = pd.to_datetime(df_1_3['date_entered'])

In [82]:
df_1_3.dtypes #that above code worked. now the other two dates.

date_entered               datetime64[ns]
og_nr                             float64
date_inspected                     object
household_head                     object
hm_under_5_years_female             int64
                                ...
sex                                object
marital_status                     object
school_fees_expenditure           float64
health_care_expenditure           float64
date_of_birth                      object
Length: 118, dtype: object

In [84]:
df_1_3['date_inspected'] = pd.to_datetime(df_1_3['date_inspected'])
df_1_3['date_of_birth'] = pd.to_datetime(df_1_3['date_of_birth'])

In [85]:
df_1_3.head()

,date_entered,og_nr,date_inspected,household_head,hm_under_5_years_female,hm_under_5_years_male,hm_5-17_years_female,hm_5-17_years_male,hm_18-59_years_female,hm_18-59_years_male,hm_over_60_years_female,hm_over_60_years_male,orphan_<_5_female,orphan_<_5_male,orphan_5-17_female,orphan_5-17_male,chronically_ill_<_5_female,chronically_ill_<_5_male,chronically_ill_5-17_female,chronically_ill_5-17_male,chronically_ill_18-59_female,chronically_ill_18_-59_male,chronically_ill_60+_female,chronically_ill_60+_male,mentally_challenged_<_5_female,mentally_challenged_<_5_male,mentally_challenged_5-17_female,mentally_challenged_5-17_male,mentally_challenged_17-59_female,mentally_challenged_17-59_male,mentally_challenged_60+_female,mentally_challenged_60+_male,agric_activities_<_5_female,agric_activities_<_5_male,agric_activities_5-17_female,agric_activities_5-17_male,agric_activities_18-59_female,agric_activities_18-59_male,agric_activities_60+_female,agric_activities_60+_male,hired_labour_18-59_female,hired_labour_18-59_male,hired_labour_60+_female,hired_labour_60+_male,hh_education_level,children_attending_school,how_many_not_attending,reason_for_not_attending,pupils_pre_school_male,pupils_in_pre_school_female,pupils_in_ecd_male,pupils_in_ecd_female,pupils_in_primary_sch_male,pupils_in_primary__sch_female,pupils_in_sec_sch_male,pupils_in_sec_sch_female,pupils_in_tertiary_male,pupils_in_tertiary_female,main_livelihood_activity,dry_land_income,irrigated_income,gardening_income,formal_employment_income,organic_or_mabagrown_farming,small_business_income,cereal_harvest_last,enough_cereal_2018,enough_cereal_2019,enough_cereal_2020,enough_cereal_2021,insufficient_cereal_reason_1,insufficient_cereal_reason_2,insufficient_cereal_reason_3,last_quarter_food_expenditure,ways_to_improve_food_security,ways_to_improve_income,assets,cattle,goats/sheep,donkeys,poultry,hand_hoes,wheelbarrow,water_pipes,cultivator,tractor_plough,scotch_cart,ox_drawnplough,tractor,bicycle,motorcycle,electricity,solar,radio,television,water_pump,bank/mobile_account,bank_name,fuel_source,type_of_stove,main_source_of_hh_water,source_of_irrigation_water,availabilty_of_hh_latrine,latrine_type,risk_from_non_organic_fields,risk_from_non_organic_activities,"risk_from_motorways,_wastewaters",risk_of_contamination_from_malaria_control,risk_of_contaminated_water,health_of_farmer,nearest_clinic,nearest_school,nearest_shops,sex,marital_status,school_fees_expenditure,health_care_expenditure,date_of_birth
0,2021-05-26,26258.0,2021-05-10,Self,0,0,0,0,0,1,0,0,0.0,0,0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,NaN,NaN,NaN,NaN,Ordinary level,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,NaN,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,None,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,None,0.0,0.0,0.0,male,single,NaN,NaN,1998-06-14
1,2021-06-30,25334.0,2021-05-12,Husband,1,1,1,0,1,1,0,0,0.0,0,0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0.0,0.0,0.0,0.0,Advanced level,1.0,0.0,None,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,Small business,25.0,200.0,25.0,200.0,1.0,75.0,8.0,no,no,no,no,Poor Rainfall,Non affordability of fertilizer,Not enough land,30.0,Buying and selling,Buying and selling,yes,0.0,6.0,0.0,15.0,2.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,no,1.0,1.0,0.0,0,yes,Ecocash,Firewood,Clay stove,Borehole,No irrigation,Yes,Dam,1.0,1.0,1.0,1.0,1.0,good,2.0,2.0,2.0,female,married,2.0,0.0,1994-02-05
2,2021-06-29,25315.0,2021-05-04,Self,0,2,0,1,1,1,0,0,0.0,0,0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,3.0,0.0,0.0,0.0,Zimbabwe Junior certificate,1.0,0.0,None,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,Small business,25.0,200.0,200.0,200.0,1.0,50.0,12.0,no,no,no,no,not answered,not answered,not answered,30.0,Increase farm land,Increase farm land,yes,8.0,16.0,0.0,84.0,3.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,no,1.0,1.0,1.0,0,yes,Cabs,Firewood,open fire,Borehole,No irrigation,Yes,Dam,1.0,1.0,1.0,2.0,1.0,good,7.0,3.0,7.0,male,married,0.0,0.0,1993-10-07
3,2021-06-07,19963.0,2021-05-12,Husband,0,0,2,2,1,1,0,0,0.0,0,0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,6.0,0.0,0.0,0.0,Ordinary level,1.0,0.0,None,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,Dry land farming,25.0,200.0,25.0,200.0,1.0,200.0,8.0,no,no,no,no,Non Availability of Seed,Non Availability of fertilizer,Poor Rainfall,10000.0,Selling goats,Selling goats,yes,12.0,8.0,0.0,11.0,5.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,no,1.0,1.0,2.0,0,no,none,Firewood,open fire,Borehole,Stream or river,Yes,BVIP,1.0,1.0,1.0,2.0,1.0,good,5.0,5.0,5.0,female,married,18000.0,0.0,1982-03-03
4,2021-05-27,25093.0,2021-05-09,Self,1,0,2,2,2,1,0,0,0.0,0,0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,1,0,0,NaN,NaN,NaN,NaN,Ordinary level,1.0,0.0,None,0.0,0.0,0.0,0.0,2.0,1.0,0.0,1.0,0.0,0.0,Dry land farming,25.0,200.0,25.0,200.0,1.0,200.0,5.0,yes,yes,yes,no,Poor Rainfall,Non Availability of fertilizer,Non Availability of Seed,40.0,Cows selling,not answered,yes,8.0,11.0,0.0,7.0,7.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,yes,1.0,1.0,1.0,0,no,none,Firewood,open fire,Borehole,Stream or river,No,No,1.0,1.0,1.0,2.0,1.0,good,3.0,3.0,3.0,male,married,0.0,0.0,1977-04-03

In [86]:
df_1_3.dtypes

date_entered               datetime64[ns]
og_nr                             float64
date_inspected             datetime64[ns]
household_head                     object
hm_under_5_years_female             int64
                                ...
sex                                object
marital_status                     object
school_fees_expenditure           float64
health_care_expenditure           float64
date_of_birth              datetime64[ns]
Length: 118, dtype: object

In [87]:
df_1_3.describe

<bound method NDFrame.describe of     date_entered    og_nr date_inspected household_head  \
0     2021-05-26  26258.0     2021-05-10           Self
1     2021-06-30  25334.0     2021-05-12        Husband
2     2021-06-29  25315.0     2021-05-04           Self
3     2021-06-07  19963.0     2021-05-12        Husband
4     2021-05-27  25093.0     2021-05-09           Self
..           ...      ...            ...            ...
345   2022-03-04   5159.0     2022-01-31        husband
346   2022-03-03   2815.0     2022-01-27        husband
347   2022-03-05  14002.0     2022-01-29           self
348   2022-02-11   2843.0     2022-01-23        husband
349   2022-02-08   3022.0     2022-01-27           self

     hm_under_5_years_female  hm_under_5_years_male  hm_5-17_years_female  \
0                          0                      0                     0
1                          1                      1                     1
2                          0                      2                     0
3                          0                      0                     2
4                          1                      0                     2
..                       ...                    ...                   ...
345                        0                      0                     0
346                        0                      1                     1
347                        2                      1                     1
348                        1                      1                     0
349                        0                      0                     0

     hm_5-17_years_male  hm_18-59_years_female  hm_18-59_years_male  \
0                     0                      0                    1
1                     0                      1                    1
2                     1                      1                    1
3                     2                      1                    1
4                     2                      2                    1
..                  ...                    ...                  ...
345                   2                      1                    1
346                   1                      2                    2
347                   3                      2                    1
348                   1                      1                    1
349                   2                      1                    0

     hm_over_60_years_female  hm_over_60_years_male  orphan_<_5_female  \
0                          0                      0                0.0
1                          0                      0                0.0
2                          0                      0                0.0
3                          0                      0                0.0
4                          0                      0                0.0
..                       ...                    ...                ...
345                        0                      0                0.0
346                        0                      0                0.0
347                        0                      0                0.0
348                        0                      0                0.0
349                        0                      0                0.0

     orphan_<_5_male  orphan_5-17_female  orphan_5-17_male  \
0                  0                   0               0.0
1                  0                   0               0.0
2                  0                   0               0.0
3                  0                   0               0.0
4                  0                   0               0.0
..               ...                 ...               ...
345                0                   0               0.0
346                0                   0               0.0
347                0                   0               0.0
348                0                   0               0.0
349                0                   0               0.0

     chronically_ill_<_5_female  chronically_ill_<_5_male  \
0                           0.0                       0.0
1                           0.0                       0.0
2                           0.0                       0.0
3                           0.0                       0.0
4                           0.0                       0.0
..                          ...                       ...
345                         0.0                       0.0
346                         0.0                       0.0
347                         0.0                       0.0
348                         0.0                       0.0
349                         0.0                       0.0

     chronically_ill_5-17_female  chronically_ill_5-17_male  \
0                              0                          0
1                              0                          0
2                              0                          0
3                              0                          0
4                              0                          0
..                           ...                        ...
345                            0                          0
346                            0                          0
347                            0                          0
348                            0                          0
349                            0                          0

     chronically_ill_18-59_female  chronically_ill_18_-59_male  \
0                               0                            0
1                               0                            0
2                               0                            0
3                               0                            0
4                               0                            0
..                            ...                          ...
345                             0                            0
346                             0                            0
347                             0                            0
348                             0                            0
349                             1                            0

     chronically_ill_60+_female  chronically_ill_60+_male  \
0                             0                         0
1                             0                         0
2                             0                         0
3                             0                         0
4                             0                         0
..                          ...                       ...
345                           0                         0
346                           0                         0
347                           0                         0
348                           0                         0
349                           0                         0

     mentally_challenged_<_5_female  mentally_challenged_<_5_male  \
0                                 0                             0
1                                 0                             0
2                                 0                             0
3                                 0                             0
4                                 0                             0
..                              ...                           ...
345                               0                             0
346                               0                             0
347                               0                             0
348                               0                             0
349                               0                             0

     mentally_challenged_5-17_female  mentally_challenged_5-17_male  \
0                                  0                              0
1                                  0                              0
2                                  0                              0
3                                  0                              0
4                                  0                              0
..                               ...                            ...
345                                0                              0
346                                0                              0
347                                0                              0
348                                0                              0
349                                0                              0

     mentally_challenged_17-59_female  mentally_challenged_17-59_male  \
0                                   0                               0
1                                   0                               0
2                                   0                               0
3                                   0                               0
4                                   0                               0
..                                ...                             ...
345                                 0                               0
346                                 0                               0
347                                 0                               0
348                                 0                               0
349                                 0                               0

     mentally_challenged_60+_female  mentally_challenged_60+_male  \
0                                 0                             0
1                                 0                             0
2                                 0                             0
3                                 0                             0
4                                 0                             0
..                              ...                           ...
345                               0                             0
346                               0                             0
347                               0                             0
348                               0                             0
349                               0                             0

     agric_activities_<_5_female  agric_activities_<_5_male  \
0                              0                          0
1                              0                          0
2                              0                          0
3                              0                          0
4                              0                          0
..                           ...                        ...
345                            0                          0
346                            0                          0
347                            0                          0
348                            0                          0
349                            0                          0

     agric_activities_5-17_female  agric_activities_5-17_male  \
0                               0                           0
1                               0                           0
2                               0                           0
3                               0                           0
4                               0                           0
..                            ...                         ...
345                             0                           0
346                             0                           0
347                             0                           0
348                             0                           0
349                             0                           0

     agric_activities_18-59_female  agric_activities_18-59_male  \
0                                0                            1
1                                1                            1
2                                1                            1
3                                1                            1
4                                2                            1
..                             ...                          ...
345                              1                            1
346                              2                            2
347                              2                            1
348                              1                            1
349                              1                            0

     agric_activities_60+_female  agric_activities_60+_male  \
0                              0                          0
1                              0                          0
2                              0                          0
3                              0                          0
4                              0                          0
..                           ...                        ...
345                            0                          0
346                            0                          0
347                            0                          0
348                            0                          0
349                            0                          0

     hired_labour_18-59_female  hired_labour_18-59_male  \
0                          NaN                      NaN
1                          0.0                      0.0
2                          3.0                      0.0
3                          6.0                      0.0
4                          NaN                      NaN
..                         ...                      ...
345                        0.0                      0.0
346                        0.0                      0.0
347                        0.0                      0.0
348                        0.0                      0.0
349                        0.0                      0.0

     hired_labour_60+_female  hired_labour_60+_male  \
0                        NaN                    NaN
1                        0.0                    0.0
2                        0.0                    0.0
3                        0.0                    0.0
4                        NaN                    NaN
..                       ...                    ...
345                      0.0                    0.0
346                      0.0                    0.0
347                      0.0                    0.0
348                      0.0                    0.0
349                      0.0                    0.0

              hh_education_level  children_attending_school  \
0                 Ordinary level                        NaN
1                 Advanced level                        1.0
2    Zimbabwe Junior certificate                        1.0
3                 Ordinary level                        1.0
4                 Ordinary level                        1.0
..                           ...                        ...
345                         None                        1.0
346               Primary school                        1.0
347               Ordinary level                        1.0
348               Primary school                        1.0
349               Primary school                        1.0

     how_many_not_attending reason_for_not_attending  pupils_pre_school_male  \
0                       NaN                     None                     NaN
1                       0.0                     None                     0.0
2                       0.0                     None                     0.0
3                       0.0                     None                     0.0
4                       0.0                     None                     0.0
..                      ...                      ...                     ...
345                     0.0                     None                     0.0
346                     0.0                     None                     0.0
347                     0.0                     None                     0.0
348                     0.0                     None                     0.0
349                     0.0                     None                     0.0

     pupils_in_pre_school_female  pupils_in_ecd_male  pupils_in_ecd_female  \
0                            NaN                 NaN                   NaN
1                            0.0                 0.0                   0.0
2                            0.0                 0.0                   0.0
3                            0.0                 0.0                   0.0
4                            0.0                 0.0                   0.0
..                           ...                 ...                   ...
345                          0.0                 0.0                   0.0
346                          0.0                 0.0                   0.0
347                          0.0                 0.0                   0.0
348                          0.0                 0.0                   0.0
349                          0.0                 1.0                   0.0

     pupils_in_primary_sch_male  pupils_in_primary__sch_female  \
0                           NaN                            NaN
1                           0.0                            1.0
2                           1.0                            0.0
3                           1.0                            1.0
4                           2.0                            1.0
..                          ...                            ...
345                         2.0                            0.0
346                         0.0                            0.0
347                         2.0                            1.0
348                         1.0                            1.0
349                         0.0                            0.0

     pupils_in_sec_sch_male  pupils_in_sec_sch_female  \
0                       NaN                       NaN
1                       0.0                       0.0
2                       0.0                       0.0
3                       1.0                       1.0
4                       0.0                       1.0
..                      ...                       ...
345                     0.0                       0.0
346                     1.0                       0.0
347                     0.0                       0.0
348                     0.0                       0.0
349                     0.0                       0.0

     pupils_in_tertiary_male  pupils_in_tertiary_female  \
0                        NaN                        NaN
1                        0.0                        0.0
2                        0.0                        0.0
3                        0.0                        0.0
4                        0.0                        0.0
..                       ...                        ...
345                      0.0                        0.0
346                      0.0                        0.0
347                      0.0                        0.0
348                      0.0                        0.0
349                      0.0                        0.0

          main_livelihood_activity  dry_land_income  irrigated_income  \
0                             None              NaN               NaN
1                   Small business             25.0             200.0
2                   Small business             25.0             200.0
3                 Dry land farming             25.0             200.0
4                 Dry land farming             25.0             200.0
..                             ...              ...               ...
345  Organic or  Mabagrown farming            200.0             200.0
346  Organic or  Mabagrown farming            200.0             200.0
347  Organic or  Mabagrown farming            200.0             200.0
348  Organic or  Mabagrown farming            200.0             200.0
349  Organic or  Mabagrown farming            200.0             200.0

     gardening_income  formal_employment_income  organic_or_mabagrown_farming  \

In [88]:
df_1_3.isna().sum()

date_entered                 0
og_nr                        0
date_inspected               3
household_head               0
hm_under_5_years_female      0
                          ...
sex                          0
marital_status               1
school_fees_expenditure      2
health_care_expenditure      2
date_of_birth              202
Length: 118, dtype: int64

In [89]:
duplicates = df_1_3[df_1_3['og_nr'].duplicated()]

In [90]:
df_1_3['og_nr'].duplicated().sum()

0

In [91]:
df_1_3["og_nr"].duplicated().tolist

<bound method IndexOpsMixin.tolist of 0      False
1      False
2      False
3      False
4      False
       ...
345    False
346    False
347    False
348    False
349    False
Name: og_nr, Length: 1320, dtype: bool>

In [92]:
df_1_3.head

<bound method NDFrame.head of     date_entered    og_nr date_inspected household_head  \
0     2021-05-26  26258.0     2021-05-10           Self
1     2021-06-30  25334.0     2021-05-12        Husband
2     2021-06-29  25315.0     2021-05-04           Self
3     2021-06-07  19963.0     2021-05-12        Husband
4     2021-05-27  25093.0     2021-05-09           Self
..           ...      ...            ...            ...
345   2022-03-04   5159.0     2022-01-31        husband
346   2022-03-03   2815.0     2022-01-27        husband
347   2022-03-05  14002.0     2022-01-29           self
348   2022-02-11   2843.0     2022-01-23        husband
349   2022-02-08   3022.0     2022-01-27           self

     hm_under_5_years_female  hm_under_5_years_male  hm_5-17_years_female  \
0                          0                      0                     0
1                          1                      1                     1
2                          0                      2                     0
3                          0                      0                     2
4                          1                      0                     2
..                       ...                    ...                   ...
345                        0                      0                     0
346                        0                      1                     1
347                        2                      1                     1
348                        1                      1                     0
349                        0                      0                     0

     hm_5-17_years_male  hm_18-59_years_female  hm_18-59_years_male  \
0                     0                      0                    1
1                     0                      1                    1
2                     1                      1                    1
3                     2                      1                    1
4                     2                      2                    1
..                  ...                    ...                  ...
345                   2                      1                    1
346                   1                      2                    2
347                   3                      2                    1
348                   1                      1                    1
349                   2                      1                    0

     hm_over_60_years_female  hm_over_60_years_male  orphan_<_5_female  \
0                          0                      0                0.0
1                          0                      0                0.0
2                          0                      0                0.0
3                          0                      0                0.0
4                          0                      0                0.0
..                       ...                    ...                ...
345                        0                      0                0.0
346                        0                      0                0.0
347                        0                      0                0.0
348                        0                      0                0.0
349                        0                      0                0.0

     orphan_<_5_male  orphan_5-17_female  orphan_5-17_male  \
0                  0                   0               0.0
1                  0                   0               0.0
2                  0                   0               0.0
3                  0                   0               0.0
4                  0                   0               0.0
..               ...                 ...               ...
345                0                   0               0.0
346                0                   0               0.0
347                0                   0               0.0
348                0                   0               0.0
349                0                   0               0.0

     chronically_ill_<_5_female  chronically_ill_<_5_male  \
0                           0.0                       0.0
1                           0.0                       0.0
2                           0.0                       0.0
3                           0.0                       0.0
4                           0.0                       0.0
..                          ...                       ...
345                         0.0                       0.0
346                         0.0                       0.0
347                         0.0                       0.0
348                         0.0                       0.0
349                         0.0                       0.0

     chronically_ill_5-17_female  chronically_ill_5-17_male  \
0                              0                          0
1                              0                          0
2                              0                          0
3                              0                          0
4                              0                          0
..                           ...                        ...
345                            0                          0
346                            0                          0
347                            0                          0
348                            0                          0
349                            0                          0

     chronically_ill_18-59_female  chronically_ill_18_-59_male  \
0                               0                            0
1                               0                            0
2                               0                            0
3                               0                            0
4                               0                            0
..                            ...                          ...
345                             0                            0
346                             0                            0
347                             0                            0
348                             0                            0
349                             1                            0

     chronically_ill_60+_female  chronically_ill_60+_male  \
0                             0                         0
1                             0                         0
2                             0                         0
3                             0                         0
4                             0                         0
..                          ...                       ...
345                           0                         0
346                           0                         0
347                           0                         0
348                           0                         0
349                           0                         0

     mentally_challenged_<_5_female  mentally_challenged_<_5_male  \
0                                 0                             0
1                                 0                             0
2                                 0                             0
3                                 0                             0
4                                 0                             0
..                              ...                           ...
345                               0                             0
346                               0                             0
347                               0                             0
348                               0                             0
349                               0                             0

     mentally_challenged_5-17_female  mentally_challenged_5-17_male  \
0                                  0                              0
1                                  0                              0
2                                  0                              0
3                                  0                              0
4                                  0                              0
..                               ...                            ...
345                                0                              0
346                                0                              0
347                                0                              0
348                                0                              0
349                                0                              0

     mentally_challenged_17-59_female  mentally_challenged_17-59_male  \
0                                   0                               0
1                                   0                               0
2                                   0                               0
3                                   0                               0
4                                   0                               0
..                                ...                             ...
345                                 0                               0
346                                 0                               0
347                                 0                               0
348                                 0                               0
349                                 0                               0

     mentally_challenged_60+_female  mentally_challenged_60+_male  \
0                                 0                             0
1                                 0                             0
2                                 0                             0
3                                 0                             0
4                                 0                             0
..                              ...                           ...
345                               0                             0
346                               0                             0
347                               0                             0
348                               0                             0
349                               0                             0

     agric_activities_<_5_female  agric_activities_<_5_male  \
0                              0                          0
1                              0                          0
2                              0                          0
3                              0                          0
4                              0                          0
..                           ...                        ...
345                            0                          0
346                            0                          0
347                            0                          0
348                            0                          0
349                            0                          0

     agric_activities_5-17_female  agric_activities_5-17_male  \
0                               0                           0
1                               0                           0
2                               0                           0
3                               0                           0
4                               0                           0
..                            ...                         ...
345                             0                           0
346                             0                           0
347                             0                           0
348                             0                           0
349                             0                           0

     agric_activities_18-59_female  agric_activities_18-59_male  \
0                                0                            1
1                                1                            1
2                                1                            1
3                                1                            1
4                                2                            1
..                             ...                          ...
345                              1                            1
346                              2                            2
347                              2                            1
348                              1                            1
349                              1                            0

     agric_activities_60+_female  agric_activities_60+_male  \
0                              0                          0
1                              0                          0
2                              0                          0
3                              0                          0
4                              0                          0
..                           ...                        ...
345                            0                          0
346                            0                          0
347                            0                          0
348                            0                          0
349                            0                          0

     hired_labour_18-59_female  hired_labour_18-59_male  \
0                          NaN                      NaN
1                          0.0                      0.0
2                          3.0                      0.0
3                          6.0                      0.0
4                          NaN                      NaN
..                         ...                      ...
345                        0.0                      0.0
346                        0.0                      0.0
347                        0.0                      0.0
348                        0.0                      0.0
349                        0.0                      0.0

     hired_labour_60+_female  hired_labour_60+_male  \
0                        NaN                    NaN
1                        0.0                    0.0
2                        0.0                    0.0
3                        0.0                    0.0
4                        NaN                    NaN
..                       ...                    ...
345                      0.0                    0.0
346                      0.0                    0.0
347                      0.0                    0.0
348                      0.0                    0.0
349                      0.0                    0.0

              hh_education_level  children_attending_school  \
0                 Ordinary level                        NaN
1                 Advanced level                        1.0
2    Zimbabwe Junior certificate                        1.0
3                 Ordinary level                        1.0
4                 Ordinary level                        1.0
..                           ...                        ...
345                         None                        1.0
346               Primary school                        1.0
347               Ordinary level                        1.0
348               Primary school                        1.0
349               Primary school                        1.0

     how_many_not_attending reason_for_not_attending  pupils_pre_school_male  \
0                       NaN                     None                     NaN
1                       0.0                     None                     0.0
2                       0.0                     None                     0.0
3                       0.0                     None                     0.0
4                       0.0                     None                     0.0
..                      ...                      ...                     ...
345                     0.0                     None                     0.0
346                     0.0                     None                     0.0
347                     0.0                     None                     0.0
348                     0.0                     None                     0.0
349                     0.0                     None                     0.0

     pupils_in_pre_school_female  pupils_in_ecd_male  pupils_in_ecd_female  \
0                            NaN                 NaN                   NaN
1                            0.0                 0.0                   0.0
2                            0.0                 0.0                   0.0
3                            0.0                 0.0                   0.0
4                            0.0                 0.0                   0.0
..                           ...                 ...                   ...
345                          0.0                 0.0                   0.0
346                          0.0                 0.0                   0.0
347                          0.0                 0.0                   0.0
348                          0.0                 0.0                   0.0
349                          0.0                 1.0                   0.0

     pupils_in_primary_sch_male  pupils_in_primary__sch_female  \
0                           NaN                            NaN
1                           0.0                            1.0
2                           1.0                            0.0
3                           1.0                            1.0
4                           2.0                            1.0
..                          ...                            ...
345                         2.0                            0.0
346                         0.0                            0.0
347                         2.0                            1.0
348                         1.0                            1.0
349                         0.0                            0.0

     pupils_in_sec_sch_male  pupils_in_sec_sch_female  \
0                       NaN                       NaN
1                       0.0                       0.0
2                       0.0                       0.0
3                       1.0                       1.0
4                       0.0                       1.0
..                      ...                       ...
345                     0.0                       0.0
346                     1.0                       0.0
347                     0.0                       0.0
348                     0.0                       0.0
349                     0.0                       0.0

     pupils_in_tertiary_male  pupils_in_tertiary_female  \
0                        NaN                        NaN
1                        0.0                        0.0
2                        0.0                        0.0
3                        0.0                        0.0
4                        0.0                        0.0
..                       ...                        ...
345                      0.0                        0.0
346                      0.0                        0.0
347                      0.0                        0.0
348                      0.0                        0.0
349                      0.0                        0.0

          main_livelihood_activity  dry_land_income  irrigated_income  \
0                             None              NaN               NaN
1                   Small business             25.0             200.0
2                   Small business             25.0             200.0
3                 Dry land farming             25.0             200.0
4                 Dry land farming             25.0             200.0
..                             ...              ...               ...
345  Organic or  Mabagrown farming            200.0             200.0
346  Organic or  Mabagrown farming            200.0             200.0
347  Organic or  Mabagrown farming            200.0             200.0
348  Organic or  Mabagrown farming            200.0             200.0
349  Organic or  Mabagrown farming            200.0             200.0

     gardening_income  formal_employment_income  organic_or_mabagrown_farming  \

In [93]:
double_ognr = df_1_3[df_1_3.duplicated(['og_nr'], keep=False)]

In [94]:
double_ognr.sort_values(by='og_nr')

Empty DataFrame
Columns: [date_entered, og_nr, date_inspected, household_head, hm_under_5_years_female, hm_under_5_years_male, hm_5-17_years_female, hm_5-17_years_male, hm_18-59_years_female, hm_18-59_years_male, hm_over_60_years_female, hm_over_60_years_male, orphan_<_5_female, orphan_<_5_male, orphan_5-17_female, orphan_5-17_male, chronically_ill_<_5_female, chronically_ill_<_5_male, chronically_ill_5-17_female, chronically_ill_5-17_male, chronically_ill_18-59_female, chronically_ill_18_-59_male, chronically_ill_60+_female, chronically_ill_60+_male, mentally_challenged_<_5_female, mentally_challenged_<_5_male, mentally_challenged_5-17_female, mentally_challenged_5-17_male, mentally_challenged_17-59_female, mentally_challenged_17-59_male, mentally_challenged_60+_female, mentally_challenged_60+_male, agric_activities_<_5_female, agric_activities_<_5_male, agric_activities_5-17_female, agric_activities_5-17_male, agric_activities_18-59_female, agric_activities_18-59_male, agric_activities_60+_female, agric_activities_60+_male, hired_labour_18-59_female, hired_labour_18-59_male, hired_labour_60+_female, hired_labour_60+_male, hh_education_level, children_attending_school, how_many_not_attending, reason_for_not_attending, pupils_pre_school_male, pupils_in_pre_school_female, pupils_in_ecd_male, pupils_in_ecd_female, pupils_in_primary_sch_male, pupils_in_primary__sch_female, pupils_in_sec_sch_male, pupils_in_sec_sch_female, pupils_in_tertiary_male, pupils_in_tertiary_female, main_livelihood_activity, dry_land_income, irrigated_income, gardening_income, formal_employment_income, organic_or_mabagrown_farming, small_business_income, cereal_harvest_last, enough_cereal_2018, enough_cereal_2019, enough_cereal_2020, enough_cereal_2021, insufficient_cereal_reason_1, insufficient_cereal_reason_2, insufficient_cereal_reason_3, last_quarter_food_expenditure, ways_to_improve_food_security, ways_to_improve_income, assets, cattle, goats/sheep, donkeys, poultry, hand_hoes, wheelbarrow, water_pipes, cultivator, tractor_plough, scotch_cart, ox_drawnplough, tractor, bicycle, motorcycle, electricity, solar, radio, television, water_pump, bank/mobile_account, bank_name, fuel_source, type_of_stove, ...]
Index: []

In [95]:
df_1_3

,date_entered,og_nr,date_inspected,household_head,hm_under_5_years_female,hm_under_5_years_male,hm_5-17_years_female,hm_5-17_years_male,hm_18-59_years_female,hm_18-59_years_male,hm_over_60_years_female,hm_over_60_years_male,orphan_<_5_female,orphan_<_5_male,orphan_5-17_female,orphan_5-17_male,chronically_ill_<_5_female,chronically_ill_<_5_male,chronically_ill_5-17_female,chronically_ill_5-17_male,chronically_ill_18-59_female,chronically_ill_18_-59_male,chronically_ill_60+_female,chronically_ill_60+_male,mentally_challenged_<_5_female,mentally_challenged_<_5_male,mentally_challenged_5-17_female,mentally_challenged_5-17_male,mentally_challenged_17-59_female,mentally_challenged_17-59_male,mentally_challenged_60+_female,mentally_challenged_60+_male,agric_activities_<_5_female,agric_activities_<_5_male,agric_activities_5-17_female,agric_activities_5-17_male,agric_activities_18-59_female,agric_activities_18-59_male,agric_activities_60+_female,agric_activities_60+_male,hired_labour_18-59_female,hired_labour_18-59_male,hired_labour_60+_female,hired_labour_60+_male,hh_education_level,children_attending_school,how_many_not_attending,reason_for_not_attending,pupils_pre_school_male,pupils_in_pre_school_female,pupils_in_ecd_male,pupils_in_ecd_female,pupils_in_primary_sch_male,pupils_in_primary__sch_female,pupils_in_sec_sch_male,pupils_in_sec_sch_female,pupils_in_tertiary_male,pupils_in_tertiary_female,main_livelihood_activity,dry_land_income,irrigated_income,gardening_income,formal_employment_income,organic_or_mabagrown_farming,small_business_income,cereal_harvest_last,enough_cereal_2018,enough_cereal_2019,enough_cereal_2020,enough_cereal_2021,insufficient_cereal_reason_1,insufficient_cereal_reason_2,insufficient_cereal_reason_3,last_quarter_food_expenditure,ways_to_improve_food_security,ways_to_improve_income,assets,cattle,goats/sheep,donkeys,poultry,hand_hoes,wheelbarrow,water_pipes,cultivator,tractor_plough,scotch_cart,ox_drawnplough,tractor,bicycle,motorcycle,electricity,solar,radio,television,water_pump,bank/mobile_account,bank_name,fuel_source,type_of_stove,main_source_of_hh_water,source_of_irrigation_water,availabilty_of_hh_latrine,latrine_type,risk_from_non_organic_fields,risk_from_non_organic_activities,"risk_from_motorways,_wastewaters",risk_of_contamination_from_malaria_control,risk_of_contaminated_water,health_of_farmer,nearest_clinic,nearest_school,nearest_shops,sex,marital_status,school_fees_expenditure,health_care_expenditure,date_of_birth
0,2021-05-26,26258.0,2021-05-10,Self,0,0,0,0,0,1,0,0,0.0,0,0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,NaN,NaN,NaN,NaN,Ordinary level,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,NaN,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,None,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,None,0.0,0.0,0.0,male,single,NaN,NaN,1998-06-14
1,2021-06-30,25334.0,2021-05-12,Husband,1,1,1,0,1,1,0,0,0.0,0,0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0.0,0.0,0.0,0.0,Advanced level,1.0,0.0,None,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,Small business,25.0,200.0,25.0,200.0,1.0,75.0,8.0,no,no,no,no,Poor Rainfall,Non affordability of fertilizer,Not enough land,30.0,Buying and selling,Buying and selling,yes,0.0,6.0,0.0,15.0,2.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,no,1.0,1.0,0.0,0,yes,Ecocash,Firewood,Clay stove,Borehole,No irrigation,Yes,Dam,1.0,1.0,1.0,1.0,1.0,good,2.0,2.0,2.0,female,married,2.0,0.0,1994-02-05
2,2021-06-29,25315.0,2021-05-04,Self,0,2,0,1,1,1,0,0,0.0,0,0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,3.0,0.0,0.0,0.0,Zimbabwe Junior certificate,1.0,0.0,None,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,Small business,25.0,200.0,200.0,200.0,1.0,50.0,12.0,no,no,no,no,not answered,not answered,not answered,30.0,Increase farm land,Increase farm land,yes,8.0,16.0,0.0,84.0,3.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,no,1.0,1.0,1.0,0,yes,Cabs,Firewood,open fire,Borehole,No irrigation,Yes,Dam,1.0,1.0,1.0,2.0,1.0,good,7.0,3.0,7.0,male,married,0.0,0.0,1993-10-07
3,2021-06-07,19963.0,2021-05-12,Husband,0,0,2,2,1,1,0,0,0.0,0,0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,6.0,0.0,0.0,0.0,Ordinary level,1.0,0.0,None,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,Dry land farming,25.0,200.0,25.0,200.0,1.0,200.0,8.0,no,no,no,no,Non Availability of Seed,Non Availability of fertilizer,Poor Rainfall,10000.0,Selling goats,Selling goats,yes,12.0,8.0,0.0,11.0,5.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,no,1.0,1.0,2.0,0,no,none,Firewood,open fire,Borehole,Stream or river,Yes,BVIP,1.0,1.0,1.0,2.0,1.0,good,5.0,5.0,5.0,female,married,18000.0,0.0,1982-03-03
4,2021-05-27,25093.0,2021-05-09,Self,1,0,2,2,2,1,0,0,0.0,0,0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,1,0,0,NaN,NaN,NaN,NaN,Ordinary level,1.0,0.0,None,0.0,0.0,0.0,0.0,2.0,1.0,0.0,1.0,0.0,0.0,Dry land farming,25.0,200.0,25.0,200.0,1.0,200.0,5.0,yes,yes,yes,no,Poor Rainfall,Non Availability of fertilizer,Non Availability of Seed,40.0,Cows selling,not answered,yes,8.0,11.0,0.0,7.0,7.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,yes,1.0,1.0,1.0,0,no,none,Firewood,open fire,Borehole,Stream or river,No,No,1.0,1.0,1.0,2.0,1.0,good,3.0,3.0,3.0,male,married,0.0,0.0,1977-04-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345,2022-03-04,5159.0,2022-01-31,husband,0,0,0,2,1,1,0,0,0.0,0,0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0.0,0.0,0.0,0.0,None,1.0,0.0,None,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,Organic or Mabagrown farming,200.0,200.0,200.0,200.0,1.0,200.0,12,No,No,Yes,No,3,None,Poor Rainfall,50.0,Making compost,Making compost,1,3.0,16.0,0.0,11.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,no,0.0,0.0,0.0,2,1,1,5,Electricity,Stream or river,No irrigation,No,No,Low,Low,Low,Medium,Low,Good,7.0,1.0,7.0,female,married,0.0,0.0,NaT
346,2022-03-03,2815.0,2022-01-27,husband,0,1,1,1,2,2,0,0,0.0,0,0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,2,0,0,0.0,0.0,0.0,0.0,Primary school,1.0,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,Organic or Mabagrown farming,200.0,200.0,200.0,200.0,1.0,200.0,12,No,No,No,Yes,3,None,Poor Rainfall,20.0,Not answered,Not answered,1,2.0,2.0,0.0,5.0,4.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,no,0.0,0.0,0.0,2,2,13,5,Electricity,Borehole,No irrigation,No,No,Low,Low,Low,Medium,Low,Good,7.0,7.0,7.0,female,married,0.0,0.0,1972-10-02
347,2022-03-05,14002.0,2022-01-29,self,2,1,1,3,2,1,0,0,0.0,0,0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,1,0,0,0.0,0.0,0.0,0.0,Ordinary level,1.0,0.0,None,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,Organic or Mabagrown farming,200.0,200.0,200.0,200.0,1.0,200.0,8,No,Yes,No,No,5,None,Non Affordability of Seed,10.0,Blacksmithing,Blacksmithing,1,2.0,2.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,no,0.0,0.0,0.0,2,1,1,5,Electricity,Open well,No irrigation,No,No,Low,Low,Low,Medium,Low,Good,10.0,8.0,8.0,male,married,0.0,0.0,1982-01-01
348,2022-02-11,2843.0,2022-01-23,husband,1,1,0,1,1,1,0,0,0.0,0,0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0.0,0.0,0.0,0.0,Primary school,1.0,0.0,None,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,Organic or Mabagrown farming,200.0,200.0,200.0,200.0,1.0,200.0,5,No,No,No,No,5,None,Shortage of labour,10.0,Selling more produce,Selling more produce,1,1.0,5.0,0.0,2.0,3.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,no,1.0,1.0,0.0,2,1,1,5,Electricity,Borehole,No irrigation,Yes,BVIP,Low,Low,Low,Low,Low,Good,2.5,2.5,2.5,female,married,0.0,0.0,NaT
349,2022-02-08,3022.0,2022-01-27,self,0,0,0,2,1,0,0,0,0.0,0,0,0.0,0.0,0.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0.0,0.0,Primary school,1.0,0.0,None,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Organic or Mabagrown farming,200.0,200.0,200.0,200.0,1.0,200.0,1,No,No,No,No,3,None,Poor Rainfall,0.0,Not answered,Not answered,1,0.0,0.0,0.0,5.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,no,0.0,0.0,0.0,2,2,13,5,Electricity,Borehole,No irrigation,Yes,BVIP,Low,Low,Low,Low,Low,Good,7.0,7.0,7.0,female,divorced,0.0,0.0,NaT

In [96]:
double_ognr.sort_values(['og_nr']).head()

Empty DataFrame
Columns: [date_entered, og_nr, date_inspected, household_head, hm_under_5_years_female, hm_under_5_years_male, hm_5-17_years_female, hm_5-17_years_male, hm_18-59_years_female, hm_18-59_years_male, hm_over_60_years_female, hm_over_60_years_male, orphan_<_5_female, orphan_<_5_male, orphan_5-17_female, orphan_5-17_male, chronically_ill_<_5_female, chronically_ill_<_5_male, chronically_ill_5-17_female, chronically_ill_5-17_male, chronically_ill_18-59_female, chronically_ill_18_-59_male, chronically_ill_60+_female, chronically_ill_60+_male, mentally_challenged_<_5_female, mentally_challenged_<_5_male, mentally_challenged_5-17_female, mentally_challenged_5-17_male, mentally_challenged_17-59_female, mentally_challenged_17-59_male, mentally_challenged_60+_female, mentally_challenged_60+_male, agric_activities_<_5_female, agric_activities_<_5_male, agric_activities_5-17_female, agric_activities_5-17_male, agric_activities_18-59_female, agric_activities_18-59_male, agric_activities_60+_female, agric_activities_60+_male, hired_labour_18-59_female, hired_labour_18-59_male, hired_labour_60+_female, hired_labour_60+_male, hh_education_level, children_attending_school, how_many_not_attending, reason_for_not_attending, pupils_pre_school_male, pupils_in_pre_school_female, pupils_in_ecd_male, pupils_in_ecd_female, pupils_in_primary_sch_male, pupils_in_primary__sch_female, pupils_in_sec_sch_male, pupils_in_sec_sch_female, pupils_in_tertiary_male, pupils_in_tertiary_female, main_livelihood_activity, dry_land_income, irrigated_income, gardening_income, formal_employment_income, organic_or_mabagrown_farming, small_business_income, cereal_harvest_last, enough_cereal_2018, enough_cereal_2019, enough_cereal_2020, enough_cereal_2021, insufficient_cereal_reason_1, insufficient_cereal_reason_2, insufficient_cereal_reason_3, last_quarter_food_expenditure, ways_to_improve_food_security, ways_to_improve_income, assets, cattle, goats/sheep, donkeys, poultry, hand_hoes, wheelbarrow, water_pipes, cultivator, tractor_plough, scotch_cart, ox_drawnplough, tractor, bicycle, motorcycle, electricity, solar, radio, television, water_pump, bank/mobile_account, bank_name, fuel_source, type_of_stove, ...]
Index: []

In [97]:
import psycopg2
import sqlalchemy 
from sql_functions import sqlalchemy 
from sql_functions import get_engine 


# Write records stored in a dataframe to SQL database
engine = get_engine()
table_name = 'all_insp_2021'
if engine!=None:
    try:
        df_1_3.to_sql(name='all_insp_2021', # Name of SQL table variable - at the front its the dataframe!! 
                        con=engine, # Engine or connection
                        schema='organic_africa', # your class schema variable
                        if_exists='replace', # Drop the table before inserting new values 
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None
else:
    print('No engine')

The all_insp_2021 table was imported successfully.