Data cleaning - create one product list.

In [1]:
# Import get_dataframe function from the sql module
import pandas as pd 
from sql_functions import get_dataframe

In [2]:
schema = 'organic_africa'
df1 = get_dataframe(f'SELECT * FROM {schema}."product_list__WCOrg"') 
df2 = get_dataframe(f'SELECT * FROM {schema}."product_list__con_bayoba"') 
df3 = get_dataframe(f'SELECT * FROM {schema}."product_list_bayoba"')
df4 = get_dataframe(f'SELECT * FROM {schema}."product_list_con__WCOrg"')

In [18]:
pd.set_option('display.max_rows', 20, 'display.max_columns', None)
display(df1.columns.to_list(),
df2.columns.to_list(),
df3.columns.to_list(),
df4.columns.to_list())

['ID',
 'Product_Code',
 'Product',
 'Old_Product_Code',
 'Enlish_name',
 'Latin_name',
 'Plant_part',
 'Quality']

['ID',
 'Product_Code',
 'Product',
 'Old_Product_Code',
 'Enlish_name',
 'Latin_name',
 'Quality',
 'Plant_part']

['ID',
 'Product_Code',
 'Product',
 'Enlish_name',
 'Latin_name',
 'Plant_part',
 'Quality']

['ID',
 'Product_Code',
 'Product',
 'Old_Product_Code',
 'Enlish_name',
 'Latin_name',
 'Quality',
 'Plant_part']

In [15]:
df4[['Product_Code','Old_Product_Code']]

    Product_Code  Old_Product_Code
0       001.2.50               1.0
1       002.2.10               3.0
2       003.2.10               5.0
3       004.2.40              61.0
4       006.2.10              19.0
..           ...               ...
161     110.2.40               7.0
162     111.2.34             366.0
163     112.2.10             372.0
164            1               NaN
165            2               NaN

[166 rows x 2 columns]

In [23]:
df1.drop('Old_Product_Code', axis=1, inplace=True)
df2.drop('Old_Product_Code', axis=1, inplace=True)
df4.drop('Old_Product_Code', axis=1, inplace=True)

In [24]:
display(df1.columns.to_list(),
df2.columns.to_list(),
df3.columns.to_list(),
df4.columns.to_list())

['ID',
 'Product_Code',
 'Product',
 'Enlish_name',
 'Latin_name',
 'Plant_part',
 'Quality']

['ID',
 'Product_Code',
 'Product',
 'Enlish_name',
 'Latin_name',
 'Quality',
 'Plant_part']

['ID',
 'Product_Code',
 'Product',
 'Enlish_name',
 'Latin_name',
 'Plant_part',
 'Quality']

['ID',
 'Product_Code',
 'Product',
 'Enlish_name',
 'Latin_name',
 'Quality',
 'Plant_part']

In [25]:
frames = [df1, df2, df3, df4]

In [33]:
df_full = pd.concat(frames)

In [35]:
df_full.describe

<bound method NDFrame.describe of       ID Product_Code                              Product        Enlish_name  \
0      1     001.1.50                      Anis seed (org)               Anis
1      2     002.1.10          Artemisia afra leaves (org)     Artemisia afra
2      3     003.1.10         Artemisia annua leaves (org)    Artemisia annua
3      4     004.1.40  Bird's Eye Chilli fruit whole (org)  Bird's Eye Chilli
4     14     006.1.10                   Basil leaves (org)              Basil
..   ...          ...                                  ...                ...
161  171     110.2.40        Bambara nut fruit whole (con)        Bambara nut
162  172     111.2.34             Valerian Root root (con)      Valerian Root
163  173     112.2.10                  Yarrow leaves (con)             Yarrow
164  174            1                 Contact Farmer Bonus               None
165  175            2                         Farmer Bonus               None

               Latin_name   Plant_part Quality
0       Pimpinella anisum         seed     org
1          Artemisia afra       leaves     org
2         Artemisia annua       leaves     org
3         Capsicum annuum  fruit whole     org
4        Ocimum basilicum       leaves     org
..                    ...          ...     ...
161  Voandzai subterrania  fruit whole     con
162                  None         root     con
163                  None       leaves     con
164                  None         None    None
165                  None         None    None

[375 rows x 7 columns]>

In [42]:
df_full_373 = df_full.drop_duplicates()

In [47]:
df_full_373['Product_Code'].duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
159    False
160    False
161    False
162    False
163    False
Name: Product_Code, Length: 373, dtype: bool

In [49]:
df_full_373.pivot_table(columns= ['Product_Code'], aggfunc='size')

Product_Code
001.1.50    1
001.2.50    1
002.1.10    1
002.2.10    1
003.1.10    1
           ..
168.2.60    1
169.2.50    1
170.2.10    1
171.2.10    1
2           1
Length: 364, dtype: int64

In [51]:
column_name = 'Product_Code'  # Specify the column name you want to check for duplicate values

duplicates = df_full[column_name][df_full[column_name].duplicated(keep=False)].unique()

for value in duplicates:
    print(f"Duplicate value: {value}")

Duplicate value: 1
Duplicate value: 2
Duplicate value: None

In [52]:
column_name = 'Product'  # Specify the column name you want to check for duplicate values

duplicates = df_full[column_name][df_full[column_name].duplicated(keep=False)].unique()

for value in duplicates:
    print(f"Duplicate value: {value}")

Duplicate value: Contact Farmer Bonus
Duplicate value: Farmer Bonus
Duplicate value: Rosella petals (con)

In [53]:
df_full_373.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 373 entries, 0 to 163
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            373 non-null    int64
 1   Product_Code  364 non-null    object
 2   Product       373 non-null    object
 3   Enlish_name   370 non-null    object
 4   Latin_name    352 non-null    object
 5   Plant_part    368 non-null    object
 6   Quality       369 non-null    object
dtypes: int64(1), object(6)
memory usage: 23.3+ KB

In [61]:
df_full_373.reset_index()

,index,ID,Product_Code,Product,Enlish_name,Latin_name,Plant_part,Quality
0,0,1,001.1.50,Anis seed (org),Anis,Pimpinella anisum,seed,org
1,1,2,002.1.10,Artemisia afra leaves (org),Artemisia afra,Artemisia afra,leaves,org
2,2,3,003.1.10,Artemisia annua leaves (org),Artemisia annua,Artemisia annua,leaves,org
3,3,4,004.1.40,Bird's Eye Chilli fruit whole (org),Bird's Eye Chilli,Capsicum annuum,fruit whole,org
4,4,14,006.1.10,Basil leaves (org),Basil,Ocimum basilicum,leaves,org
...,...,...,...,...,...,...,...,...
368,159,169,108.2.20,Elder flowers (con),Elder,Sambucus nigra,flowers,con
369,160,170,109.2.10,Muccuna leaves (con),Muccuna,None,leaves,con
370,161,171,110.2.40,Bambara nut fruit whole (con),Bambara nut,Voandzai subterrania,fruit whole,con
371,162,172,111.2.34,Valerian Root root (con),Valerian Root,None,root,con
372,163,173,112.2.10,Yarrow leaves (con),Yarrow,None,leaves,con

In [74]:
df_full_373.columns.to_list()

['Product_Code',
 'Product',
 'Enlish_name',
 'Latin_name',
 'Plant_part',
 'Quality']

In [73]:
df_full_373.drop('ID', axis=1, inplace=True)

KeyError: "['ID'] not found in axis"

In [76]:
df_full_373.head(50)

,Product_Code,Product,Enlish_name,Latin_name,Plant_part,Quality
0,001.1.50,Anis seed (org),Anis,Pimpinella anisum,seed,org
1,002.1.10,Artemisia afra leaves (org),Artemisia afra,Artemisia afra,leaves,org
2,003.1.10,Artemisia annua leaves (org),Artemisia annua,Artemisia annua,leaves,org
3,004.1.40,Bird's Eye Chilli fruit whole (org),Bird's Eye Chilli,Capsicum annuum,fruit whole,org
4,006.1.10,Basil leaves (org),Basil,Ocimum basilicum,leaves,org
...,...,...,...,...,...,...
45,034.1.10,Fenugreek leaves (org),Fenugreek,Trigonella foenumgraecum,leaves,org
46,035.1.40,Garlic fruit whole (org),Garlic,Allium sativum,fruit whole,org
47,035.1.60,Garlic oil (org),Garlic,Allium sativum,oil,org
48,036.1.34,Ginger root (org),Ginger,Zingiber officinale,root,org
49,037.1.10,Gotu kola leaves (org),Gotu kola,Centella asiatica,leaves,org

In [77]:
# we need psycopg2 for raising possible error message
import psycopg2
import sqlalchemy 
from sql_functions import sqlalchemy 
from sql_functions import get_engine

In [78]:
# Write records stored in a dataframe to SQL database
engine = get_engine()
table_name = 'final_product_list'
if engine!=None:
    try:
        df_full_373.to_sql(name='final_product_list', # Name of SQL table variable - at the front its the dataframe!! 
                        con=engine, # Engine or connection
                        schema='organic_africa', # your class schema variable
                        if_exists='replace', # Drop the table before inserting new values 
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None
else:
    print('No engine')

The final_product_list table was imported successfully.

In [80]:
df_full_373['Product'].unique()

array(['Anis seed (org)', 'Artemisia afra leaves (org)',
       'Artemisia annua leaves (org)',
       "Bird's Eye Chilli fruit whole (org)", 'Basil leaves (org)',
       'Basil oil (org)', 'Bay Leaf leaves (org)',
       'Butternut fruit whole (org)', 'Cabbage plant whole (org)',
       'Calendula flowers (org)', 'Calendula petals (org)',
       'Calendula seed (org)', 'Camomille leaves (org)',
       'Camomille flowers (org)', 'Camphor oil (org)',
       'Cape chestnut oil (org)', 'Cardamon seed (org)',
       'Carraway seed (org)', 'Carrot plant whole (org)',
       'Cayenne Chilli fruit whole (org)', 'Chives leaves (org)',
       'Citronella oil  (org)', 'Coriander leaves (org)',
       'Coriander seed (org)', 'Cornflower flowers (org)',
       'Cornflower petals (org)', 'Cornflower seed (org)',
       'Cotton plant part (org)', 'Creeping Thyme leaves (org)',
       'Creeping Thyme oil (org)', 'Cumin seed (org)',
       'Curry Plant leaves (org)', 'Dandelion leaves (org)',
       'Dandelion root (org)', 'Devilâ€™s Claw plant part (org)',
       'Devilâ€™s Claw root (org)', 'Devilâ€™s Claw seed (org)',
       'Dill leaves (org)', 'Eucalyptus (citrodoria) oil (org)',
       'Eucalyptus (globulus) oil (org)', 'Eucalyptus (smitii) oil (org)',
       'Evening Primrose oil (org)', 'Fennel leaves (org)',
       'Fennel seed (org)', 'Fennel oil (org)', 'Fenugreek leaves (org)',
       'Garlic fruit whole (org)', 'Garlic oil (org)',
       'Ginger root (org)', 'Gotu kola leaves (org)',
       'Granadilla fruit whole (org)',
       'Grapefruit (Star Ruby) fruit whole (org)',
       'Grapefruit (Star Ruby) oil (org)',
       'Grapefruit (White Marsh) fruit whole (org)',
       'Grapefruit (White Marsh) oil (org)',
       'Kigelia (Sausage tree) leaves (org)',
       'Kigelia (Sausage tree) fruit whole (org)',
       'Spanish Flag oil (org)', 'Lavender leaves (org)',
       'Lavender oil (org)', 'Mustard (Brassica) seed (org)',
       'Mustard (Brassica) oil (org)',
       'Melissa (lemon balm) leaves (org)', 'Lemon balm oil (org)',
       'Lemon grass leaves (org)', 'Lemon grass oil (org)',
       'Lemon Thyme leaves (org)', 'Lemon verbena leaves (org)',
       'Leonotis leonurus flowers (org)',
       'Leonotis leonurus whole plant plant whole (org)',
       'Lettuce plant whole (org)', 'Linseed oil (org)',
       'Lippia Javanica oil (org)',
       'Malva sylvestris (blue)  petals (org)', 'Marjoram leaves (org)',
       'Marjoram oil (org)', 'Mint oil (org)', 'Mint leaves (org)',
       'Moringa leaves (org)', 'Moringa seed (org)',
       'Mustard (Sinapus) seed (org)', 'Onion plant whole (org)',
       'Orange flowers (org)', 'Orange fruit whole (org)',
       'Orange Oil sweet oil (org)', 'Orange fruit part (org)',
       'Oregano leaves (org)', 'Oregano oil (org)', 'Papaya leaves (org)',
       'Papaya fruit whole (org)', 'Paprika Coarse fruit whole (org)',
       'Paprika Coarse oil (org)', 'Parsley leaves (org)',
       'Parsley oil (org)', 'Parsley seed (org)', 'Pea fruit whole (org)',
       'Pea, pigeon fruit whole (org)', 'Peanuts fruit whole (org)',
       'Pepper seed (org)', 'Peppermint leaves (org)',
       'Peppermint oil (org)', 'Pineapple sage leaves (org)',
       'Pineapple sage flowers (org)', 'Poppy seed (org)',
       'Potato root (org)', 'Rapoco seed (org)',
       'Resurrection bush plant part (org)',
       'Resurrection bush oil (org)', 'Rose flowers (org)',
       'Rose oil (org)', 'Rose Geranium (Bourbon) oil (org)',
       'Rose Geranium (Graveolens) oil (org)',
       'Rosella (subdariffa) petals (org)',
       'Rosella (subdariffa) seed (org)', 'Rosemary leaves (org)',
       'Rosemary oil (org)', 'Roundnut fruit whole (org)',
       'Safflower flowers (org)', 'Safflower seed (org)',
       'Safflower oil (org)', 'Sesame seed (org)', 'Sage leaves (org)',
       'Sage oil (org)', 'Soybean fruit whole (org)', 'Soybean oil (org)',
       'Stinging nettle leaves (org)', 'Strawberry leaves leaves (org)',
       'Strawberry fruit whole (org)', 'Strophanthus (gratus) seed (org)',
       'Strophanthus (kombe) seed (org)', 'Sugarbean fruit whole (org)',
       'Sunflower petals (org)', 'Sunflower oil (org)',
       'Sunflower seed (org)', 'Sunhemp leaves (org)',
       'Tagetes flowers (org)', 'Tagetes plant part (org)',
       'Tagetes seed (org)', 'Tagetes oil (org)', 'Tarragon leaves (org)',
       'Tea Tree oil (org)', 'Tomato fruit whole (org)',
       'Tumeric root (org)', 'Basil (French) leaves (org)',
       'Burdrock root (org)', 'Basil (French) oil (org)',
       'Ghost tree leaves (org)', 'Ghost tree gum (org)',
       'Ghost tree fruit whole (org)', 'Ghost tree seed (org)',
       'Rosella (abelmoshus) petals (org)',
       'Rosella (abelmoshus) seed (org)',
       'Sesbania grandiflora flowers (org)', 'Feverfew leaves (org)',
       'Horsetail leaves (org)', 'Jasmin flowers (org)',
       'Lucern leaves (org)', 'Macademia nut fruit whole (org)',
       'Makoni leaves (org)', 'Elder flowers (org)',
       'Muccuna leaves (org)', 'Bambara nut fruit whole (org)',
       'Valerian Root root (org)', 'Yarrow leaves (org)',
       'Contact Farmer Bonus', 'Farmer Bonus',
       'Devils claw root (org) wet', 'Devilâ€™s Claw plant part (org) wet',
       'Baobab leaves (con)', 'Baobab flowers (con)',
       'Baobab fibre (con)', 'Baobab fruit whole (con)',
       'Baobab pulp and seed (con)', 'Baobab seed (con)',
       'Baobab seed cake (con)', 'Baobab oil (con)',
       'Baobab powder (con)', 'Trichillia emetica (con)',
       'Rosella petals (con)', 'Baobab leaves (org)',
       'Baobab flowers (org)', 'Baobab fibre (org)',
       'Baobab fruit whole (org)', 'Baobab pulp and seed (org)',
       'Baobab seed (org)', 'Baobab seed cake (org)', 'Baobab oil (org)',
       'Baobab powder (org)', 'Ximenia Americana seed (org)',
       'Ximenia Americana oil (org)', 'Ximenia Caffra Seed (org)',
       'Ximenia Caffra oil (org)', 'Mongongo seed (org)',
       'Mongongo oil (org)', 'Marula seed (org)', 'Marula oil (org)',
       'Mafura butter seed (org)', 'Mafura butter oil (org)',
       'kalahari melon seed (org)', 'kalahari melon oil (org)',
       'Mobola plums (org)', 'Lipia Javanica (zumbani)',
       'Resurection Bush', 'Trichillia emetica (org)', 'Zumbani leaves',
       'Marula Kennels', 'KMS + Ximenia', 'Baobab+KMS+Ximenia (org)',
       'Anis seed (con)', 'Artemisia afra leaves (con)',
       'Artemisia annua leaves (con)',
       "Bird's Eye Chilli fruit whole (con)", 'Basil leaves (con)',
       'Basil oil (con)', 'Bay Leaf leaves (con)',
       'Butternut fruit whole (con)', 'Cabbage plant whole (con)',
       'Calendula flowers (con)', 'Calendula petals (con)',
       'Calendula seed (con)', 'Camomille leaves (con)',
       'Camomille flowers (con)', 'Camphor oil (con)',
       'Cape chestnut oil (con)', 'Cardamon seed (con)',
       'Carraway seed (con)', 'Carrot plant whole (con)',
       'Cayenne Chilli fruit whole (con)', 'Chives leaves (con)',
       'Citronella oil  (con)', 'Coriander leaves (con)',
       'Coriander seed (con)', 'Cornflower flowers (con)',
       'Cornflower petals (con)', 'Cornflower seed (con)',
       'Cotton plant part (con)', 'Creeping Thyme leaves (con)',
       'Creeping Thyme oil (con)', 'Cumin seed (con)',
       'Curry Plant leaves (con)', 'Dandelion leaves (con)',
       'Dandelion root (con)', 'Devilâ€™s Claw plant part (con)',
       'Devilâ€™s Claw root (con)', 'Devilâ€™s Claw seed (con)',
       'Dill leaves (con)', 'Eucalyptus (citrodoria) oil (con)',
       'Eucalyptus (globulus) oil (con)', 'Eucalyptus (smitii) oil (con)',
       'Evening Primrose oil (con)', 'Fennel leaves (con)',
       'Fennel seed (con)', 'Fennel oil (con)', 'Fenugreek leaves (con)',
       'Garlic fruit whole (con)', 'Garlic oil (con)',
       'Ginger root (con)', 'Gotu kola leaves (con)',
       'Granadilla fruit whole (con)',
       'Grapefruit (Star Ruby) fruit whole (con)',
       'Grapefruit (Star Ruby) oil (con)',
       'Grapefruit (White Marsh) fruit whole (con)',
       'Grapefruit (White Marsh) oil (con)',
       'Kigelia (Sausage tree) leaves (con)',
       'Kigelia (Sausage tree) fruit whole (con)',
       'Spanish Flag oil (con)', 'Lavender leaves (con)',
       'Lavender oil (con)', 'Mustard (Brassica) seed (con)',
       'Mustard (Brassica) oil (con)',
       'Melissa (lemon balm) leaves (con)', 'Lemon balm oil (con)',
       'Lemon grass leaves (con)', 'Lemon grass oil (con)',
       'Lemon Thyme leaves (con)', 'Lemon verbena leaves (con)',
       'Leonotis leonurus flowers (con)',
       'Leonotis leonurus whole plant plant whole (con)',
       'Lettuce plant whole (con)', 'Linseed oil (con)',
       'Lippia Javanica oil (con)',
       'Malva sylvestris (blue)  flowers (con)', 'Marjoram leaves (con)',
       'Marjoram oil (con)', 'Mint leaves (con)', 'Mint oil (con)',
       'Moringa leaves (con)', 'Moringa seed (con)',
       'Mustard (Sinapus) seed (con)', 'Onion plant whole (con)',
       'Orange fruit part (con)', 'Orange flowers (con)',
       'Orange fruit whole (con)', 'Orange Oil sweet oil (con)',
       'Oregano oil (con)', 'Oregano leaves (con)', 'Papaya leaves (con)',
       'Papaya fruit whole (con)', 'Paprika Coarse fruit whole (con)',
       'Paprika Coarse oil (con)', 'Parsley seed (con)',
       'Parsley leaves (con)', 'Parsley oil (con)',
       'Pea fruit whole (con)', 'Pea, pigeon fruit whole (con)',
       'Peanuts fruit whole (con)', 'Pepper seed (con)',
       'Peppermint leaves (con)', 'Peppermint oil (con)',
       'Pineapple sage leaves (con)', 'Pineapple sage flowers (con)',
       'Poppy seed (con)', 'Potato root (con)', 'Rapoco seed (con)',
       'Resurrection bush oil (con)',
       'Resurrection bush plant part (con)', 'Rose flowers (con)',
       'Rose oil (con)', 'Rose Geranium (Bourbon) oil (con)',
       'Rose Geranium (Graveolens) oil (con)',
       'Rosella (subdariffa) petals (con)',
       'Rosella (subdariffa) seed (con)', 'Rosemary leaves (con)',
       'Rosemary oil (con)', 'Roundnut fruit whole (con)',
       'Safflower petals (con)', 'Safflower seed (con)',
       'Safflower oil (con)', 'Sesame seed (con)', 'Sage leaves (con)',
       'Sage oil (con)', 'Soybean fruit whole (con)', 'Soybean oil (con)',
       'Stinging nettle leaves (con)', 'Strawberry leaves leaves (con)',
       'Strawberry fruit whole (con)', 'Strophanthus (gratus) seed (con)',
       'Strophanthus (kombe) seed (con)', 'Sugarbean fruit whole (con)',
       'Sunflower seed (con)', 'Sunflower petals (con)',
       'Sunflower oil (con)', 'Sunhemp leaves (con)',
       'Tagetes flowers (con)', 'Tagetes plant part (con)',
       'Tagetes seed (con)', 'Tagetes oil (con)', 'Tarragon leaves (con)',
       'Tea Tree oil (con)', 'Tomato fruit whole (con)',
       'Tumeric root (con)', 'Basil (French) leaves (con)',
       'Burdrock root (con)', 'Basil (French) oil (con)',
       'Ghost tree leaves (con)', 'Ghost tree gum (con)',
       'Ghost tree fruit whole (con)', 'Ghost tree seed (con)',
       'Rosella (abelmoshus) petals (con)',
       'Rosella (abelmoshus) seed (con)',
       'Sesbania grandiflora flowers (con)', 'Feverfew leaves (con)',
       'Horsetail leaves (con)', 'Jasmin flowers (con)',
       'Lucern leaves (con)', 'Macademia nut fruit whole (con)',
       'Makoni leaves (con)', 'Elder flowers (con)',
       'Muccuna leaves (con)', 'Bambara nut fruit whole (con)',
       'Valerian Root root (con)', 'Yarrow leaves (con)'], dtype=object)