In [2010]:
import pandas as pd
import sql_functions as sf

In [2011]:
schema = 'organic_africa' # UPDATE 'TABLE_SCHEMA' based on schema used in class 
engine = sf.get_engine()

**Importing tables of farmer data as Dataframes**

5 Dfs stored in one Dictionary

In [2012]:
all_farmers = {}

all_farmers['OGInfo__OGMB_1_df'] = sf.get_dataframe(f'SELECT * FROM {schema}."OGInfo__OGMB_1"')
all_farmers['OG_Info__OGOrg_1_df'] = sf.get_dataframe(f'SELECT * FROM {schema}."OG_Info__OGOrg_1"')
all_farmers['wc_info_bayoba_1_df'] = sf.get_dataframe(f'SELECT * FROM {schema}."wc_info_bayoba_1"')
all_farmers['wc_info__WCOrg_1_df'] = sf.get_dataframe(f'SELECT * FROM {schema}."wc_info__WCOrg_1"')
all_farmers['OG_Info_reserve__OGOrg_1_df'] = sf.get_dataframe(f'SELECT * FROM {schema}."OG_Info_reserve__OGOrg_1"')

## Preparing imported farmer dataframes

**Preparing farmer dfs to concat them to one big df**

1. Reduce all farmer df to the necessary ~20 columns 
2. Set all column names to lowercase
3. Renaming equal columns with equal column names
4. Checking and converting data types

In [2013]:
# Reduce all farmer df to the necessary ~20 columns
all_farmers['OGInfo__OGMB_1_df'] = all_farmers['OGInfo__OGMB_1_df'][['ID', 'OG_Nr', 'OG_code', 'Production_Unit', 'Area', 'Ward_Nr/Name',
                                                                   'Species', 'Surname', 'First_names', 'Sex', 'ID_Number',
                                                                   'Date_of_Birth', 'date_contracted', 'Date_dropped_out', 'Reason_dropped_out',
                                                                   'Address', 'OG_Organic_Status', 'OG_Organic_Status_from_Date', 'Fairtrade']]

all_farmers['OG_Info__OGOrg_1_df'] = all_farmers['OG_Info__OGOrg_1_df'][['ID', 'OG_Nr', 'OG_code', 'Production_Unit', 'Area', 'Ward_Nr/Name',
                                                                       'Species', 'Surname', 'First_names', 'Sex', 'ID_Number', 'Date_of_Birth',
                                                                       'Date_contracted', 'Date_dropped_out', 'Reason_dropped_out', 
                                                                       'OG_Organic_Status', 'Address', 'OG_Organic_Status_from_Date',
                                                                       'Fairtrade','ward_nr']]

all_farmers['wc_info_bayoba_1_df'] = all_farmers['wc_info_bayoba_1_df'][['ID', 'WC_Nr', 'WC_code', 'Production_Unit', 'Area', 'Ward_Nr/Name',
                                                                       'Species', 'Surname', 'First_names', 'Sex', 'ID_Number', 
                                                                       'Date_contracted', 'Date_dropped_out',
                                                                       'Reason_dropped_out', 'Address', 'Organic_Status', 
                                                                       'Organic_Status_from_Date', 'Fairtrade', 'Date_of_Birth', 'ward_nr']]

all_farmers['wc_info__WCOrg_1_df'] = all_farmers['wc_info__WCOrg_1_df'][['ID', 'WC_Nr', 'WC_code', 'Production_Unit', 'Area', 'Ward_Nr/Name',
                                                                       'Species', 'Surname', 'First_names', 'Sex', 'ID_Number',
                                                                       'Date_contracted', 'Reason_dropped_out', 'Address', 'Organic_Status', 
                                                                       'Organic_Status_from_Date', 'Fairtrade', 'Date_dropped_out', 'ward_nr']]

all_farmers['OG_Info_reserve__OGOrg_1_df'] = all_farmers['OG_Info_reserve__OGOrg_1_df'][['ID', 'OG_Nr', 'OG_code', 'Production_Unit', 'Area', 
                                                                                       'Ward_Nr/Name', 'Species', 'Surname', 'First_names',
                                                                                       'Sex', 'ID_Number', 'Date_of_Birth', 'Date_contracted',
                                                                                       'Date_dropped_out', 'Reason_dropped_out', 'Address',
                                                                                       'OG_Organic_Status', 'OG_Organic_Status_from_Date', 
                                                                                       'Fairtrade', 'ward_nr']]

In [2014]:
# Set all column names to lowercase

for df in all_farmers.values():
    #print(df)
    df.columns = map(str.lower, df.columns)

In [2015]:
all_farmers['OGInfo__OGMB_1_df'].columns

Index(['id', 'og_nr', 'og_code', 'production_unit', 'area', 'ward_nr/name',
       'species', 'surname', 'first_names', 'sex', 'id_number',
       'date_of_birth', 'date_contracted', 'date_dropped_out',
       'reason_dropped_out', 'address', 'og_organic_status',
       'og_organic_status_from_date', 'fairtrade'],
      dtype='object')

In [2016]:
# Renaming equal columns with equal column names
all_farmers['OGInfo__OGMB_1_df'].rename(columns={'og_organic_status':'organic_status', 'og_organic_status_from_date':'organic_status_from_date'}, inplace=True)
all_farmers['OG_Info__OGOrg_1_df'].rename(columns={'og_organic_status':'organic_status', 'og_organic_status_from_date':'organic_status_from_date'}, inplace=True)
all_farmers['OG_Info_reserve__OGOrg_1_df'].rename(columns={'og_organic_status':'organic_status', 'og_organic_status_from_date':'organic_status_from_date'}, inplace=True)

**4. Checking and converting data types**

.info() .dtype() type()

pd.to_datetime()

#### OGInfo__OGMB_1

In [2017]:
all_farmers['OGInfo__OGMB_1_df'].info()

# looks good!

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8166 entries, 0 to 8165
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        8166 non-null   int64
 1   og_nr                     8166 non-null   int64
 2   og_code                   8166 non-null   object
 3   production_unit           8166 non-null   object
 4   area                      8166 non-null   object
 5   ward_nr/name              8166 non-null   int64
 6   species                   8166 non-null   object
 7   surname                   8166 non-null   object
 8   first_names               8166 non-null   object
 9   sex                       8166 non-null   object
 10  id_number                 7073 non-null   object
 11  date_of_birth             657 non-null    datetime64[ns]
 12  date_contracted           8164 non-null   datetime64[ns]
 13  date_dropped_out          7053 non-null   datetime64[ns]
 14  reason_dropped_out        6587 non-null   object
 15  address                   8111 non-null   object
 16  organic_status            8166 non-null   object
 17  organic_status_from_date  8166 non-null   object
 18  fairtrade                 8166 non-null   bool
dtypes: bool(1), datetime64[ns](3), int64(3), object(12)
memory usage: 1.1+ MB

In [2018]:
type(all_farmers['OGInfo__OGMB_1_df']['date_contracted'][2])

pandas._libs.tslibs.timestamps.Timestamp

In [2019]:
all_farmers['OG_Info__OGOrg_1_df']['date_contracted'][0]

'12/07/2022'

#### OG_Info__OGOrg_1_df

In [2020]:
all_farmers['OG_Info__OGOrg_1_df'].info()

# need to convert date_of_birth, date_contracted and date_dropped_out

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1403 entries, 0 to 1402
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        1403 non-null   int64
 1   og_nr                     1403 non-null   int64
 2   og_code                   1403 non-null   object
 3   production_unit           1403 non-null   object
 4   area                      1403 non-null   object
 5   ward_nr/name              1403 non-null   object
 6   species                   1403 non-null   object
 7   surname                   1403 non-null   object
 8   first_names               1403 non-null   object
 9   sex                       1403 non-null   object
 10  id_number                 1310 non-null   object
 11  date_of_birth             930 non-null    object
 12  date_contracted           1403 non-null   object
 13  date_dropped_out          405 non-null    object
 14  reason_dropped_out        264 non-null    object
 15  organic_status            1403 non-null   object
 16  address                   1192 non-null   object
 17  organic_status_from_date  1403 non-null   object
 18  fairtrade                 1403 non-null   bool
 19  ward_nr                   1403 non-null   int64
dtypes: bool(1), int64(3), object(16)
memory usage: 209.8+ KB

In [2021]:
# converted date_of_birth
all_farmers['OG_Info__OGOrg_1_df']['date_of_birth'] = pd.to_datetime(all_farmers['OG_Info__OGOrg_1_df']['date_of_birth'])

Converting 'date_contracted' to datetime

In [2022]:
# all_farmers['OG_Info__OGOrg_1_df']['date_contracted'] = pd.to_datetime(all_farmers['OG_Info__OGOrg_1_df']['date_contracted'])

# Out of bounds nanosecond timestamp: 218-08-19 00:00:00 present at position 59

# all_farmers['OG_Info__OGOrg_1_df'].iloc[59,]
# all_farmers['OG_Info__OGOrg_1_df'].loc[all_farmers['OG_Info__OGOrg_1_df']['date_contracted']=='218-08-19']

# Did not found 218-08-19 at index 59 but the seems to get corrected in the next steps

In [2023]:
all_farmers['OG_Info__OGOrg_1_df'].iloc[59]['date_contracted']

'31/8/18'

In [2024]:
all_farmers['OG_Info__OGOrg_1_df'].replace('218-08-19', '2018-08-19', inplace=True)

In [2025]:
all_farmers['OG_Info__OGOrg_1_df'].iloc[50:60,12]

50       31/8/18
51       31/8/18
52    03/12/2012
53    03/12/2012
54       31/8/18
55       31/8/18
56    06/12/2012
57      24/02/23
58    06/12/2012
59       31/8/18
Name: date_contracted, dtype: object

Solving date_contracted errors with padding strings

In [2026]:
# Function to pad/fill to short dates like 5/3/18 to 05/03/2018

def str_date_pad(val):
    
    if type(val) is str and len(val) < 10: 

        date_splitted = val.split('/')
        
        if len(date_splitted[1]) < 2 : 
            date_splitted[1] = '0' + date_splitted[1]

        if (len(date_splitted[2]) < 4) and (int(date_splitted[2]) < 24) : 
            date_splitted[2] = '20' + date_splitted[2]
        if len(date_splitted[2]) < 4 and int(date_splitted[2]) > 23 : 
            date_splitted[2] = '19' + date_splitted[2]
    
        val = '/'.join(date_splitted)
        #print(val)
        return val
    
    else:
        return val

In [2027]:
# Apply function to df
all_farmers['OG_Info__OGOrg_1_df']['date_contracted'] = all_farmers['OG_Info__OGOrg_1_df']['date_contracted'].apply(str_date_pad)

In [2028]:
all_farmers['OG_Info__OGOrg_1_df'].iloc[50:60,12]

50    31/08/2018
51    31/08/2018
52    03/12/2012
53    03/12/2012
54    31/08/2018
55    31/08/2018
56    06/12/2012
57    24/02/2023
58    06/12/2012
59    31/08/2018
Name: date_contracted, dtype: object

In [2029]:
# Now after padding convert str to datetime gives still problem !
# all_farmers['OG_Info__OGOrg_1_df']['date_contracted'] = pd.to_datetime(all_farmers['OG_Info__OGOrg_1_df']['date_contracted'])

In [2030]:
# Problem with date '19/08/19218' at 54 BUT its in position/row_index 741
all_farmers['OG_Info__OGOrg_1_df'].loc[all_farmers['OG_Info__OGOrg_1_df']['date_contracted']=='19/08/19218']
# cause year '218' padded to '19218'

,id,og_nr,og_code,production_unit,area,ward_nr/name,species,surname,first_names,sex,id_number,date_of_birth,date_contracted,date_dropped_out,reason_dropped_out,organic_status,address,organic_status_from_date,fairtrade,ward_nr
741,2140,19482,BNOG,Matabeleland North,Binga,5 Sinakoma,Rosella,Mpande,Josephine,female,06-010710E06,1968-10-01,19/08/19218,None,None,Org,Dongamuse Primary School Box 83 Binga,2018-08-19,True,5

In [2031]:
# Solve through replacing '19/08/19218' by '19/08/2018' and dropping '01/00/2022'
all_farmers['OG_Info__OGOrg_1_df'].replace('19/08/19218', '19/08/2018', inplace=True)
all_farmers['OG_Info__OGOrg_1_df'].replace('01/00/2022', None, inplace=True)

In [2032]:
all_farmers['OG_Info__OGOrg_1_df'].iloc[741]['date_contracted']

'19/08/2018'

In [2033]:
# Ready to convert str to datetime
all_farmers['OG_Info__OGOrg_1_df']['date_contracted'] = pd.to_datetime(all_farmers['OG_Info__OGOrg_1_df']['date_contracted'])

/var/folders/x5/v1d8l9v94679fhr8vd07ys9c0000gn/T/ipykernel_2393/2690701254.py:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  all_farmers['OG_Info__OGOrg_1_df']['date_contracted'] = pd.to_datetime(all_farmers['OG_Info__OGOrg_1_df']['date_contracted'])

In [2034]:
all_farmers['OG_Info__OGOrg_1_df'].iloc[65]['date_contracted']

Timestamp('2012-06-12 00:00:00')

In [2035]:
all_farmers['OG_Info__OGOrg_1_df']['date_dropped_out'] = pd.to_datetime(all_farmers['OG_Info__OGOrg_1_df']['date_dropped_out'])

/var/folders/x5/v1d8l9v94679fhr8vd07ys9c0000gn/T/ipykernel_2393/3224109209.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  all_farmers['OG_Info__OGOrg_1_df']['date_dropped_out'] = pd.to_datetime(all_farmers['OG_Info__OGOrg_1_df']['date_dropped_out'])

In [2036]:
all_farmers['OG_Info__OGOrg_1_df'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1403 entries, 0 to 1402
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        1403 non-null   int64
 1   og_nr                     1403 non-null   int64
 2   og_code                   1403 non-null   object
 3   production_unit           1403 non-null   object
 4   area                      1403 non-null   object
 5   ward_nr/name              1403 non-null   object
 6   species                   1403 non-null   object
 7   surname                   1403 non-null   object
 8   first_names               1403 non-null   object
 9   sex                       1403 non-null   object
 10  id_number                 1310 non-null   object
 11  date_of_birth             930 non-null    datetime64[ns]
 12  date_contracted           1402 non-null   datetime64[ns]
 13  date_dropped_out          405 non-null    datetime64[ns]
 14  reason_dropped_out        264 non-null    object
 15  organic_status            1403 non-null   object
 16  address                   1192 non-null   object
 17  organic_status_from_date  1403 non-null   object
 18  fairtrade                 1403 non-null   bool
 19  ward_nr                   1403 non-null   int64
dtypes: bool(1), datetime64[ns](3), int64(3), object(13)
memory usage: 209.8+ KB

#### wc_info_bayoba_1_df

In [2037]:
all_farmers['wc_info_bayoba_1_df'].info()

# need to convert date_of_birth, date_contracted and date_dropped_out

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10952 entries, 0 to 10951
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        10952 non-null  int64
 1   wc_nr                     10952 non-null  int64
 2   wc_code                   10952 non-null  object
 3   production_unit           10952 non-null  object
 4   area                      10952 non-null  object
 5   ward_nr/name              10535 non-null  object
 6   species                   10952 non-null  object
 7   surname                   10951 non-null  object
 8   first_names               10949 non-null  object
 9   sex                       10952 non-null  object
 10  id_number                 10248 non-null  object
 11  date_contracted           10951 non-null  object
 12  date_dropped_out          1924 non-null   object
 13  reason_dropped_out        1054 non-null   object
 14  address                   10779 non-null  object
 15  organic_status            10952 non-null  object
 16  organic_status_from_date  6867 non-null   object
 17  fairtrade                 10952 non-null  bool
 18  date_of_birth             990 non-null    object
 19  ward_nr                   10535 non-null  float64
dtypes: bool(1), float64(1), int64(2), object(16)
memory usage: 1.6+ MB

In [2038]:
all_farmers['wc_info_bayoba_1_df']['date_of_birth'] = pd.to_datetime(all_farmers['wc_info_bayoba_1_df']['date_of_birth'])

In [2039]:
all_farmers['wc_info_bayoba_1_df']['date_contracted'] = pd.to_datetime(all_farmers['wc_info_bayoba_1_df']['date_contracted'])

In [2040]:
all_farmers['wc_info_bayoba_1_df']['date_dropped_out'] = pd.to_datetime(all_farmers['wc_info_bayoba_1_df']['date_dropped_out'])

In [2041]:
all_farmers['wc_info_bayoba_1_df'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10952 entries, 0 to 10951
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        10952 non-null  int64
 1   wc_nr                     10952 non-null  int64
 2   wc_code                   10952 non-null  object
 3   production_unit           10952 non-null  object
 4   area                      10952 non-null  object
 5   ward_nr/name              10535 non-null  object
 6   species                   10952 non-null  object
 7   surname                   10951 non-null  object
 8   first_names               10949 non-null  object
 9   sex                       10952 non-null  object
 10  id_number                 10248 non-null  object
 11  date_contracted           10951 non-null  datetime64[ns]
 12  date_dropped_out          1924 non-null   datetime64[ns]
 13  reason_dropped_out        1054 non-null   object
 14  address                   10779 non-null  object
 15  organic_status            10952 non-null  object
 16  organic_status_from_date  6867 non-null   object
 17  fairtrade                 10952 non-null  bool
 18  date_of_birth             990 non-null    datetime64[ns]
 19  ward_nr                   10535 non-null  float64
dtypes: bool(1), datetime64[ns](3), float64(1), int64(2), object(13)
memory usage: 1.6+ MB

#### wc_info__WCOrg_1_df

In [2042]:
all_farmers['wc_info__WCOrg_1_df'].info()

# has no date_of_birth column -> 19 columns
# need to convert date_contracted and date_dropped_out

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 565 entries, 0 to 564
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        565 non-null    int64
 1   wc_nr                     565 non-null    int64
 2   wc_code                   565 non-null    object
 3   production_unit           565 non-null    object
 4   area                      565 non-null    object
 5   ward_nr/name              563 non-null    object
 6   species                   565 non-null    object
 7   surname                   564 non-null    object
 8   first_names               564 non-null    object
 9   sex                       565 non-null    object
 10  id_number                 472 non-null    object
 11  date_contracted           558 non-null    object
 12  reason_dropped_out        142 non-null    object
 13  address                   530 non-null    object
 14  organic_status            564 non-null    object
 15  organic_status_from_date  547 non-null    object
 16  fairtrade                 565 non-null    bool
 17  date_dropped_out          426 non-null    object
 18  ward_nr                   563 non-null    float64
dtypes: bool(1), float64(1), int64(2), object(15)
memory usage: 80.1+ KB

In [2043]:
all_farmers['wc_info__WCOrg_1_df']['date_contracted'] = pd.to_datetime(all_farmers['wc_info__WCOrg_1_df']['date_contracted'])

In [2044]:
all_farmers['wc_info__WCOrg_1_df']['date_dropped_out'] = pd.to_datetime(all_farmers['wc_info__WCOrg_1_df']['date_dropped_out'])

/var/folders/x5/v1d8l9v94679fhr8vd07ys9c0000gn/T/ipykernel_2393/68422980.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  all_farmers['wc_info__WCOrg_1_df']['date_dropped_out'] = pd.to_datetime(all_farmers['wc_info__WCOrg_1_df']['date_dropped_out'])

In [2045]:
all_farmers['wc_info__WCOrg_1_df'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 565 entries, 0 to 564
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        565 non-null    int64
 1   wc_nr                     565 non-null    int64
 2   wc_code                   565 non-null    object
 3   production_unit           565 non-null    object
 4   area                      565 non-null    object
 5   ward_nr/name              563 non-null    object
 6   species                   565 non-null    object
 7   surname                   564 non-null    object
 8   first_names               564 non-null    object
 9   sex                       565 non-null    object
 10  id_number                 472 non-null    object
 11  date_contracted           558 non-null    datetime64[ns]
 12  reason_dropped_out        142 non-null    object
 13  address                   530 non-null    object
 14  organic_status            564 non-null    object
 15  organic_status_from_date  547 non-null    object
 16  fairtrade                 565 non-null    bool
 17  date_dropped_out          426 non-null    datetime64[ns]
 18  ward_nr                   563 non-null    float64
dtypes: bool(1), datetime64[ns](2), float64(1), int64(2), object(13)
memory usage: 80.1+ KB

#### OG_Info_reserve__OGOrg_1_df

In [2046]:
all_farmers['OG_Info_reserve__OGOrg_1_df'].info()

# need to convert date_of_birth, date_contracted and date_dropped_out

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 795 entries, 0 to 794
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        795 non-null    int64
 1   og_nr                     795 non-null    int64
 2   og_code                   795 non-null    object
 3   production_unit           795 non-null    object
 4   area                      795 non-null    object
 5   ward_nr/name              794 non-null    object
 6   species                   795 non-null    object
 7   surname                   795 non-null    object
 8   first_names               795 non-null    object
 9   sex                       795 non-null    object
 10  id_number                 734 non-null    object
 11  date_of_birth             267 non-null    object
 12  date_contracted           795 non-null    object
 13  date_dropped_out          255 non-null    object
 14  reason_dropped_out        257 non-null    object
 15  address                   785 non-null    object
 16  organic_status            795 non-null    object
 17  organic_status_from_date  795 non-null    object
 18  fairtrade                 795 non-null    bool
 19  ward_nr                   794 non-null    float64
dtypes: bool(1), float64(1), int64(2), object(16)
memory usage: 118.9+ KB

In [2047]:
all_farmers['OG_Info_reserve__OGOrg_1_df']['date_of_birth'] = pd.to_datetime(all_farmers['OG_Info_reserve__OGOrg_1_df']['date_of_birth'])

In [2048]:
all_farmers['OG_Info_reserve__OGOrg_1_df']['date_contracted'] = pd.to_datetime(all_farmers['OG_Info__OGOrg_1_df']['date_contracted'])

In [2049]:
all_farmers['OG_Info_reserve__OGOrg_1_df']['date_dropped_out'] = pd.to_datetime(all_farmers['OG_Info_reserve__OGOrg_1_df']['date_dropped_out'])

In [2050]:
all_farmers['OG_Info_reserve__OGOrg_1_df'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 795 entries, 0 to 794
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        795 non-null    int64
 1   og_nr                     795 non-null    int64
 2   og_code                   795 non-null    object
 3   production_unit           795 non-null    object
 4   area                      795 non-null    object
 5   ward_nr/name              794 non-null    object
 6   species                   795 non-null    object
 7   surname                   795 non-null    object
 8   first_names               795 non-null    object
 9   sex                       795 non-null    object
 10  id_number                 734 non-null    object
 11  date_of_birth             267 non-null    datetime64[ns]
 12  date_contracted           795 non-null    datetime64[ns]
 13  date_dropped_out          255 non-null    datetime64[ns]
 14  reason_dropped_out        257 non-null    object
 15  address                   785 non-null    object
 16  organic_status            795 non-null    object
 17  organic_status_from_date  795 non-null    object
 18  fairtrade                 795 non-null    bool
 19  ward_nr                   794 non-null    float64
dtypes: bool(1), datetime64[ns](3), float64(1), int64(2), object(13)
memory usage: 118.9+ KB

### Adding Birthdates to wc_info_WCOrg_1_df

In [2051]:
all_birthdates_df = sf.get_dataframe(f'SELECT * FROM {schema}."all_birthdates"')

In [2052]:
len(list(set(all_birthdates_df["wc_nr"]) & set(all_farmers['wc_info__WCOrg_1_df'][['wc_nr']].squeeze())))

453

#### Merge all_birthdates_df to wc_info__WCOrg_1_df

In [2053]:
all_farmers['wc_info__WCOrg_1_df'] = pd.merge(all_farmers['wc_info__WCOrg_1_df'], all_birthdates_df, how="left", on="wc_nr")

In [2054]:
all_farmers['wc_info__WCOrg_1_df']

,id,wc_nr,wc_code,production_unit,area,ward_nr/name,species,surname,first_names,sex,id_number,date_contracted,reason_dropped_out,address,organic_status,organic_status_from_date,fairtrade,date_dropped_out,ward_nr,date_of_birth
0,4942,3962,HWWC,Matabeleland North,Hwange,6 Gondwa,Devils Claw,Moyo,Pios,male,None,2014-07-07,None,Secretariat Sch Vic Falls,Org,None,False,NaT,6.0,NaT
1,5608,3692,HWWC,Matabeleland North,Hwange,6 Gondwa,Devils Claw,Ncube,Mwayani,male,79-124391X79,2015-03-14,None,"Mironga School, Vic Falls",Org,None,False,NaT,6.0,NaT
2,10630,1773,HWWC,Matabeleland North,Hwange,3 Kachechete,Devils Claw,Ncube,Engel,female,08-161126N39,2012-10-06,None,"Bethesda Sch, Vic-Falls",Org,2017-11-11,False,2017-11-21,3.0,NaT
3,1763,1772,HWWC,Matabeleland North,Hwange,3 Kachechete,Devils Claw,Dube,Samson,Male,79-031011X79,2012-10-06,None,"Bethesda Sch, Vic-Falls",Org,2017-06-19,False,NaT,3.0,1957-10-02
4,1766,1775,HWWC,Matabeleland North,Hwange,3 Kachechete,Devils Claw,Ngwenya,Joshua,Male,79-011290L79,2012-10-06,None,"Bethesda Sch, Vic-Falls",Org,2017-06-19,False,NaT,3.0,1955-10-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560,11146,1057,CMWC,Manicaland,Chimanimani Rusitu,21,Wild Gotu kola,Zaranyika,Vaina,female,None,NaT,None,"Hode Pry Sch, Bag 2051, Chimanimani",Reinstated,2019-03-09,False,2021-01-29,21.0,NaT
561,11147,21040,CMWC,Manicaland,Chimanimani Rusitu,21,Wild Gotu kola,Chibawana,Violet,female,None,NaT,None,"Hode Pry Sch, Bag 2051, Chimanimani",Reinstated,2019-03-09,False,2021-01-29,21.0,NaT
562,11148,2555,CMWC,Manicaland,Chimanimani Rusitu,21,Wild Gotu kola,Hofisi,Christine,female,None,NaT,None,"Hode Pry Sch, Bag 2051, Chimanimani",Reinstated,None,False,2021-01-29,21.0,NaT
563,11149,2066,CMWC,Manicaland,Chimanimani Rusitu,21,Wild Gotu Kola,Mudada,Marjorie,female,None,NaT,None,"Hode Pry Sch, Bag 2051, Chimanimani",Reinstated,2019-03-09,False,2021-01-29,21.0,NaT
564,11150,1069,CMWC,Manicaland,Chimanimani Rusitu,21,Wild gotu kola,Nyamwazha,Martha,female,None,NaT,None,"Hode Pry Sch, Bag 2051, Chimanimani",Reinstated,2019-03-09,False,2021-01-29,21.0,NaT

In [2055]:
all_farmers['wc_info__WCOrg_1_df'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 565 entries, 0 to 564
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        565 non-null    int64
 1   wc_nr                     565 non-null    int64
 2   wc_code                   565 non-null    object
 3   production_unit           565 non-null    object
 4   area                      565 non-null    object
 5   ward_nr/name              563 non-null    object
 6   species                   565 non-null    object
 7   surname                   564 non-null    object
 8   first_names               564 non-null    object
 9   sex                       565 non-null    object
 10  id_number                 472 non-null    object
 11  date_contracted           558 non-null    datetime64[ns]
 12  reason_dropped_out        142 non-null    object
 13  address                   530 non-null    object
 14  organic_status            564 non-null    object
 15  organic_status_from_date  547 non-null    object
 16  fairtrade                 565 non-null    bool
 17  date_dropped_out          426 non-null    datetime64[ns]
 18  ward_nr                   563 non-null    float64
 19  date_of_birth             39 non-null     datetime64[ns]
dtypes: bool(1), datetime64[ns](3), float64(1), int64(2), object(13)
memory usage: 88.8+ KB

## Final merge of farmer dfs to concated_farmers

Verify shapes of dfs

In [2056]:
for name, df in all_farmers.items():
    print(name)
    print(df.shape)

OGInfo__OGMB_1_df
(8166, 19)
OG_Info__OGOrg_1_df
(1403, 20)
wc_info_bayoba_1_df
(10952, 20)
wc_info__WCOrg_1_df
(565, 20)
OG_Info_reserve__OGOrg_1_df
(795, 20)

In [2057]:
# ['ward_nr'] column still missing:

all_farmers['OGInfo__OGMB_1_df'][['ward_nr']] = all_farmers['OGInfo__OGMB_1_df'][['ward_nr/name']]
all_farmers['OGInfo__OGMB_1_df'].shape

(8166, 20)

In [2058]:
concated_farmers = pd.concat(all_farmers)

In [2059]:
concated_farmers.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 21881 entries, ('OGInfo__OGMB_1_df', 0) to ('OG_Info_reserve__OGOrg_1_df', 794)
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        21881 non-null  int64
 1   og_nr                     10364 non-null  float64
 2   og_code                   10364 non-null  object
 3   production_unit           21881 non-null  object
 4   area                      21881 non-null  object
 5   ward_nr/name              21461 non-null  object
 6   species                   21881 non-null  object
 7   surname                   21879 non-null  object
 8   first_names               21877 non-null  object
 9   sex                       21881 non-null  object
 10  id_number                 19837 non-null  object
 11  date_of_birth             2883 non-null   datetime64[ns]
 12  date_contracted           21870 non-null  datetime64[ns]
 13  date_dropped_out          10063 non-null  datetime64[ns]
 14  reason_dropped_out        8304 non-null   object
 15  address                   21397 non-null  object
 16  organic_status            21880 non-null  object
 17  organic_status_from_date  17778 non-null  object
 18  fairtrade                 21881 non-null  bool
 19  ward_nr                   21461 non-null  float64
 20  wc_nr                     11517 non-null  float64
 21  wc_code                   11517 non-null  object
dtypes: bool(1), datetime64[ns](3), float64(3), int64(1), object(14)
memory usage: 3.9+ MB

In [2060]:
concated_farmers[concated_farmers['date_contracted'].dt.year.astype('Int64')>2023]

                         id    og_nr og_code      production_unit   area  \
OGInfo__OGMB_1_df 145  1517  13107.0   MBOGR  Mashonaland Central  Mbire
                  239  1414  13190.0   MBOGR  Mashonaland Central  Mbire

                      ward_nr/name  species   surname first_names     sex  \
OGInfo__OGMB_1_df 145            6  Rosella    Mutape      Sophia  female
                  239            6  Rosella  Gurupira     Vengayi    male

                       ... date_contracted date_dropped_out  \
OGInfo__OGMB_1_df 145  ...      2174-12-02              NaT
                  239  ...      2147-12-06       2020-03-19

                      reason_dropped_out                           address  \
OGInfo__OGMB_1_df 145               None      Kasawo sch, Box 346, Mbire D
                  239         Own choice  Nyarutomno sch, Box 500, Mbire D

                      organic_status organic_status_from_date fairtrade  \
OGInfo__OGMB_1_df 145      Mabagrown  2017-12-02 00:00:00.000     False
                  239        Dropout  2017-12-06 00:00:00.000     False

                      ward_nr  wc_nr  wc_code
OGInfo__OGMB_1_df 145     6.0    NaN      NaN
                  239     6.0    NaN      NaN

[2 rows x 22 columns]

In [2061]:
concated_farmers.replace('2174-12-02', '2021-07-06', inplace=True)

In [2062]:
concated_farmers

                                    id    og_nr og_code      production_unit  \
OGInfo__OGMB_1_df           0     1545  13137.0   MBOGR  Mashonaland Central
                            1    12026  12116.0   MBOGR  Mashonaland Central
                            2     9914  23949.0   MBOGK  Mashonaland Central
                            3     9915  23950.0   MBOGK  Mashonaland Central
                            4     9916  23951.0   MBOGK  Mashonaland Central
...                                ...      ...     ...                  ...
OG_Info_reserve__OGOrg_1_df 790   3546  20023.0    MUOG  Mashonaland Central
                            791   3549  20026.0    MUOG  Mashonaland Central
                            792   3550  20027.0    MUOG  Mashonaland Central
                            793   3551  20028.0    MUOG  Mashonaland Central
                            794   1861  14001.0    BNOG   Matabeleland North

                                     area ward_nr/name  \
OGInfo__OGMB_1_df           0       Mbire           15
                            1       Mbire            6
                            2       Mbire           13
                            3       Mbire           13
                            4       Mbire           13
...                                   ...          ...
OG_Info_reserve__OGOrg_1_df 790  Mushumbi            3
                            791  Mushumbi            3
                            792  Mushumbi            3
                            793  Mushumbi            3
                            794     Binga      11 Lubu

                                                  species    surname  \
OGInfo__OGMB_1_df           0                     Rosella  Nyamayaro
                            1                     Rosella      Funda
                            2                     Rosella  Chingwena
                            3                     Rosella    Marumbe
                            4                     Rosella   Dambudzo
...                                                   ...        ...
OG_Info_reserve__OGOrg_1_df 790  Rosella, Chilli, Paprika    Myundia
                            791  Rosella, Chilli, Paprika      Nhete
                            792  Rosella, Chilli, Paprika    Musiiwa
                            793  Rosella, Chilli, Paprika    Masodzi
                            794                   Rosella     Mwembe

                                first_names     sex  ... date_contracted  \
OGInfo__OGMB_1_df           0       Phillip    male  ...             NaT
                            1        Jennie  female  ...      2022-04-02
                            2        Gladys  female  ...      2020-03-23
                            3        Tariro  female  ...      2020-03-23
                            4         Ketai  female  ...      2020-03-23
...                                     ...     ...  ...             ...
OG_Info_reserve__OGOrg_1_df 790    Thandiwe  female  ...      2018-08-18
                            791      Stella  female  ...      2018-08-18
                            792      Admire    male  ...      2019-07-31
                            793       Norah  female  ...      2019-07-31
                            794      Mutale  female  ...      2018-08-30

                                date_dropped_out reason_dropped_out  \
OGInfo__OGMB_1_df           0         2020-02-05         Own choice
                            1                NaT               None
                            2         2021-07-26        Area closed
                            3         2021-07-26        Area closed
                            4         2021-07-26        Area closed
...                                          ...                ...
OG_Info_reserve__OGOrg_1_df 790              NaT               None
                            791              NaT               None
                            792              NaT               None
                            793              NaT               None
                            794              NaT               None

                                                              address  \
OGInfo__OGMB_1_df           0             Mahuwe sch, Box 92, Mbire D
                            1        Kasuwo Primary School 346, Mbire
                            2         Sapa Primary School P O Box 203
                            3         Sapa Primary School P O Box 203
                            4         Sapa Primary School P O Box 203
...                                                               ...
OG_Info_reserve__OGOrg_1_df 790         ARDA Mushumbi, Box 210, Mbire
                            791         ARDA Mushumbi, Box 210, Mbire
                            792         ARDA Mushumbi, Box 210, Mbire
                            793         ARDA Mushumbi, Box 210, Mbire
                            794  Lubu primary School P Bag 5729 Binga

                                organic_status organic_status_from_date  \
OGInfo__OGMB_1_df           0          Dropout  2017-12-02 00:00:00.000
                            1        Mabagrown  2022-04-02 00:00:00.000
                            2          Dropout  2020-03-23 00:00:00.000
                            3          Dropout  2020-03-23 00:00:00.000
                            4          Dropout  2020-03-23 00:00:00.000
...                                        ...                      ...
OG_Info_reserve__OGOrg_1_df 790            New               2019-02-01
                            791            New               2019-02-01
                            792            New               2019-02-01
                            793            New               2019-02-01
                            794            Org               2018-08-31

                                fairtrade ward_nr  wc_nr  wc_code
OGInfo__OGMB_1_df           0       False    15.0    NaN      NaN
                            1       False     6.0    NaN      NaN
                            2       False    13.0    NaN      NaN
                            3       False    13.0    NaN      NaN
                            4       False    13.0    NaN      NaN
...                                   ...     ...    ...      ...
OG_Info_reserve__OGOrg_1_df 790     False     3.0    NaN      NaN
                            791     False     3.0    NaN      NaN
                            792     False     3.0    NaN      NaN
                            793     False     3.0    NaN      NaN
                            794     False    11.0    NaN      NaN

[21881 rows x 22 columns]

In [2063]:
# 11517 wc_nr
concated_farmers[~concated_farmers['wc_nr'].isna()]['wc_nr']

wc_info_bayoba_1_df  0      21146.0
                     1      21833.0
                     2      21147.0
                     3      22986.0
                     4      21148.0
                             ...
wc_info__WCOrg_1_df  560     1057.0
                     561    21040.0
                     562     2555.0
                     563     2066.0
                     564     1069.0
Name: wc_nr, Length: 11517, dtype: float64

# Clean and analyze concated_farmers

1. Drop duplicates (+ wc_nr and og_nr)
2. Count number of records by category
3. Clean column by column

In [2064]:
# Looking for Duplicates
concated_farmers.duplicated().value_counts()

# 73 duplicates

False    21868
True        13
dtype: int64

In [2065]:
# All duplicates in OG_Info_reserve__OGOrg_1_df
df_dup = concated_farmers[concated_farmers.duplicated()].sort_values('id')
df_dup

                                   id    og_nr og_code     production_unit  \
OG_Info_reserve__OGOrg_1_df 43     47   2869.0    BNOG  Matabeleland North
                            47     51   2875.0    BNOG  Matabeleland North
                            189   133   3788.0    BNOG  Matabeleland North
                            192   136   3793.0    BNOG  Matabeleland North
                            455  1063  16138.0    MAOG          Manicaland
                            487  1097  16172.0    MAOG          Manicaland
                            545  1157  16232.0    MAOG          Manicaland
                            569  1181  16256.0    MAOG          Manicaland
                            348  1972  14109.0    BNOG  Matabeleland North
                            360  1983  14120.0    BNOG  Matabeleland North
                            366  1988  14125.0    BNOG  Matabeleland North
                            370  1992  14129.0    BNOG  Matabeleland North
                            382  2048  14149.0    BNOG  Matabeleland North

                                   area  ward_nr/name  species   surname  \
OG_Info_reserve__OGOrg_1_df 43    Binga    5 Sinakoma  Rosella  Muchimba
                            47    Binga    5 Sinakoma  Rosella    Muleya
                            189   Binga  15 Kariangwe  Rosella  Mumpande
                            192   Binga  15 Kariangwe  Rosella    Muleya
                            455  Makoni            21  Chillie  Magondwa
                            487  Makoni            18  Chillie   Maponde
                            545  Makoni            21  Chillie   Nyamuva
                            569  Makoni            19  Chillie    Tekere
                            348   Binga    5 Sinakoma  Rosella  Siankali
                            360   Binga    5 Sinakoma  Rosella    Mwembe
                            366   Binga    5 Sinakoma  Rosella   Mudenda
                            370   Binga    5 Sinakoma  Rosella   Mugande
                            382   Binga    5 Sinakoma  Rosella    Muleya

                                        first_names     sex  ...  \
OG_Info_reserve__OGOrg_1_df 43               Magret  female  ...
                            47   Maria 06-020301E06  female  ...
                            189               Julia  female  ...
                            192               Agnes  female  ...
                            455            Patience  Female  ...
                            487              Kelvin    male  ...
                            545                Anna  Female  ...
                            569               Marry  Female  ...
                            348               Nolia  female  ...
                            360              Jairos  female  ...
                            366              Molina  female  ...
                            370            Harrison    male  ...
                            382               Julia  female  ...

                                date_contracted date_dropped_out  \
OG_Info_reserve__OGOrg_1_df 43       2012-06-12              NaT
                            47       2012-06-12              NaT
                            189      2015-08-17              NaT
                            192      2015-08-17              NaT
                            455      2017-08-31       2017-10-19
                            487      2017-08-31       2018-10-18
                            545      2017-08-31       2017-11-11
                            569      2017-08-31       2017-11-11
                            348      2018-08-31       2018-11-14
                            360      2018-08-31       2018-11-14
                            366      2018-08-31       2018-11-16
                            370      2018-08-31       2018-11-14
                            382      2018-08-31       2018-10-14

                                         reason_dropped_out  \
OG_Info_reserve__OGOrg_1_df 43                         None
                            47                         None
                            189                        None
                            192                        None
                            455                   High risk
                            487               Not inspected
                            545               Not inspected
                            569               Not inspected
                            348  Insufficient documentation
                            360  Insufficient documentation
                            366  Insufficient documentation
                            370  Insufficient documentation
                            382  Insufficient documentation

                                                                 address  \
OG_Info_reserve__OGOrg_1_df 43        Nsenga Primary School Box 46 Binga
                            47        Nsenga Primary School Box 46 Binga
                            189                     Manseme School Binga
                            192                     Manseme School Binga
                            455  Chirimutsitu Primary P Bag 8147, Rusape
                            487  Chirimutsitu Primary P Bag 8147, Rusape
                            545  Chirimutsitu Primary P Bag 8147, Rusape
                            569  Chirimutsitu Primary P Bag 8147, Rusape
                            348                    Nsenga Primary School
                            360                    Nsenga Primary School
                            366                    Nsenga Primary School
                            370                    Nsenga Primary School
                            382                    Nsenga Primary School

                                organic_status organic_status_from_date  \
OG_Info_reserve__OGOrg_1_df 43             Org               2016-10-25
                            47             Org               2016-10-25
                            189            Org               2016-10-25
                            192            Org               2015-08-17
                            455        Dropout               2017-10-19
                            487        Dropout               2017-08-31
                            545        Dropout               2017-11-11
                            569        Dropout               2017-11-11
                            348        Dropout               2018-08-31
                            360        Dropout               2018-08-31
                            366        Dropout               2018-08-31
                            370        Dropout               2018-08-31
                            382        Dropout               2018-08-31

                                fairtrade ward_nr  wc_nr  wc_code
OG_Info_reserve__OGOrg_1_df 43       True     5.0    NaN      NaN
                            47       True     5.0    NaN      NaN
                            189      True    15.0    NaN      NaN
                            192      True    15.0    NaN      NaN
                            455     False    21.0    NaN      NaN
                            487     False    18.0    NaN      NaN
                            545     False    21.0    NaN      NaN
                            569     False    19.0    NaN      NaN
                            348     False     5.0    NaN      NaN
                            360     False     5.0    NaN      NaN
                            366     False     5.0    NaN      NaN
                            370     False     5.0    NaN      NaN
                            382     False     5.0    NaN      NaN

[13 rows x 22 columns]

In [2066]:
ls_dup_og_nr= list(df_dup['og_nr'])

In [2067]:
for ognr in ls_dup_og_nr:
    print(concated_farmers[concated_farmers['og_nr'] == ognr])

# duplicates trough OG_Info__OGOrg_1_df und OG_Info_reserve__OGOrg_1_df -> DROP duplicates in allfarmers

                                id   og_nr og_code     production_unit   area  \
OG_Info__OGOrg_1_df         70  47  2869.0    BNOG  Matabeleland North  Binga
OG_Info_reserve__OGOrg_1_df 43  47  2869.0    BNOG  Matabeleland North  Binga

                               ward_nr/name  species   surname first_names  \
OG_Info__OGOrg_1_df         70   5 Sinakoma  Rosella  Muchimba      Magret
OG_Info_reserve__OGOrg_1_df 43   5 Sinakoma  Rosella  Muchimba      Magret

                                   sex  ... date_contracted date_dropped_out  \
OG_Info__OGOrg_1_df         70  female  ...      2012-06-12              NaT
OG_Info_reserve__OGOrg_1_df 43  female  ...      2012-06-12              NaT

                               reason_dropped_out  \
OG_Info__OGOrg_1_df         70               None
OG_Info_reserve__OGOrg_1_df 43               None

                                                           address  \
OG_Info__OGOrg_1_df         70  Nsenga Primary School Box 46 Binga
OG_Info_reserve__OGOrg_1_df 43  Nsenga Primary School Box 46 Binga

                               organic_status organic_status_from_date  \
OG_Info__OGOrg_1_df         70            Org               2016-10-25
OG_Info_reserve__OGOrg_1_df 43            Org               2016-10-25

                               fairtrade ward_nr  wc_nr  wc_code
OG_Info__OGOrg_1_df         70      True     5.0    NaN      NaN
OG_Info_reserve__OGOrg_1_df 43      True     5.0    NaN      NaN

[2 rows x 22 columns]
                                id   og_nr og_code     production_unit   area  \
OG_Info__OGOrg_1_df         74  51  2875.0    BNOG  Matabeleland North  Binga
OG_Info_reserve__OGOrg_1_df 47  51  2875.0    BNOG  Matabeleland North  Binga

                               ward_nr/name  species surname  \
OG_Info__OGOrg_1_df         74   5 Sinakoma  Rosella  Muleya
OG_Info_reserve__OGOrg_1_df 47   5 Sinakoma  Rosella  Muleya

                                       first_names     sex  ...  \
OG_Info__OGOrg_1_df         74  Maria 06-020301E06  female  ...
OG_Info_reserve__OGOrg_1_df 47  Maria 06-020301E06  female  ...

                               date_contracted date_dropped_out  \
OG_Info__OGOrg_1_df         74      2012-06-12              NaT
OG_Info_reserve__OGOrg_1_df 47      2012-06-12              NaT

                               reason_dropped_out  \
OG_Info__OGOrg_1_df         74               None
OG_Info_reserve__OGOrg_1_df 47               None

                                                           address  \
OG_Info__OGOrg_1_df         74  Nsenga Primary School Box 46 Binga
OG_Info_reserve__OGOrg_1_df 47  Nsenga Primary School Box 46 Binga

                               organic_status organic_status_from_date  \
OG_Info__OGOrg_1_df         74            Org               2016-10-25
OG_Info_reserve__OGOrg_1_df 47            Org               2016-10-25

                               fairtrade ward_nr  wc_nr  wc_code
OG_Info__OGOrg_1_df         74      True     5.0    NaN      NaN
OG_Info_reserve__OGOrg_1_df 47      True     5.0    NaN      NaN

[2 rows x 22 columns]
                                  id   og_nr og_code     production_unit  \
OG_Info__OGOrg_1_df         196  133  3788.0    BNOG  Matabeleland North
OG_Info_reserve__OGOrg_1_df 189  133  3788.0    BNOG  Matabeleland North

                                  area  ward_nr/name  species   surname  \
OG_Info__OGOrg_1_df         196  Binga  15 Kariangwe  Rosella  Mumpande
OG_Info_reserve__OGOrg_1_df 189  Binga  15 Kariangwe  Rosella  Mumpande

                                first_names     sex  ... date_contracted  \
OG_Info__OGOrg_1_df         196       Julia  female  ...      2015-08-17
OG_Info_reserve__OGOrg_1_df 189       Julia  female  ...      2015-08-17

                                date_dropped_out reason_dropped_out  \
OG_Info__OGOrg_1_df         196              NaT               None
OG_Info_reserve__OGOrg_1_df 189              NaT               None

                                              address organic_status  \
OG_Info__OGOrg_1_df         196  Manseme School Binga            Org
OG_Info_reserve__OGOrg_1_df 189  Manseme School Binga            Org

                                organic_status_from_date fairtrade ward_nr  \
OG_Info__OGOrg_1_df         196               2016-10-25      True    15.0
OG_Info_reserve__OGOrg_1_df 189               2016-10-25      True    15.0

                                 wc_nr  wc_code
OG_Info__OGOrg_1_df         196    NaN      NaN
OG_Info_reserve__OGOrg_1_df 189    NaN      NaN

[2 rows x 22 columns]
                                  id   og_nr og_code     production_unit  \
OG_Info__OGOrg_1_df         200  136  3793.0    BNOG  Matabeleland North
OG_Info_reserve__OGOrg_1_df 192  136  3793.0    BNOG  Matabeleland North

                                  area  ward_nr/name  species surname  \
OG_Info__OGOrg_1_df         200  Binga  15 Kariangwe  Rosella  Muleya
OG_Info_reserve__OGOrg_1_df 192  Binga  15 Kariangwe  Rosella  Muleya

                                first_names     sex  ... date_contracted  \
OG_Info__OGOrg_1_df         200       Agnes  female  ...      2015-08-17
OG_Info_reserve__OGOrg_1_df 192       Agnes  female  ...      2015-08-17

                                date_dropped_out reason_dropped_out  \
OG_Info__OGOrg_1_df         200              NaT               None
OG_Info_reserve__OGOrg_1_df 192              NaT               None

                                              address organic_status  \
OG_Info__OGOrg_1_df         200  Manseme School Binga            Org
OG_Info_reserve__OGOrg_1_df 192  Manseme School Binga            Org

                                organic_status_from_date fairtrade ward_nr  \
OG_Info__OGOrg_1_df         200               2015-08-17      True    15.0
OG_Info_reserve__OGOrg_1_df 192               2015-08-17      True    15.0

                                 wc_nr  wc_code
OG_Info__OGOrg_1_df         200    NaN      NaN
OG_Info_reserve__OGOrg_1_df 192    NaN      NaN

[2 rows x 22 columns]
                                   id    og_nr og_code production_unit  \
OG_Info__OGOrg_1_df         526  1063  16138.0    MAOG      Manicaland
OG_Info_reserve__OGOrg_1_df 455  1063  16138.0    MAOG      Manicaland

                                   area ward_nr/name  species   surname  \
OG_Info__OGOrg_1_df         526  Makoni           21  Chillie  Magondwa
OG_Info_reserve__OGOrg_1_df 455  Makoni           21  Chillie  Magondwa

                                first_names     sex  ... date_contracted  \
OG_Info__OGOrg_1_df         526    Patience  Female  ...      2017-08-31
OG_Info_reserve__OGOrg_1_df 455    Patience  Female  ...      2017-08-31

                                date_dropped_out reason_dropped_out  \
OG_Info__OGOrg_1_df         526       2017-10-19          High risk
OG_Info_reserve__OGOrg_1_df 455       2017-10-19          High risk

                                                                 address  \
OG_Info__OGOrg_1_df         526  Chirimutsitu Primary P Bag 8147, Rusape
OG_Info_reserve__OGOrg_1_df 455  Chirimutsitu Primary P Bag 8147, Rusape

                                organic_status organic_status_from_date  \
OG_Info__OGOrg_1_df         526        Dropout               2017-10-19
OG_Info_reserve__OGOrg_1_df 455        Dropout               2017-10-19

                                fairtrade ward_nr  wc_nr  wc_code
OG_Info__OGOrg_1_df         526     False    21.0    NaN      NaN
OG_Info_reserve__OGOrg_1_df 455     False    21.0    NaN      NaN

[2 rows x 22 columns]
                                   id    og_nr og_code production_unit  \
OG_Info__OGOrg_1_df         559  1097  16172.0    MAOG      Manicaland
OG_Info_reserve__OGOrg_1_df 487  1097  16172.0    MAOG      Manicaland

                                   area ward_nr/name  species  surname  \
OG_Info__OGOrg_1_df         559  Makoni           18  Chillie  Maponde
OG_Info_reserve__OGOrg_1_df 487  Makoni           18  Chillie  Maponde

                                first_names   sex  ... date_contracted  \
OG_Info__OGOrg_1_df         559      Kelvin  male  ...      2017-08-31
OG_Info_reserve__OGOrg_1_df 487      Kelvin  male  ...      2017-08-31

                                date_dropped_out reason_dropped_out  \
OG_Info__OGOrg_1_df         559       2018-10-18      Not inspected
OG_Info_reserve__OGOrg_1_df 487       2018-10-18      Not inspected

                                                                 address  \
OG_Info__OGOrg_1_df         559  Chirimutsitu Primary P Bag 8147, Rusape
OG_Info_reserve__OGOrg_1_df 487  Chirimutsitu Primary P Bag 8147, Rusape

                                organic_status organic_status_from_date  \
OG_Info__OGOrg_1_df         559        Dropout               2017-08-31
OG_Info_reserve__OGOrg_1_df 487        Dropout               2017-08-31

                                fairtrade ward_nr  wc_nr  wc_code
OG_Info__OGOrg_1_df         559     False    18.0    NaN      NaN
OG_Info_reserve__OGOrg_1_df 487     False    18.0    NaN      NaN

[2 rows x 22 columns]
                                   id    og_nr og_code production_unit  \
OG_Info__OGOrg_1_df         617  1157  16232.0    MAOG      Manicaland
OG_Info_reserve__OGOrg_1_df 545  1157  16232.0    MAOG      Manicaland

                                   area ward_nr/name  species  surname  \
OG_Info__OGOrg_1_df         617  Makoni           21  Chillie  Nyamuva
OG_Info_reserve__OGOrg_1_df 545  Makoni           21  Chillie  Nyamuva

                                first_names     sex  ... date_contracted  \
OG_Info__OGOrg_1_df         617        Anna  Female  ...      2017-08-31
OG_Info_reserve__OGOrg_1_df 545        Anna  Female  ...      2017-08-31

                                date_dropped_out reason_dropped_out  \
OG_Info__OGOrg_1_df         617       2017-11-11      Not inspected
OG_Info_reserve__OGOrg_1_df 545       2017-11-11      Not inspected

                                                                 address  \
OG_Info__OGOrg_1_df         617  Chirimutsitu Primary P Bag 8147, Rusape
OG_Info_reserve__OGOrg_1_df 545  Chirimutsitu Primary P Bag 8147, Rusape

                                organic_status organic_status_from_date  \
OG_Info__OGOrg_1_df         617        Dropout               2017-11-11
OG_Info_reserve__OGOrg_1_df 545        Dropout               2017-11-11

                                fairtrade ward_nr  wc_nr  wc_code
OG_Info__OGOrg_1_df         617     False    21.0    NaN      NaN
OG_Info_reserve__OGOrg_1_df 545     False    21.0    NaN      NaN

[2 rows x 22 columns]
                                   id    og_nr og_code production_unit  \
OG_Info__OGOrg_1_df         642  1181  16256.0    MAOG      Manicaland
OG_Info_reserve__OGOrg_1_df 569  1181  16256.0    MAOG      Manicaland

                                   area ward_nr/name  species surname  \
OG_Info__OGOrg_1_df         642  Makoni           19  Chillie  Tekere
OG_Info_reserve__OGOrg_1_df 569  Makoni           19  Chillie  Tekere

                                first_names     sex  ... date_contracted  \
OG_Info__OGOrg_1_df         642       Marry  Female  ...      2017-08-31
OG_Info_reserve__OGOrg_1_df 569       Marry  Female  ...      2017-08-31

                                date_dropped_out reason_dropped_out  \
OG_Info__OGOrg_1_df         642       2017-11-11      Not inspected
OG_Info_reserve__OGOrg_1_df 569       2017-11-11      Not inspected

                                                                 address  \
OG_Info__OGOrg_1_df         642  Chirimutsitu Primary P Bag 8147, Rusape
OG_Info_reserve__OGOrg_1_df 569  Chirimutsitu Primary P Bag 8147, Rusape

                                organic_status organic_status_from_date  \
OG_Info__OGOrg_1_df         642        Dropout               2017-11-11
OG_Info_reserve__OGOrg_1_df 569        Dropout               2017-11-11

                                fairtrade ward_nr  wc_nr  wc_code
OG_Info__OGOrg_1_df         642     False    19.0    NaN      NaN
OG_Info_reserve__OGOrg_1_df 569     False    19.0    NaN      NaN

[2 rows x 22 columns]
                                   id    og_nr og_code     production_unit  \
OG_Info__OGOrg_1_df         415  1972  14109.0    BNOG  Matabeleland North
OG_Info_reserve__OGOrg_1_df 348  1972  14109.0    BNOG  Matabeleland North

                                  area ward_nr/name  species   surname  \
OG_Info__OGOrg_1_df         415  Binga   5 Sinakoma  Rosella  Siankali
OG_Info_reserve__OGOrg_1_df 348  Binga   5 Sinakoma  Rosella  Siankali

                                first_names     sex  ... date_contracted  \
OG_Info__OGOrg_1_df         415       Nolia  female  ...      2018-08-31
OG_Info_reserve__OGOrg_1_df 348       Nolia  female  ...      2018-08-31

                                date_dropped_out          reason_dropped_out  \
OG_Info__OGOrg_1_df         415       2018-11-14  Insufficient documentation
OG_Info_reserve__OGOrg_1_df 348       2018-11-14  Insufficient documentation

                                               address organic_status  \
OG_Info__OGOrg_1_df         415  Nsenga Primary School        Dropout
OG_Info_reserve__OGOrg_1_df 348  Nsenga Primary School        Dropout

                                organic_status_from_date fairtrade ward_nr  \
OG_Info__OGOrg_1_df         415               2018-08-31     False     5.0
OG_Info_reserve__OGOrg_1_df 348               2018-08-31     False     5.0

                                 wc_nr  wc_code
OG_Info__OGOrg_1_df         415    NaN      NaN
OG_Info_reserve__OGOrg_1_df 348    NaN      NaN

[2 rows x 22 columns]
                                   id    og_nr og_code     production_unit  \
OG_Info__OGOrg_1_df         426  1983  14120.0    BNOG  Matabeleland North
OG_Info_reserve__OGOrg_1_df 360  1983  14120.0    BNOG  Matabeleland North

                                  area ward_nr/name  species surname  \
OG_Info__OGOrg_1_df         426  Binga   5 Sinakoma  Rosella  Mwembe
OG_Info_reserve__OGOrg_1_df 360  Binga   5 Sinakoma  Rosella  Mwembe

                                first_names     sex  ... date_contracted  \
OG_Info__OGOrg_1_df         426      Jairos  female  ...      2018-08-31
OG_Info_reserve__OGOrg_1_df 360      Jairos  female  ...      2018-08-31

                                date_dropped_out          reason_dropped_out  \
OG_Info__OGOrg_1_df         426       2018-11-14  Insufficient documentation
OG_Info_reserve__OGOrg_1_df 360       2018-11-14  Insufficient documentation

                                               address organic_status  \
OG_Info__OGOrg_1_df         426  Nsenga Primary School        Dropout
OG_Info_reserve__OGOrg_1_df 360  Nsenga Primary School        Dropout

                                organic_status_from_date fairtrade ward_nr  \
OG_Info__OGOrg_1_df         426               2018-08-31     False     5.0
OG_Info_reserve__OGOrg_1_df 360               2018-08-31     False     5.0

                                 wc_nr  wc_code
OG_Info__OGOrg_1_df         426    NaN      NaN
OG_Info_reserve__OGOrg_1_df 360    NaN      NaN

[2 rows x 22 columns]
                                   id    og_nr og_code     production_unit  \
OG_Info__OGOrg_1_df         432  1988  14125.0    BNOG  Matabeleland North
OG_Info_reserve__OGOrg_1_df 366  1988  14125.0    BNOG  Matabeleland North

                                  area ward_nr/name  species  surname  \
OG_Info__OGOrg_1_df         432  Binga   5 Sinakoma  Rosella  Mudenda
OG_Info_reserve__OGOrg_1_df 366  Binga   5 Sinakoma  Rosella  Mudenda

                                first_names     sex  ... date_contracted  \
OG_Info__OGOrg_1_df         432      Molina  female  ...      2018-08-31
OG_Info_reserve__OGOrg_1_df 366      Molina  female  ...      2018-08-31

                                date_dropped_out          reason_dropped_out  \
OG_Info__OGOrg_1_df         432       2018-11-16  Insufficient documentation
OG_Info_reserve__OGOrg_1_df 366       2018-11-16  Insufficient documentation

                                               address organic_status  \
OG_Info__OGOrg_1_df         432  Nsenga Primary School        Dropout
OG_Info_reserve__OGOrg_1_df 366  Nsenga Primary School        Dropout

                                organic_status_from_date fairtrade ward_nr  \
OG_Info__OGOrg_1_df         432               2018-08-31     False     5.0
OG_Info_reserve__OGOrg_1_df 366               2018-08-31     False     5.0

                                 wc_nr  wc_code
OG_Info__OGOrg_1_df         432    NaN      NaN
OG_Info_reserve__OGOrg_1_df 366    NaN      NaN

[2 rows x 22 columns]
                                   id    og_nr og_code     production_unit  \
OG_Info__OGOrg_1_df         436  1992  14129.0    BNOG  Matabeleland North
OG_Info_reserve__OGOrg_1_df 370  1992  14129.0    BNOG  Matabeleland North

                                  area ward_nr/name  species  surname  \
OG_Info__OGOrg_1_df         436  Binga   5 Sinakoma  Rosella  Mugande
OG_Info_reserve__OGOrg_1_df 370  Binga   5 Sinakoma  Rosella  Mugande

                                first_names   sex  ... date_contracted  \
OG_Info__OGOrg_1_df         436    Harrison  male  ...      2018-08-31
OG_Info_reserve__OGOrg_1_df 370    Harrison  male  ...      2018-08-31

                                date_dropped_out          reason_dropped_out  \
OG_Info__OGOrg_1_df         436       2018-11-14  Insufficient documentation
OG_Info_reserve__OGOrg_1_df 370       2018-11-14  Insufficient documentation

                                               address organic_status  \
OG_Info__OGOrg_1_df         436  Nsenga Primary School        Dropout
OG_Info_reserve__OGOrg_1_df 370  Nsenga Primary School        Dropout

                                organic_status_from_date fairtrade ward_nr  \
OG_Info__OGOrg_1_df         436               2018-08-31     False     5.0
OG_Info_reserve__OGOrg_1_df 370               2018-08-31     False     5.0

                                 wc_nr  wc_code
OG_Info__OGOrg_1_df         436    NaN      NaN
OG_Info_reserve__OGOrg_1_df 370    NaN      NaN

[2 rows x 22 columns]
                                   id    og_nr og_code     production_unit  \
OG_Info__OGOrg_1_df         448  2048  14149.0    BNOG  Matabeleland North
OG_Info_reserve__OGOrg_1_df 382  2048  14149.0    BNOG  Matabeleland North

                                  area ward_nr/name  species surname  \
OG_Info__OGOrg_1_df         448  Binga   5 Sinakoma  Rosella  Muleya
OG_Info_reserve__OGOrg_1_df 382  Binga   5 Sinakoma  Rosella  Muleya

                                first_names     sex  ... date_contracted  \
OG_Info__OGOrg_1_df         448       Julia  female  ...      2018-08-31
OG_Info_reserve__OGOrg_1_df 382       Julia  female  ...      2018-08-31

                                date_dropped_out          reason_dropped_out  \
OG_Info__OGOrg_1_df         448       2018-10-14  Insufficient documentation
OG_Info_reserve__OGOrg_1_df 382       2018-10-14  Insufficient documentation

                                               address organic_status  \
OG_Info__OGOrg_1_df         448  Nsenga Primary School        Dropout
OG_Info_reserve__OGOrg_1_df 382  Nsenga Primary School        Dropout

                                organic_status_from_date fairtrade ward_nr  \
OG_Info__OGOrg_1_df         448               2018-08-31     False     5.0
OG_Info_reserve__OGOrg_1_df 382               2018-08-31     False     5.0

                                 wc_nr  wc_code
OG_Info__OGOrg_1_df         448    NaN      NaN
OG_Info_reserve__OGOrg_1_df 382    NaN      NaN

[2 rows x 22 columns]

In [2068]:
# Droping duplicates
concated_farmers.drop_duplicates(subset=None, keep='first', inplace=True)

In [2069]:
concated_farmers.duplicated().value_counts()

False    21868
dtype: int64

### Dropping duplicates of wc_nr

In [2070]:
# 11517 wc_nr
wc_nr_df = concated_farmers[~concated_farmers['wc_nr'].isna()][['wc_nr']]
wc_nr_df

                           wc_nr
wc_info_bayoba_1_df 0    21146.0
                    1    21833.0
                    2    21147.0
                    3    22986.0
                    4    21148.0
...                          ...
wc_info__WCOrg_1_df 560   1057.0
                    561  21040.0
                    562   2555.0
                    563   2066.0
                    564   1069.0

[11517 rows x 1 columns]

#### wc_nr is unique!

In [2071]:
wc_nr_df.squeeze().is_unique

True

In [2072]:
# 21868 rows have og_nr or wc_nr!
concated_farmers[~concated_farmers['og_nr'].isna() | ~concated_farmers['wc_nr'].isna()].shape

(21868, 22)

In [2073]:
wc_df = concated_farmers[~concated_farmers['wc_nr'].isna()]

In [2074]:
wc_df.shape

(11517, 22)

### Dropping duplicates of og_nr

In [2075]:
# 10351 
og_nr_df = concated_farmers[~concated_farmers['og_nr'].isna()][['og_nr', 'date_contracted']]
og_nr_df

                                   og_nr date_contracted
OGInfo__OGMB_1_df           0    13137.0             NaT
                            1    12116.0      2022-04-02
                            2    23949.0      2020-03-23
                            3    23950.0      2020-03-23
                            4    23951.0      2020-03-23
...                                  ...             ...
OG_Info_reserve__OGOrg_1_df 790  20023.0      2018-08-18
                            791  20026.0      2018-08-18
                            792  20027.0      2019-07-31
                            793  20028.0      2019-07-31
                            794  14001.0      2018-08-30

[10351 rows x 2 columns]

In [2076]:
# og_nr NOT unique
og_nr_df['og_nr'].squeeze().is_unique

False

In [2077]:
concated_farmers[~concated_farmers['og_nr'].isna()]['og_nr'].duplicated(keep='first').value_counts()

False    9093
True     1258
Name: og_nr, dtype: int64

In [2078]:
concated_farmers['og_nr'].duplicated(keep='first').value_counts()

True     12774
False     9094
Name: og_nr, dtype: int64

In [2079]:
concated_farmers[~concated_farmers['og_nr'].isna()].shape

(10351, 22)

In [2080]:
concated_farmers.sort_values('date_contracted', ascending=False, inplace=True)

In [2081]:
concated_farmers[concated_farmers['og_nr'] == 20028.0][['og_nr', 'date_contracted']]

                                    og_nr date_contracted
OG_Info_reserve__OGOrg_1_df 793   20028.0      2019-07-31
OGInfo__OGMB_1_df           5506  20028.0      2019-02-01
OG_Info__OGOrg_1_df         981   20028.0      2019-01-02

In [2082]:
#concated_farmers[concated_farmers['og_nr'].isna()]

In [2083]:
df = concated_farmers.copy()
df.shape

(21868, 22)

In [2084]:
df = df[~df['og_nr'].isna()]

In [2085]:
df.shape

(10351, 22)

In [2086]:
df = df[~df['og_nr'].isna()].drop_duplicates('og_nr', keep='first')

In [2087]:
df.shape

(9093, 22)

In [2088]:
21868-(10351-9093)

20610

In [2089]:
df[df['og_nr'] == 20028.0]

,,id,og_nr,og_code,production_unit,area,ward_nr/name,species,surname,first_names,sex,...,date_contracted,date_dropped_out,reason_dropped_out,address,organic_status,organic_status_from_date,fairtrade,ward_nr,wc_nr,wc_code
OG_Info_reserve__OGOrg_1_df,793,3551,20028.0,MUOG,Mashonaland Central,Mushumbi,3,"Rosella, Chilli, Paprika",Masodzi,Norah,female,...,2019-07-31,NaT,None,"ARDA Mushumbi, Box 210, Mbire",New,2019-02-01,False,3.0,NaN,NaN

#### Now og_nr is unique!

In [2090]:
og_not_na_df = df[~df['og_nr'].isna()]
og_not_na_df['og_nr'].squeeze().is_unique

True

In [2091]:
wc_og_df = pd.concat([df, wc_df])
wc_og_df.shape

(20610, 22)

In [2092]:
concated_farmers = wc_og_df.copy()

In [2093]:
concated_farmers[concated_farmers['og_nr'] == 20028.0][['og_nr', 'date_contracted']]

                                   og_nr date_contracted
OG_Info_reserve__OGOrg_1_df 793  20028.0      2019-07-31

In [2094]:
concated_farmers['og_nr'].duplicated().value_counts()

True     11516
False     9094
Name: og_nr, dtype: int64

In [2095]:
concated_farmers.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 20610 entries, ('OGInfo__OGMB_1_df', 239) to ('wc_info__WCOrg_1_df', 564)
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        20610 non-null  int64
 1   og_nr                     9093 non-null   float64
 2   og_code                   9093 non-null   object
 3   production_unit           20610 non-null  object
 4   area                      20610 non-null  object
 5   ward_nr/name              20190 non-null  object
 6   species                   20610 non-null  object
 7   surname                   20608 non-null  object
 8   first_names               20606 non-null  object
 9   sex                       20610 non-null  object
 10  id_number                 18657 non-null  object
 11  date_of_birth             2544 non-null   datetime64[ns]
 12  date_contracted           20600 non-null  datetime64[ns]
 13  date_dropped_out          9298 non-null   datetime64[ns]
 14  reason_dropped_out        7637 non-null   object
 15  address                   20136 non-null  object
 16  organic_status            20609 non-null  object
 17  organic_status_from_date  16507 non-null  object
 18  fairtrade                 20610 non-null  bool
 19  ward_nr                   20190 non-null  float64
 20  wc_nr                     11517 non-null  float64
 21  wc_code                   11517 non-null  object
dtypes: bool(1), datetime64[ns](3), float64(3), int64(1), object(14)
memory usage: 3.7+ MB

In [2096]:
# Sorting back with index
concated_farmers.sort_index()

                              id    og_nr og_code          production_unit  \
OGInfo__OGMB_1_df   0       1545  13137.0   MBOGR      Mashonaland Central
                    1      12026  12116.0   MBOGR      Mashonaland Central
                    2       9914  23949.0   MBOGK      Mashonaland Central
                    3       9915  23950.0   MBOGK      Mashonaland Central
                    4       9916  23951.0   MBOGK      Mashonaland Central
...                          ...      ...     ...                      ...
wc_info_bayoba_1_df 10947   1131      NaN     NaN     South Eastern region
                    10948   1134      NaN     NaN     South Eastern region
                    10949  32782      NaN     NaN  Northern Eastern region
                    10950  32783      NaN     NaN  Northern Eastern region
                    10951   4065      NaN     NaN  Northern Eastern region

                                  area ward_nr/name           species  \
OGInfo__OGMB_1_df   0            Mbire           15           Rosella
                    1            Mbire            6           Rosella
                    2            Mbire           13           Rosella
                    3            Mbire           13           Rosella
                    4            Mbire           13           Rosella
...                                ...          ...               ...
wc_info_bayoba_1_df 10947  Chimanimani            5            Baobab
                    10948  Chimanimani            5            Baobab
                    10949    Mt Darwin         None  Baobab + ximenia
                    10950    Mt Darwin         None  Baobab + ximenia
                    10951        Mudzi         None  Baobab + ximenia

                                surname first_names     sex  ...  \
OGInfo__OGMB_1_df   0         Nyamayaro     Phillip    male  ...
                    1             Funda      Jennie  female  ...
                    2         Chingwena      Gladys  female  ...
                    3           Marumbe      Tariro  female  ...
                    4          Dambudzo       Ketai  female  ...
...                                 ...         ...     ...  ...
wc_info_bayoba_1_df 10947        Mugebe     Tradder    male  ...
                    10948       Chibuwe      Silvia  female  ...
                    10949       Nyatito       Lucia  female  ...
                    10950  Kanocheringa       Abgal  female  ...
                    10951      Nyamauta     Locadia  female  ...

                          date_contracted date_dropped_out  \
OGInfo__OGMB_1_df   0                 NaT       2020-02-05
                    1          2022-04-02              NaT
                    2          2020-03-23       2021-07-26
                    3          2020-03-23       2021-07-26
                    4          2020-03-23       2021-07-26
...                                   ...              ...
wc_info_bayoba_1_df 10947      2012-06-26              NaT
                    10948      2012-06-26              NaT
                    10949      2022-08-30              NaT
                    10950      2022-08-30              NaT
                    10951      2014-08-04              NaT

                           reason_dropped_out  \
OGInfo__OGMB_1_df   0              Own choice
                    1                    None
                    2             Area closed
                    3             Area closed
                    4             Area closed
...                                       ...
wc_info_bayoba_1_df 10947                None
                    10948                None
                    10949                None
                    10950                None
                    10951  no production 2016

                                                              address  \
OGInfo__OGMB_1_df   0                     Mahuwe sch, Box 92, Mbire D
                    1                Kasuwo Primary School 346, Mbire
                    2                 Sapa Primary School P O Box 203
                    3                 Sapa Primary School P O Box 203
                    4                 Sapa Primary School P O Box 203
...                                                               ...
wc_info_bayoba_1_df 10947                                     Chibuwe
                    10948                                     Chibuwe
                    10949    Gungwe Primary School Bag 338, Mt Darwin
                    10950    Gungwe Primary School Bag 338, Mt Darwin
                    10951  Zambezi Primary School, Box70, Siyanzyundu

                          organic_status organic_status_from_date fairtrade  \
OGInfo__OGMB_1_df   0            Dropout  2017-12-02 00:00:00.000     False
                    1          Mabagrown  2022-04-02 00:00:00.000     False
                    2            Dropout  2020-03-23 00:00:00.000     False
                    3            Dropout  2020-03-23 00:00:00.000     False
                    4            Dropout  2020-03-23 00:00:00.000     False
...                                  ...                      ...       ...
wc_info_bayoba_1_df 10947            Org                     None     False
                    10948            Org                     None     False
                    10949            New               2022-08-30     False
                    10950            New               2022-08-30     False
                    10951            Org                     None     False

                          ward_nr    wc_nr  wc_code
OGInfo__OGMB_1_df   0        15.0      NaN      NaN
                    1         6.0      NaN      NaN
                    2        13.0      NaN      NaN
                    3        13.0      NaN      NaN
                    4        13.0      NaN      NaN
...                           ...      ...      ...
wc_info_bayoba_1_df 10947     5.0  21141.0     CMWC
                    10948     5.0  21144.0     CMWC
                    10949     NaN  16499.0     MTWC
                    10950     NaN  16500.0     MTWC
                    10951     NaN  40101.0     BNWC

[20610 rows x 22 columns]

### Further Cleaning

In [2097]:
concated_farmers['organic_status'].value_counts()

Org             9544
Dropout         6946
New             2693
Mabagrown       1048
Reinstated       190
Uncertified      149
dropout           33
Under review       6
Name: organic_status, dtype: int64

In [2098]:
concated_farmers[concated_farmers['id'].isna()]

Empty DataFrame
Columns: [id, og_nr, og_code, production_unit, area, ward_nr/name, species, surname, first_names, sex, id_number, date_of_birth, date_contracted, date_dropped_out, reason_dropped_out, address, organic_status, organic_status_from_date, fairtrade, ward_nr, wc_nr, wc_code]
Index: []

[0 rows x 22 columns]

In [2099]:
df = concated_farmers[~concated_farmers['id_number'].isna()][['id_number']]
df.squeeze().is_unique

False

In [2100]:
concated_farmers['area'] = concated_farmers['area'].str.title()

In [2101]:
concated_farmers['area'].replace('Mt Darwin ','Mt Darwin', inplace=True)
concated_farmers['area'].replace('Beitbridge ','Beitbridge', inplace=True)
concated_farmers['area'].replace('Hwange ','Hwange', inplace=True)
concated_farmers['area'].replace('Makoni Mt Shalom','Makoni', inplace=True)
concated_farmers['area'].replace('Chimanimani Rusitu','Chimanimani', inplace=True)
concated_farmers['area'].replace('Chimanimani Tilbury','Chimanimani', inplace=True)

In [2102]:
concated_farmers['area'].value_counts()

Mbire                   7685
Binga                   2195
Rushinga                1750
Chimanimani             1660
Mudzi                   1590
Buhera                  1152
Chipinge                 977
Mt Darwin                968
Beitbridge               613
Makoni                   297
Hwange                   289
Kwekwe                   270
Uzumbamarambapfungwe     257
Mwenezi                  173
Karoi                    163
Triangle                 163
Mutoko                   126
Mberengwa                115
Chivi                     94
Matobo                    44
Mushumbi                  29
Name: area, dtype: int64

In [2103]:
concated_farmers['area'].unique()
# Correct 'chipinge' first upper

array(['Mbire', 'Binga', 'Makoni', 'Mushumbi', 'Triangle', 'Karoi',
       'Chimanimani', 'Chipinge', 'Chivi', 'Buhera', 'Mt Darwin',
       'Beitbridge', 'Mudzi', 'Rushinga', 'Kwekwe', 'Mwenezi',
       'Uzumbamarambapfungwe', 'Mutoko', 'Mberengwa', 'Matobo', 'Hwange'],
      dtype=object)

In [2104]:
concated_farmers['production_unit'] = concated_farmers['production_unit'].replace('Mashonaland Centra','Mashonaland Central')

In [2105]:
concated_farmers['production_unit'].value_counts()

Mashonaland Central        7713
Northern Eastern region    4691
South Eastern region       3498
Matabeleland North         2485
Southern region             995
Manicaland                  588
Midlands                    270
Masvingo                    163
Mashonaland West            163
Matabeleland South           44
Name: production_unit, dtype: int64

In [2106]:
concated_farmers['ward_nr'].unique()

# correct to int

array([ 6.,  5., 19., 11.,  3., 15., 17.,  7.,  2., 16., 10.,  8.,  9.,
       12.,  4., 13., 14., 18., 21., 23., 27., nan,  1., 25., 20., 29.,
       33., 24., 28., 30., 31., 34., 32., 22.])

In [2107]:
# 'id_number has not unique and has 3254 duplicates'
#concated_farmers['id_number'].is_unique
concated_farmers['id_number'].duplicated().value_counts()

False    18205
True      2405
Name: id_number, dtype: int64

#### Setting values of species, sex, reason_droppen_out and organic_status to lower case

In [2108]:
concated_farmers['species'] = concated_farmers['species'].str.lower()
concated_farmers['sex'] = concated_farmers['sex'].str.lower()

concated_farmers['reason_dropped_out'] = concated_farmers['reason_dropped_out'].str.lower()
concated_farmers['organic_status'] = concated_farmers['organic_status'].str.lower()

In [2109]:
concated_farmers['organic_status'].unique()

array(['dropout', 'new', 'org', 'under review', 'mabagrown', 'reinstated',
       'uncertified', None], dtype=object)

In [2110]:
concated_farmers['species'].unique()

# correct to types rosella, chili, paprika,  

# '5 sinakoma', 'robert' correct to None

array(['rosella', '5 sinakoma', 'chillie', 'rosella, chilli, paprika',
       'paprika', 'chilli, paprika', 'rosell', 'ronald', 'roseela',
       'chilli', 'chilli,paprika', 'rosella, strophantus',
       'chillie/paprica ', 'paprika, chilli', 'chili', 'baobab', 'marula',
       'baobab + ximenia', 'trichillia', 'baobab+kms+ximenia',
       'kalahari melon seed', 'ximenia caffra', 'kms + ximenia',
       'ximenia americana', 'devils claw', 'wild gotu kola'], dtype=object)

In [2111]:
concated_farmers['species'] = concated_farmers['species'].replace({'5 sinakoma': 'None', 'ronald':  'None','roseela': 'rosella', 'rosell': 'rosella', 
                                                                   'paprika, chilli': 'chilli, paprika', 'chili': 'chilli',
                                                                    'chilli,paprika':'chilli, paprika', 'chillie': 'chilli', 
                                                                    'chillie/paprica ': 'chilli, paprika',
                                                                    'baobab + ximenia': 'baobab, ximenia', 'baobab+kms+ximenia': 'baobab, kms, ximenia',
                                                                    'kalahari melon seed': 'kalahari, melon, seed', 'kms + ximenia': 'kms, ximenia'
                                                                    })

In [2112]:
concated_farmers['wc_nr'].duplicated().value_counts()

False    11518
True      9092
Name: wc_nr, dtype: int64

In [2113]:
# 11517 wc_nr
concated_farmers[~concated_farmers['wc_nr'].isna()]['wc_nr']

wc_info_bayoba_1_df  0      21146.0
                     1      21833.0
                     2      21147.0
                     3      22986.0
                     4      21148.0
                             ...
wc_info__WCOrg_1_df  560     1057.0
                     561    21040.0
                     562     2555.0
                     563     2066.0
                     564     1069.0
Name: wc_nr, Length: 11517, dtype: float64

In [2114]:
concated_farmers['ward_nr'].duplicated().value_counts()

True     20576
False       34
Name: ward_nr, dtype: int64

In [2115]:
concated_farmers['ward_nr'].is_unique

False

In [2116]:
concated_farmers['ward_nr'].unique()

array([ 6.,  5., 19., 11.,  3., 15., 17.,  7.,  2., 16., 10.,  8.,  9.,
       12.,  4., 13., 14., 18., 21., 23., 27., nan,  1., 25., 20., 29.,
       33., 24., 28., 30., 31., 34., 32., 22.])

In [2117]:
concated_farmers.iloc[0]

id                                                      1414
og_nr                                                13190.0
og_code                                                MBOGR
production_unit                          Mashonaland Central
area                                                   Mbire
ward_nr/name                                               6
species                                              rosella
surname                                             Gurupira
first_names                                          Vengayi
sex                                                     male
id_number                                       71-083974N71
date_of_birth                                            NaT
date_contracted                          2147-12-06 00:00:00
date_dropped_out                         2020-03-19 00:00:00
reason_dropped_out                                own choice
address                     Nyarutomno sch, Box 500, Mbire D
organic_status                                       dropout
organic_status_from_date             2017-12-06 00:00:00.000
fairtrade                                              False
ward_nr                                                  6.0
wc_nr                                                    NaN
wc_code                                                  NaN
Name: (OGInfo__OGMB_1_df, 239), dtype: object

In [2118]:
# concated_farmers has 9094 rows  22 columns

In [2119]:
concated_farmers.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 20610 entries, ('OGInfo__OGMB_1_df', 239) to ('wc_info__WCOrg_1_df', 564)
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        20610 non-null  int64
 1   og_nr                     9093 non-null   float64
 2   og_code                   9093 non-null   object
 3   production_unit           20610 non-null  object
 4   area                      20610 non-null  object
 5   ward_nr/name              20190 non-null  object
 6   species                   20610 non-null  object
 7   surname                   20608 non-null  object
 8   first_names               20606 non-null  object
 9   sex                       20610 non-null  object
 10  id_number                 18657 non-null  object
 11  date_of_birth             2544 non-null   datetime64[ns]
 12  date_contracted           20600 non-null  datetime64[ns]
 13  date_dropped_out          9298 non-null   datetime64[ns]
 14  reason_dropped_out        7637 non-null   object
 15  address                   20136 non-null  object
 16  organic_status            20609 non-null  object
 17  organic_status_from_date  16507 non-null  object
 18  fairtrade                 20610 non-null  bool
 19  ward_nr                   20190 non-null  float64
 20  wc_nr                     11517 non-null  float64
 21  wc_code                   11517 non-null  object
dtypes: bool(1), datetime64[ns](3), float64(3), int64(1), object(14)
memory usage: 3.7+ MB

#### Upload the prepared farmer data

In [2120]:
table_name = 'all_farmers'

if engine!=None:
    try:
        concated_farmers.to_sql(name=table_name, # Name of SQL table
                                con=engine, # Engine or connection
                                if_exists='replace', # Drop the table before inserting new values 
                                schema=schema, # Use schmea that was defined earlier
                                index=False, # Write DataFrame index as a column
                                chunksize=5000, # Specify the number of rows in each batch to be written at a time
                                method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

The all_farmers table was imported successfully.