## We are looking to create one big inspection table from 2015-2018. 

Lets import the 2015-2018 tables. First we import as a set, to then clean in terms of needed columns, datatypes and dates, and then concat.

In [2]:
import pandas as pd
import psycopg2
import sql_functions as sf 
schema = 'organic_africa' # UPDATE 'TABLE_SCHEMA' based on schema used in class 
engine = sf.get_engine()
    
all_insp = {}

all_insp['og2015_1'] = sf.get_dataframe(f'SELECT * FROM {schema}."OGInsp2015__OGMB_1"')
all_insp['og2016_1'] = sf.get_dataframe(f'SELECT * FROM {schema}."OGInsp2016__OGMB_1"')
all_insp['og2015_2'] = sf.get_dataframe(f'SELECT * FROM {schema}."OG_Insp_2015__OGOrg_1"') 
all_insp['og2016_2'] = sf.get_dataframe(f'SELECT * FROM {schema}."OG_Insp_2016__OGOrg_1"')
all_insp['og2017_1'] = sf.get_dataframe(f'SELECT * FROM {schema}."OG_Insp_2017__OGOrg_1"')
all_insp['all2018'] = sf.get_dataframe(f'SELECT * FROM {schema}."all_insp_2018"')
all_insp['wc2015_1'] = sf.get_dataframe(f'SELECT * FROM {schema}."wc_insp_2015__WCOrg_1"')
all_insp['wc2016_1'] = sf.get_dataframe(f'SELECT * FROM {schema}."wc_insp_2016__WCOrg_1"')
all_insp['wc2016_2'] = sf.get_dataframe(f'SELECT * FROM {schema}."wc_insp_2016_bayoba_1"')
all_insp['wc2017_1'] = sf.get_dataframe(f'SELECT * FROM {schema}."wc_insp_2017__WCOrg_1"')
all_insp['wc2017_2'] = sf.get_dataframe(f'SELECT * FROM {schema}."wc_insp_2017_bayoba_1"')

In [3]:
##lets have a look at the differences in columns, like this-_ all_insp['all_insp_2019'].columns.difference(all_insp['all_insp_2020'].columns)


all_insp['og2015_1'].columns.difference(all_insp['og2016_1'].columns)

Index(['Recurrent_sanctions', 'Sanctions'], dtype='object')

In [4]:
all_insp['og2015_1'].columns.tolist()

['ID',
 'Entered_by',
 'Date_entered',
 'OG_Nr',
 'Date_inspected',
 'Internal_Inspector',
 'Date_of_birth',
 'HH_under_5_years_female',
 'HH_under_5_years_male',
 'HH_5-17_years_female',
 'HH_5-17_years_male',
 'HH_18-59_years_female',
 'HH_18-59_years_male',
 'HH_over_60_years_female',
 'HH_over_60_years_male',
 'Months_food_lasts',
 'Compliance_this_year',
 'Recurrent_sanctions',
 'Sanctions',
 'Compliance_this_year_ICS',
 'Additional_sanctions_ICS',
 'Overall_comment']

In [5]:
all_insp['og2015_1'] = all_insp['og2015_1'].drop('Sanctions', axis=1)
all_insp['og2015_1'] = all_insp['og2015_1'].drop('Recurrent_sanctions', axis=1)

In [6]:
all_insp['og2015_1'] = all_insp['og2015_1'].drop('Compliance_this_year_ICS', axis=1)
all_insp['og2015_1'] = all_insp['og2015_1'].drop('Additional_sanctions_ICS', axis=1)
all_insp['og2015_1'] = all_insp['og2015_1'].drop('Compliance_this_year', axis=1)
all_insp['og2015_1'] = all_insp['og2015_1'].drop('Overall_comment', axis=1)

In [7]:
all_insp['og2015_2'].columns.tolist()

['ID',
 'Entered_by',
 'Date_entered',
 'OG_Nr',
 'Date_inspected',
 'Internal_Inspector',
 'Date_of_birth',
 'HH_under_5_years_female',
 'HH_under_5_years_male',
 'HH_5-17_years_female',
 'HH_5-17_years_male',
 'HH_18-59_years_female',
 'HH_18-59_years_male',
 'HH_over_60_years_female',
 'HH_over_60_years_male',
 'Months_food_lasts',
 'Compliance_this_year',
 'Recurrent_sanctions',
 'Sanctions',
 'Compliance_this_year_ICS',
 'Additional_sanctions_ICS',
 'Overall_comment']

In [8]:
all_insp['og2015_2'] = all_insp['og2015_2'].drop('Compliance_this_year_ICS', axis=1)
all_insp['og2015_2'] = all_insp['og2015_2'].drop('Additional_sanctions_ICS', axis=1)
all_insp['og2015_2'] = all_insp['og2015_2'].drop('Compliance_this_year', axis=1)
all_insp['og2015_2'] = all_insp['og2015_2'].drop('Overall_comment', axis=1)
all_insp['og2015_2'] = all_insp['og2015_2'].drop('Sanctions', axis=1)
all_insp['og2015_2'] = all_insp['og2015_2'].drop('Recurrent_sanctions', axis=1)

In [9]:
all_insp['og2016_2'].columns.tolist()

['ID',
 'Entered_by',
 'Date_entered',
 'OG_Nr',
 'Date_inspected',
 'Internal_Inspector',
 'Date_of_birth',
 'HH_under_5_years_female',
 'HH_under_5_years_male',
 'HH_5-17_years_female',
 'HH_5-17_years_male',
 'HH_18-59_years_female',
 'HH_18-59_years_male',
 'HH_over_60_years_female',
 'HH_over_60_years_male',
 'Months_food_lasts',
 'Compliance_this_year',
 'Recurrent_corrective_actions',
 'Corrective_actions',
 'Compliance_this_year_ICS',
 'Additional_sanctions_ICS',
 'Overall_comment']

In [10]:
all_insp['og2016_2'] = all_insp['og2016_2'].drop('Recurrent_corrective_actions', axis=1)
all_insp['og2016_2'] = all_insp['og2016_2'].drop( 'Corrective_actions', axis=1)


all_insp['og2016_2'] = all_insp['og2016_2'].drop('Compliance_this_year_ICS', axis=1)
all_insp['og2016_2'] = all_insp['og2016_2'].drop('Additional_sanctions_ICS', axis=1)
all_insp['og2016_2'] = all_insp['og2016_2'].drop('Compliance_this_year', axis=1)
all_insp['og2016_2'] = all_insp['og2016_2'].drop('Overall_comment', axis=1)
##all_insp['og2016_2'] = all_insp['og2016_2'].drop('Sanctions', axis=1)
##all_insp['og2016_2'] = all_insp['og2016_2'].drop('Recurrent_sanctions', axis=1)

In [11]:
all_insp['og2016_1'].columns.tolist()

['ID',
 'Entered_by',
 'Date_entered',
 'OG_Nr',
 'Date_inspected',
 'Internal_Inspector',
 'Date_of_birth',
 'HH_under_5_years_female',
 'HH_under_5_years_male',
 'HH_5-17_years_female',
 'HH_5-17_years_male',
 'HH_18-59_years_female',
 'HH_18-59_years_male',
 'HH_over_60_years_female',
 'HH_over_60_years_male',
 'Months_food_lasts',
 'Compliance_this_year',
 'Recurrent_corrective_actions',
 'Corrective_actions',
 'Compliance_this_year_ICS',
 'Additional_sanctions_ICS',
 'Overall_comment']

In [12]:
all_insp['og2016_1'] = all_insp['og2016_1'].drop('Recurrent_corrective_actions', axis=1)
all_insp['og2016_1'] = all_insp['og2016_1'].drop( 'Corrective_actions', axis=1)


all_insp['og2016_1'] = all_insp['og2016_1'].drop('Compliance_this_year_ICS', axis=1)
all_insp['og2016_1'] = all_insp['og2016_1'].drop('Additional_sanctions_ICS', axis=1)
all_insp['og2016_1'] = all_insp['og2016_1'].drop('Compliance_this_year', axis=1)
all_insp['og2016_1'] = all_insp['og2016_1'].drop('Overall_comment', axis=1)
##all_insp['og2016_2'] = all_insp['og2016_2'].drop('Sanctions', axis=1)
##all_insp['og2016_2'] = all_insp['og2016_2'].drop('Recurrent_sanctions', axis=1)

In [13]:
all_insp['og2017_1'].columns.tolist()

['ID',
 'Entered_by',
 'Date_entered',
 'OG_Nr',
 'Date_inspected',
 'LU_Internal_Inspector',
 'Date_of_birth',
 'HH_under_5_years_female',
 'HH_under_5_years_male',
 'HH_5-17_years_female',
 'HH_5-17_years_male',
 'HH_18-59_years_female',
 'HH_18-59_years_male',
 'HH_over_60_years_female',
 'HH_over_60_years_male',
 'Months_food_lasts',
 'last_year_corrective_action',
 'Corrective_action_implemented',
 'Compliance_this_year',
 'Recurrent_corrective_actions',
 'Corrective_actions',
 'Compliance_this_year_ICS',
 'Additional_sanctions_ICS',
 'Overall_comment']

In [14]:
all_insp['og2017_1'] = all_insp['og2017_1'].drop('Recurrent_corrective_actions', axis=1)
all_insp['og2017_1'] = all_insp['og2017_1'].drop( 'Corrective_actions', axis=1)


all_insp['og2017_1'] = all_insp['og2017_1'].drop('Compliance_this_year_ICS', axis=1)
all_insp['og2017_1'] = all_insp['og2017_1'].drop('Additional_sanctions_ICS', axis=1)
all_insp['og2017_1'] = all_insp['og2017_1'].drop('Compliance_this_year', axis=1)
all_insp['og2017_1'] = all_insp['og2017_1'].drop('Overall_comment', axis=1)
all_insp['og2017_1'] = all_insp['og2017_1'].drop('last_year_corrective_action', axis=1)
all_insp['og2017_1'] = all_insp['og2017_1'].drop('Corrective_action_implemented', axis=1)

In [17]:
all_insp['og2017_1'].columns.tolist()

['ID',
 'Entered_by',
 'Date_entered',
 'OG_Nr',
 'Date_inspected',
 'LU_Internal_Inspector',
 'Date_of_birth',
 'HH_under_5_years_female',
 'HH_under_5_years_male',
 'HH_5-17_years_female',
 'HH_5-17_years_male',
 'HH_18-59_years_female',
 'HH_18-59_years_male',
 'HH_over_60_years_female',
 'HH_over_60_years_male',
 'Months_food_lasts']

In [18]:
all_insp['wc2015_1'].columns.tolist()

['ID',
 'Entered_by',
 'Date_entered',
 'WC_Nr',
 'Date_inspected',
 'Internal_Inspector',
 'Date_of_birth',
 'HH_under_5_years_female',
 'HH_under_5_years_male',
 'HH_5-17_years_female',
 'HH_5-17_years_male',
 'HH_18-59_years_female',
 'HH_18-59_years_male',
 'HH_over_60_years_female',
 'HH_over_60_years_male',
 'Months_food_lasts',
 'Compliance_this_year',
 'Recurrent_sanctions',
 'Sanctions',
 'Compliance_this_year_ICS',
 'Additional_sanctions_ICS',
 'Overall_comment']

In [19]:
all_insp['wc2015_1'] = all_insp['wc2015_1'].drop('Recurrent_sanctions', axis=1)
all_insp['wc2015_1'] = all_insp['wc2015_1'].drop( 'Sanctions', axis=1)


all_insp['wc2015_1'] = all_insp['wc2015_1'].drop('Compliance_this_year_ICS', axis=1)
all_insp['wc2015_1'] = all_insp['wc2015_1'].drop('Additional_sanctions_ICS', axis=1)
all_insp['wc2015_1'] = all_insp['wc2015_1'].drop('Compliance_this_year', axis=1)
all_insp['wc2015_1'] = all_insp['wc2015_1'].drop('Overall_comment', axis=1)
##all_insp['og2017_1'] = all_insp['og2017_1'].drop('last_year_corrective_action', axis=1)
##all_insp['og2017_1'] = all_insp['og2017_1'].drop('Corrective_action_implemented', axis=1)

In [20]:
all_insp['wc2016_1'].columns.tolist()

['ID',
 'Entered_by',
 'Date_entered',
 'WC_Nr',
 'Date_inspected',
 'Internal_Inspector',
 'Date_of_birth',
 'HH_under_5_years_female',
 'HH_under_5_years_male',
 'HH_5-17_years_female',
 'HH_5-17_years_male',
 'HH_18-59_years_female',
 'HH_18-59_years_male',
 'HH_over_60_years_female',
 'HH_over_60_years_male',
 'Months_food_lasts',
 'Compliance_this_year',
 'Recurrent_sanctions',
 'Sanctions',
 'Compliance_this_year_ICS',
 'Additional_sanctions_ICS',
 'Overall_comment']

In [21]:
all_insp['wc2016_1'] = all_insp['wc2016_1'].drop('Recurrent_sanctions', axis=1)
all_insp['wc2016_1'] = all_insp['wc2016_1'].drop( 'Sanctions', axis=1)


all_insp['wc2016_1'] = all_insp['wc2016_1'].drop('Compliance_this_year_ICS', axis=1)
all_insp['wc2016_1'] = all_insp['wc2016_1'].drop('Additional_sanctions_ICS', axis=1)
all_insp['wc2016_1'] = all_insp['wc2016_1'].drop('Compliance_this_year', axis=1)
all_insp['wc2016_1'] = all_insp['wc2016_1'].drop('Overall_comment', axis=1)

In [22]:
all_insp['wc2016_2'].columns.tolist()

['ID',
 'Entered_by',
 'Date_entered',
 'WC_Nr',
 'Date_inspected',
 'Internal_Inspector',
 'Date_of_birth',
 'HH_under_5_years_female',
 'HH_under_5_years_male',
 'HH_5-17_years_female',
 'HH_5-17_years_male',
 'HH_18-59_years_female',
 'HH_18-59_years_male',
 'HH_over_60_years_female',
 'HH_over_60_years_male',
 'Months_food_lasts',
 'Compliance_this_year',
 'Recurrent_sanctions',
 'Sanctions',
 'Compliance_this_year_ICS',
 'Additional_sanctions_ICS',
 'Overall_comment']

In [23]:
all_insp['wc2016_2'] = all_insp['wc2016_2'].drop('Recurrent_sanctions', axis=1)
all_insp['wc2016_2'] = all_insp['wc2016_2'].drop( 'Sanctions', axis=1)


all_insp['wc2016_2'] = all_insp['wc2016_2'].drop('Compliance_this_year_ICS', axis=1)
all_insp['wc2016_2'] = all_insp['wc2016_2'].drop('Additional_sanctions_ICS', axis=1)
all_insp['wc2016_2'] = all_insp['wc2016_2'].drop('Compliance_this_year', axis=1)
all_insp['wc2016_2'] = all_insp['wc2016_2'].drop('Overall_comment', axis=1)

In [24]:
all_insp['wc2017_2'].columns.tolist()

['ID',
 'Entered_by',
 'Date_entered',
 'WC_Nr',
 'Date_inspected',
 'Internal_Inspector',
 'Date_of_birth',
 'HH_under_5_years_female',
 'HH_under_5_years_male',
 'HH_5-17_years_female',
 'HH_5-17_years_male',
 'HH_18-59_years_female',
 'HH_18-59_years_male',
 'HH_over_60_years_female',
 'HH_over_60_years_male',
 'Months_food_lasts',
 'Compliance_this_year',
 'Recurrent_sanctions',
 'Sanctions',
 'Compliance_this_year_ICS',
 'Additional_sanctions_ICS',
 'Overall_comment']

In [25]:
all_insp['wc2017_2'] = all_insp['wc2017_2'].drop('Recurrent_sanctions', axis=1)
all_insp['wc2017_2'] = all_insp['wc2017_2'].drop( 'Sanctions', axis=1)


all_insp['wc2017_2'] = all_insp['wc2017_2'].drop('Compliance_this_year_ICS', axis=1)
all_insp['wc2017_2'] = all_insp['wc2017_2'].drop('Additional_sanctions_ICS', axis=1)
all_insp['wc2017_2'] = all_insp['wc2017_2'].drop('Compliance_this_year', axis=1)
all_insp['wc2017_2'] = all_insp['wc2017_2'].drop('Overall_comment', axis=1)

In [26]:
all_insp['wc2017_1'].columns.tolist()

['ID',
 'Entered_by',
 'Date_entered',
 'WC_Nr',
 'Date_inspected',
 'Internal_Inspector',
 'Date_of_birth',
 'HH_under_5_years_female',
 'HH_under_5_years_male',
 'HH_5-17_years_female',
 'HH_5-17_years_male',
 'HH_18-59_years_female',
 'HH_18-59_years_male',
 'HH_over_60_years_female',
 'HH_over_60_years_male',
 'Months_food_lasts',
 'Compliance_this_year',
 'Recurrent_sanctions',
 'Sanctions',
 'Compliance_this_year_ICS',
 'Additional_sanctions_ICS',
 'Overall_comment']

In [27]:
all_insp['wc2017_1'] = all_insp['wc2017_1'].drop('Recurrent_sanctions', axis=1)
all_insp['wc2017_1'] = all_insp['wc2017_1'].drop( 'Sanctions', axis=1)


all_insp['wc2017_1'] = all_insp['wc2017_1'].drop('Compliance_this_year_ICS', axis=1)
all_insp['wc2017_1'] = all_insp['wc2017_1'].drop('Additional_sanctions_ICS', axis=1)
all_insp['wc2017_1'] = all_insp['wc2017_1'].drop('Compliance_this_year', axis=1)
all_insp['wc2017_1'] = all_insp['wc2017_1'].drop('Overall_comment', axis=1)

In [28]:
all_insp['all2018'].columns.tolist()

['date_entered',
 'og_nr',
 'date_inspected',
 'area',
 'date_of_birth',
 'hh_under_5_years_female',
 'hh_under_5_years_male',
 'hh_5-17_years_female',
 'hh_5-17_years_male',
 'hh_18-59_years_female',
 'hh_18-59_years_male',
 'hh_over_60_years_female',
 'hh_over_60_years_male',
 'months_food_lasts']

In [29]:
# Convert column names to lowercase in all dataframes
all_insp['og2015_1'].rename(columns=str.lower, inplace=True)
all_insp['og2015_2'].rename(columns=str.lower, inplace=True)
all_insp['og2016_1'].rename(columns=str.lower, inplace=True)
all_insp['og2016_2'].rename(columns=str.lower, inplace=True)
all_insp['og2017_1'].rename(columns=str.lower, inplace=True)
all_insp['wc2015_1'].rename(columns=str.lower, inplace=True)
all_insp['wc2016_1'].rename(columns=str.lower, inplace=True)
all_insp['wc2016_2'].rename(columns=str.lower, inplace=True)
all_insp['wc2017_1'].rename(columns=str.lower, inplace=True)
all_insp['wc2017_2'].rename(columns=str.lower, inplace=True)

Let us have a look at the duplicates, if there are any.

In [30]:

duplicates = all_insp['og2015_1'][all_insp['og2015_1'].duplicated(['og_nr'], keep=False)]
duplicates.shape

(0, 16)

In [31]:
all_insp['og2015_1'].shape

(287, 16)

In [92]:
all_insp['og2015_1']['og_nr'].isnull().sum()

0

In [32]:

duplicates = all_insp['og2015_2'][all_insp['og2015_2'].duplicated(['og_nr'], keep=False)]
duplicates.shape

(0, 16)

In [33]:
all_insp['og2015_2'].shape

(287, 16)

In [93]:
all_insp['og2015_2']['og_nr'].isnull().sum()

0

In [34]:

duplicates = all_insp['og2016_1'][all_insp['og2016_1'].duplicated(['og_nr'], keep=False)]
duplicates.shape

(0, 16)

In [35]:
all_insp['og2016_1'].shape

(218, 16)

In [94]:
all_insp['og2016_1']['og_nr'].isnull().sum()

0

In [36]:
duplicates = all_insp['og2016_2'][all_insp['og2016_2'].duplicated(['og_nr'], keep=False)]
duplicates.shape

(0, 16)

In [37]:
all_insp['og2016_2'].shape

(218, 16)

In [95]:
all_insp['og2016_2']['og_nr'].isnull().sum()

0

In [38]:
duplicates = all_insp['og2017_1'][all_insp['og2017_1'].duplicated(['og_nr'], keep=False)]
duplicates.shape

(0, 16)

In [39]:
all_insp['og2017_1'].shape

(394, 16)

In [96]:
all_insp['og2017_1']['og_nr'].isnull().sum()

0

In [40]:
duplicates = all_insp['wc2017_1'][all_insp['wc2017_1'].duplicated(['wc_nr'], keep=False)]
duplicates.shape

(0, 16)

In [ ]:
all_insp['wc2017_1']

In [41]:
all_insp['wc2017_1'].shape

(10, 16)

In [97]:
all_insp['wc2017_1']['wc_nr'].isnull().sum()

0

In [42]:
duplicates = all_insp['wc2017_2'][all_insp['wc2017_2'].duplicated(['wc_nr'], keep=False)]
duplicates.shape

(0, 16)

In [43]:
all_insp['wc2017_2'].shape

(31, 16)

In [98]:
all_insp['wc2017_2']['wc_nr'].isnull().sum()

0

In [44]:
duplicates = all_insp['wc2016_1'][all_insp['wc2016_1'].duplicated(['wc_nr'], keep=False)]
duplicates.shape

(0, 16)

In [45]:
all_insp['wc2016_1'].shape

(40, 16)

In [99]:
all_insp['wc2016_1']['wc_nr'].isnull().sum()

0

In [46]:
duplicates = all_insp['wc2015_1'][all_insp['wc2015_1'].duplicated(['wc_nr'], keep=False)]
duplicates.shape

(0, 16)

In [47]:
all_insp['wc2015_1'].shape

(2650, 16)

In [100]:
all_insp['wc2015_1']['wc_nr'].isnull().sum()

1

No duplicates, good news, let us now concat.

In [51]:
concat_insp_15_18 = pd.concat(all_insp)

In [52]:
concat_insp_15_18.head()

             id entered_by             date_entered   og_nr  \
og2015_1 0  1.0     Norman  2015-10-12 00:00:00.000  3037.0
         1  2.0     Norman  2015-10-12 00:00:00.000  3038.0
         2  3.0     Norman  2015-10-12 00:00:00.000  3041.0
         3  4.0     Norman  2015-10-12 00:00:00.000  3043.0
         4  5.0     Norman  2015-10-12 00:00:00.000  3044.0

                     date_inspected internal_inspector date_of_birth  \
og2015_1 0  2015-09-21 00:00:00.000            Molliah          None
         1  2015-09-21 00:00:00.000            Molliah          None
         2  2015-09-23 00:00:00.000            Missozi          None
         3  2015-09-22 00:00:00.000            Missozi          None
         4  2015-09-22 00:00:00.000            Missozi          None

            hh_under_5_years_female  hh_under_5_years_male  \
og2015_1 0                      0.0                    2.0
         1                      1.0                    1.0
         2                      0.0                    0.0
         3                      0.0                    1.0
         4                      0.0                    0.0

            hh_5-17_years_female  hh_5-17_years_male  hh_18-59_years_female  \
og2015_1 0                   2.0                 0.0                    1.0
         1                   1.0                 0.0                    1.0
         2                   0.0                 1.0                    1.0
         3                   1.0                 0.0                    2.0
         4                   1.0                 2.0                    1.0

            hh_18-59_years_male  hh_over_60_years_female  \
og2015_1 0                  1.0                      0.0
         1                  0.0                      0.0
         2                  0.0                      1.0
         3                  0.0                      0.0
         4                  1.0                      0.0

            hh_over_60_years_male  months_food_lasts lu_internal_inspector  \
og2015_1 0                    0.0                6.0                   NaN
         1                    0.0                4.0                   NaN
         2                    0.0                3.0                   NaN
         3                    1.0                6.0                   NaN
         4                    1.0                6.0                   NaN

           area  wc_nr
og2015_1 0  NaN    NaN
         1  NaN    NaN
         2  NaN    NaN
         3  NaN    NaN
         4  NaN    NaN

In [58]:
concat_insp_15_18.shape

(5723, 19)

Are there any duplicates which might come from adding now different tables? If yes, let us drop them.

In [60]:
concat_insp_15_18.duplicated().value_counts()

False    5019
True      704
dtype: int64

In [74]:
concat_insp_15_18.drop_duplicates(inplace=True)

In [75]:
# how many nulls are there anyway

concat_insp_15_18['og_nr'].isnull().sum()

2885

In [76]:
concat_insp_15_18['wc_nr'].isnull().sum()

2136

In [79]:
2885+2136

5021

In [78]:
concat_insp_15_18.shape ### this means there are just two rows overlapping which have zeros in wc and og

(5019, 19)

In [80]:
concat_insp_15_18.duplicated().value_counts()

False    5019
dtype: int64

In [85]:
concat_insp_15_18.head()

             id entered_by             date_entered   og_nr  \
og2015_1 0  1.0     Norman  2015-10-12 00:00:00.000  3037.0
         1  2.0     Norman  2015-10-12 00:00:00.000  3038.0
         2  3.0     Norman  2015-10-12 00:00:00.000  3041.0
         3  4.0     Norman  2015-10-12 00:00:00.000  3043.0
         4  5.0     Norman  2015-10-12 00:00:00.000  3044.0

                     date_inspected internal_inspector date_of_birth  \
og2015_1 0  2015-09-21 00:00:00.000            Molliah          None
         1  2015-09-21 00:00:00.000            Molliah          None
         2  2015-09-23 00:00:00.000            Missozi          None
         3  2015-09-22 00:00:00.000            Missozi          None
         4  2015-09-22 00:00:00.000            Missozi          None

            hh_under_5_years_female  hh_under_5_years_male  \
og2015_1 0                      0.0                    2.0
         1                      1.0                    1.0
         2                      0.0                    0.0
         3                      0.0                    1.0
         4                      0.0                    0.0

            hh_5-17_years_female  hh_5-17_years_male  hh_18-59_years_female  \
og2015_1 0                   2.0                 0.0                    1.0
         1                   1.0                 0.0                    1.0
         2                   0.0                 1.0                    1.0
         3                   1.0                 0.0                    2.0
         4                   1.0                 2.0                    1.0

            hh_18-59_years_male  hh_over_60_years_female  \
og2015_1 0                  1.0                      0.0
         1                  0.0                      0.0
         2                  0.0                      1.0
         3                  0.0                      0.0
         4                  1.0                      0.0

            hh_over_60_years_male  months_food_lasts lu_internal_inspector  \
og2015_1 0                    0.0                6.0                   NaN
         1                    0.0                4.0                   NaN
         2                    0.0                3.0                   NaN
         3                    1.0                6.0                   NaN
         4                    1.0                6.0                   NaN

           area  wc_nr
og2015_1 0  NaN    NaN
         1  NaN    NaN
         2  NaN    NaN
         3  NaN    NaN
         4  NaN    NaN

In [87]:
concat_insp_15_18.isnull().sum()

id                         1004
entered_by                 3607
date_entered               2601
og_nr                      2885
date_inspected             2609
internal_inspector         4003
date_of_birth              3567
hh_under_5_years_female      79
hh_under_5_years_male        82
hh_5-17_years_female         78
hh_5-17_years_male           78
hh_18-59_years_female        78
hh_18-59_years_male          78
hh_over_60_years_female      78
hh_over_60_years_male        77
months_food_lasts            79
lu_internal_inspector      4631
area                       4025
wc_nr                      2136
dtype: int64

In [89]:
concat_insp_15_18.set_index('id', inplace=True) #resetting index to be able to compare

In [90]:
# Drop multiple columns 2
columns_to_drop = ['entered_by', 'lu_internal_inspector','internal_inspector']
concat_insp_15_18.drop(columns=columns_to_drop, axis=1, inplace=True)





from IPython.display import display
# Display the merged DataFrame as a table
display(concat_insp_15_18)

,date_entered,og_nr,date_inspected,date_of_birth,hh_under_5_years_female,hh_under_5_years_male,hh_5-17_years_female,hh_5-17_years_male,hh_18-59_years_female,hh_18-59_years_male,hh_over_60_years_female,hh_over_60_years_male,months_food_lasts,area,wc_nr
id,,,,,,,,,,,,,,,
1.0,2015-10-12 00:00:00.000,3037.0,2015-09-21 00:00:00.000,None,0.0,2.0,2.0,0.0,1.0,1.0,0.0,0.0,6.0,NaN,NaN
2.0,2015-10-12 00:00:00.000,3038.0,2015-09-21 00:00:00.000,None,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,4.0,NaN,NaN
3.0,2015-10-12 00:00:00.000,3041.0,2015-09-23 00:00:00.000,None,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,3.0,NaN,NaN
4.0,2015-10-12 00:00:00.000,3043.0,2015-09-22 00:00:00.000,None,0.0,1.0,1.0,0.0,2.0,0.0,0.0,1.0,6.0,NaN,NaN
5.0,2015-10-12 00:00:00.000,3044.0,2015-09-22 00:00:00.000,None,0.0,0.0,1.0,2.0,1.0,1.0,0.0,1.0,6.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27.0,2017-08-17,NaN,2017-08-10,1958-10-15,4.0,1.0,0.0,1.0,4.0,0.0,0.0,1.0,0.0,NaN,40397.0
28.0,2017-08-17,NaN,2017-08-10,1969-10-06,0.0,2.0,1.0,4.0,1.0,0.0,0.0,0.0,2.0,NaN,42461.0
29.0,2017-08-17,NaN,2017-08-09,None,0.0,0.0,2.0,2.0,1.0,1.0,0.0,0.0,0.0,NaN,42545.0
30.0,2017-08-17,NaN,2017-08-11,1957-08-08,0.0,0.0,3.0,1.0,2.0,0.0,0.0,1.0,7.0,NaN,42876.0
31.0,2017-08-18,NaN,2017-08-02,None,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,9.0,NaN,42902.0

As far as I see, it is alright, so we can upload it to SQL database

In [91]:
import psycopg2
import sqlalchemy 
from sql_functions import sqlalchemy 
from sql_functions import get_engine 


# Write records stored in a dataframe to SQL database
engine = get_engine()
table_name = 'all_insp_15_18'
if engine!=None:
    try:
        concat_insp_15_18.to_sql(name='all_insp_15_18', # Name of SQL table variable - at the front its the dataframe!! 
                        con=engine, # Engine or connection
                        schema='organic_africa', # your class schema variable
                        if_exists='replace', # Drop the table before inserting new values 
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None
else:
    print('No engine')

The all_insp_15_18 table was imported successfully.