In [188]:
import pandas as pd
import sql_functions as sf

schema = 'organic_africa' # UPDATE 'TABLE_SCHEMA' based on schema used in class 
engine = sf.get_engine()

In [189]:
farmers_df = sf.get_dataframe(f'SELECT * FROM {schema}.all_farmers')
farmers_df.shape

(20610, 22)

In [190]:
farmers_df['contract_duration'] = farmers_df['date_dropped_out'] - farmers_df['date_contracted']

In [191]:
negative_duration = farmers_df[farmers_df['date_contracted'] > farmers_df['date_dropped_out']][['og_nr','wc_nr','date_contracted','date_dropped_out','contract_duration']]
negative_duration

         og_nr   wc_nr date_contracted date_dropped_out contract_duration
205    19486.0     NaN      2023-02-24       2019-01-09        -1507 days
216     5157.0     NaN      2023-02-24       2017-12-04        -1908 days
314    16059.0     NaN      2023-02-23       2017-10-19        -1953 days
315    16069.0     NaN      2023-02-23       2017-12-04        -1907 days
390    19485.0     NaN      2022-12-07       2018-11-15        -1483 days
...        ...     ...             ...              ...               ...
8933   16152.0     NaN      2017-08-31       2017-04-12         -141 days
8934   16150.0     NaN      2017-08-31       2017-04-12         -141 days
8935   16148.0     NaN      2017-08-31       2017-04-12         -141 days
8937   16146.0     NaN      2017-08-31       2017-04-12         -141 days
20126      NaN  2101.0      2018-10-20       2016-07-11         -831 days

[68 rows x 5 columns]

In [192]:
# 68 indices
negative_duration = negative_duration[['og_nr','wc_nr','date_contracted']]
negative_duration['original_date_contracted'] = None

/var/folders/x5/v1d8l9v94679fhr8vd07ys9c0000gn/T/ipykernel_14506/2257917660.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  negative_duration['original_date_contracted'] = None

In [193]:
negative_duration

         og_nr   wc_nr date_contracted original_date_contracted
205    19486.0     NaN      2023-02-24                     None
216     5157.0     NaN      2023-02-24                     None
314    16059.0     NaN      2023-02-23                     None
315    16069.0     NaN      2023-02-23                     None
390    19485.0     NaN      2022-12-07                     None
...        ...     ...             ...                      ...
8933   16152.0     NaN      2017-08-31                     None
8934   16150.0     NaN      2017-08-31                     None
8935   16148.0     NaN      2017-08-31                     None
8937   16146.0     NaN      2017-08-31                     None
20126      NaN  2101.0      2018-10-20                     None

[68 rows x 4 columns]

In [194]:
# original_tables
OGInfo__OGMB_1_df = sf.get_dataframe(f'SELECT * FROM {schema}."OGInfo__OGMB_1"') # [205, 216, 314, 315, 390, 466, 846, 6427, 7714, ..] 50 indices
OG_Info__OGOrg_1_df = sf.get_dataframe(f'SELECT * FROM {schema}."OG_Info__OGOrg_1"') #[205, 216, 314, 315, 390, 466, 846]
wc_info__WCOrg_1_df = sf.get_dataframe(f'SELECT * FROM {schema}."wc_info__WCOrg_1"') #[205, 216, 314, 315, 390, 466]
OG_Info_reserve__OGOrg_1_df = sf.get_dataframe(f'SELECT * FROM {schema}."OG_Info_reserve__OGOrg_1"') #[205, 216, 314, 315, 390, 466]

In [197]:
negative_duration.index[67]

20126

In [199]:
negative_duration.columns

Index(['og_nr', 'wc_nr', 'date_contracted', 'original_date_contracted'], dtype='object')

In [200]:
OGInfo__OGMB_1_df['date_contracted'].values[OGInfo__OGMB_1_df['OG_Nr']==13190.0]

array(['2147-12-06T00:00:00.000000000'], dtype='datetime64[ns]')

In [203]:
merge_df = pd.merge(negative_duration,OG_Info__OGOrg_1_df[['OG_Nr','Date_contracted']],left_on='og_nr', right_on='OG_Nr', how='left')

In [207]:
merge_df[merge_df['Date_contracted'].isna()]

,og_nr,wc_nr,date_contracted,original_date_contracted,OG_Nr,Date_contracted
6,13190.0,NaN,2021-07-06,None,NaN,NaN
7,14304.0,NaN,2018-11-15,None,NaN,NaN
67,NaN,2101.0,2018-10-20,None,NaN,NaN

In [ ]:
merge_all_df = pd.merge(merge_df,OG_Info__OGOrg_1_df[['OG_Nr','Date_contracted']],left_on='og_nr', right_on='OG_Nr', how='left')

In [130]:
OGInfo__OGMB_1_df[OGInfo__OGMB_1_df['OG_Nr']==5157.0]

Empty DataFrame
Columns: [ID, OG_Nr, OG_code, Production_Unit, Area, Ward_Nr/Name, Species, Surname, First_names, Sex, ID_Number, Date_of_Birth, Date_dropped_out, Reason_dropped_out, Harvesting_2019, Contact_person_y/n, Cluster, Address, GPS_Coordinates, Phone_Number, Contracted_by, Contract, map, Corrective_Actions, OG_Organic_Status, OG_Organic_Status_from_Date, Comment, Fairtrade, Assignment_2021, inspection_2021_A, Inspection_2021, External_inspection_2021, Harvesting_2021, Assignment_2019, Inspection_2019, External_inspection_2019, Assingment_2018, inspection_2018, External_inspection_2018, Certified_EC/NOP_2018, Assigment_2017, Inspection_2017, Assigment_2016, Inspection_2016, External_Inspection_2016, Certified_EC/NOP_2016, Certified_EC_only_2016, Inspection_2015, External_Inspection_2015, Certified_EC/NOP_2015, Certified_EC_only_2015, Inspection_2014, External_Inspection_2014, Certified_Organic_2014, Inspection_2013, Certified_Organic_2013, Inspection_2012, Entered_by, Source, date_contracted]
Index: []

[0 rows x 60 columns]