In [221]:
import pandas as pd
import sql_functions as sf

schema = 'organic_africa' # UPDATE 'TABLE_SCHEMA' based on schema used in class 
engine = sf.get_engine()

In [222]:
farmers_df = sf.get_dataframe(f'SELECT * FROM {schema}.all_farmers')
farmers_df.shape

(20610, 23)

In [223]:
farmers_df['contract_duration'] = farmers_df['date_dropped_out'] - farmers_df['date_contracted']

In [224]:
negative_duration = farmers_df[farmers_df['date_contracted'] > farmers_df['date_dropped_out']][['og_nr','wc_nr','date_contracted','date_dropped_out','contract_duration']]
negative_duration

         og_nr   wc_nr date_contracted date_dropped_out contract_duration
290    19490.0     NaN      2023-02-24       2019-01-09        -1507 days
306    19485.0     NaN      2023-02-24       2018-11-15        -1562 days
325    16220.0     NaN      2023-02-24       2018-01-15        -1866 days
327    16089.0     NaN      2023-02-23       2017-12-04        -1907 days
556    19807.0     NaN      2022-06-11       2019-01-09        -1249 days
640    19823.0     NaN      2022-06-10       2019-01-09        -1248 days
873    13190.0     NaN      2021-07-06       2020-03-19         -474 days
6443   14304.0     NaN      2018-11-15       2002-05-06        -6037 days
7792   12939.0     NaN      2018-10-05       2017-10-09         -361 days
7793   16107.0     NaN      2018-10-05       2018-01-15         -263 days
7920   12454.0     NaN      2018-10-04       2017-10-09         -360 days
7952   12447.0     NaN      2018-10-04       2017-10-09         -360 days
8083   16051.0     NaN      2018-08-31       2017-10-09         -326 days
8086   16056.0     NaN      2018-08-31       2018-01-15         -228 days
8087    3673.0     NaN      2018-08-31       2017-12-04         -270 days
8091    2768.0     NaN      2018-08-31       2017-10-09         -326 days
8104   10412.0     NaN      2018-08-31       2017-10-09         -326 days
8106   16054.0     NaN      2018-08-31       2017-12-04         -270 days
8107   16052.0     NaN      2018-08-31       2018-01-15         -228 days
8108   16059.0     NaN      2018-08-31       2017-10-19         -316 days
8115   16120.0     NaN      2018-08-31       2017-10-19         -316 days
8117   16060.0     NaN      2018-08-31       2018-01-15         -228 days
8119   16117.0     NaN      2018-08-31       2018-01-15         -228 days
8120   16114.0     NaN      2018-08-31       2018-01-15         -228 days
8121   16113.0     NaN      2018-08-31       2018-01-15         -228 days
8122   16112.0     NaN      2018-08-31       2017-12-04         -270 days
8124   16110.0     NaN      2018-08-31       2017-12-04         -270 days
8125   16109.0     NaN      2018-08-31       2017-12-04         -270 days
8137   16102.0     NaN      2018-08-31       2017-12-04         -270 days
8141   16080.0     NaN      2018-08-31       2018-01-15         -228 days
8142   16079.0     NaN      2018-08-31       2017-12-04         -270 days
8144   16076.0     NaN      2018-08-31       2017-12-04         -270 days
8147   16073.0     NaN      2018-08-31       2018-01-15         -228 days
8150   16069.0     NaN      2018-08-31       2017-12-04         -270 days
8155   16061.0     NaN      2018-08-31       2018-01-15         -228 days
8156   16082.0     NaN      2018-08-31       2017-12-04         -270 days
8158   16092.0     NaN      2018-08-31       2017-10-25         -310 days
8159   16098.0     NaN      2018-08-31       2017-12-04         -270 days
8161   16085.0     NaN      2018-08-31       2017-12-04         -270 days
8162   16086.0     NaN      2018-08-31       2017-12-04         -270 days
8165   16088.0     NaN      2018-08-31       2017-10-25         -310 days
8167   16096.0     NaN      2018-08-31       2018-01-15         -228 days
8169   16094.0     NaN      2018-08-31       2017-12-04         -270 days
8216   19816.0     NaN      2018-08-10       2018-01-09         -213 days
20125      NaN  2101.0      2018-10-20       2016-07-11         -831 days

In [225]:
# 68 indices
negative_duration = negative_duration[['og_nr','wc_nr','date_contracted']]
negative_duration['original_date_contracted'] = None

/var/folders/x5/v1d8l9v94679fhr8vd07ys9c0000gn/T/ipykernel_14506/2257917660.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  negative_duration['original_date_contracted'] = None

In [226]:
negative_duration

         og_nr   wc_nr date_contracted original_date_contracted
290    19490.0     NaN      2023-02-24                     None
306    19485.0     NaN      2023-02-24                     None
325    16220.0     NaN      2023-02-24                     None
327    16089.0     NaN      2023-02-23                     None
556    19807.0     NaN      2022-06-11                     None
640    19823.0     NaN      2022-06-10                     None
873    13190.0     NaN      2021-07-06                     None
6443   14304.0     NaN      2018-11-15                     None
7792   12939.0     NaN      2018-10-05                     None
7793   16107.0     NaN      2018-10-05                     None
7920   12454.0     NaN      2018-10-04                     None
7952   12447.0     NaN      2018-10-04                     None
8083   16051.0     NaN      2018-08-31                     None
8086   16056.0     NaN      2018-08-31                     None
8087    3673.0     NaN      2018-08-31                     None
8091    2768.0     NaN      2018-08-31                     None
8104   10412.0     NaN      2018-08-31                     None
8106   16054.0     NaN      2018-08-31                     None
8107   16052.0     NaN      2018-08-31                     None
8108   16059.0     NaN      2018-08-31                     None
8115   16120.0     NaN      2018-08-31                     None
8117   16060.0     NaN      2018-08-31                     None
8119   16117.0     NaN      2018-08-31                     None
8120   16114.0     NaN      2018-08-31                     None
8121   16113.0     NaN      2018-08-31                     None
8122   16112.0     NaN      2018-08-31                     None
8124   16110.0     NaN      2018-08-31                     None
8125   16109.0     NaN      2018-08-31                     None
8137   16102.0     NaN      2018-08-31                     None
8141   16080.0     NaN      2018-08-31                     None
8142   16079.0     NaN      2018-08-31                     None
8144   16076.0     NaN      2018-08-31                     None
8147   16073.0     NaN      2018-08-31                     None
8150   16069.0     NaN      2018-08-31                     None
8155   16061.0     NaN      2018-08-31                     None
8156   16082.0     NaN      2018-08-31                     None
8158   16092.0     NaN      2018-08-31                     None
8159   16098.0     NaN      2018-08-31                     None
8161   16085.0     NaN      2018-08-31                     None
8162   16086.0     NaN      2018-08-31                     None
8165   16088.0     NaN      2018-08-31                     None
8167   16096.0     NaN      2018-08-31                     None
8169   16094.0     NaN      2018-08-31                     None
8216   19816.0     NaN      2018-08-10                     None
20125      NaN  2101.0      2018-10-20                     None

In [227]:
# original_tables
OGInfo__OGMB_1_df = sf.get_dataframe(f'SELECT * FROM {schema}."OGInfo__OGMB_1"')
OG_Info__OGOrg_1_df = sf.get_dataframe(f'SELECT * FROM {schema}."OG_Info__OGOrg_1"')
wc_info__WCOrg_1_df = sf.get_dataframe(f'SELECT * FROM {schema}."wc_info__WCOrg_1"')
OG_Info_reserve__OGOrg_1_df = sf.get_dataframe(f'SELECT * FROM {schema}."OG_Info_reserve__OGOrg_1"')

In [228]:
negative_duration.index[44]

20125

In [229]:
negative_duration.columns

Index(['og_nr', 'wc_nr', 'date_contracted', 'original_date_contracted'], dtype='object')

In [230]:
OGInfo__OGMB_1_df['date_contracted'].values[OGInfo__OGMB_1_df['OG_Nr']==13190.0]

array(['2147-12-06T00:00:00.000000000'], dtype='datetime64[ns]')

In [231]:
merge_df = pd.merge(negative_duration,OG_Info__OGOrg_1_df[['OG_Nr','Date_contracted']],left_on='og_nr', right_on='OG_Nr', how='left')

In [232]:
merge_df[merge_df['Date_contracted'].isna()]

,og_nr,wc_nr,date_contracted,original_date_contracted,OG_Nr,Date_contracted
6,13190.0,NaN,2021-07-06,None,NaN,NaN
7,14304.0,NaN,2018-11-15,None,NaN,NaN
44,NaN,2101.0,2018-10-20,None,NaN,NaN

In [236]:
merge_all_df = pd.merge(merge_df,OG_Info__OGOrg_1_df[['OG_Nr','Date_contracted']],left_on='og_nr', right_on='OG_Nr', how='left')
merge_all_df

,og_nr,wc_nr,date_contracted,original_date_contracted,OG_Nr_x,Date_contracted_x,OG_Nr_y,Date_contracted_y
0,19490.0,NaN,2023-02-24,None,19490.0,2018-08-10,19490.0,2018-08-10
1,19485.0,NaN,2023-02-24,None,19485.0,2018-08-10,19485.0,2018-08-10
2,16220.0,NaN,2023-02-24,None,16220.0,2017-08-31,16220.0,2017-08-31
3,16089.0,NaN,2023-02-23,None,16089.0,2017-06-19,16089.0,2017-06-19
4,19807.0,NaN,2022-06-11,None,19807.0,2018-08-10,19807.0,2018-08-10
5,19823.0,NaN,2022-06-10,None,19823.0,2018-08-10,19823.0,2018-08-10
6,13190.0,NaN,2021-07-06,None,NaN,NaN,NaN,NaN
7,14304.0,NaN,2018-11-15,None,NaN,NaN,NaN,NaN
8,12939.0,NaN,2018-10-05,None,12939.0,2013-01-31,12939.0,2013-01-31
9,16107.0,NaN,2018-10-05,None,16107.0,2017-08-31,16107.0,2017-08-31
10,12454.0,NaN,2018-10-04,None,12454.0,2012-10-24,12454.0,2012-10-24
11,12447.0,NaN,2018-10-04,None,12447.0,2012-10-24,12447.0,2012-10-24
12,16051.0,NaN,2018-08-31,None,16051.0,2017-06-19,16051.0,2017-06-19
13,16056.0,NaN,2018-08-31,None,16056.0,2017-08-31,16056.0,2017-08-31
14,3673.0,NaN,2018-08-31,None,3673.0,2014-08-24,3673.0,2014-08-24
15,2768.0,NaN,2018-08-31,None,2768.0,2012-12-04,2768.0,2012-12-04
16,10412.0,NaN,2018-08-31,None,10412.0,2013-08-26,10412.0,2013-08-26
17,16054.0,NaN,2018-08-31,None,16054.0,2017-06-19,16054.0,2017-06-19
18,16052.0,NaN,2018-08-31,None,16052.0,2017-08-31,16052.0,2017-08-31
19,16059.0,NaN,2018-08-31,None,16059.0,2017-08-31,16059.0,2017-08-31
20,16120.0,NaN,2018-08-31,None,16120.0,2017-08-31,16120.0,2017-08-31
21,16060.0,NaN,2018-08-31,None,16060.0,2017-08-31,16060.0,2017-08-31
22,16117.0,NaN,2018-08-31,None,16117.0,2017-08-31,16117.0,2017-08-31
23,16114.0,NaN,2018-08-31,None,16114.0,2017-08-31,16114.0,2017-08-31
24,16113.0,NaN,2018-08-31,None,16113.0,2017-08-31,16113.0,2017-08-31
25,16112.0,NaN,2018-08-31,None,16112.0,2017-08-31,16112.0,2017-08-31
26,16110.0,NaN,2018-08-31,None,16110.0,2017-08-31,16110.0,2017-08-31
27,16109.0,NaN,2018-08-31,None,16109.0,2017-08-31,16109.0,2017-08-31
28,16102.0,NaN,2018-08-31,None,16102.0,2017-08-31,16102.0,2017-08-31
29,16080.0,NaN,2018-08-31,None,16080.0,2017-08-31,16080.0,2017-08-31
30,16079.0,NaN,2018-08-31,None,16079.0,2017-08-31,16079.0,2017-08-31
31,16076.0,NaN,2018-08-31,None,16076.0,2017-06-19,16076.0,2017-06-19
32,16073.0,NaN,2018-08-31,None,16073.0,2017-08-31,16073.0,2017-08-31
33,16069.0,NaN,2018-08-31,None,16069.0,2017-06-19,16069.0,2017-06-19
34,16061.0,NaN,2018-08-31,None,16061.0,2017-08-31,16061.0,2017-08-31
35,16082.0,NaN,2018-08-31,None,16082.0,2017-06-19,16082.0,2017-06-19
36,16092.0,NaN,2018-08-31,None,16092.0,2017-06-19,16092.0,2017-06-19
37,16098.0,NaN,2018-08-31,None,16098.0,2017-08-31,16098.0,2017-08-31
38,16085.0,NaN,2018-08-31,None,16085.0,2017-06-19,16085.0,2017-06-19
39,16086.0,NaN,2018-08-31,None,16086.0,2017-06-19,16086.0,2017-06-19
40,16088.0,NaN,2018-08-31,None,16088.0,2017-08-31,16088.0,2017-08-31
41,16096.0,NaN,2018-08-31,None,16096.0,2017-08-31,16096.0,2017-08-31
42,16094.0,NaN,2018-08-31,None,16094.0,2017-06-19,16094.0,2017-06-19
43,19816.0,NaN,2018-08-10,None,19816.0,2018-08-10,19816.0,2018-08-10
44,NaN,2101.0,2018-10-20,None,NaN,NaN,NaN,NaN

In [234]:
OGInfo__OGMB_1_df[OGInfo__OGMB_1_df['OG_Nr']==5157.0]

Empty DataFrame
Columns: [ID, OG_Nr, OG_code, Production_Unit, Area, Ward_Nr/Name, Species, Surname, First_names, Sex, ID_Number, Date_of_Birth, Date_dropped_out, Reason_dropped_out, Harvesting_2019, Contact_person_y/n, Cluster, Address, GPS_Coordinates, Phone_Number, Contracted_by, Contract, map, Corrective_Actions, OG_Organic_Status, OG_Organic_Status_from_Date, Comment, Fairtrade, Assignment_2021, inspection_2021_A, Inspection_2021, External_inspection_2021, Harvesting_2021, Assignment_2019, Inspection_2019, External_inspection_2019, Assingment_2018, inspection_2018, External_inspection_2018, Certified_EC/NOP_2018, Assigment_2017, Inspection_2017, Assigment_2016, Inspection_2016, External_Inspection_2016, Certified_EC/NOP_2016, Certified_EC_only_2016, Inspection_2015, External_Inspection_2015, Certified_EC/NOP_2015, Certified_EC_only_2015, Inspection_2014, External_Inspection_2014, Certified_Organic_2014, Inspection_2013, Certified_Organic_2013, Inspection_2012, Entered_by, Source, date_contracted]
Index: []

[0 rows x 60 columns]

,og_nr,wc_nr,date_contracted,original_date_contracted,OG_Nr_x,Date_contracted_x,OG_Nr_y,Date_contracted_y
0,19490.0,NaN,2023-02-24,None,19490.0,2018-08-10,19490.0,2018-08-10
1,19485.0,NaN,2023-02-24,None,19485.0,2018-08-10,19485.0,2018-08-10
2,16220.0,NaN,2023-02-24,None,16220.0,2017-08-31,16220.0,2017-08-31
3,16089.0,NaN,2023-02-23,None,16089.0,2017-06-19,16089.0,2017-06-19
4,19807.0,NaN,2022-06-11,None,19807.0,2018-08-10,19807.0,2018-08-10
5,19823.0,NaN,2022-06-10,None,19823.0,2018-08-10,19823.0,2018-08-10
6,13190.0,NaN,2021-07-06,None,NaN,NaN,NaN,NaN
7,14304.0,NaN,2018-11-15,None,NaN,NaN,NaN,NaN
8,12939.0,NaN,2018-10-05,None,12939.0,2013-01-31,12939.0,2013-01-31
9,16107.0,NaN,2018-10-05,None,16107.0,2017-08-31,16107.0,2017-08-31
10,12454.0,NaN,2018-10-04,None,12454.0,2012-10-24,12454.0,2012-10-24
11,12447.0,NaN,2018-10-04,None,12447.0,2012-10-24,12447.0,2012-10-24
12,16051.0,NaN,2018-08-31,None,16051.0,2017-06-19,16051.0,2017-06-19
13,16056.0,NaN,2018-08-31,None,16056.0,2017-08-31,16056.0,2017-08-31
14,3673.0,NaN,2018-08-31,None,3673.0,2014-08-24,3673.0,2014-08-24
15,2768.0,NaN,2018-08-31,None,2768.0,2012-12-04,2768.0,2012-12-04
16,10412.0,NaN,2018-08-31,None,10412.0,2013-08-26,10412.0,2013-08-26
17,16054.0,NaN,2018-08-31,None,16054.0,2017-06-19,16054.0,2017-06-19
18,16052.0,NaN,2018-08-31,None,16052.0,2017-08-31,16052.0,2017-08-31
19,16059.0,NaN,2018-08-31,None,16059.0,2017-08-31,16059.0,2017-08-31
20,16120.0,NaN,2018-08-31,None,16120.0,2017-08-31,16120.0,2017-08-31
21,16060.0,NaN,2018-08-31,None,16060.0,2017-08-31,16060.0,2017-08-31
22,16117.0,NaN,2018-08-31,None,16117.0,2017-08-31,16117.0,2017-08-31
23,16114.0,NaN,2018-08-31,None,16114.0,2017-08-31,16114.0,2017-08-31
24,16113.0,NaN,2018-08-31,None,16113.0,2017-08-31,16113.0,2017-08-31
25,16112.0,NaN,2018-08-31,None,16112.0,2017-08-31,16112.0,2017-08-31
26,16110.0,NaN,2018-08-31,None,16110.0,2017-08-31,16110.0,2017-08-31
27,16109.0,NaN,2018-08-31,None,16109.0,2017-08-31,16109.0,2017-08-31
28,16102.0,NaN,2018-08-31,None,16102.0,2017-08-31,16102.0,2017-08-31
29,16080.0,NaN,2018-08-31,None,16080.0,2017-08-31,16080.0,2017-08-31
30,16079.0,NaN,2018-08-31,None,16079.0,2017-08-31,16079.0,2017-08-31
31,16076.0,NaN,2018-08-31,None,16076.0,2017-06-19,16076.0,2017-06-19
32,16073.0,NaN,2018-08-31,None,16073.0,2017-08-31,16073.0,2017-08-31
33,16069.0,NaN,2018-08-31,None,16069.0,2017-06-19,16069.0,2017-06-19
34,16061.0,NaN,2018-08-31,None,16061.0,2017-08-31,16061.0,2017-08-31
35,16082.0,NaN,2018-08-31,None,16082.0,2017-06-19,16082.0,2017-06-19
36,16092.0,NaN,2018-08-31,None,16092.0,2017-06-19,16092.0,2017-06-19
37,16098.0,NaN,2018-08-31,None,16098.0,2017-08-31,16098.0,2017-08-31
38,16085.0,NaN,2018-08-31,None,16085.0,2017-06-19,16085.0,2017-06-19
39,16086.0,NaN,2018-08-31,None,16086.0,2017-06-19,16086.0,2017-06-19
40,16088.0,NaN,2018-08-31,None,16088.0,2017-08-31,16088.0,2017-08-31
41,16096.0,NaN,2018-08-31,None,16096.0,2017-08-31,16096.0,2017-08-31
42,16094.0,NaN,2018-08-31,None,16094.0,2017-06-19,16094.0,2017-06-19
43,19816.0,NaN,2018-08-10,None,19816.0,2018-08-10,19816.0,2018-08-10
44,NaN,2101.0,2018-10-20,None,NaN,NaN,NaN,NaN