In [74]:
import pandas as pd

import sql_functions as sf

In [75]:
schema = 'organic_africa' # UPDATE 'TABLE_SCHEMA' based on schema used in class 
engine = sf.get_engine()

**Importing tables of farmer data as Dataframes**

5 Dfs stored in one Dictionary

In [140]:
all_farmers = {}

all_farmers['OGInfo__OGMB_1_df'] = sf.get_dataframe(f'SELECT * FROM {schema}."OGInfo__OGMB_1"')
all_farmers['OG_Info__OGOrg_1_df'] = sf.get_dataframe(f'SELECT * FROM {schema}."OG_Info__OGOrg_1"')
all_farmers['wc_info_bayoba_1_df'] = sf.get_dataframe(f'SELECT * FROM {schema}."wc_info_bayoba_1"')
all_farmers['wc_info__WCOrg_1_df'] = sf.get_dataframe(f'SELECT * FROM {schema}."wc_info__WCOrg_1"')
all_farmers['OG_Info_reserve__OGOrg_1_df'] = sf.get_dataframe(f'SELECT * FROM {schema}."OG_Info_reserve__OGOrg_1"')

## Preparing imported farmer dataframes

**Preparing farmer dfs to concat them to one big df**

1. Reduce all farmer df to the necessary ~20 columns 
2. Set all column names to lowercase
3. Renaming equal columns with equal column names
4. Checking and converting data types

In [141]:
# Reduce all farmer df to the necessary ~20 columns
all_farmers['OGInfo__OGMB_1_df'] = all_farmers['OGInfo__OGMB_1_df'][['ID', 'OG_Nr', 'OG_code', 'Production_Unit', 'Area', 'Ward_Nr/Name',
                                                                   'Species', 'Surname', 'First_names', 'Sex', 'ID_Number',
                                                                   'Date_of_Birth', 'date_contracted', 'Date_dropped_out', 'Reason_dropped_out',
                                                                   'Address', 'OG_Organic_Status', 'OG_Organic_Status_from_Date', 'Fairtrade']]

all_farmers['OG_Info__OGOrg_1_df'] = all_farmers['OG_Info__OGOrg_1_df'][['ID', 'OG_Nr', 'OG_code', 'Production_Unit', 'Area', 'Ward_Nr/Name',
                                                                       'Species', 'Surname', 'First_names', 'Sex', 'ID_Number', 'Date_of_Birth',
                                                                       'Date_contracted', 'Date_dropped_out', 'Reason_dropped_out', 
                                                                       'OG_Organic_Status', 'Address', 'OG_Organic_Status_from_Date',
                                                                       'Fairtrade','ward_nr']]

all_farmers['wc_info_bayoba_1_df'] = all_farmers['wc_info_bayoba_1_df'][['ID', 'WC_Nr', 'WC_code', 'Production_Unit', 'Area', 'Ward_Nr/Name',
                                                                       'Species', 'Surname', 'First_names', 'Sex', 'ID_Number', 
                                                                       'Date_contracted', 'Date_dropped_out',
                                                                       'Reason_dropped_out', 'Address', 'Organic_Status', 
                                                                       'Organic_Status_from_Date', 'Fairtrade', 'Date_of_Birth', 'ward_nr']]

all_farmers['wc_info__WCOrg_1_df'] = all_farmers['wc_info__WCOrg_1_df'][['ID', 'WC_Nr', 'WC_code', 'Production_Unit', 'Area', 'Ward_Nr/Name',
                                                                       'Species', 'Surname', 'First_names', 'Sex', 'ID_Number',
                                                                       'Date_contracted', 'Reason_dropped_out', 'Address', 'Organic_Status', 
                                                                       'Organic_Status_from_Date', 'Fairtrade', 'Date_dropped_out', 'ward_nr']]

all_farmers['OG_Info_reserve__OGOrg_1_df'] = all_farmers['OG_Info_reserve__OGOrg_1_df'][['ID', 'OG_Nr', 'OG_code', 'Production_Unit', 'Area', 
                                                                                       'Ward_Nr/Name', 'Species', 'Surname', 'First_names',
                                                                                       'Sex', 'ID_Number', 'Date_of_Birth', 'Date_contracted',
                                                                                       'Date_dropped_out', 'Reason_dropped_out', 'Address',
                                                                                       'OG_Organic_Status', 'OG_Organic_Status_from_Date', 
                                                                                       'Fairtrade', 'ward_nr']]

In [142]:
# Set all column names to lowercase

for df in all_farmers.values():
    #print(df)
    df.columns = map(str.lower, df.columns)

In [143]:
all_farmers['OGInfo__OGMB_1_df'].columns

Index(['id', 'og_nr', 'og_code', 'production_unit', 'area', 'ward_nr/name',
       'species', 'surname', 'first_names', 'sex', 'id_number',
       'date_of_birth', 'date_contracted', 'date_dropped_out',
       'reason_dropped_out', 'address', 'og_organic_status',
       'og_organic_status_from_date', 'fairtrade'],
      dtype='object')

In [144]:
# Renaming equal columns with equal column names
all_farmers['OGInfo__OGMB_1_df'].rename(columns={'og_organic_status':'organic_status', 'og_organic_status_from_date':'organic_status_from_date'}, inplace=True)
all_farmers['OG_Info__OGOrg_1_df'].rename(columns={'og_organic_status':'organic_status', 'og_organic_status_from_date':'organic_status_from_date'}, inplace=True)
all_farmers['OG_Info_reserve__OGOrg_1_df'].rename(columns={'og_organic_status':'organic_status', 'og_organic_status_from_date':'organic_status_from_date'}, inplace=True)

**4. Checking and converting data types**

.info() .dtype() type()

pd.to_datetime()

#### OGInfo__OGMB_1

In [145]:
all_farmers['OGInfo__OGMB_1_df'].info()

# looks good!

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8166 entries, 0 to 8165
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        8166 non-null   int64
 1   og_nr                     8166 non-null   int64
 2   og_code                   8166 non-null   object
 3   production_unit           8166 non-null   object
 4   area                      8166 non-null   object
 5   ward_nr/name              8166 non-null   int64
 6   species                   8166 non-null   object
 7   surname                   8166 non-null   object
 8   first_names               8166 non-null   object
 9   sex                       8166 non-null   object
 10  id_number                 7073 non-null   object
 11  date_of_birth             657 non-null    datetime64[ns]
 12  date_contracted           8164 non-null   datetime64[ns]
 13  date_dropped_out          7053 non-null   datetime64[ns]
 14  reason_dropped_out        6587 non-null   object
 15  address                   8111 non-null   object
 16  organic_status            8166 non-null   object
 17  organic_status_from_date  8166 non-null   object
 18  fairtrade                 8166 non-null   bool
dtypes: bool(1), datetime64[ns](3), int64(3), object(12)
memory usage: 1.1+ MB

In [146]:
type(all_farmers['OGInfo__OGMB_1_df']['date_contracted'][2])

pandas._libs.tslibs.timestamps.Timestamp

In [147]:
all_farmers['OG_Info__OGOrg_1_df']['date_contracted'][0]

'12/07/2022'

#### OG_Info__OGOrg_1_df

In [148]:
all_farmers['OG_Info__OGOrg_1_df'].info()

# need to convert date_of_birth, date_contracted and date_dropped_out

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1403 entries, 0 to 1402
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        1403 non-null   int64
 1   og_nr                     1403 non-null   int64
 2   og_code                   1403 non-null   object
 3   production_unit           1403 non-null   object
 4   area                      1403 non-null   object
 5   ward_nr/name              1403 non-null   object
 6   species                   1403 non-null   object
 7   surname                   1403 non-null   object
 8   first_names               1403 non-null   object
 9   sex                       1403 non-null   object
 10  id_number                 1310 non-null   object
 11  date_of_birth             930 non-null    object
 12  date_contracted           1403 non-null   object
 13  date_dropped_out          405 non-null    object
 14  reason_dropped_out        264 non-null    object
 15  organic_status            1403 non-null   object
 16  address                   1192 non-null   object
 17  organic_status_from_date  1403 non-null   object
 18  fairtrade                 1403 non-null   bool
 19  ward_nr                   1403 non-null   int64
dtypes: bool(1), int64(3), object(16)
memory usage: 209.8+ KB

In [149]:
all_farmers['OG_Info__OGOrg_1_df']['date_of_birth'] = pd.to_datetime(all_farmers['OG_Info__OGOrg_1_df']['date_of_birth'])

In [135]:
all_farmers['OG_Info__OGOrg_1_df']['date_contracted'] = pd.to_datetime(all_farmers['OG_Info__OGOrg_1_df']['date_contracted'])

# Out of bounds nanosecond timestamp: 218-08-19 00:00:00 present at position 59

In [134]:
#all_farmers['OG_Info__OGOrg_1_df']['date_contracted'] = pd.to_datetime(all_farmers['OG_Info__OGOrg_1_df']['date_contracted'], errors = 'coerce')

/var/folders/x5/v1d8l9v94679fhr8vd07ys9c0000gn/T/ipykernel_1712/3004304988.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  all_farmers['OG_Info__OGOrg_1_df']['date_contracted'] = pd.to_datetime(all_farmers['OG_Info__OGOrg_1_df']['date_contracted'], errors = 'coerce')

In [130]:
all_farmers['OG_Info__OGOrg_1_df'].loc[all_farmers['OG_Info__OGOrg_1_df']['date_contracted']=='218-08-19']

Empty DataFrame
Columns: [id, og_nr, og_code, production_unit, area, ward_nr/name, species, surname, first_names, sex, id_number, date_of_birth, date_contracted, date_dropped_out, reason_dropped_out, organic_status, address, organic_status_from_date, fairtrade, ward_nr]
Index: []

In [ ]:
# Problem with date '19/08/19218' at 741
#all_farmers['OG_Info__OGOrg_1_df'].loc[all_farmers['OG_Info__OGOrg_1_df']['date_contracted']=='19/08/19218']

In [87]:
# Function to pad/fill to short dates like 5/3/18 to 05/03/2018

def str_date_pad(val):
    
    if type(val) is str and len(val) < 10: 

        date_splitted = val.split('/')
        
        if len(date_splitted[1]) < 2 : 
            date_splitted[1] = '0' + date_splitted[1]

        if (len(date_splitted[2]) < 4) and (int(date_splitted[2]) < 24) : 
            date_splitted[2] = '20' + date_splitted[2]
        if len(date_splitted[2]) < 4 and int(date_splitted[2]) > 23 : 
            date_splitted[2] = '19' + date_splitted[2]
    
        val = '/'.join(date_splitted)
        #print(val)
        return val
    
    else:
        return val

In [152]:
all_farmers['OG_Info__OGOrg_1_df'].iloc[741]['date_contracted']

'19/08/19218'

In [151]:
all_farmers['OG_Info__OGOrg_1_df']['date_contracted'] = all_farmers['OG_Info__OGOrg_1_df']['date_contracted'].apply(str_date_pad)

In [90]:
# replace '19/08/19218' by '19/08/2018' 
#all_farmers['OG_Info__OGOrg_1_df'].iloc[741]['date_contracted'].replace('19/08/19218', '19/08/2018')

#all_farmers['OG_Info__OGOrg_1_df'].iloc[742]['date_contracted']

In [91]:
#all_farmers['OG_Info__OGOrg_1_df'].iloc[744]['date_contracted']

In [92]:
# Ready to convert str to datetime
#all_farmers['OG_Info__OGOrg_1_df']['date_contracted'] = pd.to_datetime(all_farmers['OG_Info__OGOrg_1_df']['date_contracted'])

In [138]:
all_farmers['OG_Info__OGOrg_1_df']['date_dropped_out'] = pd.to_datetime(all_farmers['OG_Info__OGOrg_1_df']['date_dropped_out'])

/var/folders/x5/v1d8l9v94679fhr8vd07ys9c0000gn/T/ipykernel_1712/3224109209.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  all_farmers['OG_Info__OGOrg_1_df']['date_dropped_out'] = pd.to_datetime(all_farmers['OG_Info__OGOrg_1_df']['date_dropped_out'])

In [139]:
all_farmers['OG_Info__OGOrg_1_df'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1403 entries, 0 to 1402
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        1403 non-null   int64
 1   og_nr                     1403 non-null   int64
 2   og_code                   1403 non-null   object
 3   production_unit           1403 non-null   object
 4   area                      1403 non-null   object
 5   ward_nr/name              1403 non-null   object
 6   species                   1403 non-null   object
 7   surname                   1403 non-null   object
 8   first_names               1403 non-null   object
 9   sex                       1403 non-null   object
 10  id_number                 1310 non-null   object
 11  date_of_birth             930 non-null    datetime64[ns]
 12  date_contracted           1401 non-null   datetime64[ns]
 13  date_dropped_out          405 non-null    datetime64[ns]
 14  reason_dropped_out        264 non-null    object
 15  organic_status            1403 non-null   object
 16  address                   1192 non-null   object
 17  organic_status_from_date  1403 non-null   object
 18  fairtrade                 1403 non-null   bool
 19  ward_nr                   1403 non-null   int64
dtypes: bool(1), datetime64[ns](3), int64(3), object(13)
memory usage: 209.8+ KB

#### wc_info_bayoba_1_df

In [95]:
all_farmers['wc_info_bayoba_1_df'].info()

# need to convert date_of_birth, date_contracted and date_dropped_out

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10952 entries, 0 to 10951
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        10952 non-null  int64
 1   wc_nr                     10952 non-null  int64
 2   wc_code                   10952 non-null  object
 3   production_unit           10952 non-null  object
 4   area                      10952 non-null  object
 5   ward_nr/name              10535 non-null  object
 6   species                   10952 non-null  object
 7   surname                   10951 non-null  object
 8   first_names               10949 non-null  object
 9   sex                       10952 non-null  object
 10  id_number                 10248 non-null  object
 11  date_contracted           10951 non-null  object
 12  date_dropped_out          1924 non-null   object
 13  reason_dropped_out        1054 non-null   object
 14  address                   10779 non-null  object
 15  organic_status            10952 non-null  object
 16  organic_status_from_date  6867 non-null   object
 17  fairtrade                 10952 non-null  bool
 18  date_of_birth             990 non-null    object
 19  ward_nr                   10535 non-null  float64
dtypes: bool(1), float64(1), int64(2), object(16)
memory usage: 1.6+ MB

In [96]:
all_farmers['wc_info_bayoba_1_df']['date_of_birth'] = pd.to_datetime(all_farmers['wc_info_bayoba_1_df']['date_of_birth'])

In [97]:
all_farmers['wc_info_bayoba_1_df']['date_contracted'] = pd.to_datetime(all_farmers['wc_info_bayoba_1_df']['date_contracted'])

In [98]:
all_farmers['wc_info_bayoba_1_df']['date_dropped_out'] = pd.to_datetime(all_farmers['wc_info_bayoba_1_df']['date_dropped_out'])

In [99]:
all_farmers['wc_info_bayoba_1_df'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10952 entries, 0 to 10951
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        10952 non-null  int64
 1   wc_nr                     10952 non-null  int64
 2   wc_code                   10952 non-null  object
 3   production_unit           10952 non-null  object
 4   area                      10952 non-null  object
 5   ward_nr/name              10535 non-null  object
 6   species                   10952 non-null  object
 7   surname                   10951 non-null  object
 8   first_names               10949 non-null  object
 9   sex                       10952 non-null  object
 10  id_number                 10248 non-null  object
 11  date_contracted           10951 non-null  datetime64[ns]
 12  date_dropped_out          1924 non-null   datetime64[ns]
 13  reason_dropped_out        1054 non-null   object
 14  address                   10779 non-null  object
 15  organic_status            10952 non-null  object
 16  organic_status_from_date  6867 non-null   object
 17  fairtrade                 10952 non-null  bool
 18  date_of_birth             990 non-null    datetime64[ns]
 19  ward_nr                   10535 non-null  float64
dtypes: bool(1), datetime64[ns](3), float64(1), int64(2), object(13)
memory usage: 1.6+ MB

#### wc_info__WCOrg_1_df

In [100]:
all_farmers['wc_info__WCOrg_1_df'].info()

# has no date_of_birth column -> 19 columns
# need to convert date_contracted and date_dropped_out

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 565 entries, 0 to 564
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        565 non-null    int64
 1   wc_nr                     565 non-null    int64
 2   wc_code                   565 non-null    object
 3   production_unit           565 non-null    object
 4   area                      565 non-null    object
 5   ward_nr/name              563 non-null    object
 6   species                   565 non-null    object
 7   surname                   564 non-null    object
 8   first_names               564 non-null    object
 9   sex                       565 non-null    object
 10  id_number                 472 non-null    object
 11  date_contracted           558 non-null    object
 12  reason_dropped_out        142 non-null    object
 13  address                   530 non-null    object
 14  organic_status            564 non-null    object
 15  organic_status_from_date  547 non-null    object
 16  fairtrade                 565 non-null    bool
 17  date_dropped_out          426 non-null    object
 18  ward_nr                   563 non-null    float64
dtypes: bool(1), float64(1), int64(2), object(15)
memory usage: 80.1+ KB

In [101]:
all_farmers['wc_info__WCOrg_1_df']['date_contracted'] = pd.to_datetime(all_farmers['wc_info__WCOrg_1_df']['date_contracted'])

In [102]:
all_farmers['wc_info__WCOrg_1_df']['date_dropped_out'] = pd.to_datetime(all_farmers['wc_info__WCOrg_1_df']['date_dropped_out'])

/var/folders/x5/v1d8l9v94679fhr8vd07ys9c0000gn/T/ipykernel_1712/68422980.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  all_farmers['wc_info__WCOrg_1_df']['date_dropped_out'] = pd.to_datetime(all_farmers['wc_info__WCOrg_1_df']['date_dropped_out'])

In [103]:
all_farmers['wc_info__WCOrg_1_df'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 565 entries, 0 to 564
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        565 non-null    int64
 1   wc_nr                     565 non-null    int64
 2   wc_code                   565 non-null    object
 3   production_unit           565 non-null    object
 4   area                      565 non-null    object
 5   ward_nr/name              563 non-null    object
 6   species                   565 non-null    object
 7   surname                   564 non-null    object
 8   first_names               564 non-null    object
 9   sex                       565 non-null    object
 10  id_number                 472 non-null    object
 11  date_contracted           558 non-null    datetime64[ns]
 12  reason_dropped_out        142 non-null    object
 13  address                   530 non-null    object
 14  organic_status            564 non-null    object
 15  organic_status_from_date  547 non-null    object
 16  fairtrade                 565 non-null    bool
 17  date_dropped_out          426 non-null    datetime64[ns]
 18  ward_nr                   563 non-null    float64
dtypes: bool(1), datetime64[ns](2), float64(1), int64(2), object(13)
memory usage: 80.1+ KB

#### OG_Info_reserve__OGOrg_1_df

In [104]:
all_farmers['OG_Info_reserve__OGOrg_1_df'].info()

# need to convert date_of_birth, date_contracted and date_dropped_out

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 795 entries, 0 to 794
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        795 non-null    int64
 1   og_nr                     795 non-null    int64
 2   og_code                   795 non-null    object
 3   production_unit           795 non-null    object
 4   area                      795 non-null    object
 5   ward_nr/name              794 non-null    object
 6   species                   795 non-null    object
 7   surname                   795 non-null    object
 8   first_names               795 non-null    object
 9   sex                       795 non-null    object
 10  id_number                 734 non-null    object
 11  date_of_birth             267 non-null    object
 12  date_contracted           795 non-null    object
 13  date_dropped_out          255 non-null    object
 14  reason_dropped_out        257 non-null    object
 15  address                   785 non-null    object
 16  organic_status            795 non-null    object
 17  organic_status_from_date  795 non-null    object
 18  fairtrade                 795 non-null    bool
 19  ward_nr                   794 non-null    float64
dtypes: bool(1), float64(1), int64(2), object(16)
memory usage: 118.9+ KB

In [105]:
all_farmers['OG_Info_reserve__OGOrg_1_df']['date_of_birth'] = pd.to_datetime(all_farmers['OG_Info_reserve__OGOrg_1_df']['date_of_birth'])

In [106]:
all_farmers['OG_Info_reserve__OGOrg_1_df']['date_contracted'] = pd.to_datetime(all_farmers['OG_Info__OGOrg_1_df']['date_contracted'])

/var/folders/x5/v1d8l9v94679fhr8vd07ys9c0000gn/T/ipykernel_1712/3668676332.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  all_farmers['OG_Info_reserve__OGOrg_1_df']['date_contracted'] = pd.to_datetime(all_farmers['OG_Info__OGOrg_1_df']['date_contracted'])

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 218-08-19 00:00:00 present at position 59

In [ ]:
all_farmers['OG_Info_reserve__OGOrg_1_df']['date_dropped_out'] = pd.to_datetime(all_farmers['OG_Info_reserve__OGOrg_1_df']['date_dropped_out'])

In [ ]:
all_farmers['OG_Info_reserve__OGOrg_1_df'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 795 entries, 0 to 794
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        795 non-null    int64
 1   og_nr                     795 non-null    int64
 2   og_code                   795 non-null    object
 3   production_unit           795 non-null    object
 4   area                      795 non-null    object
 5   ward_nr/name              794 non-null    object
 6   species                   795 non-null    object
 7   surname                   795 non-null    object
 8   first_names               795 non-null    object
 9   sex                       795 non-null    object
 10  id_number                 734 non-null    object
 11  date_of_birth             267 non-null    datetime64[ns]
 12  date_contracted           795 non-null    datetime64[ns]
 13  date_dropped_out          255 non-null    datetime64[ns]
 14  reason_dropped_out        257 non-null    object
 15  address                   785 non-null    object
 16  organic_status            795 non-null    object
 17  organic_status_from_date  795 non-null    object
 18  fairtrade                 795 non-null    bool
 19  ward_nr                   794 non-null    float64
dtypes: bool(1), datetime64[ns](3), float64(1), int64(2), object(13)
memory usage: 118.9+ KB

## Collecting Date of Birth

In order to merge with 'wc_info__WCOrg_1_df'

In [ ]:
all_birthdates = {}

all_birthdates['wc_insp_2013__WCOrg_df'] = sf.get_dataframe(f'SELECT * FROM {schema}."wc_insp_2013__WCOrg"')
all_birthdates['wc_insp_2014__WCOrg_df'] = sf.get_dataframe(f'SELECT * FROM {schema}."wc_insp_2014__WCOrg"')
all_birthdates['wc_insp_2015__WCOrg_df'] = sf.get_dataframe(f'SELECT * FROM {schema}."wc_insp_2015__WCOrg"')
all_birthdates['wc_insp_2016__WCOrg_df'] = sf.get_dataframe(f'SELECT * FROM {schema}."wc_insp_2016__WCOrg"')
all_birthdates['wc_insp_2017__WCOrg_df'] = sf.get_dataframe(f'SELECT * FROM {schema}."wc_insp_2017__WCOrg"')

In [ ]:
# Reduce df to the necessary ~2 columns
columns_to_keep = ['WC_Nr', 'Date_of_birth']

In [ ]:
# Keep only 2 columns, set all column names to lowercase and convert date_of_birth in all dfs to datetime

def clean_df(df):
    df = df.loc[:,columns_to_keep]
    
    df.columns = map(str.lower, df.columns)

    df['date_of_birth'] = pd.to_datetime(df['date_of_birth'])
    print(df.info())

    return df

In [ ]:
all_birthdates['wc_insp_2013__WCOrg_df']

,ID,Area,Full_Name,Date_of_Inspection,WC_Nr,Internal_Inspector,Date_of_birth,Marital_status,Sex,DataInspectionID,...,Compliance_this_year_inspector,Recurrent_sanctions,"If_yes,_which",Conditions_or_explanation,Signature_farmer,Signature_Internal_Inspector,Compliance_this_year_approval_manager,Additional_conditions_or_sanctions,Signature_approval_manager,Certification_proof_2013
0,1,Hwange,Joshua Ngwenya,2013-07-14 00:00:00.000,1775.0,Ngoni,1955-10-05 00:00:00.000,married,male,92.0,...,approve without conditions,no,None,None,yes,yes,approve without conditions,None,yes,None
1,2,Hwange,Elis Mate,2013-07-15 00:00:00.000,2901.0,Ngoni,None,married,female,190.0,...,approve without conditions,no,None,None,yes,yes,approve without conditions,None,yes,None
2,3,Hwange,Marvelous Moyo,2013-07-14 00:00:00.000,2902.0,Shelter,1995-09-16 00:00:00.000,single,male,191.0,...,approve without conditions,no,None,None,yes,yes,approve without conditions,None,yes,None
3,4,Hwange,Jessy Moyo,2013-07-15 00:00:00.000,2903.0,Norman,1933-01-01 00:00:00.000,widowed,female,192.0,...,approve without conditions,no,None,None,yes,yes,approve without conditions,None,yes,None
4,5,Hwange,Violet Dube,2013-07-15 00:00:00.000,2904.0,Admire,1932-09-03 00:00:00.000,married,female,193.0,...,approve with conditions,no,None,sticking to the KAITE standards,yes,yes,approve with conditions,None,yes,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
276,279,Chimanimani,Merita Sithole,2013-08-26 00:00:00.000,2472.0,Norman,None,married,female,675.0,...,approve with conditions,no,None,To ensure proper storage,yes,yes,approve with conditions,None,yes,None
277,280,Chipinge,Herbert Sithole,2013-08-29 00:00:00.000,1369.0,Shelter,1971-04-24 00:00:00.000,married,male,683.0,...,approve with conditions,no,None,To learn more on organic standards,yes,yes,approve with conditions,None,yes,None
278,281,Chipinge,Esnath Mashava,2013-08-29 00:00:00.000,1371.0,Shelter,1973-03-23 00:00:00.000,widowed,female,685.0,...,approve without conditions,no,None,None,yes,yes,approve without conditions,None,yes,None
279,282,Chipinge,Shongaiyi Nduma,2013-08-29 00:00:00.000,1403.0,Shelter,1952-07-06 00:00:00.000,married,female,687.0,...,approve without conditions,no,None,None,yes,yes,approve without conditions,None,yes,None
280,283,Chipinge,Cecilia Masekesa,2013-08-29 00:00:00.000,1386.0,Shelter,None,married,female,690.0,...,approve without conditions,no,None,None,yes,yes,approve without conditions,None,yes,None

#### Concating all birthdate dfs from dict

In [ ]:
all_birthdates_df = pd.concat(all_birthdates.values())

In [ ]:
all_birthdates_df

,ID,Area,Full_Name,Date_of_Inspection,WC_Nr,Internal_Inspector,Date_of_birth,Marital_status,Sex,DataInspectionID,...,Overall_comment,HH_under_5_years_female,HH_under_5_years_male,HH_5-17_years_female,HH_5-17_years_male,HH_18-59_years_female,HH_18-59_years_male,HH_over_60_years_female,HH_over_60_years_male,Months_food_lasts
0,1,Hwange,Joshua Ngwenya,2013-07-14 00:00:00.000,1775.0,Ngoni,1955-10-05 00:00:00.000,married,male,92.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Hwange,Elis Mate,2013-07-15 00:00:00.000,2901.0,Ngoni,None,married,female,190.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Hwange,Marvelous Moyo,2013-07-14 00:00:00.000,2902.0,Shelter,1995-09-16 00:00:00.000,single,male,191.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Hwange,Jessy Moyo,2013-07-15 00:00:00.000,2903.0,Norman,1933-01-01 00:00:00.000,widowed,female,192.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Hwange,Violet Dube,2013-07-15 00:00:00.000,2904.0,Admire,1932-09-03 00:00:00.000,married,female,193.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,7,NaN,NaN,NaN,3965.0,Norman,1974-08-05 00:00:00.000,NaN,NaN,NaN,...,None,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,3.0
6,8,NaN,NaN,NaN,3699.0,Norman,1957-06-01 00:00:00.000,NaN,NaN,NaN,...,None,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0
7,9,NaN,NaN,NaN,4143.0,Tendai,1963-02-02 00:00:00.000,NaN,NaN,NaN,...,None,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,12.0
8,10,NaN,NaN,NaN,4144.0,Norman,1972-09-01 00:00:00.000,NaN,NaN,NaN,...,None,0.0,1.0,1.0,3.0,1.0,1.0,0.0,0.0,12.0
9,11,NaN,NaN,NaN,4145.0,Norman,1962-04-04 00:00:00.000,NaN,NaN,NaN,...,None,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0

In [ ]:
all_birthdates_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5473 entries, 0 to 9
Columns: 165 entries, ID to Months_food_lasts
dtypes: float64(22), int64(1), object(142)
memory usage: 6.9+ MB

#### Droping duplicates

In [ ]:
# Counting duplicated Wc_Nr to drop them

all_birthdates_df["wc_nr"].duplicated().value_counts()

KeyError: 'wc_nr'

In [ ]:
all_birthdates_df = all_birthdates_df.drop_duplicates(subset="wc_nr")

In [ ]:
all_birthdates_df.isnull().sum()

wc_nr               1
date_of_birth    3454
dtype: int64

In [ ]:
all_birthdates_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3745 entries, 0 to 9
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   wc_nr          3744 non-null   float64
 1   date_of_birth  291 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1)
memory usage: 87.8 KB

In [ ]:
all_birthdates_df["date_of_birth"].isnull().value_counts()

True     3454
False     291
Name: date_of_birth, dtype: int64

In [ ]:
len(list(set(all_birthdates_df["wc_nr"]) & set(all_farmers['wc_info__WCOrg_1_df'][['wc_nr']].squeeze())))

453

#### Merge all_birthdates_df to wc_info__WCOrg_1_df

In [ ]:
all_farmers['wc_info__WCOrg_1_df'] = pd.merge(all_farmers['wc_info__WCOrg_1_df'], all_birthdates_df, how="left", on="wc_nr")

In [ ]:
all_farmers['wc_info__WCOrg_1_df']

,id,wc_nr,wc_code,production_unit,area,ward_nr/name,species,surname,first_names,sex,id_number,date_contracted,reason_dropped_out,address,organic_status,organic_status_from_date,fairtrade,date_dropped_out,ward_nr,date_of_birth
0,4942,3962,HWWC,Matabeleland North,Hwange,6 Gondwa,Devils Claw,Moyo,Pios,male,None,2014-07-07,None,Secretariat Sch Vic Falls,Org,None,False,NaT,6.0,NaT
1,5608,3692,HWWC,Matabeleland North,Hwange,6 Gondwa,Devils Claw,Ncube,Mwayani,male,79-124391X79,2015-03-14,None,"Mironga School, Vic Falls",Org,None,False,NaT,6.0,NaT
2,10630,1773,HWWC,Matabeleland North,Hwange,3 Kachechete,Devils Claw,Ncube,Engel,female,08-161126N39,2012-10-06,None,"Bethesda Sch, Vic-Falls",Org,2017-11-11,False,2017-11-21,3.0,NaT
3,1763,1772,HWWC,Matabeleland North,Hwange,3 Kachechete,Devils Claw,Dube,Samson,Male,79-031011X79,2012-10-06,None,"Bethesda Sch, Vic-Falls",Org,2017-06-19,False,NaT,3.0,1957-10-02
4,1766,1775,HWWC,Matabeleland North,Hwange,3 Kachechete,Devils Claw,Ngwenya,Joshua,Male,79-011290L79,2012-10-06,None,"Bethesda Sch, Vic-Falls",Org,2017-06-19,False,NaT,3.0,1955-10-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560,11146,1057,CMWC,Manicaland,Chimanimani Rusitu,21,Wild Gotu kola,Zaranyika,Vaina,female,None,NaT,None,"Hode Pry Sch, Bag 2051, Chimanimani",Reinstated,2019-03-09,False,2021-01-29,21.0,NaT
561,11147,21040,CMWC,Manicaland,Chimanimani Rusitu,21,Wild Gotu kola,Chibawana,Violet,female,None,NaT,None,"Hode Pry Sch, Bag 2051, Chimanimani",Reinstated,2019-03-09,False,2021-01-29,21.0,NaT
562,11148,2555,CMWC,Manicaland,Chimanimani Rusitu,21,Wild Gotu kola,Hofisi,Christine,female,None,NaT,None,"Hode Pry Sch, Bag 2051, Chimanimani",Reinstated,None,False,2021-01-29,21.0,NaT
563,11149,2066,CMWC,Manicaland,Chimanimani Rusitu,21,Wild Gotu Kola,Mudada,Marjorie,female,None,NaT,None,"Hode Pry Sch, Bag 2051, Chimanimani",Reinstated,2019-03-09,False,2021-01-29,21.0,NaT
564,11150,1069,CMWC,Manicaland,Chimanimani Rusitu,21,Wild gotu kola,Nyamwazha,Martha,female,None,NaT,None,"Hode Pry Sch, Bag 2051, Chimanimani",Reinstated,2019-03-09,False,2021-01-29,21.0,NaT

In [ ]:
all_farmers['wc_info__WCOrg_1_df'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 565 entries, 0 to 564
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        565 non-null    int64
 1   wc_nr                     565 non-null    int64
 2   wc_code                   565 non-null    object
 3   production_unit           565 non-null    object
 4   area                      565 non-null    object
 5   ward_nr/name              563 non-null    object
 6   species                   565 non-null    object
 7   surname                   564 non-null    object
 8   first_names               564 non-null    object
 9   sex                       565 non-null    object
 10  id_number                 472 non-null    object
 11  date_contracted           558 non-null    datetime64[ns]
 12  reason_dropped_out        142 non-null    object
 13  address                   530 non-null    object
 14  organic_status            564 non-null    object
 15  organic_status_from_date  547 non-null    object
 16  fairtrade                 565 non-null    bool
 17  date_dropped_out          426 non-null    datetime64[ns]
 18  ward_nr                   563 non-null    float64
 19  date_of_birth             39 non-null     datetime64[ns]
dtypes: bool(1), datetime64[ns](3), float64(1), int64(2), object(13)
memory usage: 88.8+ KB

## Final merge of farmer dfs

Verify shapes of dfs

In [ ]:
for name, df in all_farmers.items():
    print(name)
    print(df.shape)

OGInfo__OGMB_1_df
(8166, 19)
OG_Info__OGOrg_1_df
(1403, 20)
wc_info_bayoba_1_df
(10952, 20)
wc_info__WCOrg_1_df
(565, 20)
OG_Info_reserve__OGOrg_1_df
(795, 20)

In [ ]:
# ['ward_nr'] column still missing:

all_farmers['OGInfo__OGMB_1_df'][['ward_nr']] = all_farmers['OGInfo__OGMB_1_df'][['ward_nr/name']]
all_farmers['OGInfo__OGMB_1_df'].shape

(8166, 20)

In [ ]:
concated_farmers = pd.concat(all_farmers)

In [ ]:
concated_farmers.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 21881 entries, ('OGInfo__OGMB_1_df', 0) to ('OG_Info_reserve__OGOrg_1_df', 794)
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        21881 non-null  int64
 1   og_nr                     10364 non-null  float64
 2   og_code                   10364 non-null  object
 3   production_unit           21881 non-null  object
 4   area                      21881 non-null  object
 5   ward_nr/name              21461 non-null  object
 6   species                   21881 non-null  object
 7   surname                   21879 non-null  object
 8   first_names               21877 non-null  object
 9   sex                       21881 non-null  object
 10  id_number                 19837 non-null  object
 11  date_of_birth             2883 non-null   datetime64[ns]
 12  date_contracted           21871 non-null  datetime64[ns]
 13  date_dropped_out          10063 non-null  datetime64[ns]
 14  reason_dropped_out        8304 non-null   object
 15  address                   21397 non-null  object
 16  organic_status            21880 non-null  object
 17  organic_status_from_date  17778 non-null  object
 18  fairtrade                 21881 non-null  bool
 19  ward_nr                   21461 non-null  float64
 20  wc_nr                     11517 non-null  float64
 21  wc_code                   11517 non-null  object
dtypes: bool(1), datetime64[ns](3), float64(3), int64(1), object(14)
memory usage: 3.9+ MB

In [ ]:
concated_farmers

                                    id    og_nr og_code      production_unit  \
OGInfo__OGMB_1_df           0     1545  13137.0   MBOGR  Mashonaland Central
                            1    12026  12116.0   MBOGR  Mashonaland Central
                            2     9914  23949.0   MBOGK  Mashonaland Central
                            3     9915  23950.0   MBOGK  Mashonaland Central
                            4     9916  23951.0   MBOGK  Mashonaland Central
...                                ...      ...     ...                  ...
OG_Info_reserve__OGOrg_1_df 790   3546  20023.0    MUOG  Mashonaland Central
                            791   3549  20026.0    MUOG  Mashonaland Central
                            792   3550  20027.0    MUOG  Mashonaland Central
                            793   3551  20028.0    MUOG  Mashonaland Central
                            794   1861  14001.0    BNOG   Matabeleland North

                                     area ward_nr/name  \
OGInfo__OGMB_1_df           0       Mbire           15
                            1       Mbire            6
                            2       Mbire           13
                            3       Mbire           13
                            4       Mbire           13
...                                   ...          ...
OG_Info_reserve__OGOrg_1_df 790  Mushumbi            3
                            791  Mushumbi            3
                            792  Mushumbi            3
                            793  Mushumbi            3
                            794     Binga      11 Lubu

                                                  species    surname  \
OGInfo__OGMB_1_df           0                     Rosella  Nyamayaro
                            1                     Rosella      Funda
                            2                     Rosella  Chingwena
                            3                     Rosella    Marumbe
                            4                     Rosella   Dambudzo
...                                                   ...        ...
OG_Info_reserve__OGOrg_1_df 790  Rosella, Chilli, Paprika    Myundia
                            791  Rosella, Chilli, Paprika      Nhete
                            792  Rosella, Chilli, Paprika    Musiiwa
                            793  Rosella, Chilli, Paprika    Masodzi
                            794                   Rosella     Mwembe

                                first_names     sex  ... date_contracted  \
OGInfo__OGMB_1_df           0       Phillip    male  ...             NaT
                            1        Jennie  female  ...      2022-04-02
                            2        Gladys  female  ...      2020-03-23
                            3        Tariro  female  ...      2020-03-23
                            4         Ketai  female  ...      2020-03-23
...                                     ...     ...  ...             ...
OG_Info_reserve__OGOrg_1_df 790    Thandiwe  female  ...      2018-08-19
                            791      Stella  female  ...      2018-08-19
                            792      Admire    male  ...      2018-08-19
                            793       Norah  female  ...      2018-08-19
                            794      Mutale  female  ...      2018-08-19

                                date_dropped_out reason_dropped_out  \
OGInfo__OGMB_1_df           0         2020-02-05         Own choice
                            1                NaT               None
                            2         2021-07-26        Area closed
                            3         2021-07-26        Area closed
                            4         2021-07-26        Area closed
...                                          ...                ...
OG_Info_reserve__OGOrg_1_df 790              NaT               None
                            791              NaT               None
                            792              NaT               None
                            793              NaT               None
                            794              NaT               None

                                                              address  \
OGInfo__OGMB_1_df           0             Mahuwe sch, Box 92, Mbire D
                            1        Kasuwo Primary School 346, Mbire
                            2         Sapa Primary School P O Box 203
                            3         Sapa Primary School P O Box 203
                            4         Sapa Primary School P O Box 203
...                                                               ...
OG_Info_reserve__OGOrg_1_df 790         ARDA Mushumbi, Box 210, Mbire
                            791         ARDA Mushumbi, Box 210, Mbire
                            792         ARDA Mushumbi, Box 210, Mbire
                            793         ARDA Mushumbi, Box 210, Mbire
                            794  Lubu primary School P Bag 5729 Binga

                                organic_status organic_status_from_date  \
OGInfo__OGMB_1_df           0          Dropout  2017-12-02 00:00:00.000
                            1        Mabagrown  2022-04-02 00:00:00.000
                            2          Dropout  2020-03-23 00:00:00.000
                            3          Dropout  2020-03-23 00:00:00.000
                            4          Dropout  2020-03-23 00:00:00.000
...                                        ...                      ...
OG_Info_reserve__OGOrg_1_df 790            New               2019-02-01
                            791            New               2019-02-01
                            792            New               2019-02-01
                            793            New               2019-02-01
                            794            Org               2018-08-31

                                fairtrade ward_nr  wc_nr  wc_code
OGInfo__OGMB_1_df           0       False    15.0    NaN      NaN
                            1       False     6.0    NaN      NaN
                            2       False    13.0    NaN      NaN
                            3       False    13.0    NaN      NaN
                            4       False    13.0    NaN      NaN
...                                   ...     ...    ...      ...
OG_Info_reserve__OGOrg_1_df 790     False     3.0    NaN      NaN
                            791     False     3.0    NaN      NaN
                            792     False     3.0    NaN      NaN
                            793     False     3.0    NaN      NaN
                            794     False    11.0    NaN      NaN

[21881 rows x 22 columns]

# Clean and analyze concated_farmers

1. Drop duplicates
2. Count number of records by category
3. Find unique column

In [ ]:
# Looking for Duplicates
concated_farmers.duplicated().value_counts()

# 73 duplicates

False    21807
True        74
dtype: int64

In [ ]:
df_dup = concated_farmers[concated_farmers.duplicated()]
df_dup

                                   id    og_nr og_code     production_unit  \
OG_Info_reserve__OGOrg_1_df 0     110   3463.0    BNOG  Matabeleland North
                            1     151   4084.0    BNOG  Matabeleland North
                            2     152   4085.0    BNOG  Matabeleland North
                            3     153   4088.0    BNOG  Matabeleland North
                            7    2143  19485.0    BNOG  Matabeleland North
...                               ...      ...     ...                 ...
                            685   321   3685.0    BNOG  Matabeleland North
                            697   101   3056.0    BNOG  Matabeleland North
                            698   102   3059.0    BNOG  Matabeleland North
                            714  1893  14034.0    BNOG  Matabeleland North
                            727  2189  19479.0    BNOG  Matabeleland North

                                  area  ward_nr/name  species  surname  \
OG_Info_reserve__OGOrg_1_df 0    Binga    5 Sinakoma  Rosella  Munenge
                            1    Binga    5 Sinakoma  Rosella   Muleya
                            2    Binga    5 Sinakoma  Rosella   Mutale
                            3    Binga    5 Sinakoma  Rosella  Mudende
                            7    Binga    5 Sinakoma  Rosella   Mutale
...                                ...           ...      ...      ...
                            685  Binga  15 Kariangwe  Rosella  Ngwenya
                            697  Binga       11 Lubu  Rosella  Munkuli
                            698  Binga       11 Lubu  Rosella  Munenge
                            714  Binga    5 Sinakoma  Rosella  Mudenda
                            727  Binga    5 Sinakoma  Rosella   Mukuli

                                         first_names     sex  ...  \
OG_Info_reserve__OGOrg_1_df 0                  Vaina  female  ...
                            1                Belitha  female  ...
                            2                   Mary  female  ...
                            3                  Nolia  female  ...
                            7               Opponate  female  ...
...                                              ...     ...  ...
                            685               Oliver    male  ...
                            697               Saliya  female  ...
                            698  Rosina 06-013380G06  female  ...
                            714            Sethukile  female  ...
                            727               Gladys  female  ...

                                date_contracted date_dropped_out  \
OG_Info_reserve__OGOrg_1_df 0        2018-08-19              NaT
                            1        2018-08-19              NaT
                            2        2018-08-19              NaT
                            3        2018-08-19              NaT
                            7        2018-08-19       2018-11-15
...                                         ...              ...
                            685      2018-08-19              NaT
                            697      2018-08-19              NaT
                            698      2018-08-19              NaT
                            714      2018-08-19       2018-11-14
                            727      2018-08-19       2018-11-15

                                         reason_dropped_out  \
OG_Info_reserve__OGOrg_1_df 0                          None
                            1                          None
                            2                          None
                            3                          None
                            7    Insufficient documentation
...                                                     ...
                            685                        None
                            697                        None
                            698                        None
                            714  Insufficient documentation
                            727  Insufficient documentation

                                                               address  \
OG_Info_reserve__OGOrg_1_df 0       Nsenga Primary School Box 46 Binga
                            1       Nsenga Primary School Box 46 Binga
                            2       Nsenga Primary School Box 46 Binga
                            3       Nsenga Primary School Box 46 Binga
                            7    Dongamuse Primary School Box 83 Binga
...                                                                ...
                            685                        Mseme Sch Binga
                            697     Lubu Primary School Box 5729 Binga
                            698     Lubu Primary School Box 5729 Binga
                            714                   Dongamuse Pri school
                            727                  Nsenga Primary School

                                organic_status organic_status_from_date  \
OG_Info_reserve__OGOrg_1_df 0              Org               2016-10-25
                            1              Org               2014-02-17
                            2              Org               2016-10-25
                            3              Org               2014-02-17
                            7          Dropout               2018-08-10
...                                        ...                      ...
                            685            Org               2015-02-26
                            697            Org               2013-03-19
                            698            Org               2013-03-19
                            714        Dropout               2018-08-31
                            727        Dropout               2018-10-06

                                fairtrade ward_nr  wc_nr  wc_code
OG_Info_reserve__OGOrg_1_df 0        True     5.0    NaN      NaN
                            1        True     5.0    NaN      NaN
                            2        True     5.0    NaN      NaN
                            3        True     5.0    NaN      NaN
                            7       False     5.0    NaN      NaN
...                                   ...     ...    ...      ...
                            685      True    15.0    NaN      NaN
                            697      True    11.0    NaN      NaN
                            698      True    11.0    NaN      NaN
                            714     False     5.0    NaN      NaN
                            727     False     5.0    NaN      NaN

[74 rows x 22 columns]

In [ ]:
ls_dup_og_nr= list(df_dup['og_nr'])

In [ ]:
for ognr in ls_dup_og_nr:
    print(concated_farmers[concated_farmers['og_nr'] == ognr])

# duplicates trough OG_Info__OGOrg_1_df und OG_Info_reserve__OGOrg_1_df -> DROP duplicates in allfarmers

                                  id   og_nr og_code     production_unit  \
OG_Info__OGOrg_1_df         162  110  3463.0    BNOG  Matabeleland North
OG_Info_reserve__OGOrg_1_df 0    110  3463.0    BNOG  Matabeleland North

                                  area ward_nr/name  species  surname  \
OG_Info__OGOrg_1_df         162  Binga   5 Sinakoma  Rosella  Munenge
OG_Info_reserve__OGOrg_1_df 0    Binga   5 Sinakoma  Rosella  Munenge

                                first_names     sex  ... date_contracted  \
OG_Info__OGOrg_1_df         162       Vaina  female  ...      2018-08-19
OG_Info_reserve__OGOrg_1_df 0         Vaina  female  ...      2018-08-19

                                date_dropped_out reason_dropped_out  \
OG_Info__OGOrg_1_df         162              NaT               None
OG_Info_reserve__OGOrg_1_df 0                NaT               None

                                                            address  \
OG_Info__OGOrg_1_df         162  Nsenga Primary School Box 46 Binga
OG_Info_reserve__OGOrg_1_df 0    Nsenga Primary School Box 46 Binga

                                organic_status organic_status_from_date  \
OG_Info__OGOrg_1_df         162            Org               2016-10-25
OG_Info_reserve__OGOrg_1_df 0              Org               2016-10-25

                                fairtrade ward_nr  wc_nr  wc_code
OG_Info__OGOrg_1_df         162      True     5.0    NaN      NaN
OG_Info_reserve__OGOrg_1_df 0        True     5.0    NaN      NaN

[2 rows x 22 columns]
                                  id   og_nr og_code     production_unit  \
OG_Info__OGOrg_1_df         218  151  4084.0    BNOG  Matabeleland North
OG_Info_reserve__OGOrg_1_df 1    151  4084.0    BNOG  Matabeleland North

                                  area ward_nr/name  species surname  \
OG_Info__OGOrg_1_df         218  Binga   5 Sinakoma  Rosella  Muleya
OG_Info_reserve__OGOrg_1_df 1    Binga   5 Sinakoma  Rosella  Muleya

                                first_names     sex  ... date_contracted  \
OG_Info__OGOrg_1_df         218     Belitha  female  ...      2018-08-19
OG_Info_reserve__OGOrg_1_df 1       Belitha  female  ...      2018-08-19

                                date_dropped_out reason_dropped_out  \
OG_Info__OGOrg_1_df         218              NaT               None
OG_Info_reserve__OGOrg_1_df 1                NaT               None

                                                            address  \
OG_Info__OGOrg_1_df         218  Nsenga Primary School Box 46 Binga
OG_Info_reserve__OGOrg_1_df 1    Nsenga Primary School Box 46 Binga

                                organic_status organic_status_from_date  \
OG_Info__OGOrg_1_df         218            Org               2014-02-17
OG_Info_reserve__OGOrg_1_df 1              Org               2014-02-17

                                fairtrade ward_nr  wc_nr  wc_code
OG_Info__OGOrg_1_df         218      True     5.0    NaN      NaN
OG_Info_reserve__OGOrg_1_df 1        True     5.0    NaN      NaN

[2 rows x 22 columns]
                                  id   og_nr og_code     production_unit  \
OG_Info__OGOrg_1_df         219  152  4085.0    BNOG  Matabeleland North
OG_Info_reserve__OGOrg_1_df 2    152  4085.0    BNOG  Matabeleland North

                                  area ward_nr/name  species surname  \
OG_Info__OGOrg_1_df         219  Binga   5 Sinakoma  Rosella  Mutale
OG_Info_reserve__OGOrg_1_df 2    Binga   5 Sinakoma  Rosella  Mutale

                                first_names     sex  ... date_contracted  \
OG_Info__OGOrg_1_df         219        Mary  female  ...      2018-08-19
OG_Info_reserve__OGOrg_1_df 2          Mary  female  ...      2018-08-19

                                date_dropped_out reason_dropped_out  \
OG_Info__OGOrg_1_df         219              NaT               None
OG_Info_reserve__OGOrg_1_df 2                NaT               None

                                                            address  \
OG_Info__OGOrg_1_df         219  Nsenga Primary School Box 46 Binga
OG_Info_reserve__OGOrg_1_df 2    Nsenga Primary School Box 46 Binga

                                organic_status organic_status_from_date  \
OG_Info__OGOrg_1_df         219            Org               2016-10-25
OG_Info_reserve__OGOrg_1_df 2              Org               2016-10-25

                                fairtrade ward_nr  wc_nr  wc_code
OG_Info__OGOrg_1_df         219      True     5.0    NaN      NaN
OG_Info_reserve__OGOrg_1_df 2        True     5.0    NaN      NaN

[2 rows x 22 columns]
                                  id   og_nr og_code     production_unit  \
OG_Info__OGOrg_1_df         220  153  4088.0    BNOG  Matabeleland North
OG_Info_reserve__OGOrg_1_df 3    153  4088.0    BNOG  Matabeleland North

                                  area ward_nr/name  species  surname  \
OG_Info__OGOrg_1_df         220  Binga   5 Sinakoma  Rosella  Mudende
OG_Info_reserve__OGOrg_1_df 3    Binga   5 Sinakoma  Rosella  Mudende

                                first_names     sex  ... date_contracted  \
OG_Info__OGOrg_1_df         220       Nolia  female  ...      2018-08-19
OG_Info_reserve__OGOrg_1_df 3         Nolia  female  ...      2018-08-19

                                date_dropped_out reason_dropped_out  \
OG_Info__OGOrg_1_df         220              NaT               None
OG_Info_reserve__OGOrg_1_df 3                NaT               None

                                                            address  \
OG_Info__OGOrg_1_df         220  Nsenga Primary School Box 46 Binga
OG_Info_reserve__OGOrg_1_df 3    Nsenga Primary School Box 46 Binga

                                organic_status organic_status_from_date  \
OG_Info__OGOrg_1_df         220            Org               2014-02-17
OG_Info_reserve__OGOrg_1_df 3              Org               2014-02-17

                                fairtrade ward_nr  wc_nr  wc_code
OG_Info__OGOrg_1_df         220      True     5.0    NaN      NaN
OG_Info_reserve__OGOrg_1_df 3        True     5.0    NaN      NaN

[2 rows x 22 columns]
                                   id    og_nr og_code     production_unit  \
OG_Info__OGOrg_1_df         744  2143  19485.0    BNOG  Matabeleland North
OG_Info_reserve__OGOrg_1_df 7    2143  19485.0    BNOG  Matabeleland North

                                  area ward_nr/name  species surname  \
OG_Info__OGOrg_1_df         744  Binga   5 Sinakoma  Rosella  Mutale
OG_Info_reserve__OGOrg_1_df 7    Binga   5 Sinakoma  Rosella  Mutale

                                first_names     sex  ... date_contracted  \
OG_Info__OGOrg_1_df         744    Opponate  female  ...      2018-08-19
OG_Info_reserve__OGOrg_1_df 7      Opponate  female  ...      2018-08-19

                                date_dropped_out          reason_dropped_out  \
OG_Info__OGOrg_1_df         744       2018-11-15  Insufficient documentation
OG_Info_reserve__OGOrg_1_df 7         2018-11-15  Insufficient documentation

                                                               address  \
OG_Info__OGOrg_1_df         744  Dongamuse Primary School Box 83 Binga
OG_Info_reserve__OGOrg_1_df 7    Dongamuse Primary School Box 83 Binga

                                organic_status organic_status_from_date  \
OG_Info__OGOrg_1_df         744        Dropout               2018-08-10
OG_Info_reserve__OGOrg_1_df 7          Dropout               2018-08-10

                                fairtrade ward_nr  wc_nr  wc_code
OG_Info__OGOrg_1_df         744     False     5.0    NaN      NaN
OG_Info_reserve__OGOrg_1_df 7       False     5.0    NaN      NaN

[2 rows x 22 columns]
                                id   og_nr og_code     production_unit   area  \
OG_Info__OGOrg_1_df         44  30  2836.0    BNOG  Matabeleland North  Binga
OG_Info_reserve__OGOrg_1_df 25  30  2836.0    BNOG  Matabeleland North  Binga

                               ward_nr/name  species  surname first_names  \
OG_Info__OGOrg_1_df         44   5 Sinakoma  Rosella  Munkuli       Nolia
OG_Info_reserve__OGOrg_1_df 25   5 Sinakoma  Rosella  Munkuli       Nolia

                                   sex  ... date_contracted date_dropped_out  \
OG_Info__OGOrg_1_df         44  female  ...      2018-08-19              NaT
OG_Info_reserve__OGOrg_1_df 25  female  ...      2018-08-19              NaT

                               reason_dropped_out  \
OG_Info__OGOrg_1_df         44               None
OG_Info_reserve__OGOrg_1_df 25               None

                                                           address  \
OG_Info__OGOrg_1_df         44  Nsenga Primary School Box 46 Binga
OG_Info_reserve__OGOrg_1_df 25  Nsenga Primary School Box 46 Binga

                               organic_status organic_status_from_date  \
OG_Info__OGOrg_1_df         44            Org               2012-12-06
OG_Info_reserve__OGOrg_1_df 25            Org               2012-12-06

                               fairtrade ward_nr  wc_nr  wc_code
OG_Info__OGOrg_1_df         44      True     5.0    NaN      NaN
OG_Info_reserve__OGOrg_1_df 25      True     5.0    NaN      NaN

[2 rows x 22 columns]
                                id   og_nr og_code     production_unit   area  \
OG_Info__OGOrg_1_df         45  31  2837.0    BNOG  Matabeleland North  Binga
OG_Info_reserve__OGOrg_1_df 26  31  2837.0    BNOG  Matabeleland North  Binga

                               ward_nr/name  species    surname first_names  \
OG_Info__OGOrg_1_df         45   5 Sinakoma  Rosella  Malyabila      Elinah
OG_Info_reserve__OGOrg_1_df 26   5 Sinakoma  Rosella  Malyabila      Elinah

                                   sex  ... date_contracted date_dropped_out  \
OG_Info__OGOrg_1_df         45  female  ...      2018-08-19              NaT
OG_Info_reserve__OGOrg_1_df 26  female  ...      2018-08-19              NaT

                               reason_dropped_out  \
OG_Info__OGOrg_1_df         45               None
OG_Info_reserve__OGOrg_1_df 26               None

                                                           address  \
OG_Info__OGOrg_1_df         45  Nsenga Primary School Box 46 Binga
OG_Info_reserve__OGOrg_1_df 26  Nsenga Primary School Box 46 Binga

                               organic_status organic_status_from_date  \
OG_Info__OGOrg_1_df         45            Org               2016-10-25
OG_Info_reserve__OGOrg_1_df 26            Org               2016-10-25

                               fairtrade ward_nr  wc_nr  wc_code
OG_Info__OGOrg_1_df         45      True     5.0    NaN      NaN
OG_Info_reserve__OGOrg_1_df 26      True     5.0    NaN      NaN

[2 rows x 22 columns]
                                id   og_nr og_code     production_unit   area  \
OG_Info__OGOrg_1_df         52  34  2843.0    BNOG  Matabeleland North  Binga
OG_Info_reserve__OGOrg_1_df 29  34  2843.0    BNOG  Matabeleland North  Binga

                               ward_nr/name  species   surname first_names  \
OG_Info__OGOrg_1_df         52   5 Sinakoma  Rosella  Muchimba       Elisa
OG_Info_reserve__OGOrg_1_df 29   5 Sinakoma  Rosella  Muchimba       Elisa

                                   sex  ... date_contracted date_dropped_out  \
OG_Info__OGOrg_1_df         52  female  ...      2018-08-19              NaT
OG_Info_reserve__OGOrg_1_df 29  female  ...      2018-08-19              NaT

                               reason_dropped_out  \
OG_Info__OGOrg_1_df         52               None
OG_Info_reserve__OGOrg_1_df 29               None

                                                           address  \
OG_Info__OGOrg_1_df         52  Nsenga Primary School Box 46 Binga
OG_Info_reserve__OGOrg_1_df 29  Nsenga Primary School Box 46 Binga

                               organic_status organic_status_from_date  \
OG_Info__OGOrg_1_df         52            Org               2012-12-03
OG_Info_reserve__OGOrg_1_df 29            Org               2012-12-03

                               fairtrade ward_nr  wc_nr  wc_code
OG_Info__OGOrg_1_df         52      True     5.0    NaN      NaN
OG_Info_reserve__OGOrg_1_df 29      True     5.0    NaN      NaN

[2 rows x 22 columns]
                                id   og_nr og_code     production_unit   area  \
OG_Info__OGOrg_1_df         63  41  2858.0    BNOG  Matabeleland North  Binga
OG_Info_reserve__OGOrg_1_df 36  41  2858.0    BNOG  Matabeleland North  Binga

                               ward_nr/name  species  surname first_names  \
OG_Info__OGOrg_1_df         63   5 Sinakoma  Rosella  Mudenda     Mupande
OG_Info_reserve__OGOrg_1_df 36   5 Sinakoma  Rosella  Mudenda     Mupande

                                   sex  ... date_contracted date_dropped_out  \
OG_Info__OGOrg_1_df         63  female  ...      2018-08-19              NaT
OG_Info_reserve__OGOrg_1_df 36  female  ...      2018-08-19              NaT

                               reason_dropped_out  \
OG_Info__OGOrg_1_df         63               None
OG_Info_reserve__OGOrg_1_df 36               None

                                                           address  \
OG_Info__OGOrg_1_df         63  Nsenga Primary School Box 46 Binga
OG_Info_reserve__OGOrg_1_df 36  Nsenga Primary School Box 46 Binga

                               organic_status organic_status_from_date  \
OG_Info__OGOrg_1_df         63            Org               2012-12-06
OG_Info_reserve__OGOrg_1_df 36            Org               2012-12-06

                               fairtrade ward_nr  wc_nr  wc_code
OG_Info__OGOrg_1_df         63      True     5.0    NaN      NaN
OG_Info_reserve__OGOrg_1_df 36      True     5.0    NaN      NaN

[2 rows x 22 columns]
                                id   og_nr og_code     production_unit   area  \
OG_Info__OGOrg_1_df         65  42  2861.0    BNOG  Matabeleland North  Binga
OG_Info_reserve__OGOrg_1_df 37  42  2861.0    BNOG  Matabeleland North  Binga

                               ward_nr/name  species  surname first_names  \
OG_Info__OGOrg_1_df         65   5 Sinakoma  Rosella  Mudenda      Violet
OG_Info_reserve__OGOrg_1_df 37   5 Sinakoma  Rosella  Mudenda      Violet

                                   sex  ... date_contracted date_dropped_out  \
OG_Info__OGOrg_1_df         65  female  ...      2018-08-19              NaT
OG_Info_reserve__OGOrg_1_df 37  female  ...      2018-08-19              NaT

                               reason_dropped_out  \
OG_Info__OGOrg_1_df         65               None
OG_Info_reserve__OGOrg_1_df 37               None

                                                           address  \
OG_Info__OGOrg_1_df         65  Nsenga Primary School Box 46 Binga
OG_Info_reserve__OGOrg_1_df 37  Nsenga Primary School Box 46 Binga

                               organic_status organic_status_from_date  \
OG_Info__OGOrg_1_df         65            Org               2012-12-06
OG_Info_reserve__OGOrg_1_df 37            Org               2012-12-06

                               fairtrade ward_nr  wc_nr  wc_code
OG_Info__OGOrg_1_df         65      True     5.0    NaN      NaN
OG_Info_reserve__OGOrg_1_df 37      True     5.0    NaN      NaN

[2 rows x 22 columns]
                                id   og_nr og_code     production_unit   area  \
OG_Info__OGOrg_1_df         70  47  2869.0    BNOG  Matabeleland North  Binga
OG_Info_reserve__OGOrg_1_df 43  47  2869.0    BNOG  Matabeleland North  Binga

                               ward_nr/name  species   surname first_names  \
OG_Info__OGOrg_1_df         70   5 Sinakoma  Rosella  Muchimba      Magret
OG_Info_reserve__OGOrg_1_df 43   5 Sinakoma  Rosella  Muchimba      Magret

                                   sex  ... date_contracted date_dropped_out  \
OG_Info__OGOrg_1_df         70  female  ...      2018-08-19              NaT
OG_Info_reserve__OGOrg_1_df 43  female  ...      2018-08-19              NaT

                               reason_dropped_out  \
OG_Info__OGOrg_1_df         70               None
OG_Info_reserve__OGOrg_1_df 43               None

                                                           address  \
OG_Info__OGOrg_1_df         70  Nsenga Primary School Box 46 Binga
OG_Info_reserve__OGOrg_1_df 43  Nsenga Primary School Box 46 Binga

                               organic_status organic_status_from_date  \
OG_Info__OGOrg_1_df         70            Org               2016-10-25
OG_Info_reserve__OGOrg_1_df 43            Org               2016-10-25

                               fairtrade ward_nr  wc_nr  wc_code
OG_Info__OGOrg_1_df         70      True     5.0    NaN      NaN
OG_Info_reserve__OGOrg_1_df 43      True     5.0    NaN      NaN

[2 rows x 22 columns]
                                id   og_nr og_code     production_unit   area  \
OG_Info__OGOrg_1_df         74  51  2875.0    BNOG  Matabeleland North  Binga
OG_Info_reserve__OGOrg_1_df 47  51  2875.0    BNOG  Matabeleland North  Binga

                               ward_nr/name  species surname  \
OG_Info__OGOrg_1_df         74   5 Sinakoma  Rosella  Muleya
OG_Info_reserve__OGOrg_1_df 47   5 Sinakoma  Rosella  Muleya

                                       first_names     sex  ...  \
OG_Info__OGOrg_1_df         74  Maria 06-020301E06  female  ...
OG_Info_reserve__OGOrg_1_df 47  Maria 06-020301E06  female  ...

                               date_contracted date_dropped_out  \
OG_Info__OGOrg_1_df         74      2018-08-19              NaT
OG_Info_reserve__OGOrg_1_df 47      2018-08-19              NaT

                               reason_dropped_out  \
OG_Info__OGOrg_1_df         74               None
OG_Info_reserve__OGOrg_1_df 47               None

                                                           address  \
OG_Info__OGOrg_1_df         74  Nsenga Primary School Box 46 Binga
OG_Info_reserve__OGOrg_1_df 47  Nsenga Primary School Box 46 Binga

                               organic_status organic_status_from_date  \
OG_Info__OGOrg_1_df         74            Org               2016-10-25
OG_Info_reserve__OGOrg_1_df 47            Org               2016-10-25

                               fairtrade ward_nr  wc_nr  wc_code
OG_Info__OGOrg_1_df         74      True     5.0    NaN      NaN
OG_Info_reserve__OGOrg_1_df 47      True     5.0    NaN      NaN

[2 rows x 22 columns]
                                id   og_nr og_code     production_unit   area  \
OG_Info__OGOrg_1_df         77  53  2882.0    BNOG  Matabeleland North  Binga
OG_Info_reserve__OGOrg_1_df 49  53  2882.0    BNOG  Matabeleland North  Binga

                               ward_nr/name  species  surname  \
OG_Info__OGOrg_1_df         77   5 Sinakoma  Rosella  Mudenda
OG_Info_reserve__OGOrg_1_df 49   5 Sinakoma  Rosella  Mudenda

                                         first_names     sex  ...  \
OG_Info__OGOrg_1_df         77  Belitha 79-069650W06  female  ...
OG_Info_reserve__OGOrg_1_df 49  Belitha 79-069650W06  female  ...

                               date_contracted date_dropped_out  \
OG_Info__OGOrg_1_df         77      2018-08-19              NaT
OG_Info_reserve__OGOrg_1_df 49      2018-08-19              NaT

                               reason_dropped_out  \
OG_Info__OGOrg_1_df         77               None
OG_Info_reserve__OGOrg_1_df 49               None

                                                           address  \
OG_Info__OGOrg_1_df         77  Nsenga Primary School Box 46 Binga
OG_Info_reserve__OGOrg_1_df 49  Nsenga Primary School Box 46 Binga

                               organic_status organic_status_from_date  \
OG_Info__OGOrg_1_df         77            Org               2012-12-06
OG_Info_reserve__OGOrg_1_df 49            Org               2012-12-06

                               fairtrade ward_nr  wc_nr  wc_code
OG_Info__OGOrg_1_df         77      True     5.0    NaN      NaN
OG_Info_reserve__OGOrg_1_df 49      True     5.0    NaN      NaN

[2 rows x 22 columns]
                                id   og_nr og_code     production_unit   area  \
OG_Info__OGOrg_1_df         78  54  2884.0    BNOG  Matabeleland North  Binga

In [ ]:
concated_farmers.drop_duplicates(subset=None, keep='first', inplace=True)

In [ ]:
concated_farmers.duplicated().value_counts()

False    21807
dtype: int64

In [ ]:
concated_farmers[concated_farmers['og_nr'] == 3463.0]

,,id,og_nr,og_code,production_unit,area,ward_nr/name,species,surname,first_names,sex,...,date_contracted,date_dropped_out,reason_dropped_out,address,organic_status,organic_status_from_date,fairtrade,ward_nr,wc_nr,wc_code
OG_Info__OGOrg_1_df,162,110,3463.0,BNOG,Matabeleland North,Binga,5 Sinakoma,Rosella,Munenge,Vaina,female,...,2018-08-19,NaT,None,Nsenga Primary School Box 46 Binga,Org,2016-10-25,True,5.0,NaN,NaN

In [ ]:
concated_farmers[concated_farmers['wc_nr'].duplicated() & ~concated_farmers['wc_nr'].isna()]

Empty DataFrame
Columns: [id, og_nr, og_code, production_unit, area, ward_nr/name, species, surname, first_names, sex, id_number, date_of_birth, date_contracted, date_dropped_out, reason_dropped_out, address, organic_status, organic_status_from_date, fairtrade, ward_nr, wc_nr, wc_code]
Index: []

[0 rows x 22 columns]

In [ ]:
df = concated_farmers[~concated_farmers['wc_nr'].isna()][['wc_nr']]
df.squeeze().is_unique

True

In [ ]:
double_ognr = concated_farmers[concated_farmers['og_nr'].duplicated() & ~concated_farmers['og_nr'].isna()]
double_ognr

                                   id    og_nr og_code      production_unit  \
OG_Info__OGOrg_1_df         0    3794  20094.0    BNOG   Matabeleland North
                            1    3795  20095.0    BNOG   Matabeleland North
                            2    3796  20096.0    BNOG   Matabeleland North
                            3    3797  20097.0    BNOG   Matabeleland North
                            4    3798  20098.0    BNOG   Matabeleland North
...                               ...      ...     ...                  ...
OG_Info_reserve__OGOrg_1_df 790  3546  20023.0    MUOG  Mashonaland Central
                            791  3549  20026.0    MUOG  Mashonaland Central
                            792  3550  20027.0    MUOG  Mashonaland Central
                            793  3551  20028.0    MUOG  Mashonaland Central
                            794  1861  14001.0    BNOG   Matabeleland North

                                     area ward_nr/name  \
OG_Info__OGOrg_1_df         0       Binga   5 Sinakoma
                            1       Binga   5 Sinakoma
                            2       Binga   5 Sinakoma
                            3       Binga   5 Sinakoma
                            4       Binga   5 Sinakoma
...                                   ...          ...
OG_Info_reserve__OGOrg_1_df 790  Mushumbi            3
                            791  Mushumbi            3
                            792  Mushumbi            3
                            793  Mushumbi            3
                            794     Binga      11 Lubu

                                                  species   surname  \
OG_Info__OGOrg_1_df         0                     Rosella    Muleya
                            1                     Rosella    Mutale
                            2                     Rosella  Mumpande
                            3                     Rosella    Muyela
                            4                     Rosella    Muleya
...                                                   ...       ...
OG_Info_reserve__OGOrg_1_df 790  Rosella, Chilli, Paprika   Myundia
                            791  Rosella, Chilli, Paprika     Nhete
                            792  Rosella, Chilli, Paprika   Musiiwa
                            793  Rosella, Chilli, Paprika   Masodzi
                            794                   Rosella    Mwembe

                                first_names     sex  ... date_contracted  \
OG_Info__OGOrg_1_df         0      Thandiwe  female  ...      2018-08-19
                            1         Nomai  female  ...      2018-08-19
                            2         Janet  female  ...      2018-08-19
                            3        Violet  female  ...      2018-08-19
                            4         Elina  female  ...      2018-08-19
...                                     ...     ...  ...             ...
OG_Info_reserve__OGOrg_1_df 790    Thandiwe  female  ...      2018-08-19
                            791      Stella  female  ...      2018-08-19
                            792      Admire    male  ...      2018-08-19
                            793       Norah  female  ...      2018-08-19
                            794      Mutale  female  ...      2018-08-19

                                date_dropped_out reason_dropped_out  \
OG_Info__OGOrg_1_df         0                NaT               None
                            1                NaT               None
                            2                NaT               None
                            3                NaT               None
                            4                NaT               None
...                                          ...                ...
OG_Info_reserve__OGOrg_1_df 790              NaT               None
                            791              NaT               None
                            792              NaT               None
                            793              NaT               None
                            794              NaT               None

                                                                    address  \
OG_Info__OGOrg_1_df         0    Chininga Primary School 65 Binga, Sinakoma
                            1    Chininga Primary School 65 Binga, Sinakoma
                            2    Chininga Primary School 65 Binga, Sinakoma
                            3    Chininga Primary School 65 Binga, Sinakoma
                            4    Chininga Primary School 65 Binga, Sinakoma
...                                                                     ...
OG_Info_reserve__OGOrg_1_df 790               ARDA Mushumbi, Box 210, Mbire
                            791               ARDA Mushumbi, Box 210, Mbire
                            792               ARDA Mushumbi, Box 210, Mbire
                            793               ARDA Mushumbi, Box 210, Mbire
                            794        Lubu primary School P Bag 5729 Binga

                                organic_status organic_status_from_date  \
OG_Info__OGOrg_1_df         0              New               2022-07-12
                            1              New               2022-07-12
                            2              New               2022-07-12
                            3              New               2022-07-12
                            4              New               2022-07-12
...                                        ...                      ...
OG_Info_reserve__OGOrg_1_df 790            New               2019-02-01
                            791            New               2019-02-01
                            792            New               2019-02-01
                            793            New               2019-02-01
                            794            Org               2018-08-31

                                fairtrade ward_nr  wc_nr  wc_code
OG_Info__OGOrg_1_df         0        True     5.0    NaN      NaN
                            1        True     5.0    NaN      NaN
                            2        True     5.0    NaN      NaN
                            3        True     5.0    NaN      NaN
                            4        True     5.0    NaN      NaN
...                                   ...     ...    ...      ...
OG_Info_reserve__OGOrg_1_df 790     False     3.0    NaN      NaN
                            791     False     3.0    NaN      NaN
                            792     False     3.0    NaN      NaN
                            793     False     3.0    NaN      NaN
                            794     False    11.0    NaN      NaN

[1197 rows x 22 columns]

In [ ]:
ls_dou_og_nr= list(double_ognr ['og_nr'])
ls_dou_og_nr

df_dou_og_nr = pd.DataFrame(columns = concated_farmers.columns)
print(df_dou_og_nr)

Empty DataFrame
Columns: [id, og_nr, og_code, production_unit, area, ward_nr/name, species, surname, first_names, sex, id_number, date_of_birth, date_contracted, date_dropped_out, reason_dropped_out, address, organic_status, organic_status_from_date, fairtrade, ward_nr, wc_nr, wc_code]
Index: []

[0 rows x 22 columns]

In [ ]:
for ognr in ls_dou_og_nr:
    df_row_set = concated_farmers[concated_farmers['og_nr'] == ognr]
    df_row_set.shape[0]
    #print(type(df_row_set))
    
    #for row in df_row_set:
      #  print(row)
        #dc_row = row.to_dic()
        #df_dou_og_nr = df_dou_og_nr.append(dc_row, ignore_index = True)

In [ ]:
concated_farmers['organic_status'].value_counts()

Org             9909
Dropout         7678
New             2724
Mabagrown       1113
Reinstated       190
Uncertified      149
dropout           33
Under review      10
Name: organic_status, dtype: int64

In [ ]:
concated_farmers[concated_farmers['id'].isna()]

Empty DataFrame
Columns: [id, og_nr, og_code, production_unit, area, ward_nr/name, species, surname, first_names, sex, id_number, date_of_birth, date_contracted, date_dropped_out, reason_dropped_out, address, organic_status, organic_status_from_date, fairtrade, ward_nr, wc_nr, wc_code]
Index: []

[0 rows x 22 columns]

In [ ]:
df = concated_farmers[~concated_farmers['id_number'].isna()][['id_number']]
df.squeeze().is_unique

False

In [ ]:
concated_farmers['id_number'].value_counts()

71-124108M71    3
79-067141T06    3
06-009146E06    3
06-033782H06    3
06-020422L06    3
               ..
71-092138Y71    1
71-083547B71    1
71-171964E71    1
71-022729Z71    1
79-066231E06    1
Name: id_number, Length: 18626, dtype: int64

In [ ]:
concated_farmers['area'] = concated_farmers['area'].str.title()

In [ ]:
concated_farmers['area'] = concated_farmers['area'].replace('Mt Darwin','Mt Darwin')

In [ ]:
concated_farmers.shape

(21807, 22)

In [ ]:
concated_farmers['area'].value_counts()

Mbire                   8128
Binga                   2608
Rushinga                1750
Mudzi                   1590
Chimanimani             1369
Buhera                  1152
Chipinge                 977
Mt Darwin                869
Makoni                   535
Beitbridge               529
Kwekwe                   270
Hwange                   260
Uzumbamarambapfungwe     257
Chimanimani Rusitu       196
Mwenezi                  173
Karoi                    163
Triangle                 163
Mutoko                   126
Mberengwa                115
Mt Darwin                 99
Chimanimani Tilbury       95
Chivi                     94
Mushumbi                  89
Beitbridge                84
Matobo                    44
Makoni Mt Shalom          43
Hwange                    29
Name: area, dtype: int64

In [ ]:
concated_farmers['area'].unique()
# Correct 'chipinge' first upper

array(['Mbire', 'Triangle', 'Karoi', 'Mushumbi', 'Binga', 'Makoni',
       'Chimanimani', 'Chipinge', 'Chivi', 'Buhera', 'Mt Darwin',
       'Beitbridge', 'Mt Darwin ', 'Mudzi', 'Beitbridge ', 'Rushinga',
       'Kwekwe', 'Mwenezi', 'Uzumbamarambapfungwe', 'Mutoko', 'Mberengwa',
       'Matobo', 'Hwange', 'Hwange ', 'Chimanimani Rusitu',
       'Chimanimani Tilbury', 'Makoni Mt Shalom'], dtype=object)

In [ ]:
concated_farmers['production_unit'] = concated_farmers['production_unit'].replace('Mashonaland Centra','Mashonaland Central')

In [ ]:
concated_farmers['production_unit'].value_counts()

Mashonaland Central        8216
Northern Eastern region    4691
South Eastern region       3498
Matabeleland North         2898
Southern region             995
Manicaland                  869
Midlands                    270
Masvingo                    163
Mashonaland West            163
Matabeleland South           44
Name: production_unit, dtype: int64

In [ ]:
concated_farmers['ward_nr'].unique()

# correct to int

array([15.,  6., 13.,  5.,  7.,  2.,  9., 17., 16.,  3.,  4., 27., 12.,
       11., 10.,  8., 14., 19., 18., 23., 21.,  1., 25., 20., 29., 33.,
       24., 28., 30., 31., 34., 32., nan, 22.])

In [ ]:
# 'id_number has not unique and has 3254 duplicates'
#concated_farmers['id_number'].is_unique
concated_farmers['id_number'].duplicated().value_counts()

False    18627
True      3180
Name: id_number, dtype: int64

In [ ]:
concated_farmers['species'] = concated_farmers['species'].str.lower()
concated_farmers['sex'] = concated_farmers['sex'].str.lower()

concated_farmers['reason_dropped_out'] = concated_farmers['reason_dropped_out'].str.lower()
concated_farmers['organic_status'] = concated_farmers['organic_status'].str.lower()
concated_farmers['organic_status'] = concated_farmers['organic_status'].str.lower()

In [ ]:
concated_farmers['organic_status'].unique()

array(['dropout', 'mabagrown', 'new', 'org', 'reinstated', 'uncertified',
       None, 'under review'], dtype=object)

In [ ]:
concated_farmers['species'].unique()

# correct to types rosella, chili, paprika,  

# '5 sinakoma', 'robert' correct to None

array(['rosella', 'roseela', 'rosell', 'rosella, chilli, paprika',
       'ronald', '5 sinakoma', 'paprika', 'rosella, strophantus',
       'chilli, paprika', 'paprika, chilli', 'chilli,paprika', 'chillie',
       'chilli', 'chili', 'chillie/paprica ', 'baobab', 'marula',
       'baobab + ximenia', 'trichillia', 'baobab+kms+ximenia',
       'kalahari melon seed', 'ximenia caffra', 'kms + ximenia',
       'ximenia americana', 'devils claw', 'wild gotu kola'], dtype=object)

In [ ]:
concated_farmers['species'] = concated_farmers['species'].replace({'5 sinakoma': 'None', 'ronald':  'None','roseela': 'rosella', 'rosell': 'rosella', 
                                                                   'paprika, chilli': 'chilli, paprika', 'chili': 'chilli',
                                                                    'chilli,paprika':'chilli, paprika', 'chillie': 'chilli', 
                                                                    'chillie/paprica ': 'chilli, paprika',
                                                                    'baobab + ximenia': 'baobab, ximenia', 'baobab+kms+ximenia': 'baobab, kms, ximenia',
                                                                    'kalahari melon seed': 'kalahari, melon, seed', 'kms + ximenia': 'kms, ximenia'
                                                                    })

In [ ]:
concated_farmers['wc_nr']

OGInfo__OGMB_1_df            0     NaN
                             1     NaN
                             2     NaN
                             3     NaN
                             4     NaN
                                    ..
OG_Info_reserve__OGOrg_1_df  790   NaN
                             791   NaN
                             792   NaN
                             793   NaN
                             794   NaN
Name: wc_nr, Length: 21807, dtype: float64

In [ ]:
# concated_farmers['wc_nr'].astype('int32').dtypes

In [ ]:
concated_farmers['wc_nr'].duplicated().value_counts()

False    11518
True     10289
Name: wc_nr, dtype: int64

In [ ]:
concated_farmers['ward_nr'].duplicated().value_counts()

True     21773
False       34
Name: ward_nr, dtype: int64

In [ ]:
concated_farmers['ward_nr'].is_unique

False

In [ ]:
concated_farmers['ward_nr'].unique()

array([15.,  6., 13.,  5.,  7.,  2.,  9., 17., 16.,  3.,  4., 27., 12.,
       11., 10.,  8., 14., 19., 18., 23., 21.,  1., 25., 20., 29., 33.,
       24., 28., 30., 31., 34., 32., nan, 22.])

In [ ]:
# concated_farmers['ward_nr'] = concated_farmers['ward_nr'].astype(int)

In [ ]:
concated_farmers.iloc[0]

id                                                 1545
og_nr                                           13137.0
og_code                                           MBOGR
production_unit                     Mashonaland Central
area                                              Mbire
ward_nr/name                                         15
species                                         rosella
surname                                       Nyamayaro
first_names                                     Phillip
sex                                                male
id_number                                  47-158929E47
date_of_birth                                       NaT
date_contracted                                     NaT
date_dropped_out                    2020-02-05 00:00:00
reason_dropped_out                           own choice
address                     Mahuwe sch, Box 92, Mbire D
organic_status                                  dropout
organic_status_from_date        2017-12-02 00:00:00.000
fairtrade                                         False
ward_nr                                            15.0
wc_nr                                               NaN
wc_code                                             NaN
Name: (OGInfo__OGMB_1_df, 0), dtype: object

In [ ]:
df = concated_farmers[~concated_farmers['og_nr'].isna()][['og_nr']]
df.squeeze().is_unique

False

In [ ]:
concated_farmers[concated_farmers['og_nr'] == 20028.0]

,,id,og_nr,og_code,production_unit,area,ward_nr/name,species,surname,first_names,sex,...,date_contracted,date_dropped_out,reason_dropped_out,address,organic_status,organic_status_from_date,fairtrade,ward_nr,wc_nr,wc_code
OGInfo__OGMB_1_df,5506,5614,20028.0,MUOG,Mashonaland Central,Mushumbi,3,"rosella, chilli, paprika",Masodzi,Norah,female,...,2019-02-01,2020-05-07,area closed,"ARDA Mushumbi, Box 210, Mbire",dropout,2019-02-01 00:00:00.000,False,3.0,NaN,NaN
OG_Info__OGOrg_1_df,981,3551,20028.0,MUOG,Mashonaland Central,Mushumbi,3,"rosella, chilli, paprika",Masodzi,Norah,female,...,2018-08-19,2020-01-01,None,"ARDA Mushumbi, Box 210, Mbire",dropout,2019-02-01,False,3.0,NaN,NaN
OG_Info_reserve__OGOrg_1_df,793,3551,20028.0,MUOG,Mashonaland Central,Mushumbi,3,"rosella, chilli, paprika",Masodzi,Norah,female,...,2018-08-19,NaT,None,"ARDA Mushumbi, Box 210, Mbire",new,2019-02-01,False,3.0,NaN,NaN

In [ ]:
concated_farmers = concated_farmers.sort_values('date_contracted')

In [ ]:
concated_farmers.drop_duplicates('og_nr',keep='last', inplace = 'True')

In [ ]:
concated_farmers[concated_farmers['og_nr'] == 20028.0]

,,id,og_nr,og_code,production_unit,area,ward_nr/name,species,surname,first_names,sex,...,date_contracted,date_dropped_out,reason_dropped_out,address,organic_status,organic_status_from_date,fairtrade,ward_nr,wc_nr,wc_code
OGInfo__OGMB_1_df,5506,5614,20028.0,MUOG,Mashonaland Central,Mushumbi,3,"rosella, chilli, paprika",Masodzi,Norah,female,...,2019-02-01,2020-05-07,area closed,"ARDA Mushumbi, Box 210, Mbire",dropout,2019-02-01 00:00:00.000,False,3.0,NaN,NaN

In [ ]:
concated_farmers = concated_farmers.sort_index()

In [ ]:
concated_farmers[['og_nr']].squeeze().is_unique

True

In [ ]:
# concated_farmers has 9094 rows  22 columns

#### Upload the prepared farmer data

In [ ]:
#table_name = 'all_farmers'

#if engine!=None:
 #   try:
  #      concated_farmers.to_sql(name=table_name, # Name of SQL table
   #                             con=engine, # Engine or connection
    #                            if_exists='replace', # Drop the table before inserting new values 
     #                           schema=schema, # Use schmea that was defined earlier
      #                          index=False, # Write DataFrame index as a column
       #                         chunksize=5000, # Specify the number of rows in each batch to be written at a time
        #                        method='multi') # Pass multiple values in a single INSERT clause
#        print(f"The {table_name} table was imported successfully.")
    # Error handling
 #   except (Exception, psycopg2.DatabaseError) as error:
  #      print(error)
   #     engine = None

TRYING
The all_farmers table was imported successfully.