In [1]:
import pandas as pd
import psycopg2
import sql_functions as sf 
schema = 'organic_africa' # UPDATE 'TABLE_SCHEMA' based on schema used in class 
engine = sf.get_engine()


og_info = sf.get_dataframe(f'SELECT * FROM {schema}."OG_Info__OGOrg_1"')

In [2]:
og_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1403 entries, 0 to 1402
Data columns (total 65 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           1403 non-null   int64
 1   OG_Nr                        1403 non-null   int64
 2   OG_code                      1403 non-null   object
 3   Production_Unit              1403 non-null   object
 4   Area                         1403 non-null   object
 5   Ward_Nr/Name                 1403 non-null   object
 6   Species                      1403 non-null   object
 7   Surname                      1403 non-null   object
 8   First_names                  1403 non-null   object
 9   Sex                          1403 non-null   object
 10  ID_Number                    1310 non-null   object
 11  Date_of_Birth                930 non-null    object
 12  Reason_dropped_out           264 non-null    object
 13  Contact_person_y/n           1403 non-null   object
 14  Cluster                      1403 non-null   float64
 15  Address                      1192 non-null   object
 16  GPS_Coordinates              101 non-null    object
 17  Phone_Number                 1 non-null      float64
 18  Contracted_by                1402 non-null   object
 19  Contract                     1403 non-null   object
 20  Map                          1403 non-null   object
 21  Corrective_Actions           37 non-null     object
 22  OG_Organic_Status            1403 non-null   object
 23  OG_Organic_Status_from_Date  1403 non-null   object
 24  Comment                      4 non-null      object
 25  Fairtrade                    1403 non-null   bool
 26  Assignment_2022              384 non-null    object
 27  Inspection_2022              1403 non-null   bool
 28  Assignment_2021              0 non-null      object
 29  Inspection_2021              1403 non-null   bool
 30  Assignment_2020              384 non-null    object
 31  Inspection_2020              1403 non-null   bool
 32  External_inspection_2020     1403 non-null   bool
 33  Certified_EC/NOP_2020        1403 non-null   bool
 34  Assignment_2019              207 non-null    object
 35  Inspection_2019              1403 non-null   bool
 36  External_inspection_2019     1403 non-null   bool
 37  Certified_EC/NOP_2019        1403 non-null   bool
 38  Assingment_2018              553 non-null    object
 39  inspection_2018              1403 non-null   bool
 40  External_inspection_2018     1403 non-null   bool
 41  Certified_EC/NOP_2018        1403 non-null   bool
 42  Assigment_2017               0 non-null      object
 43  Inspection_2017              1403 non-null   bool
 44  Assigment_2016               45 non-null     object
 45  Inspection_2016              1403 non-null   bool
 46  External_Inspection_2016     1403 non-null   bool
 47  Certified_EC/NOP_2016        1403 non-null   bool
 48  Certified_EC_only_2016       1403 non-null   bool
 49  Inspection_2015              1403 non-null   bool
 50  External_Inspection_2015     1403 non-null   bool
 51  Certified_EC/NOP_2015        1403 non-null   bool
 52  Certified_EC_only_2015       1403 non-null   bool
 53  Inspection_2014              1403 non-null   bool
 54  External_Inspection_2014     1403 non-null   bool
 55  Certified_Organic_2014       1403 non-null   bool
 56  Inspection_2013              1403 non-null   bool
 57  Certified_Organic_2013       1403 non-null   bool
 58  Inspection_2012              1403 non-null   bool
 59  Entered_by                   1403 non-null   object
 60  Source                       1403 non-null   object
 61  Training_Q1_22/23_season     1403 non-null   bool
 62  ward_nr                      1403 non-null   int64
 63  Date_contracted              1403 non-null   object
 64  Date_dropped_out             405 non-null    object
dtypes: bool(28), float64(2), int64(3), object(32)
memory usage: 444.0+ KB

In [11]:
og_info['Date_contracted'] = pd.to_datetime(og_info['Date_contracted'])

In [12]:
og_info['Date_dropped_out'] = pd.to_datetime(og_info['Date_dropped_out'])

In [14]:
og_info['Date_contracted']

0      2023-02-24
1      2023-02-24
2      2023-02-24
3      2023-02-24
4      2023-02-24
          ...
1398   2022-08-01
1399   2012-12-04
1400   2012-12-04
1401   2012-12-04
1402   2022-08-01
Name: Date_contracted, Length: 1403, dtype: datetime64[ns]